@import '../colors';

@mixin page-content {
	min-height:100%;
	padding:0;
	overflow:auto;
	position:relative;
	padding:20px;
}

@mixin card-container {
	background-color:$color-white;
	border:1px solid $border-color-base;
	border-radius:4px;
	padding:20px;
	margin:10px;
}