# excluding node_modules
node_modules

# excluding deployment script
deploy.sh
*-deploy.sh

# excluding configuration.json
configuration.json
*-configuration.json

# excluding build
static/build/*

# excluding editor preferences
*.sublime-workspace
