{{>header}}
	<div class="page-content">
		<div class="main-wrapper">
			<div class="main-container">
                    <div class="leftnav content  mtb20">
                            <div class="pd20 mht370">
                                <h2 class="mt0">About Us</h2>
                                <div class="clearfix"></div>
                                <p class="  txt15 mt20  browntxt strong txtcenter">
                                    <i>"So many of our dreams at first seem impossible, then they
                                        seem improbable, and then,<br>when we summon the will, they soon
                                        become inevitable."</i>
                                </p>
                                <div class="clearfix"></div>
                                <p class="  leftnav">It starts with a seed of an idea. Then
                                    that seed germinates into a thought. And finally, that thought
                                    begins to grow in your mind like a tree seeking sunshine!</p>
                                <p class="leftnav">
                                    It was with a similar idea that iimjobs was born and now that idea
                                    has grown into a platform that helps jobseekers connect with their
                                    dream job. <br>We've connected with over 200,000 jobseekers
                                    already and this is just the beginning...
                                </p>
                                <div class="clearfix"></div>
                                <p class=" mt10 leftnav">We feature <span>some of</span> the best jobs in <b>Banking &amp;
                                        Finance, Consulting, Research &amp; Analytics, Sales &amp; Marketing, HR, IT
                                        and Operations.</b></p>
                                <p class=" mt10 leftnav">
                                    We're a team of <b>thinkers, creators, technologists and mavericks</b> but
                                    most importantly, we're a team of <b>doers!</b><br>
                                </p>
                                <div class="clearfix"></div>
                                <p class=" mt10 leftnav ">
                                    We are young, we're passionate and we're shaking up the recruitment
                                    space in India.
                                </p>
                                <div class="clearfix"></div>
                                <p class=" mt10 leftnav ">
                                    You should connect with us. Seriously!
                                </p>
                                <div class="clearfix"></div>
                                <div class="leftnav mt20 ">
                                        <a class="leftnav " href="https://www.facebook.com/iimjobs" target="_blank"><img src="https://static.iimjobs.com/resources/img/fb.png"></a>
                                        <a class="leftnav ml10" href="https://twitter.com/iimjobs" target="_blank"><img src="https://static.iimjobs.com/resources/img/tw.png"></a>
                                    <a class="leftnav ml10" href="http://in.linkedin.com/company/iimjobs.com" target="_blank"><img src="https://static.iimjobs.com/resources/img/in.png"></a>
                                </div>
                                <div class="clearfix"></div>
                                <p class=" mt10 leftnav ">
                                    Highorbit Careers Private Limited © 2012. All rights reserved.
                                </p>
                                <div class="clearfix"></div>
                            </div>
                
                            <div class="clearfix"></div>
                    </div>
            </div>
		</div>
	</div>
{{>footer}}