{{> header }}
{{>chatSticky}}
<div class="loader-overlay hidden" id="loaderOverlay">
    <div class="loader"></div>
</div>
<div class="page-content">
    <div class="header-slot hidden">
        <div class="tagline left">Booked Slots</div>
        <div class="right-container right">
            <div class="section">
                <select class="select-dropdown inactive" id="calendarDropdown">
                    <div class="dropdown-list" >
                        <option value="-1" selected>Calendar</option>
                    </div>
                </select>
            </div>
            <div class="manage-Calendar">
                <a href="/calendar-manage">
                Manage Calendar
            </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="action-wrapper hidden">
        <div class="action Interview-Date">
            Interview Date
        </div>
        <div class="action Time-Slot">
            Time Slot
        </div>
        <div class="action Calendar-Name">
            Calendar Name
        </div>
        <div class="action Candidate-Details">
            Candidate Details
        </div>
        <div class="action Applied-job">
            Applied to job
        </div>
        <div class="action task">
           Actions
        </div>
    </div>
    <div class="booked-slots bookedSlots">


    </div>
</div>

<option class="prototype calendarOption hidden"></option> 

<div class="slot-date slotDate prototype hidden">
    <div class="date"><div class="action-date">Interview Date</div><span class="interviewDate"></span></div>
    <div class="schedules-container">
        <div class="schedules">
            <div class="time"><div class="action-time">Time Slots</div><div class="interviewTime">10:00 to 11:00 AM</div></div>
            <div class="interview-type"><div class="action-name">Calendar Name</div><a href="/Interview-scheduler-updated" target="_blank" class="calendarName">Product Interviews</a></div>
            <div class="details">
                <div class="action-detail">Candidate Details</div>
                <div class="name"><a href="" class="name candName" target="_blank">Shally Sharma</a></div>
                <div class="designation candDesignation">Product Manager at iimjobs</div>
                <div class="experience ">Experience: <span class="candExperience">2yrs</span></div>
                <div class="location">Current Location: <span class="candLocation">Delhi</span></div>
            </div>
            <div class="job-details">
                <div class="action-job">Applied to job</div>
                <div id="profile" ><a href="" class="link-color jobName" target="_blank">iimjobs.com-Associate Product Manager</a></div>
                <div id="exp-details" class="jobExp"> Delhi 0-5 yrs</div>
            </div>
            <div class="action-buttons">
                <div class="section">
                    <div class="button-action-list candidateOtherActions inactive">
                        <label class="action-list-label">Other Actions</label>
                        <ul class="action-list-items">
                            <li><a href="#" class="candidateSendMessage">Chat</a></li>
                            <li><a href="#" class="candidateCancelInterviewInvite">Cancel Interview</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="" class="modal cancelInterviewModal hidden">
    <!-- Modal content -->
    <div class="modal_wrapper" >
        <span class="modal_close">&times;</span>
        <div class="modal_header">
            <div class="modal_heading">Cancel Interview</div>
        </div>
        <div class="modal_content">
            <div class="modal_text">Are you sure you want to cancel this interview?</div>
            <div class="section">
                <div class="radio-input">
                    <input type="radio" id="5" name="unpublishReason">
                    <label for="5">Make this slot available to other candidates</label>
                </div>
                <div class="radio-input">
                    <input type="radio" id="6" name="unpublishReason">
                    <label for="6">Mark this slot as unavailable</label>
                </div>
            </div>
            <div class="action-buttons"><button class="cancelInterviewButton">Submit</button></div>
        </div>
    </div>
</div>


<div class="page-wrap hidden">
    <div class="main-wrappper">
        <div class="main-conainer">
            <div class="header-slot">
                    <div class="tagline left">Interview scheduler</div>
                        <div class="right-container right">
                            <div class="manage-Calendar">
                                <a href="/calendar-manage">
                                Manage Calendar
                            </a>
                            </div>
                        </div>
                    <div class="clearfix"></div>
            </div>
            <div class="content">
                <div class="no-schedule-container">
                    <div class="image-container">
                        <img src="/static/images/no-calendar.png">
                    </div>
                    <div class="heading">No interviews yet</div>
                    <div class="subheading">You'll find a list of interviews here once you schedule invites</div>
                </div>
            </div>
      </div>
    </div>   
    <div class="conversations right">
            {{> chatSidebar }}
    </div>
</div>  

{{> footer }}
