{{> header }}
<div class="container">
    <div class="header-slot">
        <div class="tagline">
            Booked Slots
        </div>
            <div class="section">
                <select class="select-dropdown inactive">
                    <div class="dropdown-list">
                        <option value="0" selected>All Upcoming</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</li>
                    </div>
                </select>
            </div>
            <div class="manage-Calendar">
                Manage Calendar
            </div>
            <div class="setting-bar">
                <img src="/static/images/setting.png">
            </div>   
    </div>    
    <div class="action-wrapper">
        <div class="action Interview-Date">
            <label>Interview Date</label>
        </div>
        <div class="action Time-Slot">
            <label>Time Slot</label>
        </div>
        <div class="action Calendar-Name">
            <label>Calendar Name</label>
        </div>
        <div class="action Candidate-Details">
            <label>Candidate Details</label>
        </div>
        <div class="action Applied-job">
            <label>Applied to job</label>
        </div>
        <div class="action task">
            <label>Actions</label>
        </div>
    </div>
    <div class="booked-slots">
        <div class="slot-date">
            <div class="date"><div class="action-date">Interview Date</div>Jan,15 2017</div>
            <div class="schedules-container">
            <div class="schedules">               
                <div class="time"><div class="action-time">Time Slots</div>10:00 to 11:00 AM</div>
                <div class="interview-type"><div class="action-name">Calendar Name</div>Product Interviews</div>
                <div class="details">
                    <div class="action-detail">Candidate Details</div>
                    <div class="name">Shally Sharma</div>
                    <div class="designation">Product Manager at iimjobs</div>
                    <div class="experience">Experience: <span>2yrs</span></div>
                    <div class="location">Current Location: <span>Delhi</span></div>
                </div>
                <div class="job-details">
                    <div class="action-job">Applied to job</div>
                    <div id="profile">iimjobs.com-Associate Product Manager</div>
                    <div id="exp-details">Delhi 0-5 yrs</div>
                </div>
                <div class="action-buttons">
                    <div class="send-message">
                        Send Message
                    </div>
                    <div class="other-actions">
                        <div class="section">
                            <select class="select-dropdown inactive">
                                <div class="dropdown-list">
                                    <option value="0" selected>Other Actions</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="slot-date">
            <div class="date"><div class="action-date">Interview Date</div>Jan,15 2017</div>
            <div class="schedules-container">
                <div class="schedules">               
                    <div class="time"><div class="action-time">Time Slots</div>10:00 to 11:00 AM</div>
                    <div class="interview-type"><div class="action-name">Calendar Name</div>Product Interviews</div>
                    <div class="details">
                        <div class="action-detail">Candidate Details</div>
                        <div class="name">Shally Sharma</div>
                        <div class="designation">Product Manager at iimjobs</div>
                        <div class="experience">Experience: <span>2yrs</span></div>
                        <div class="location">Current Location:  <span>Delhi</span></div>
                    </div>
                    <div class="job-details">
                        <div class="action-job">Applied to job</div>
                        <div id="profile">iimjobs.com-Associate Product Manager</div>
                        <div id="exp-details">Delhi 0-5 yrs</div>
                    </div>
                    <div class="action-buttons">
                        <div class="send-message">
                            Send Message
                        </div>
                        <div class="other-actions">
                            <div class="section">
                                <select class="select-dropdown inactive">
                                    <div class="dropdown-list">
                                        <option value="0" selected>Other Actions</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="schedules">               
                    <div class="time"><div class="action-time">Time Slots</div>12:00 to 1:00 PM</div>
                    <div class="interview-type"><div class="action-name">Calendar Name</div>Tech Interviews</div>
                    <div class="details">
                        <div class="action-detail">Candidate Details</div> 
                        <div class="name">Joly Kapoor</div>
                        <div class="designation">Product Manager at iimjobs</div>
                        <div class="experience">Experience: <span>2yrs</span></div>
                        <div class="location">Current Location:  <span>Delhi</span></div>
                    </div>
                    <div class="job-details">
                        <div class="action-job">Applied to job</div>
                        <div id="profile">iimjobs.com-Associate Product Manager</div>
                        <div id="exp-details">Delhi 0-5 yrs</div>
                    </div>
                    <div class="action-buttons">
                        <div class="send-message">
                            Send Message
                        </div>
                        <div class="other-actions">
                            <div class="section">
                                <select class="select-dropdown inactive">
                                    <div class="dropdown-list">
                                        <option value="0" selected>Other Actions</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="schedules">               
                    <div class="time"><div class="action-time">Time Slots</div>1:00 to 2:00 PM</div>
                    <div class="interview-type"><div class="action-name">Calendar Name</div>Product Interviews</div>
                    <div class="details">
                        <div class="action-detail">Candidate Details</div> 
                        <div class="name">Molly Khanna</div>
                        <div class="designation">Product Manager at iimjobs</div>
                        <div class="experience">Experience: <span>2yrs</span></div>
                        <div class="location">Current Location:  <span>Delhi</span></div>
                    </div>
                    <div class="job-details">
                        <div class="action-job">Applied to job</div>     
                        <div id="profile">iimjobs.com-Associate Product Manager</div>
                        <div id="exp-details">Delhi 0-5 yrs</div>
                    </div>
                    <div class="action-buttons">
                        <div class="send-message">
                            Send Message
                        </div>
                        <div class="other-actions">
                            <div class="section">
                                <select class="select-dropdown inactive">
                                    <div class="dropdown-list">
                                        <option value="0" selected>Other Actions</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
         </div>   
    </div>
</div>
{{> footer }}