{{> header }}


<div class="main-container">
    <div class="heading-container">
        <div class="heading-content">My Calendar</div>
        <div class="heading-button"><button class="button create-new-calendar">Create New Calendar</button></div>
    </div>
    <div class="calendar-events-container">
        <div class="calendar-events-header hidden">
            <div class="column">Created Date</div>
            <div class="column">Calendar Name</div>
            <div class="column">Remaining Slots</div>
        </div>
        <div class="calendar-events-content">
        </div>
    </div>
</div>

<div class="calendar-row prototype hidden">
    <div class="column created-date"></div>
    <div class="column calendar-name"></div>
    <div class="column remaining-slots"></div>
</div>

{{> footer }}
