{{> header }}

        <div id='calendar'></div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="event">
              <label>Add Title</label>
              <input type="text" id="title">
                <input type="hidden" id="start" >
                  <input type="hidden" id="end" >
              <button id="submitButton">submit</button>
            </div>
          </div>

        </div>





{{> footer }}
