{{> header }}
<div class="page-content">
    <div class="container">
        <div class="header-slot">
            <div class="tagline"> Manage Calendar</div>
            <div class="manage-Calendar">Manage Calendar</div>
        </div>
        <div class="wrapper">
            <div class="action-wrapper">
                <div class="action">
                    <div class="interview-date">
                        <label>Date Created</label>
                    </div>
                    <div class="time-slot">
                        <label>Calendar Name</label>
                    </div>
                    <div class="calendar-name">
                        <label>Remaining Slots</label>
                    </div>
                </div>    
            </div>
            <div class="schedule-container">
                
            </div>
            
        </div>  
    </div>
    <div class="conversations right">
            {{>chatSidebar}}
    </div>
</div>

<div class="schedule prototype hidden calendarRow">
    <div class="date"></div>
    <div class="calendar-name"></div>
    <div class="slots"></div>
    <div class="edit-schedule editCalendar">
        <a href="#">Edit</a>
    </div>
</div>

{{> footer }}