{{> header }}


<div class="page-content">
        <div class="wrapper-container hidden">
                <div class="no-calendar-view">
                        <div class="headers">
                            <div class="heading">Interview Scheduler</div>
                            <div class="subheading">With interview scheduler, you can line up candidates faster than ever!</div>
                            <div class="lheading">How does it work?</div>
                        </div>
                        <div class="container-wrap">
                                <div class="availability">
                                    <img src="/static/images/calendar.png">
                                    <div class="head">Set up your availability</div>
                                    <div class="text"><p>Set up is easy. Just fill in your availability preferences and slots will be created</p></div>
                                </div>
                                <div class="send-invite">
                                        <img src="/static/images/envelope.png">
                                        <div class="head">Send invite</div>
                                        <div class="text"><p>Simply send a invite to prospective candidates with a click of button</p></div>
                                </div>
                                <div class="scheduler">
                                        <img src="/static/images/time.png">
                                        </span>
                                        <div class="head">Schedule</div>
                                        <div class="text"><p>Candidate will choose a time from your available slots and interview will be scheduled</p></div>
                                </div>
                                <div class="bottom-container">
                                    <p>Cut down on the to and fro with the candidates and set up your calendar right away!</p>
                                    <div class="formgroup">
                                        <a class="createCalendar" href="/Interview-scheduler-updated">
                                            <button type="submit" value="Login" id="login">Set up calender</button>
                                        </a>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
    <div class="container">
        <div class="header-slot">
            <div class="tagline"> Manage Calendar</div>
            <div class="manage-Calendar">
                <a class="createCalendarNew" href="/Interview-scheduler-updated">
                Create New Calendar
            </a>
            </div>
        </div>
        <div class="wrapper">
                <div class="action">
                    <div class="interview-date">
                        Date Created
                    </div>
                    <div class="calendar-name">
                        Calendar Name
                    </div>
                    <div class="time-slot">
                        Remaining Slots
                    </div>
                    <div class="edit-name">
                        Action
                    </div>
                </div>
            <div class="schedule-container">

            </div>
        </div>
    </div>
    <div class="conversations right">
        {{>chatSidebar}}
    </div>
</div>

<div class="schedule prototype hidden calendarRow ">
    <div class="date">
        <div class="date-created">Date Created</div>
        <div class="calendar-date"></div>
    </div>
    <div class="calendar-detail">
        <div class="calendar">Calendar Name</div>
        <a class="calendar-wrap" href="">

        </a>
    </div>
    <div class="slots">
        <div class="remaining-slots">Remaining Slots</div>
        <div class="total-slots"></div>
    </div>
    <a class="edit-schedule" href="" >
            Edit
    </a>
    <div class="table-row-separator"></div>
</div>

<div class="schedule prototype hidden empty-view">
    <div class="no-data">
       No calendar found.
    </div>
</div>








{{> footer }}
