{{> header }}
<div class="page-content">
    <div class="container">
        <div class="header-slot">
            <div class="tagline"> Manage Calendar</div>
            <div class="manage-Calendar">
                <a href="/Interview-scheduler-updated">
                Create New Calendar
            </a>
            </div>
        </div>
        <div class="wrapper">
                <div class="action">
                    <div class="interview-date">
                        Date Created
                    </div>
                    <div class="calendar-name">
                        Calendar Name
                    </div>
                    <div class="time-slot">
                        Remaining Slots
                    </div>
                </div>    
            <div class="schedule-container">
            
            </div>
        </div>   
    </div> 
    <div class="conversations right">
        {{>chatSidebar}}
    </div> 
</div>

<div class="schedule prototype hidden calendarRow ">
    <div class="date">
        <div class="date-created">Date Created</div>
        <div class="calendar-date"></div>
    </div>
    <div class="calendar-detail">
        <div class="calendar">Calendar Name</div>
        <div class="calendar-wrap"></div>
    </div>
    <div class="slots">
        <div class="remaining-slots">Remaining Slots</div>
        <div class="total-slots"></div>
    </div>
    <div class="edit-schedule">
        <a href="#">Edit</a>
    </div>
    <div class="table-row-separator"></div>
</div>

<div class="schedule prototype hidden empty-view">
    <div class="no-data">
       No calendar found.
    </div>
</div>    

{{> footer }}