{{> header }}

<div class="container"></div>

<h2 class="heading">Job : 334895, iimjobs.com - Product Manager - Internet/Mobile (0-3 yrs)</h2>

<div class="main-container">
 <div class="filters">
	 <div class="search-by-keyword">
		<input class="search" type="text" name="search" placeholder="Search By Keyword...">
		<button class="button small"><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
	<div class="menu">
		<span>Industry</span>
		<button class="button x-small submit-filters" data-attribute="menu-industry"><i class="fa fa-search" aria-hidden="true"></i></button>
		<div class="field">
		 <div class="js-tags" data-attribute="menu-industry">
		</div>
		<div>
			<button class="button link js-open-modal" data-attribute="menu-industry">View More</button>
		</div>
	</div>
</div>
<div class="menu">
	<span>Functional Area</span>
	<button class="button x-small submit-filters" data-attribute="menu-functional-area"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	 <div class="js-tags" data-attribute="menu-functional-area">

	</div>
	<div>
		<button class="button link js-open-modal" data-attribute="menu-functional-area">View More</button>
	</div>
</div>
</div>
<div class="menu">
	<span>Current Location</span>
	<button class="button x-small submit-filters" data-attribute="menu-current-location"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	 <div class="js-tags" data-attribute="menu-current-location">
	</div>
	<div>
		<button class="button link js-open-modal" data-attribute="menu-current-location">View More</button>
	</div>
</div>
</div>
<div class="menu">
	<span>Preferred Location</span>
	<button class="button x-small submit-filters" data-attribute="menu-preferred-location"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	 <div class="js-tags" data-attribute="menu-preferred-location">
	</div>
	<div>
		<button class="button link js-open-modal" data-attribute="menu-preferred-location">View More</button>
	</div>
</div>
</div>
<div class="menu">
	<span>Institute</span>
	<button class="button x-small submit-filters" data-attribute="menu-institute"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	 <div class="js-tags" data-attribute="menu-institute">
	</div>
	<div>
		<button class="button link js-open-modal" data-attribute="menu-institute">View More</button>
	</div>
</div>
</div>
<div class="menu">
	<span>Experience</span>
	<button class="button x-small submit-filters" data-attribute="menu-experience" ><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
		<select class="half js-filters" name="minExperience">
			<option value="">Min</option>
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
		<select class="half js-filters" name="maxExperience">
			<option value="">Max</option>
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
	</div>
</div>

<div class="menu">
	<span>Batch</span>
	<button class="button x-small submit-filters" data-attribute="menu-batch"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
		<select class="half js-filters" name="minBatch">
			<option value="">Min</option>
			<option value="2018">2018</option>
			<option value="2017">2017</option>
			<option value="2016">2016</option>
			<option value="2015">2015</option>
			<option value="2014">2014</option>
			<option value="2013">2013</option>
			<option value="2012">2012</option>
			<option value="2011">2011</option>
			<option value="2010">2010</option>
			<option value="2009">2009</option>
			<option value="2008">2008</option>
			<option value="2007">2007</option>
			<option value="2006">2006</option>
			<option value="2005">2005</option>
			<option value="2004">2004</option>
			<option value="2003">2003</option>
			<option value="2002">2002</option>
			<option value="2001">2001</option>
			<option value="2000">2000</option>
			<option value="1999">1999</option>
			<option value="1998">1998</option>
			<option value="1997">1997</option>
			<option value="1996">1996</option>
			<option value="1995">1995</option>
			<option value="1994">1994</option>
			<option value="1993">1993</option>
			<option value="1992">1992</option>
			<option value="1991">1991</option>
			<option value="1990">1990</option>
			<option value="1989">1989</option>
			<option value="1988">1988</option>
			<option value="1987">1987</option>
			<option value="1986">1986</option>
			<option value="1985">1985</option>
			<option value="1984">1984</option>
			<option value="1983">1983</option>
			<option value="1982">1982</option>
			<option value="1981">1981</option>
			<option value="1980">1980</option>
		</select>
		<select class="half js-filters" name="maxBatch">
			<option value="">Max</option>
			<option value="2018">2018</option>
			<option value="2017">2017</option>
			<option value="2016">2016</option>
			<option value="2015">2015</option>
			<option value="2014">2014</option>
			<option value="2013">2013</option>
			<option value="2012">2012</option>
			<option value="2011">2011</option>
			<option value="2010">2010</option>
			<option value="2009">2009</option>
			<option value="2008">2008</option>
			<option value="2007">2007</option>
			<option value="2006">2006</option>
			<option value="2005">2005</option>
			<option value="2004">2004</option>
			<option value="2003">2003</option>
			<option value="2002">2002</option>
			<option value="2001">2001</option>
			<option value="2000">2000</option>
			<option value="1999">1999</option>
			<option value="1998">1998</option>
			<option value="1997">1997</option>
			<option value="1996">1996</option>
			<option value="1995">1995</option>
			<option value="1994">1994</option>
			<option value="1993">1993</option>
			<option value="1992">1992</option>
			<option value="1991">1991</option>
			<option value="1990">1990</option>
			<option value="1989">1989</option>
			<option value="1988">1988</option>
			<option value="1987">1987</option>
			<option value="1986">1986</option>
			<option value="1985">1985</option>
			<option value="1984">1984</option>
			<option value="1983">1983</option>
			<option value="1982">1982</option>
			<option value="1981">1981</option>
			<option value="1980">1980</option>
		</select>
	</div>
</div>

<div class="menu">
	<span>Salary</span>
	<button class="button x-small submit-filters" data-attribute="menu-salary"><i class="fa fa-search" aria-hidden="true"></i></button>

	<div class="field">
		<select class="half js-filters" name="minSalary">
			<option value="">Min</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			<option value="32">32</option>
			<option value="33">33</option>
			<option value="34">34</option>
			<option value="35">35</option>
			<option value="36">36</option>
			<option value="37">37</option>
			<option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			<option value="43">43</option>
			<option value="44">44</option>
			<option value="45">45</option>
			<option value="46">46</option>
			<option value="47">47</option>
			<option value="48">48</option>
			<option value="49">49</option>
			<option value="50">50</option>
			<option value="51">51</option>
			<option value="52">52</option>
			<option value="53">53</option>
			<option value="54">54</option>
			<option value="55">55</option>
			<option value="56">56</option>
			<option value="57">57</option>
			<option value="58">58</option>
			<option value="59">59</option>
			<option value="60">60</option>
			<option value="61">61</option>
			<option value="62">62</option>
			<option value="63">63</option>
			<option value="64">64</option>
			<option value="65">65</option>
			<option value="66">66</option>
			<option value="67">67</option>
			<option value="68">68</option>
			<option value="69">69</option>
			<option value="70">70</option>
			<option value="71">71</option>
			<option value="72">72</option>
			<option value="73">73</option>
			<option value="74">74</option>
			<option value="75">75</option>
			<option value="76">76</option>
			<option value="77">77</option>
			<option value="78">78</option>
			<option value="79">79</option>
			<option value="80">80</option>
			<option value="81">81</option>
			<option value="82">82</option>
			<option value="83">83</option>
			<option value="84">84</option>
			<option value="85">85</option>
			<option value="86">86</option>
			<option value="87">87</option>
			<option value="88">88</option>
			<option value="89">89</option>
			<option value="90">90</option>
			<option value="91">91</option>
			<option value="92">92</option>
			<option value="93">93</option>
			<option value="94">94</option>
			<option value="95">95</option>
			<option value="96">96</option>
			<option value="97">97</option>
			<option value="98">98</option>
			<option value="99">99</option>
			<option value="100">100</option>
		</select>
		<select class="half js-filters" name="maxSalary">
			<option value="">Max</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			<option value="32">32</option>
			<option value="33">33</option>
			<option value="34">34</option>
			<option value="35">35</option>
			<option value="36">36</option>
			<option value="37">37</option>
			<option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			<option value="43">43</option>
			<option value="44">44</option>
			<option value="45">45</option>
			<option value="46">46</option>
			<option value="47">47</option>
			<option value="48">48</option>
			<option value="49">49</option>
			<option value="50">50</option>
			<option value="51">51</option>
			<option value="52">52</option>
			<option value="53">53</option>
			<option value="54">54</option>
			<option value="55">55</option>
			<option value="56">56</option>
			<option value="57">57</option>
			<option value="58">58</option>
			<option value="59">59</option>
			<option value="60">60</option>
			<option value="61">61</option>
			<option value="62">62</option>
			<option value="63">63</option>
			<option value="64">64</option>
			<option value="65">65</option>
			<option value="66">66</option>
			<option value="67">67</option>
			<option value="68">68</option>
			<option value="69">69</option>
			<option value="70">70</option>
			<option value="71">71</option>
			<option value="72">72</option>
			<option value="73">73</option>
			<option value="74">74</option>
			<option value="75">75</option>
			<option value="76">76</option>
			<option value="77">77</option>
			<option value="78">78</option>
			<option value="79">79</option>
			<option value="80">80</option>
			<option value="81">81</option>
			<option value="82">82</option>
			<option value="83">83</option>
			<option value="84">84</option>
			<option value="85">85</option>
			<option value="86">86</option>
			<option value="87">87</option>
			<option value="88">88</option>
			<option value="89">89</option>
			<option value="90">90</option>
			<option value="91">91</option>
			<option value="92">92</option>
			<option value="93">93</option>
			<option value="94">94</option>
			<option value="95">95</option>
			<option value="96">96</option>
			<option value="97">97</option>
			<option value="98">98</option>
			<option value="99">99</option>
			<option value="100">100</option>
		</select>
	</div>
</div>

<div class="menu">
	<span>Age</span>
	<button class="button x-small submit-filters" data-attribute="menu-age"><i class="fa fa-search" aria-hidden="true"></i></button>

	<div class="field">
		<select class="half js-filters" name="minAge">
			<option value="">Min</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			<option value="32">32</option>
			<option value="33">33</option>
			<option value="34">34</option>
			<option value="35">35</option>
			<option value="36">36</option>
			<option value="37">37</option>
			<option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			<option value="43">43</option>
			<option value="44">44</option>
			<option value="45">45</option>
			<option value="46">46</option>
			<option value="47">47</option>
			<option value="48">48</option>
			<option value="49">49</option>
			<option value="50">50</option>
			<option value="51">51</option>
			<option value="52">52</option>
			<option value="53">53</option>
			<option value="54">54</option>
			<option value="55">55</option>
			<option value="56">56</option>
			<option value="57">57</option>
			<option value="58">58</option>
			<option value="59">59</option>
			<option value="60">60</option>
			<option value="61">61</option>
			<option value="62">62</option>
			<option value="63">63</option>
			<option value="64">64</option>
			<option value="65">65</option>
		</select>
		<select class="half js-filters" name="maxAge">
			<option value="" >Max</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			<option value="32">32</option>
			<option value="33">33</option>
			<option value="34">34</option>
			<option value="35">35</option>
			<option value="36">36</option>
			<option value="37">37</option>
			<option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			<option value="43">43</option>
			<option value="44">44</option>
			<option value="45">45</option>
			<option value="46">46</option>
			<option value="47">47</option>
			<option value="48">48</option>
			<option value="49">49</option>
			<option value="50">50</option>
			<option value="51">51</option>
			<option value="52">52</option>
			<option value="53">53</option>
			<option value="54">54</option>
			<option value="55">55</option>
			<option value="56">56</option>
			<option value="57">57</option>
			<option value="58">58</option>
			<option value="59">59</option>
			<option value="60">60</option>
			<option value="61">61</option>
			<option value="62">62</option>
			<option value="63">63</option>
			<option value="64">64</option>
			<option value="65">65</option>
		</select>
	</div>
</div>
<div class="menu">
	<span>Gender</span>
	<button class="button x-small submit-filters" data-attribute="menu-gender"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	 <div>
		<label class="font-xs"><input type="radio" name="gender" value="1" class="js-filters"> Male</label><br>
	</div>
	<div>
		<label class="font-xs"><input type="radio" name="gender" value="2" class="js-filters"> Female</label><br>
	</div>
	<div>
		<label class="font-xs"><input type="radio" name="gender" value="3" class="js-filters"> Not Mentioned</label>
	</div>
</div>
</div>
<div class="menu">
	<span>Notice Period</span>
	<button class="button x-small submit-filters" data-attribute="menu-notice-period"><i class="fa fa-search" aria-hidden="true"></i></button>

	<div class="field">
		<select class="js-filters" name="notice-period">
			<option value="-1">Select</option>
			<option value="7">Immediately Available</option>
			<option value="1">1 month</option>
			<option value="2">2 months</option>
			<option value="3">3 months</option>
			<option value="4">4 months</option>
			<option value="5">5 months</option>
			<option value="6">6 months</option>
		</select>

	</div>
</div>
<div class="menu">
	<span>Application Date</span>
	<button class="button x-small submit-filters" data-attribute="menu-application-date"><i class="fa fa-search" aria-hidden="true"></i></button>

	<div class="field">
		<select class="js-filters" name="application-date">
			<option value="-1">Select</option>
			<option value="3">3 days</option>
			<option value="7">7 days</option>
			<option value="15">15 days</option>
			<option value="30">30 days</option>
		</select>

	</div>
</div>
<div class="menu">
	<span>Last Seen</span>
	<button class="button x-small submit-filters" data-attribute="menu-last-seen"><i class="fa fa-search" aria-hidden="true"></i></button>

	<div class="field">
		<select class="js-filters" name="lastSeen">
			<option value="">All</option>
			<option value="1">Last 1 Month</option>
			<option value="3">Last 3 Months</option>
			<option value="6">Last 6 Months</option>
		</select>
	</div>
</div>
<div class="menu">
	<span>Work Permit For USA</span>
	<button class="button x-small submit-filters" data-attribute="menu-work-permit"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	  <label class="font-xs"><input type="radio" class="js-filters" name="isWorkPermit" value="1"> Yes</label>
	  <label class="font-xs"><input type="radio" class="js-filters" name="isWorkPermit" value="0"> No</label>
    </div>
</div>
<div class="menu">
	<span>Handled a Team?</span>
	<button class="button x-small submit-filters" data-attribute="menu-team-handle"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">

	  <label class="font-xs"><input type="radio" class="js-filters" name="hasHandledTeam" value="1"> Yes</label>
	  <label class="font-xs"><input type="radio" class="js-filters" name="hasHandledTeam" value="0"> No</label>

  </div>
</div>
<div class="menu">
	<span>Willing to relocate?</span>
	<button class="button x-small submit-filters" data-attribute="menu-relocate"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">

	  <label class="font-xs"><input type="radio" class="js-filters" name="canRelocate" value="1"> Yes</label>
	  <label class="font-xs"><input type="radio" class="js-filters" name="canRelocate" value="0"> No</label>

    </div>
</div>

<div class="menu">
	<span>Differently-abled?</span>
	<button class="button x-small submit-filters" data-attribute="menu-abled"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">

	  <label class="font-xs"><input type="radio" class="js-filters" name="isDifferentlyAbled" value="1"> Yes</label>
	  <label class="font-xs"><input type="radio" class="js-filters" name="isDifferentlyAbled" value="0"> No</label>

    </div>
</div>

<div class="menu">
	<span>Languages</span>
	<button class="button x-small submit-filters" data-attribute="menu-languages"><i class="fa fa-search" aria-hidden="true"></i></button>
	<div class="field">
	 <div class="js-tags" data-attribute="menu-languages">
	</div>
	<div>
		<button class="button link js-open-modal" data-attribute="menu-languages">View More</button>
	</div>
</div>
</div>

<div class="">
 <button class="button small ">Download Resumes</button>
</div>
</div>

<div class="jobs">
    <div class="filter-tags">
    </div>
 <div class="tabs">
	<ul class="menu">
		<li><a href="javascript:void(0)" class="highlight stat" data-attribute="">All<span class="status status_all highlight">22</span></a></li>
		<li><a href="javascript:void(0)" class="stat" data-attribute="-1">Unread<span class="status status_unread">22</span></a></li>
		<li><a href="javascript:void(0)" class="stat" data-attribute="magicsort">Magic Sort<span class="status status_sort">22</span></a></li>
		<li><a href="javascript:void(0)" class="stat" data-attribute="1">Shortlisted<span class="status status_shortlisted">22</span></a></li>
		<li><a href="javascript:void(0)" class="stat" data-attribute="2">Rejected<span class="status status_rejected">22</span></a></li>
		<li><a href="javascript:void(0)" class="stat" data-attribute="3">Saved<span class="status status_saved">22</span></a></li>
	</ul>
</div>

<div class="calendar box_shadow">
	<span class="font-sm">Send calendar</span>
	<select class="calendar-select">

	</select>
	<button class="button set-default-calendar-button">Set Default</button>
</div>

<div role="tabpanel" class="jobs_panel">
 <div class="jobs_container">
	 <div class="jobs_header">
	  <div class="header header_name"><input class="checkbox" type="checkbox">Name</div>
      <div class="vertical_outside hide">
           <div class="vertical_top"></div>
           <div class="vertical_middle"></div>
           <div class="vertical_bottom"></div>
      </div>
	  <div class="header header_organization" >Organization, Title</div>
      <div class="vertical_outside hide">
           <div class="vertical_top"></div>
           <div class="vertical_middle"></div>
           <div class="vertical_bottom"></div>
      </div>
	  <div class="header header_institute">Institute</div>
      <div class="vertical_outside hide">
           <div class="vertical_top"></div>
           <div class="vertical_middle"></div>
           <div class="vertical_bottom"></div>
      </div>
	  <div class="header header_more">More</div>
  </div>
  <div class="jobs_wrapper">
  </div>

</div>
<div class="loader hidden"></div>
 <div class="loader-scroll hidden"></div>
 <div class="no-results hidden">No More Results To Show.....</div>
</div>
</div>
</div>

<div class="info organization prototype hidden">
	<div class="important_info name">Axis Bank</div>
	<div class="important_info designation">Software Developer</div>
	<div class="extra_info experience">Jun - 2015 to Present</div>
</div>
<div class="info institute prototype hidden">
	<div class="important_info name">Birla Institute of Technology and Science (BITS), Pilani</div>
	<div class="extra_info "><span class="start_duration">2008</span> - <span class="end_duration">2012</span></div>
	<div class="extra_info degree">B Tech / BE (Full Time)</div>
</div>

<div href="#" class="jobs_content prototype hidden">
	<div class="content-container">
		<div class="content content_name">
            <input class="checkbox" type="checkbox">
			<img class="user_img" src="../static/img/tree.jpg" onerror="this.src='http://www.iimjobs.com/resources/img/user_profile_new.png';">
			<div class="info">
				<div class="important_info user_name">Nitish</div>
				<div class="important_info"><span>Experience: </span><span class="user_experience">3y 6m</span></div>
				<div class="important_info"><span>Location: </span><span class="current_location">Delhi</span></div>
				<div class="important_info">Immediately Available</div>
			</div>
			<div class="info">
				<div class="extra_info"><span class="user_sex">Male </span>, <span class="user_age">29 </span><span> years</span></div>
				<div class="extra_info"><span>Applied: </span><span class="applied_date">15-05-2016</span></div>
			</div>
		</div>
	       <div class="vertical_outside">
    			<div class="vertical_top"></div>
    			<div class="vertical_middle"></div>
    			<div class="vertical_bottom"></div>
		   </div>
		<div class="content content_organization">
		</div>
        <div class="vertical_outside">
             <div class="vertical_top"></div>
             <div class="vertical_middle"></div>
             <div class="vertical_bottom"></div>
        </div>
		<div class="content content_institute">

		</div>
        <div class="vertical_outside">
             <div class="vertical_top"></div>
             <div class="vertical_middle"></div>
             <div class="vertical_bottom"></div>
        </div>
		<div class="content content_more">
			<div class="info">
				<a href="" class="icon" data-attribute="1"><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Shortlist</span></a>
				<a href="" class="icon" data-attribute="2"><i class="fa fa-ban" aria-hidden="true"></i><span>Reject</span></a>
				<a href="" class="icon" data-attribute="3"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save for future use</span></a>
				<a href="" class="icon" data-attribute="4"><i class="fa fa-eye" aria-hidden="true"></i><span>View Profile</span></a>
			    <a href="" class="icon" data-attribute="5"><i class="fa fa-download" aria-hidden="true"></i><span>Download Resume</span></a>
				<!--<a href="" class="icon"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Cover Letter</span></a>
				<a href="" class="icon"><i class="fa fa-comment" aria-hidden="true"></i><span>Comment</span></a>
				<a href="" class="icon"><i class="fa fa-mobile" aria-hidden="true"></i><span>Contact information</span></a>
				<a href="" class="icon"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></a> -->

			</div>
			<div class="info">
				<a href="" class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i><span>chat with<span class="user_name">kartik</span></span></a>
				<a href="" class="interview-invite icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Send Interview Invite</span>
                </a>
                <div class="slot-type-container hidden">
                    <a class="send-interview-invite" href="" data-attribute="1">Face-to-Face</a>
                    <a class="send-interview-invite" href="" data-attribute="2">Telephonic</a>
                </div>
			</div>
		</div>
	</div>
    <hr class="divider prototype hidden">
	<div class="slide-container hidden">
        <div class="container tagline-container">
            <div class="tagline-heading font-xs extra-info-color">Tagline:</div>
            <div class="tagline-content text-clr font-sm">I am a Product Analyst for an ecommerce firm with 6 months of experience.</div>
        </div>
        <hr class="tagline-divider divider">
        <div class="container info-container-first">
            <div class="contact-container">
                <div class="contact">
                    <div class="contact-heading font-xs extra-info-color">Contact:</div>
                    <div class="contact-content text-clr font-sm">987654321</div>
                </div>
                <div class="email">
                    <div class="email-heading font-xs extra-info-color">Email:</div>
                    <div class="email-content text-clr font-sm">patpatia@.com</div>
                </div>
            </div>
            <div class=" bio-container">
                <div class="icon">
                    <div>
                        <a href="" class="video"><i class="fa fa-play-circle" aria-hidden="true"></i><span class="font-xs">Watch Video</span></a>
                    </div>
                    <div>
                        <a href="" class="icon-resume" data-attribute="5"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span class="font-xs">Download Resume</span></a>
                    </div>
                    <div>
                        <a href="" class="cover-letter"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="font-xs">Download Cover Letter</span></a>
                    </div>
                    <div>
                        <a href="" class="audio"><i class="fa fa-volume-up" aria-hidden="true"></i><span class="font-xs">Download Audio</span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider ">
        <div class="container info-container-second">
            <div class=" comment-container ">
                <div class=" comment">
                    <div class=" comment-content"><input type="text" placeholder="Add Comment..."></div>
                    <div class=" comment-heading"><button class="button ">Comment</button></div>
                </div>
                <div class=" posted-comment">

                </div>
            </div>
            <div class=" tags-container ">

                <div class=" tags">
                    <div class=" tags-content"><input type="text" placeholder="Add Tag..."></div>
                    <div class=" tags-heading"><button class="button">Submit</button></div>
                </div>
                <div class=" posted-tags">
                    <div class="js-show-tags"></div>
                </div>
            </div>
        </div>
        <hr class="divider ">
        <div class="container extra-info-container">
            <div class="layer-first">
                <div class="info">
                  <div class="css-heading">Marital Status</div>
                  <div class="css-content maritalStatus">Single</div>
                </div>
                <div class="info">
                  <div class="css-heading">Languages</div>
                  <div class="css-content languages">English, Hindi</div>
                </div>
                <div class="info">
                  <div class="css-heading">Work Permit for USA</div>
                  <div class="css-content permit">No</div>
                </div>
                <div class="info">
                    <div class="css-heading">Have you handled a team?</div>
                    <div class="css-content handleTeam">yes</div>
                </div>
                <div class="info">
                  <div class="css-heading">Willingness to Travel?</div>
                  <div class="css-content travel">no</div>
                </div>
                <div class="info">
                  <div class="css-heading">Differently abled</div>
                  <div class="css-content differentlyAbled">no</div>
                </div>
            </div>
            <hr class="divider">
            <div class="layer-second">
                <div class="marks-wrapper">
                    <div class="marks">
                        <div class="css-heading">CAT Percentile</div>
                        <div class="css-content">-</div>
                    </div>
                    <div class="marks">
                        <div class="css-heading">IIT-JEE All India Rank (AIR)</div>
                        <div class="css-content">-</div>
                    </div>
                    <div class="marks">
                        <div class="css-heading">GMAT Score</div>
                        <div class="css-content">-</div>
                    </div>
                </div>
                <div class="info">
                    <div class="css-heading">Are you willing to work 6 days a week?</div>
                    <div class="css-content sixDayWorking">yes</div>
                </div>
                <div class="info">
                  <div class="css-heading">Are you willing to relocate?</div>
                  <div class="css-content relocate">no</div>
                </div>
                <div class="info">
                  <div class="css-heading">Are you open to joining an early stage start-up?</div>
                  <div class="css-content earlyStartup">no</div>
                </div>
            </div>
        </div>
    </div>
    <div class="resume-container animated fadeIn bg-overlay hidden">

            <object class="resume-content" data="" type="application/pdf"></object>
    </div>
</div>

<div class="filters-modal">
    <div class="modal hidden animated fadeIn bg-overlay" data-attribute="menu-industry">
        <div class="modal-content white-bg">
            <div class="modal-top">
                <div class="search-tags">
                    <input type="text" class="search-tags-menu-industry" placeholder="Search Tags..">
                </div>
                <ul class="tags-alphabets tags-alphabets-menu-industry">
                </ul>
                <div class="submit">
                    <button class="button small submit-filters" data-attribute="menu-industry">Submit</button>
                </div>
                <div class="close js-close-modal" data-attribute="menu-industry">&times;</div>

            </div>
            <hr class="horizontal-line">
            <div class="modal-bottom">
                <div class="row js-menu-industry" data-attribute="menu-industry">
                </div>
            </div>

        </div>
    </div>
    <div class="modal hidden animated fadeIn bg-overlay" data-attribute="menu-functional-area">
        <div class="modal-content white-bg">
            <div class="modal-top">
                <div class="search-tags">
                    <input type="text" class="search-tags-menu-functional-area" placeholder="Search Tags..">
                </div>
                <ul class="tags-alphabets tags-alphabets-menu-functional-area">
                </ul>
                <div class="submit">
                    <button class="button small submit-filters" data-attribute="menu-functional-area">Submit</button>
                </div>
                <div class="close js-close-modal" data-attribute="menu-functional-area">&times;</div>

            </div>
            <hr class="horizontal-line">
            <div class="modal-bottom">
                <div class="row js-menu-functional-area" data-attribute="menu-functional-area">
                </div>
            </div>
        </div>
    </div>
    <div class="modal hidden animated fadeIn bg-overlay" data-attribute="menu-current-location">
        <div class="modal-content white-bg">
            <div class="modal-top">
                <div class="search-tags">
                    <input type="text" class="search-tags-menu-current-location" placeholder="Search Tags..">
                </div>
                <ul class="tags-alphabets tags-alphabets-menu-current-location">
                </ul>
                <div class="submit">
                    <button class="button small submit-filters" data-attribute="menu-current-location">Submit</button>
                </div>
                <div class="close js-close-modal" data-attribute="menu-current-location">&times;</div>

            </div>
            <hr class="horizontal-line">
            <div class="modal-bottom">
                <div class="row js-menu-current-location" data-attribute="menu-current-location">
                </div>
            </div>
        </div>
    </div>
    <div class="modal hidden animated fadeIn bg-overlay" data-attribute="menu-preferred-location">
        <div class="modal-content white-bg">
            <div class="modal-top">
                <div class="search-tags">
                    <input type="text" class="search-tags-menu-preferred-location" placeholder="Search Tags..">
                </div>
                <ul class="tags-alphabets tags-alphabets-menu-preferred-location">
                </ul>
                <div class="submit">
                    <button class="button small submit-filters" data-attribute="menu-preferred-location">Submit</button>
                </div>
                <div class="close js-close-modal" data-attribute="menu-preferred-location">&times;</div>

            </div>
            <hr class="horizontal-line">
            <div class="modal-bottom">
                <div class="row js-menu-preferred-location" data-attribute="menu-preferred-location">
                </div>
            </div>
        </div>
    </div>
    <div class="modal hidden animated fadeIn bg-overlay" data-attribute="menu-institute">
        <div class="modal-content white-bg">
            <div class="modal-top">
                <div class="search-tags">
                    <input type="text" class="search-tags-menu-institute" placeholder="Search Tags..">
                </div>
                <ul class="tags-alphabets tags-alphabets-menu-institute">
                </ul>
                <div class="submit">
                    <button class="button small submit-filters" data-attribute="menu-institute">Submit</button>
                </div>
                <div class="close js-close-modal" data-attribute="menu-institute">&times;</div>

            </div>
            <hr class="horizontal-line">
            <div class="modal-bottom">
                <div class="row js-menu-institute" data-attribute="menu-institute">
                </div>
            </div>
        </div>
    </div>
    <div class="modal hidden animated fadeIn bg-overlay" data-attribute="menu-languages">
        <div class="modal-content white-bg">
            <div class="modal-top">
                <div class="search-tags">
                    <input type="text" class="search-tags-menu-languages" placeholder="Search Tags..">
                </div>
                <ul class="tags-alphabets tags-alphabets-menu-languages">
                </ul>
                <div class="submit">
                    <button class="button small submit-filters" data-attribute="menu-languages">Submit</button>
                </div>
                <div class="close js-close-modal" data-attribute="menu-languages">&times;</div>

            </div>
            <hr class="horizontal-line">
            <div class="modal-bottom">
                <div class="row js-menu-languages" data-attribute="menu-languages">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tags-wrapper prototype hidden">
</div>
<div class="tags prototype hidden">
   <label for="" class="label"></label>
</div>
<div class="js-show-tags prototype hidden"></div>
<option class="prototype hidden calendar-option"></option>

{{> footer}}
