{{>header}}
	
	<div class="page-content">
		<div class="candidate-apply-listing left">
			<div class="page-header">
				<h1 class="job-title left">iimjobs.com - Product Manager</h1>
				<div class="action-buttons right">
					<span class="edit button white"><img src="/static/images/edit-icon.svg"></span>
					<span class="button white">Make Premium</span>
					<span class="button white unpublish-job">Unpublish</span>

					<span class="multi-options"><img src="/static/images/multi-options.svg"></span>
				</div>
				<div class="clearfix"></div>
				<p class="job-meta">
					<span class="job-location">Delhi</span>
					<span class="meta-separator">&bull;</span>
					<span class="job-experience">0-5 yrs</span>
				</p>
			</div>

			<div class="candidates-area">
				<div class="candidates-area-header">
					<div class="candidates-search">
						<div class="keyword-search">
							<input type="text" placeholder="Search candidate" class="candidate-keyword-filter left"><button class="right search-trigger">Search</button>	
						</div>
						<div class="filter-search">
							<span class="button white filter-button"><span class="button-label">Filter</span></span>
							<span class="button white sort-button"><span class="button-label">Sort by: </span><span class="filter-type">Magic Sort</span></span>
						</div>
					</div>
					<div class="candidates-search-results">
						<p class="results-count">
							<span class="result-number">14</span>
							<span> results found.</span>
						</p>
						<div class="active-filters">
							<div class="filter-tag">
								<div class="active-filter-label"><span class="icon-label">Delhi</span></div>
								<div class="remove-active-filter"><span class="close-icon"><i class="icon-close_icon"></i></span></div>
							</div>

							<div class="filter-tag">
								<div class="active-filter-label"><span class="icon-label">Mumbai</span></div>
								<div class="remove-active-filter"><span class="close-icon"><i class="icon-close_icon"></i></span></div>
							</div>

							<div class="filter-tag">
								<div class="active-filter-label"><span class="icon-label">Banking and Financial Services</span></div>
								<div class="remove-active-filter"><span class="close-icon"><i class="icon-close_icon"></i></span></div>
							</div>

							<div class="filter-tag">
								<div class="active-filter-label"><span class="icon-label">Delhi</span></div>
								<div class="remove-active-filter"><span class="close-icon"><i class="icon-close_icon"></i></span></div>
							</div>
							
							<span class="clear-all-filters">
								<a href="#" id="clear-all">Clear filters</a>
							</span>
						</div>
					</div>
				</div>

				<div class="candidates-area-body">
					
			<div class="candidates-listing">
				<div class="candidate-item">
					<div class="candidate-item-section image">
						<div class="candidate-image">
							<img src="http://placehold.it/60x60/f5f5f5?text=+">
							<div class="candidate-status online"></div>
						</div>
					</div>

					<div class="candidate-item-section personal-details">
						<p class="profile-name">Shelly Sharma</p>
						<p class="experience-label data-label">
							<span class="bold">Experience: </span>
							<span class="experience value">2y 3m</span>
						</p>
						<p class="location-label data-label">
							<span class="bold">Location: </span>
							<span class="location value">Delhi</span>
						</p>
						<p class="applied-label data-label">
							<span class="bold">Applied: </span>
							<span class="applied value">15-06-2017</span>
						</p>
						<p class="notice-period-label data-label">
							<span class="bold">Notice Period: </span>
							<span class="notice-period value">1 month</span>
						</p>

						<p><a href="#" class="cover-letter info-link">Cover letter</a></p>
						<p><a href="#" class="recommendations info-link">Recommendations</a></p>

						<div class="skill-tag-listing">
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">UI/UX</span>
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">Product Management</span>
						</div>

					</div>

					<div class="candidate-item-section professional-information">
						<div class="datum">
				            <p class="data name">iimjobs.com</p>
				            <p class="detail designation">Full Stack Engineer</p>
				        	<p class="detail tenure">2008-2012</p>
				        </div>
				        <div class="datum">
				            <p class="data name">Mobikasa Inc</p>
				            <p class="detail designation">UI Developer - Level II</p>
				        	<p class="detail tenure">2006-2008</p>
				        </div>
					</div>

					<div class="candidate-item-section educational-details">
						<div class="datum">
				            <p class="data name">Indian Institute of Management, Indore (IIMI)</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
				        <div class="datum">
				            <p class="data name">B.Tech</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
					</div>

					<div class="candidate-item-section profile-actions">
						<div class="candidate-action-area">
							<button class="button green shortlist left">Shortlist</span></button>
							<button class="button red reject right">Reject</span></button>
							<div class="clearfix"></div>

							<div class="candidate-options">
								<div class="button-action-list inactive">
									<label class="action-list-label">Other Actions</label>
									<ul class="action-list-items">
										<li><a href="#">Send Message</a></li>
										<li><a href="#">Send Interview Invite</a></li>
										<li><a href="#">Download Resume</a></li>
										<li><a href="#">Save for later</a></li>
										<li><a href="#">Add Comment</a></li>
										<li><a href="#">Add Tag</a></li>
									</ul>
								</div>
							</div>

							<div class="view-links">
								<span class="comments"><a href="#">View Comments</a></span>
								<span class="tags"><a href="#">View Tags</a></span>
							</div>
						</div>
					</div>
					<div class="separator"></div>
				</div>
								<div class="candidate-item">
					<div class="candidate-item-section image">
						<div class="candidate-image">
							<img src="http://placehold.it/60x60/f5f5f5?text=+">
							<div class="candidate-status online"></div>
						</div>
					</div>

					<div class="candidate-item-section personal-details">
						<p class="profile-name">Shelly Sharma</p>
						<p class="experience-label data-label">
							<span class="bold">Experience: </span>
							<span class="experience value">2y 3m</span>
						</p>
						<p class="location-label data-label">
							<span class="bold">Location: </span>
							<span class="location value">Delhi</span>
						</p>
						<p class="applied-label data-label">
							<span class="bold">Applied: </span>
							<span class="applied value">15-06-2017</span>
						</p>
						<p class="notice-period-label data-label">
							<span class="bold">Notice Period: </span>
							<span class="notice-period value">1 month</span>
						</p>

						<p><a href="#" class="cover-letter info-link">Cover letter</a></p>
						<p><a href="#" class="recommendations info-link">Recommendations</a></p>

						<div class="skill-tag-listing">
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">UI/UX</span>
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">Product Management</span>
						</div>

					</div>

					<div class="candidate-item-section professional-information">
						<div class="datum">
				            <p class="data name">iimjobs.com</p>
				            <p class="detail designation">Full Stack Engineer</p>
				        	<p class="detail tenure">2008-2012</p>
				        </div>
				        <div class="datum">
				            <p class="data name">Mobikasa Inc</p>
				            <p class="detail designation">UI Developer - Level II</p>
				        	<p class="detail tenure">2006-2008</p>
				        </div>
					</div>

					<div class="candidate-item-section educational-details">
						<div class="datum">
				            <p class="data name">Indian Institute of Management, Indore (IIMI)</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
				        <div class="datum">
				            <p class="data name">B.Tech</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
					</div>

					<div class="candidate-item-section profile-actions">
						<div class="candidate-action-area">
							<button class="button green shortlist left">Shortlist</span></button>
							<button class="button red reject right">Reject</span></button>
							<div class="clearfix"></div>

							<div class="candidate-options">
								<div class="button-action-list inactive">
									<label class="action-list-label">Other Actions</label>
									<ul class="action-list-items">
										<li><a href="#">Send Message</a></li>
										<li><a href="#">Send Interview Invite</a></li>
										<li><a href="#">Download Resume</a></li>
										<li><a href="#">Save for later</a></li>
										<li><a href="#">Add Comment</a></li>
										<li><a href="#">Add Tag</a></li>
									</ul>
								</div>
							</div>

							<div class="view-links">
								<span class="comments"><a href="#">View Comments</a></span>
								<span class="tags"><a href="#">View Tags</a></span>
							</div>
						</div>
					</div>
					<div class="separator"></div>
				</div>
								<div class="candidate-item">
					<div class="candidate-item-section image">
						<div class="candidate-image">
							<img src="http://placehold.it/60x60/f5f5f5?text=+">
							<div class="candidate-status online"></div>
						</div>
					</div>

					<div class="candidate-item-section personal-details">
						<p class="profile-name">Shelly Sharma</p>
						<p class="experience-label data-label">
							<span class="bold">Experience: </span>
							<span class="experience value">2y 3m</span>
						</p>
						<p class="location-label data-label">
							<span class="bold">Location: </span>
							<span class="location value">Delhi</span>
						</p>
						<p class="applied-label data-label">
							<span class="bold">Applied: </span>
							<span class="applied value">15-06-2017</span>
						</p>
						<p class="notice-period-label data-label">
							<span class="bold">Notice Period: </span>
							<span class="notice-period value">1 month</span>
						</p>

						<p><a href="#" class="cover-letter info-link">Cover letter</a></p>
						<p><a href="#" class="recommendations info-link">Recommendations</a></p>

						<div class="skill-tag-listing">
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">UI/UX</span>
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">Product Management</span>
						</div>

					</div>

					<div class="candidate-item-section professional-information">
						<div class="datum">
				            <p class="data name">iimjobs.com</p>
				            <p class="detail designation">Full Stack Engineer</p>
				        	<p class="detail tenure">2008-2012</p>
				        </div>
				        <div class="datum">
				            <p class="data name">Mobikasa Inc</p>
				            <p class="detail designation">UI Developer - Level II</p>
				        	<p class="detail tenure">2006-2008</p>
				        </div>
					</div>

					<div class="candidate-item-section educational-details">
						<div class="datum">
				            <p class="data name">Indian Institute of Management, Indore (IIMI)</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
				        <div class="datum">
				            <p class="data name">B.Tech</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
					</div>

					<div class="candidate-item-section profile-actions">
						<div class="candidate-action-area">
							<button class="button green shortlist left">Shortlist</span></button>
							<button class="button red reject right">Reject</span></button>
							<div class="clearfix"></div>

							<div class="candidate-options">
								<div class="button-action-list inactive">
									<label class="action-list-label">Other Actions</label>
									<ul class="action-list-items">
										<li><a href="#">Send Message</a></li>
										<li><a href="#">Send Interview Invite</a></li>
										<li><a href="#">Download Resume</a></li>
										<li><a href="#">Save for later</a></li>
										<li><a href="#">Add Comment</a></li>
										<li><a href="#">Add Tag</a></li>
									</ul>
								</div>
							</div>

							<div class="view-links">
								<span class="comments"><a href="#">View Comments</a></span>
								<span class="tags"><a href="#">View Tags</a></span>
							</div>
						</div>
					</div>
					<div class="separator"></div>
				</div>
								<div class="candidate-item">
					<div class="candidate-item-section image">
						<div class="candidate-image">
							<img src="http://placehold.it/60x60/f5f5f5?text=+">
							<div class="candidate-status online"></div>
						</div>
					</div>

					<div class="candidate-item-section personal-details">
						<p class="profile-name">Shelly Sharma</p>
						<p class="experience-label data-label">
							<span class="bold">Experience: </span>
							<span class="experience value">2y 3m</span>
						</p>
						<p class="location-label data-label">
							<span class="bold">Location: </span>
							<span class="location value">Delhi</span>
						</p>
						<p class="applied-label data-label">
							<span class="bold">Applied: </span>
							<span class="applied value">15-06-2017</span>
						</p>
						<p class="notice-period-label data-label">
							<span class="bold">Notice Period: </span>
							<span class="notice-period value">1 month</span>
						</p>

						<p><a href="#" class="cover-letter info-link">Cover letter</a></p>
						<p><a href="#" class="recommendations info-link">Recommendations</a></p>

						<div class="skill-tag-listing">
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">UI/UX</span>
							<span class="skill-tag">Data Analytics</span>
							<span class="skill-tag">Product Management</span>
						</div>

					</div>

					<div class="candidate-item-section professional-information">
						<div class="datum">
				            <p class="data name">iimjobs.com</p>
				            <p class="detail designation">Full Stack Engineer</p>
				        	<p class="detail tenure">2008-2012</p>
				        </div>
				        <div class="datum">
				            <p class="data name">Mobikasa Inc</p>
				            <p class="detail designation">UI Developer - Level II</p>
				        	<p class="detail tenure">2006-2008</p>
				        </div>
					</div>

					<div class="candidate-item-section educational-details">
						<div class="datum">
				            <p class="data name">Indian Institute of Management, Indore (IIMI)</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
				        <div class="datum">
				            <p class="data name">B.Tech</p>
				        	<p class="detail tenure">2008-2012</p>
				            <p class="detail degree">B Tech / BE (Full Time)</p>
				        </div>
					</div>

					<div class="candidate-item-section profile-actions">
						<div class="candidate-action-area">
							<button class="button green shortlist left">Shortlist</span></button>
							<button class="button red reject right">Reject</span></button>
							<div class="clearfix"></div>

							<div class="candidate-options">
								<div class="button-action-list inactive">
									<label class="action-list-label">Other Actions</label>
									<ul class="action-list-items">
										<li><a href="#">Send Message</a></li>
										<li><a href="#">Send Interview Invite</a></li>
										<li><a href="#">Download Resume</a></li>
										<li><a href="#">Save for later</a></li>
										<li><a href="#">Add Comment</a></li>
										<li><a href="#">Add Tag</a></li>
									</ul>
								</div>
							</div>

							<div class="view-links">
								<span class="comments"><a href="#">View Comments</a></span>
								<span class="tags"><a href="#">View Tags</a></span>
							</div>
						</div>
					</div>
					<div class="separator"></div>
				</div>
			</div>
				</div>
			</div>
		</div>
		<div class="conversations right">
			{{>chatSidebar}}
		</div>
	</div>
	
{{>footer}}