{{>header}}

	{{>chatSticky}}

	<div class="first-fold fold top mass-action-container hidden" id="massActionContainer">
		<div class="action-buttons">
			<span class="icon-back_icon bulkBackIcon"></span>
			<span class="applicationsCount">6 candidates selected</span>
			<span class=" button white downloadResumeMass hidden" >Download Resume</span>
			<a href="" class="downloadExcelMass hidden" target="_blank"><span class=" button white">Download Excel</span></a>
			<span class=" button white massReject">Reject</span>
			<span class=" button white massShortlist">Shortlist</span>
			<span class=" button white massSave">Save for Later</span>
			<span class=" button white massComment">Add Comment</span>
			<!-- <span class=" button white" id="massTag">Add Tag</span> -->
		</div>
		<div class="action-buttons mobile">
			<div class="first-wrap">
				<span class="icon-back_icon bulkBackIcon"></span>
				<span class="applicationsCount">6 candidates selected</span>
			</div>
			<div class="second-wrap">
				<span class=" button white massReject">Reject</span>
				<span class=" button white massShortlist">Shortlist</span>
				<span class="view-more button white"><i class="icon-up_arrow"></i></span>
			</div>
		</div>
	</div>
	<div class="second-fold fold hidden mass-action-second" id="secondMassActionContainer">
		<div class="action-buttons">

			<div class="first-wrap left">
				<span class=" button white massSave">Save for Later</span>
				<span class=" button white massComment">Add Comment</span>
			</div>
			<div class="second-wrap right">
				<span class=" button white downloadResumeMass hidden">Download Resume</span>
				<a href="" class="downloadExcelMass hidden" target="_blank"><span class=" button white">Download Excel</span></a>
			</div>

		</div>
	</div>
	<div class="toast-notification-container">
		<div class="toast-notification">
			<!-- <div class="notification-icon">
				<img src="/static/images/close-icon.png" />
			</div> -->
			<div class="notification-message">
				<p></p>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="main-wrapper">
			<div class="candidate-apply-listing left">
				<div class="page-header" id="jobDetails">
					<div class="left job-title-container">
						<h1 class="job-title shell" id="jobTitle">iimjobs.com - Product Manager</h1>
						<p class="job-meta">
							<span class="job-location shell" id="jobLocation"></span>
							<span class=" hidden tooltip" aria-hidden="true" title="" id="jobMultipleLocation">Multiple location</span>
							<span class="meta-separator hidden" id="jobSeparator">&bull;</span>
							<span class="job-experience shell" id="jobExperience">0-5 yrs</span>
							<span class="meta-separator hidden" id="locSeperator">&nbsp;|&nbsp;</span>
							<span class="job-id shell" id="jobCode"></span>
						</p>
					</div>
					<div class="action-buttons right jsJobActions">
						<span class="section calendar-options hidden calendarContainer">
							<select class="select-dropdown calendarSelect">
							</select>
							<div class="error-field hidden calendarSelectError"><p>Choose a calendar to send to the applicants for this job!</p></div>
						</span>
						<span class="button white hidden" id="createCalendar">Create Calendar</span>
						<a href="" class="hidden" id="jobEditButton">
							<span class="edit button white">Edit Job&nbsp;&nbsp;<i class="icon-edit"></i></span>
							</a>
						<span class="button white hidden" id="jobPremiumButton">Make Premium</span>
						<span class="button white unpublish-job hidden" id="jobUnpublishButton">Unpublish</span>

						<span class="multi-options inactive button-action-list hidden" id="jobOtherActions">
							<i class="icon-more"></i>
							<!-- <i class="icon-more"></i> -->
							<!-- <img src="/static/images/multi-options.svg"> -->
							<ul class="action-list-items">
								<li><a href="#" class="hidden" id="jobRefreshButton">Refresh</a></li>
								<li><a href="#" class="socialIcon hidden" id="jobPostFacebook" target="_blank">Post On Facebook</a></li>
								<li><a href="#" class="socialIcon hidden" id="jobPostTwitter" target="_blank">Post On Twitter</a></li>
								<li><a href="#" class="socialIcon hidden" id="jobPostLinkedin" target="_blank">Post On Linkedin</a></li>
							</ul>
						</span>
					</div>
					<div class="clearfix"></div>

				</div>

				<div class="candidates-area" id="candidatesArea" style="margin-bottom:40px ">
					<div class="candidates-area-header">
						<div class="candidates-search">
							<div class="keyword-search">
								<div class="container">
									<input type="text" placeholder="Search candidate" class="candidate-keyword-filter left " id="searchInput">
									<i class="icon-search"></i>
									<button class="right search-trigger " id="searchButton" >Search</button>
								</div>
								<span class="error hidden " id="searchCandidateError">Please enter keyword</span>
							</div>
							<div class="filter-search">
								<span class="button white filter-button" id="filterModalOpenButton"><i class="icon-filter"></i> <span class="button-label">Filter</span></span>
								<span class="action-buttons sortBy">
									<span class="section sortBy" id="sortBy">
										<select class="select-dropdown" id="sortBySelect">
											<option value="1">Sort By : Magic Sort</option>
											<option value="2">Sort By : Application Date</option>
										</select>
									</span>
								</span>
							</div>
						</div>
						<div class="candidates-search-results" id="candidatesSearchResults">
							<p class="results-count hidden" id="resultFound">
							</p>
							<div class="active-filters hidden">
								<span  class="clear-all-filters ">
									<span class="appliedFilters"></span>
								</span>
							</div>
							<span class="filtersExtraButtons link-color hidden" id="clear-all" >Clear filters</span>
							<span class="filtersExtraButtons link-color hidden" id="seeFilters">See more</span>
						</div>
					</div>

					<div class="candidates-area-body">
						<div class="candidates-area-wrapper">
							<div class="bulk-section-container hidden" id="bulkActionsContainer">
								<div class="bulk-selection-item bulk-select section ">
									<div class="select-all check-input">
										<input type="checkbox" id="massCheckboxInput">
										<label for="massCheckboxInput" id="massCheckboxLabel"></label>
										<span class="icon-down_arrow hidden" id="bulkDownArrow"></span>
									</div>
									<div class="bulk-actions-dropdown hidden" id="bulkActionsDropdown">

									</div>
								</div>
							</div>


							<div class="selection-bar tabs_scroll_container hidden" id="jobs-tabs">

								<div id="jobs-category-tabs" class="">

									<ul id="">

					            		<li data-attribute="">
											<a href="#all-jobs">
												<div class="bulk-selection-item all active">
													<span class="bulk-action-icon"><i class="icon-box"></i></span>
													<span class="bulk-action-label">All (<span class="tabStats"  id="allNo">0</span>)</span>
												</div>
											</a>
										</li>
					            		<li data-attribute="0">
											<a href="#unread-jobs">
												<div class="bulk-selection-item unread">
													<span class="bulk-action-icon"><i class="icon-email_envelope"></i></span>
													<span class="bulk-action-label ">Unread (<span class="tabStats" id="unreadNo">0</span>)</span>
												</div>
											</a>
										</li>
					            		<li data-attribute="4,5">
											<a href="#reviewed-jobs">
												<div class="bulk-selection-item reviewed">
													<span class="bulk-action-icon"><i class="icon-review"></i></span>
													<span class="bulk-action-label ">Reviewed (<span class="tabStats" id="reviewedNo">0</span>)</span>
												</div>
											</a>
										</li>
										<li data-attribute="1">
											<a href="#shortlisted-jobs">
												<div class="bulk-selection-item shortlisted">
													<span class="bulk-action-icon"><i class="icon-tick"></i></span>
													<span class="bulk-action-label">Shortlisted (<span class="tabStats" id="shortlistedNo">0</span>)</span>
												</div>
											</a>
										</li>
										<li data-attribute="2">
											<a href="#rejected-jobs">
												<div class="bulk-selection-item rejected">
													<span class="bulk-action-icon"><i class="icon-denied"></i></span>
													<span class="bulk-action-label">Rejected (<span class="tabStats" id="rejectedNo">0</span>)</span>
												</div>
											</a>
										</li>
										<li data-attribute="3">
											<a href="#saved-jobs">
												<div class="bulk-selection-item saved">
													<span class="bulk-action-icon"><i class="icon-download_arrow"></i></span>
													<span class="bulk-action-label">Saved (<span class="tabStats" id="savedNo">0</span>)</span>
												</div>
											</a>
										</li>
			            			</ul>
								</div>
								<div id="all-jobs" class="candidates-listing candidateListing" data-status-attribute="">
									{{>candidateApplyListShell}}
									{{>candidateApplyListShell}}
									<div class='no-data hidden'>No Applications Found!</div>
								</div>
								<div id="unread-jobs" class="candidates-listing candidateListing" data-status-attribute="0">
									{{>candidateApplyListShell}}
									{{>candidateApplyListShell}}
								</div>
								<div id="reviewed-jobs" class="candidates-listing candidateListing" data-status-attribute="4,5">
									{{>candidateApplyListShell}}
									{{>candidateApplyListShell}}
								</div>
								<div id="shortlisted-jobs" class="candidates-listing candidateListing" data-status-attribute="1">
									{{>candidateApplyListShell}}
									{{>candidateApplyListShell}}
								</div>
								<div id="rejected-jobs" class="candidates-listing candidateListing" data-status-attribute="2">
									{{>candidateApplyListShell}}
									{{>candidateApplyListShell}}
								</div>
								<div id="saved-jobs" class="candidates-listing candidateListing" data-status-attribute="3">
									{{>candidateApplyListShell}}
									{{>candidateApplyListShell}}
								</div>
								<div class="empty-screen hidden">
									<div class="image-container">
										<img src="/static/images/reports.svg">
									</div>
									<div class="user-text">No applications for searched keyword</div>
									<div class="empty-text">We couldn't find any results for the searched keyword.</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				<div class="loading loaderScroller hidden">
				    <div class="loader loader-scroller"></div>
				</div>

			</div>
			<div class="conversations right">
				{{>chatSidebar}}
			</div>
		</div>
	</div>

<div class="view-resume-modal candidateDetailsModal candidateRow hidden">
	<div class="close-resume-modal closeCandidateModal">
    	<img src="/static/images/close-icon.png">
    </div>
    <div class="main-wrapper left">
        <div class="main-container">
            <div class="container resume-header">
                <div class="profile-image">
                	<img class="js_img" src="https://www.placehold.it/100x100/f5f5f5?text=+">
                </div>
                <div class="profile-information">
                	<p class="profile-name js_name">Shreya Sharma</p>
                	<div class="social-media-accounts">
                		<span class="social facebook hidden"><img src="/static/images/facebook-round.svg"></span>
                		<span class="social twitter hidden"><img src="/static/images/twitter-round.svg"></span>
                	</div>
                </div>

                <div class="profile-snapshot">
                	<div class="snap current-location">
                		<p class="snap-title">Current Location</p>
                		<p class="snap-value js_loc">Delhi</p>
                	</div>
                	<div class="snap preferred-location">
                		<p class="snap-title">Preferred Location</p>
                		<p class="snap-value js_pref_loc">Delhi</p>
                	</div>
                	<div class="snap experience">
                		<p class="snap-title">Experience</p>
                		<p class="snap-value js_experience">Delhi</p>
                	</div>
                	<!-- <div class="snap location">
                		<p class="snap-title">Mobile</p>
                		<p class="snap-value js_contact">9654723723</p>
                	</div> -->
                	<div class="snap location">
                		<p class="snap-title">Current Salary</p>
                		<p class="snap-value js_sal">18LPA</p>
                	</div>
                </div>

                <div class="skills-area js_skills_list">

                </div>
                <div class="last-login-container">
                	<p>Last Login: <span class="last-login js_last_login"> 13 days ago</span></p>
				</div>
				<div class="table-row-seprator">
				</div>
            </div>

            <div class="resume-body container">

            	<div id="tabbed-content">
	            	<ul>
	            		<li><a href="#view-profile-info">Profile</a></li>
	            		<li><a href="#view-resume">Resume</a></li>
	            		<li><a href="#view-cover-letter" class="hidden coverLetterTab">Cover Letter</a></li>
	            	</ul>
					<div id="view-profile-info">
						<div class="content-block organization">
	            			<h3 class="content-heading">Professional Details</h3>
	            			<div class="content js_prof_list">

	            			</div>
	            		</div>
	            		<div class="content-block education">
	            			<h3 class="content-heading">Educational Details</h3>
	            			<div class="content js_edu_list">

	            			</div>
	            		</div>



	            		<div class="content-block more">
	            			<h3 class="content-heading">More Information</h3>
	            			<div class="content">
	            				<ul>
	            					<li>
	            						<p class="location">
	            							<span class="key">Current Location:</span>
	            							<span class="value js_loc">Delhi</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="applied">
	            							<span class="key">Applied Date:</span>
	            							<span class="value js_appliedOn">15-06-2017</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="notice-period">
	            							<span class="key">Notice Period:</span>
	            							<span class="value js_notice">2 months</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="gender">
	            							<span class="key">Gender:</span>
	            							<span class="value js_gender">Male</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="age">
	            							<span class="key">Age:</span>
	            							<span class="value js_age">28 years</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="experience">
	            							<span class="key">Experience:</span>
	            							<span class="value js_experience">3y 4m</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="preferred-location">
	            							<span class="key">Preferred Location:</span>
	            							<span class="value js_pref_loc">Bangalore / Chennai</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="current-salary">
	            							<span class="key">Current Salary:</span>
	            							<span class="value js_sal">18 LPA</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="expected-salary">
	            							<span class="key">Expected Salary:</span>
	            							<span class="value js_expected_sal">20LPA</span>
	            						</p>
	            					</li>
	            				</ul>
	            			</div>
	            		</div>
						<div class="sidebar-section contact-info content-block">
								<h3 class="content-heading">Contact Information</h3>
								<div class="wrap-mobile">
									<span class="icon"><i class="icon-telephone"></i></span>
									<span class="contact">9871277522</span>
									<span class="icon iconTelephoneVer"><i class="icon-tick_circle"></i></span>
								</div>

								<div class="wrap-mobile">
									<span class="icon"><i class="icon-mail"></i></span>
									<span class="email-address">anshulg691@gmail.com</span>
									<span class="icon iconEmailVer"><i class="icon-tick_circle"></i></span>
								</div>

						</div>
	            		<div class="content-block additional">
	            			<h3 class="content-heading">Additional Information</h3>
	            			<div class="content">
	            				<ul>
	            					<li>
	            						<p class="marital-status">
	            							<span class="key">Marital Status:</span>
	            							<span class="value js_marital_status">Single</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="languages">
	            							<span class="key">Languages:</span>
	            							<span class="value js_languages">English, Hindi, Tamil</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="work-usa">
	            							<span class="key">Work Permit for USA:</span>
	            							<span class="value js_work_permit">No</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="cat-percentile">
	            							<span class="key">CAT Percentile:</span>
	            							<span class="value js_percentile">N.A</span>
	            						</p>
	            					</li>
									<li>
										<p class="iit-score">
											<span class="key">IIT-JEE All India Rank (AIR):</span>
											<span class="value js_iit">N.A</span>
										</p>
									</li>
									<li>
										<p class="gmat-score">
											<span class="key">GMAT Score:</span>
											<span class="value js_gmat">N.A</span>
										</p>
									</li>
	            					<li>
	            						<p class="handled-team">
	            							<span class="key">Have you handled a team?</span>
	            							<span class="value js_handled_team">Yes</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="willing-six-days">
	            							<span class="key">Are you willing to work 6 days?</span>
	            							<span class="value js_six_days">No</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="willing-relocate">
	            							<span class="key">Are you willing to relocate?</span>
	            							<span class="value js_relocate">No</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="differently-abled">
	            							<span class="key">Differently Abled?</span>
	            							<span class="value js_different_abled">No</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="willing-startup">
	            							<span class="key">Are you willing to join an early-stage startup?</span>
	            							<span class="value js_startup">Yes</span>
	            						</p>
	            					</li>
	            					<li>
	            						<p class="willing-travel">
	            							<span class="key">Willingness to travel?</span>
	            							<span class="value js_travel">N.A</span>
	            						</p>
	            					</li>

	            				</ul>
	            			</div>
	            		</div>

	            		<div class="content-block recommendations hidden">
	            			<h3 class="content-heading">Recommendations</h3>
	            			<div class="content recommendationList">

	            			</div>
							<div class="recommendationListSecond">

							</div>
							<span class="see-more link-color seeMoreRec hidden" data-clicked="false">See More</span><span class="icon-down_arrow hidden"></span>

	            		</div>


						<div class="content-block comments mob mobCandidateCommentContainer">
	            			<h3 class="content-heading">Comment</h3>
	            			<div class="content">
								<div class="mobCommentBox">
									<textarea id="" class="comment-textarea hidden" readonly></textarea>
								</div>
								<div class="">
									<textarea  placeholder="Add Comment" name="name" class="mobCandidateCommentTextarea"></textarea>
								</div>
								<div class="action-buttons">
									<span class="cand-comment-button  mobCandidateAddCommentButton">Add</span>
									<span class=" green mobcandidateAddEditButton hidden">Edit Comment</span>
								</div>
	            			</div>
	            		</div>

						<div class="content-block tags mob mobCandidateTagContainer">
	            			<h3 class="content-heading">Tags</h3>
	            			<div class="content">
								<div class="">
									<div>
										<div class="ui-widget">
											<input  placeholder="Add Tag" class="recruiterTags cand-add-tag input-field mobCandidateTagInput" type="text" name="" value="">
											<div class="error-field hidden tagInputError" id=""><p>Tag Name can't be empty</p></div>
										</div>
										<div class="action-buttons cand-add-tag-action-btn">
											<span class="button green mobCandidateAddTagButton cand-add-tag-button">Add</span>
										</div>
									</div>
									<div class="skill-tags-area candidateTagList">

									</div>
								</div>

	            			</div>
	            		</div>

	            	</div>
					<div id="view-resume">
						<div class="js_resume hidden">

		            	</div>
						<div class="loading loaderScrollerResume hidden" style="margin-top:20px ">
						    <div class="loader loader-scroller"></div>
						</div>
					</div>


	            	<div id="view-cover-letter" class="js_cover_letter">

	            	</div>
            	</div>

            </div>
        </div>
    </div>
    <div class="mobile-resume-sidebar">
		<div class="clearfix"></div>

    	<div class="first-fold fold top">
			<div class="action-buttons">
				<span class="shortlist-wrapper">
						{{>spinner}}
						<span class=" shortlist candidateShortlistModal accept button green ">Shortlist</span>
				</span>
				<span class="reject-wrapper">
						{{>spinner}}
						<span class="reject button red candidateRejectModal">Reject</span>
				</span>


				<span class="detail button white"><i class="icon-up_arrow"></i></span>

	    	</div>
    	</div>
		<div class="second-fold action-fold fold mass-action-second hidden">
				<div class="sidebar-section external-links">
						<div class="action">
							<div class="save link candidateSaveModal">
								<span class="icon save-icon">
									<i class="icon-star"></i>
								</span>
								<span>Save for later</span>
							</div>
							<div class="chat link candidateChatModal">
								<span class="icon"><i class="icon-chat"></i></span>
								Chat with
								<span class="firstName candidate-first-name"></span>
							</div>
							<div class="candidateDownloadResume link">
									<span class="icon">
											<i class="icon-download_arrow"></i>
										</span>
								<span>Download Resume</span>
							</div>
						</div>
						<div class="action-links">
							<div class="invite invite-links"><span class="icon sendInvite"></span>Send Interview Invite:</div>
							<div class="invite-links face-invite">
								<span class="icon">
									<i class="icon-face-to-face"></i>
								</span>
								<span data-invite-id="1" class="inviteF2f invite tooltip tooltipstered" state="default">
									<span class="context">Face to Face</span>
									<span class="icon-container hidden"><i class="icon-tick"></i></span>
								</span>
							</div>
							<div class="invite-links tele-invite">
								<span class="icon"><i class="icon-telephone"></i></span>
								<span data-invite-id="2" class="inviteTelephonic invite tooltip tooltipstered" state="default">
									<span class="context">Telephonic</span>
									<span class="icon-container hidden"><i class="icon-tick"></i></span>
								</span>
							</div>
						</div>
					</div>
			</div>
    </div>
    <div class="resume-sidebar right">
    	<div class=" action-buttons">
			<span class="shortlist-wrapper button green">
				{{>spinner}}
    			<span class="accept shortlist button green candidateShortlistModal">Shortlist</span>
			</span>
			<span class="reject-wrapper button red">
				{{>spinner}}
				<span class="reject button red candidateRejectModal">Reject</span>
			</span>
		</div>
    	<div class="sidebar-section external-links">
    		<ul>
    			<li class="save candidateSaveModal"><i class="icon-star_later"></i>Save for Later</li>
    			<li class="chat candidateChatModal"><span class="icon"><i class="icon-chat"></i></span>Chat with <span class="firstName candidate-first-name">Shreya</span></li>
				<li class="download candidateDownloadResume"><span class="icon"><i class="icon-download_arrow"></i></span>Download Resume</li>
				<li class="invite"><span class="icon sendInvite"><i class="icon-interview"></i></span>Send Interview Invite</li>
				<li class="invite-links">
					<span class="icon"><i class="icon-face-to-face"></i></span>
					<span data-invite-id="1" class="inviteF2f invite tooltip underline" state="default">
						<span class="context">Face to Face</span>
						{{>loader}}
						<span class="icon-container hidden"><i class="icon-tick"></i></span>
					</span>
				</li>
				<li class="invite-links">
					<span class="icon"><i class="icon-telephone"></i></span>
					<span data-invite-id="2" class="inviteTelephonic invite tooltip underline"  state="default">
						<span class="context">Telephonic</span>
							{{>loader}}
						<span class="icon-container hidden"><i class="icon-tick"></i></span>
					</span>
				</li>
    		</ul>


			<!--
    		<ul>
    			<li class="save"><span class="icon"><i class="icon-star"></i></span>Share Resume</li>
    			<li class="invite"><span class="icon"><i class="icon-interview"></i></span>Report this candidate</li>
    		</ul> -->

    	</div>

		<div class="sidebar-section contact-info">
			<h3>Contact Information</h3>
			<div class="wrap">
				<span class="icon"><i class="icon-telephone"></i></span>
				<span class="contact"></span>
				<span class="icon iconTelephoneVer hidden"><i class="icon-tick_circle"></i></span>
			</div>

			<div class="wrap">
				<span class="icon"><i class="icon-mail"></i></span>
				<span class="email-address"></span>
				<span class="icon iconEmailVer hidden"><i class="icon-tick_circle"></i></span>
			</div>
    	</div>

    	<div class="sidebar-section comments candidateCommentContainer">
			<h3>Comment</h3>

    		<div class="comment-box">
				<textarea id="" class="comment-textarea hidden" readonly></textarea>
			</div>
			<div class="comment-container">
				<textarea id="" placeholder="Add Comment" name="name" class="candidateCommentTextarea"></textarea>
    		</div>
			<div class="action-buttons">
				<span class="cand-comment-button button green candidateAddCommentButton addButton">Add</span>
				<span class="editbutton candidateAddEditButton hidden">Edit Comment</span>
			</div>
    	</div>

    	<div class="sidebar-section tags candidateTagContainer">
    		<h3>Tags</h3>
			<div class="">
				<div class="pill-listingg-container" >
					<div  class="ui-widget">
						<input  placeholder="Add Tag" class="recruiterTags cand-add-tag input-field candidateTagInput" type="text" name="" value="">
						<div class="error-field hidden tagInputError" id=""><p>Input field can't be empty</p></div>
					</div>
					<div class="action-buttons cand-add-tag-action-btn">
						<span class="button green candidateAddTagButton cand-add-tag-button addButton">Add</span>
					</div>
				</div>
				<div class="skill-tags-area candidateTagList">
					<h5>
				</div>
			</div>

    	</div>
    </div>
</div>

<!-- <div class="tag js_skill_tag prototype hidden">
	<span class="skill-name js_skill_name">UI Development</span>
</div> -->
<div class="candidate-item candidateRow prototype hidden">
	<div class="candidate-select">
		<div class="checkbox candidateCheckboxContainer">
			<input class="candidateCheckbox" type="checkbox" id="candidate-3">
			<label class="candidateCheckboxLabel" for="candidate-3"></label>
		</div>
	</div>

	<a href="" class="openCandidateLink">
			<div class="candidate-item-section image">
				<div class="candidate-image">
					<img class="js_img" src="http://placehold.it/60x60/f5f5f5?text=+">
					<div class="candidate-status online hidden"></div>
				</div>
				<div class="section">
					<span class="sticker pro-member isPro hidden">Pro</span>
				</div>
			</div>

			<div class="candidate-item-section personal-details">
				<p class="profile-name js_name">Shelly Sharma</p>
				<p class="experience-label data-label">
					<span class="bold">Experience: </span>
					<span class="experience value js_exp">2y 3m</span>
				</p>
				<p class="location-label data-label">
					<span class="bold">Location: </span>
					<span class="location value js_loc">Delhi</span>
				</p>
				<p class="applied-label data-label">
					<span class="bold">Applied: </span>
					<span class="applied value js_appliedOn">15-06-2017</span>
				</p>
				<p class="notice-period-label data-label">
					<span class="bold">Notice Period: </span>
					<span class="notice-period value js_notice">1 month</span>
				</p>

				<p><span class="cover-letter link-color info-link coverLetterLink hidden">Cover letter</span></p>
				<p><span class="recommendationsLink link-color info-link hidden">Recommendations</span></p>

				<div class="skill-tag-listing ">

				</div>

			</div>

			<div class="candidate-item-section professional-information js_prof_list">

			</div>

			<div class="candidate-item-section educational-details js_edu_list">

			</div>

			<div class="candidate-item-section profile-actions">
				<div class="candidate-action-area">
					<div class="jsClickableActions">
						<div class="shortlist-wrapper">
								{{>spinner}}
							<button class="button green shortlist left candidateShortlist">Shortlist</button>
						</div>
						<div class="reject-wrapper">
								{{>spinner}}
							<button class="button red reject right candidateReject">Reject</button>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="candidate-options jsClickableActions">
						<div class="button-action-list candidateOtherActions inactive">
							<label class="action-list-label">Other Actions</label>
							<ul class="action-list-items">
								<li>
									<div class="candidateSendMessage link-color">
										<span class="context">Send Message</span>
										{{>loader}}
										<!-- <span class="icon-container"><i class="icon-tick"></i></span> -->
									</div>
								</li>
								<li>
									<div class="candidateDownloadResume link-color">
										<span>Download Resume</span>
										{{>loader}}
										<!-- <span class="icon-container"><i class="icon-tick"></i></span>	 -->
									</div>
								</li>
								<li>
									<div class="candidateSave link-color">
										<span>Save for later</span>
										{{>loader}}
										<!-- <span class="icon-container"><i class="icon-tick"></i></span> -->
									</div>
								</li>
								<li><div class="candidateAddComment link-color">Add Comment</div></li>
								<li><div class="candidateAddTag link-color">Add Tag</div></li>
								<li class="interview-invite interviewinvite">Send Interview Invite</li>
								<li>
									<div data-invite-id="1" class="inviteF2f tooltip link-color invite" state="default">
										<span class="context">Face to Face</span>
										{{>loader}}
										<span class="icon-container hidden"><i class="icon-tick"></i></span>
									</div>
								</li>
								<li>
									<div data-invite-id="2" class="inviteTelephonic tooltip link-color invite" state="default">
										<span class="context">Telephonic</span>
										{{>loader}}
										<span class="icon-container hidden"><i class="icon-tick"></i></span>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="view-links">
						<span class="comments commentLink hidden"><span class="viewCommentButton link-color">View Comment</span></span>
						<span class="tags tagLink hidden"><span class="viewTagButton link-color">View Tags</span></span>
					</div>
				</div>
			</div>
			<div class="section sticker-container">
				<span class="sticker followed-up hidden isFollowedUp">Followed up</span>
			</div>
			<div class="separator"></div>

	</a>

</div>


<span class="skill-tag candidateSkillTag prototype hidden">
		<div class="active-skill-label"><span class="icon-label">UI/UX</span></div>
</span>

<div class="skill-tag candidateTag prototype hidden">
	<div class="active-skill-label tagLabel"><span class="icon-label">UI/UX</span></div>
	<div class="remove-active-skill tagRemove"><span class="close-icon"><i class="icon-close_icon"></i></span></div>
</div>

<div class="datum js_prof prototype hidden">
	<p class="data name js_prof_name">iimjobs.com</p>
	<p class="detail designation js_prof_designation">Full Stack Engineer</p>
	<p class="detail tenure js_prof_tenure">2008-2012</p>
	<div class="separator jsSeperator hidden"></div>
</div>

<div class="datum js_edu prototype hidden">
	<p class="data name js_edu_name">Indian Institute of Management, Indore (IIMI)</p>
	<p class="detail tenure js_edu_tenure">2008-2012</p>
	<p class="detail degree js_edu_degree">B Tech / BE (Full Time)</p>
	<div class="separator jsSeperator hidden"></div>
</div>

<div class="comment-block js_comment prototype hidden">
	<div class="content">
		<p class="js_comment">Lorem Ipsum is simply dummy text for the 19th century.</p>
	</div>
	<div class="clearfix"></div>
	<p class="comment-timestamp right js_time">3 minutes ago</p>
	<div class="clearfix"></div>
</div>

<option class="calendarOptions prototype hidden" value="">Option 1</option>

<div id="" class="modal unpublishModal hidden">
	<!-- Modal content -->
	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading">Unpublish Job</div>
		</div>
		<div class="modal_content">
			<div class="modal_text">Please choose a reason for unpublishing this job</div>
			<div class="section">
				<div class="radio-input">
					<input type="radio" id="5" name="unpublishReason">
					<label for="5">This position has been closed via iimjobs.</label>
				</div>
				<div class="radio-input">
					<input type="radio" id="6" name="unpublishReason">
					<label for="6">This position has been closed via other channel.</label>
				</div>
				<div class="radio-input">
					<input type="radio" id="2" name="unpublishReason">
					<label for="2">This position has gone on hold.</label>
				</div>
				<div class="radio-input">
					<input type="radio" id="3" name="unpublishReason">
					<label for="3">I have received enough responses for this position.</label>
				</div>
				<div class="hidden error">please select a reason</div>
			</div>

			<div class="action-buttons">
				<div class="button-wrapper">
					{{>spinner}}
					<button class="jobUnpublishButton">Unpublish</button>
				</div>
			</div>
		</div>

	</div>
</div>

<div id="" class="modal refreshModal hidden">

	<!-- Modal content -->
	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading">Refresh Job</div>
		</div>
		<div class="modal_content">
			<div class="modal_text">Are you sure you want to refresh this job?</div>
			<div class="section modal_text">
				When you refresh a job, it is moved to the top.
			</div>
			<div class="action-buttons">
				<div class="button-wrapper">
					{{>spinner}}
					<button class="refreshButton">Refresh</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="" class="modal selectDefaultCalendar hidden">

	<!-- Modal content -->
	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading">Select Default Calendar</div>
		</div>
		<div class="modal_content">
			<div class="modal_text">Please choose a default calendar before sending interview invite</div>
			<div class="section modal_text">
				<span class="section calendar-options hidden calendarContainer">
					<select class="select-dropdown calendarSelect">
					</select>
					<div class="error-field hidden calendarSelectError"><p>Choose a calendar to send to the applicants for this job!</p></div>
				</span>
			</div>
		</div>
	</div>
</div>

<div id="" class="modal premiumModal hidden">

	<!-- Modal content -->
	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading">Make Premium.</div>
		</div>
		<div class="modal_content">
			<div class="modal_text modalTextPrimary">You are about to make this job premium.</div>
			<div class="section modal_text modalTextSecondary">
				This job will be highlighted and moved to top of the list for 15 days starting today. You will have credits left.
			</div>
			<div class="action-buttons">
				<div class="button-wrapper hidden">
					{{>spinner}}
					<button class="jobMakePremiumButton">Make Premium</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="" class="modal jsAddTagModal hidden">


	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading">Add Tag</div>
		</div>
		<div class="modal_content">
			<div class="modal_text jsModalText hidden"></div>
			<div class="section">
				<input type="text" name="" value="" class="input-field">
			</div>
			<div class="action-buttons"><button class="jsAddTag">Add</button></div>
		</div>
	</div>
</div>

<div id="" class="modal comment-modal jsAddCommentModal hidden">


	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading">Add Comment.</div>
		</div>
		<div class="modal_content">
			<div class="modal_text jsModalText"></div>
			<div class="section">
				<textarea name="name" rows="" cols=""></textarea>
			</div>
			<div class="action-buttons"><button class="jsAddComment">Add</button></div>
		</div>
	</div>
</div> -->
<div id="" class="modal bulkActionModal hidden">

	<div class="modal_wrapper" >
		<span class="modal_close">&times;</span>
		<div class="modal_header">
			<div class="modal_heading modalHeading">Add Comment</div>
		</div>
		<div class="modal_content">
			<div class="modal_text jsModalText"></div>
			<div class="modal_text jsModalTextSecondary"></div>
			<div class="section">
				<textarea class="massTextarea" name="name" rows="" cols="" placeholder="Add a Comment"></textarea>
				<div class="error-field hidden errorField" id=""><p>Please add a Comment</p></div>
			</div>
			<div class="action-buttons"><button class="massActionButton"></button></div>
		</div>
	</div>
</div>

<div class="recommendationWrapper prototype hidden">
	<div class="recommendation-header">
		<!-- <div class="user-image userImage left">
			<img src="http://placehold.it/60x60/f5f5f5?text=+">
		</div> -->
		<div class="user-details">
			<p class="user-name userName">Shally Sharma</p>
			<p class="user-link "><a target="_blank" class="userLink" href="http://www.linkedin.com/in/shally-sharma">http://www.linkedin.com/in/shally-sharma</a></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="recommendation-body">
		<p class="userBody">Akshay for one and half years while building tiksha.com, Akshay for one and half years while building tiksha.com Akshay for one and half years while building tiksha.com Akshay for one and half years while building tiksha.com</p>
	</div>
	<div class="separator jsSeperator hidden"></div>
</div>

<div class="filter-tag prototype hidden filterPill">
	<div class="active-filter-label"><span class="icon-label"></span></div>
	<div class="remove-active-filter"><span class="close-icon"><i class="icon-close_icon"></i></span></div>
</div>

<p class="fetchTags prototype hidden" data-tag-id="1"></p>

<div class="check-input bulkCheckInput prototype hidden">
	<input type="checkbox" id="">
	<label for=""></label>
</div>

{{>modalContent}}
{{>footer}}
