{{> header}}

<div class="main-container">
    <div class="change-password-form">
        <div class="heading heading-clr">
            Change Password
        </div>
        <div class="field">
            <input type="password" name="password" id="password" value="" placeholder="Original Password">
            <div class="error hidden"></div>
        </div>
        <div class="field">
            <input type="password" name="newPassword" id="newPassword" value="" placeholder="New Password">
            <div class="error hidden"></div>
        </div>
        <div class="field">
            <input type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="Verify New Password">
            <div class="error hidden"></div>
        </div>
        <div class="field">
            <button class="button change-password">Change</button>
        </div>
    </div>
</div>

{{> footer}}
