<!DOCTYPE html>
<html>
<head>
	<title>myChat</title>
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="../{{.}}">
    	{{/styles}}
	{{/styles.length}}
</head>
<body>
<div class="main-container">
    <div class="chat-side-profile-container ">
        <div class="chat-side-profile-header">
            <div class="profile-image animated-background"><img src=""></div>
            <div class="profile-info">
                <div class="profile-info-name animated-background"></div>
                <div class="profile-info-isonline animated-background"></div>
            </div>
        </div>
        <hr class="divider divider-full">
        <div class="chat-side-profile-search">
            <input type="text" placeholder="search">
        </div>
        <hr class="divider divider-full">
        <div class="chat-side-profile-candidates">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
            <hr class="divider">
            <div class="candidate-card">
                <div class="candidate-image animated-background"><img src=""></div>
                <div class="candidate-info">
                    <div class="candidate-name animated-background"></div>
                    <div class="candidate-designation animated-background"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="candidate-chat-container">
        <div class="candidate-chat-header">
            <div class="profile-image animated-background"><img src=""></div>
            <div class="profile-info">
                <div class="profile-info-name animated-background"></div>
                <div class="profile-info-organisation animated-background"></div>
            </div>
        </div>
        
        <div class="candidate-chat-footer">
            <input type="text" placeholder="Type A Message">
        </div>
    </div>
</div>

</body>
{{#scripts.length}}
	{{#scripts}}
		<script type="text/javascript" src="../{{.}}"></script>
	{{/scripts}}
{{/scripts.length}}
<script src="https://use.fontawesome.com/6eabda8944.js"></script>
</html>
