
<div id="chat-div" class="chat-div">
	<div class="chat-div-header">
		Inbox<span class="minus-icon"></span>
	</div>
	<div class="chat-div-content">

	</div>
</div>

<div class="chat-candidate-boxes">

</div>

<div class="candidate-card prototype hidden">
	<div class="candidate-image animated-background"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA"></div>
	<div class="candidate-info">
		<div class="candidate-name animated-background text-clr font-md"></div>
		<div class="candidate-designation animated-background extra-info-color font-sm"></div>
	</div>
	<!-- <div class="remove-candidate extra-info-color"><i class="fa fa-times" aria-hidden="true"></i></div> -->
</div>


<div class="candidate-collapsed-block prototype hidden">

</div>
