<div class="conversation-listing-container">
	<div class="listing-header add-new-conversation">
        <h3>Your Chats</h3>
    </div>
    <div class="conversations-listing">
    	<div class="conversation-item prototype hidden">
			<div class="user-image user-item">
				<img src="https://www.placehold.it/50x50/fff?text=+">
			</div>
			<div class="user-info user-item">
				<p class="user-name">User Name</p>
				<p class="user-designation">User Designation</p>
			</div>
			<div class="conversation-item-separator"></div>
    	</div>
    	<div class="conversation-item">
			<div class="user-image user-item">
				<img src="https://www.placehold.it/50x50/fff?text=+">
			</div>
			<div class="user-info user-item">
				<p class="user-name">User Name</p>
				<p class="user-designation">User Designation</p>
			</div>
			<div class="conversation-item-separator"></div>
    	</div>
    	<div class="conversation-item">
			<div class="user-image user-item">
				<img src="https://www.placehold.it/50x50/fff?text=+">
			</div>
			<div class="user-info user-item">
				<p class="user-name">User Name</p>
				<p class="user-designation">User Designation</p>
			</div>
			<div class="conversation-item-separator"></div>
    	</div>
    	<div class="conversation-item">
			<div class="user-image user-item">
				<img src="https://www.placehold.it/50x50/fff?text=+">
			</div>
			<div class="user-info user-item">
				<p class="user-name">User Name</p>
				<p class="user-designation">User Designation</p>
			</div>
			<div class="conversation-item-separator"></div>
    	</div>
    	<div class="conversation-item">
			<div class="user-image user-item">
				<img src="https://www.placehold.it/50x50/fff?text=+">
			</div>
			<div class="user-info user-item">
				<p class="user-name">User Name</p>
				<p class="user-designation">User Designation</p>
			</div>
			<div class="conversation-item-separator"></div>
    	</div>
    	<div class="conversation-item">
			<div class="user-image user-item">
				<img src="https://www.placehold.it/50x50/fff?text=+">
			</div>
			<div class="user-info user-item">
				<p class="user-name">User Name</p>
				<p class="user-designation">User Designation</p>
			</div>
			<div class="conversation-item-separator"></div>
    	</div>

    </div>
</div>