
<div class="toast-notification-container">
	<div class="toast-notification">
		<!-- <div class="notification-icon">
			<img src="/static/images/close-icon.png" />
		</div> -->
		<div class="notification-message">
			<p></p>
		</div>
	</div>
</div>

<div id="chat-div" class="chat-div hidden">
	<div class="chat-div-header">
		<div class="left">
			Inbox
		</div>
		<div class="right">
			<span class=" icon-minus_icon minusIcon"></span>

		</div>
		<div class="clearfix">

		</div>
	</div>
	<div class="chat-div-content" id="conversationItemList">

	</div>
</div>

<div class="chat-candidate-boxes">

</div>

<div class="candidate-card candidateCard prototype hidden">
	<div class="candidate-image left">
		<img class="userImg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA">
		<div class="candidate-status online candStatus hidden" ></div>
	</div>
	<div class="candidate-info right">
		<div class="candidate-name  text-clr font-md userName"></div>
		<div class="candidate-designation  extra-info-color font-sm userDesignation"></div>
	</div>
	<div class="clearfix"></div>
	<!-- <div class="remove-candidate extra-info-color"><i class="fa fa-times" aria-hidden="true"></i></div> -->
</div>


<div class="candidate-collapsed-block prototype hidden">

</div>


<div class="chat-div-candidate prototype hidden">
	<div class="chat-div-header">
		<div class="candidate-name-container left">
			<div class="img-container">
				<img src="/static/images/noimage.png" alt="">
			</div>
			<div class="cand-name-wrapper">
				<div class="candidate-name">

				</div>
				<div class="last-active-date lastActiveDate hidden">

				</div>
			</div>

		</div>
		<div class="info-buttons right">
			<span class="icon-information-1 infoIcon"></span>
			<span class="icon-minus_icon minusIcon"></span>
			<span class="icon-cross_icon closeIcon"></span>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="content-footer-container">

		<div class="info-container hidden">
			<div class="start hidden">
				You can Start Chat.
			</div>
			<div class="no-start hidden">
				<div class="img-container left">
					<img src="/static/images/noimage.png" alt="">
				</div>
				<div class="info-content right">
					<div class="primary-content">
						Shreya Jain works as Associate Product Manager at iimjobs.com
					</div>
					<div class="secondary-content hidden">
						Shreya Jain has applied to iimjobs.com - Product Manager - Internet/Mobile (0-3 yrs). Current status is Saved
					</div>
				</div>
				<div class="clearfix">

				</div>
			</div>

		</div>
		<div class="chat-div-content">
			<ul>

			</ul>
		</div>
		<div class="footer">
			<textarea class="chat-input" type="text" placeholder="Write a Message" data-limit="100"></textarea>
			<!-- <span class="icon-send_button iconSendButton"></span> -->
		</div>
	</div>

</div>

<div id="chat-collapsed-container">
  <div class="chat-collapsed-candidate-container hidden">
	  <div class="chat-collapsed-candidate">
		  <div class="chat-collapsed-candidate-wrapper">
		  </div>
	  </div>

  </div>
</div>

<li class="message sent prototype hidden">
    <div class="message-area">
        <p class="message-content msgContent tooltip">Message Content</p>
    </div>
</li>

<li class="message received prototype hidden">
    <div class="message-area">
        <p class="message-content msgContent tooltip">Message Content</p>
    </div>
</li>

<div class="time-separator timeSeperator prototype hidden"><span>Today</span></div>
