
<div id="chat-div" class="chat-div">
	<div class="chat-div-header">
		<div class="left">
			Inbox
		</div>
		<div class="right">
			<span class="minus-icon"></span>
			<!-- <span class="close-icon"></span> -->
		</div>
		<div class="clearfix">

		</div>
	</div>
	<div class="chat-div-content" id="conversationItemList">

	</div>
</div>

<div class="chat-candidate-boxes">

</div>

<div class="candidate-card candidateCard prototype hidden">
	<div class="candidate-image ">
		<img class="userImg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA">
		<div class="candidate-status online candStatus hidden" ></div>
	</div>
	<div class="candidate-info">
		<div class="candidate-name  text-clr font-md userName"></div>
		<div class="candidate-designation  extra-info-color font-sm userDesignation"></div>
	</div>
	<!-- <div class="remove-candidate extra-info-color"><i class="fa fa-times" aria-hidden="true"></i></div> -->
</div>


<div class="candidate-collapsed-block prototype hidden">

</div>


<div class="chat-div-candidate prototype hidden">
	<div class="chat-div-header">
		<div class="candidate-name-container left">
			<div class="candidate-name">

			</div>
			<div class="last-active-date">

			</div>
		</div>
		<div class="info-buttons right">
			<span class="info-icon"></span>
			<span class="minus-icon"></span>
			<span class="close-icon"></span>
		</div>
	</div>
	<div class="content-footer-container">
		<div class="chat-div-content">

		</div>
		<div class="footer">
			<input id="chat-input" type="text" placeholder="Write a Message">
		</div>
	</div>

</div>

<div id="chat-collapsed-container">
  <div class="chat-collapsed-candidate-container hidden">
	  <div class="chat-collapsed-candidate">
		  <div class="chat-collapsed-candidate-wrapper">

		  </div>
	  </div>

  </div>
</div>
