{{>header}}
    <div class="page-content inset ">
        <div class="container">
            <div id="contactus" class="content col-md-5">
                <div class="text-left">
                    <div class="leftnav"><span class="txt20 strong">Contact Us</span></div>
                    <div class="clearfix"></div>
                    <p class="mt10 leftnav">We would love to hear from you. Please write to <a class="greentxt" href="mailto:hello@iimjobs.com">hello@iimjobs.com</a>, and we'll get back to you real soon!</p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>   
    </div>
{{>footer}}