<div class="main_container">
 <div class="profile">
   <div class="user_image">
     <img src="../static/img/business.png" alt="">
     <span class="edit_profile">&#xe151;</span>
   </div>
   <div class="user_details">
     <div class="user_information">
      <h2 class="user_name">kartik</h2>
      <span class="user_designation">developer</span>
     </div>
     <div class="edit_profile">
       <span>&#xe151;</span>
     </div>
     <div class="social_buttons">
      <button class="button">Linked In</button>
      <button class="button">Twitter</button>
      <button class="button">Facebook</button>
    </div>
   </div>


   <div class="bottom_information" >
     <a href="#" class="profile_link">hello</a>
     <div class="extra_info">
         <span>ssssssssss</span>
         <span>ssssssss</span>
   </div>
   </div>


    	</div>

         <div role="tabpanel" class="jobs_panel">
           <h1>Jobs Posted</h1>
          	<div class="jobs_container">
          			<div class="jobs_header">
          				<span >Date</span>
          				<span >Title</span>
          				<span >Status</span>
          				<span>Views/Applied</span>
                  <span>Action</span>
          			</div>

      		    		<div class="jobs_content">
                    <span >Date</span>
            				<span >Title</span>
            				<span >Status</span>
            				<span>Views/Applied</span>
                    <span>Action</span>
      		    		</div>
    </div>



 </div>
</div>
