{{> header }}

    {{>chatSticky}}

<div class="page-content">
    <div class="main-wrapper">
        <div class="main-container">
            <div class="container">
                <div class="dashboard">
                    <div class="header-row">
                        <div class="heading"></div>
                        <div class="sub-heading"></div>
                    </div>
                    <div class="block-container" id="dashboardStatsContainer">
                        <div class="block activeJobs">
                            <div class="stats">
                                <div class="number">0</div>
                                <div class="legend">Active Jobs</div>
                            </div>
                            <div class="icon"><i class="demo-icon icon-group"></i></div>
                            <div class="separater positive-right"></div>
                        </div><div class="block newApplications">
                            <div class="stats">
                                <div class="number">0</div>
                                <div class="legend">New Applications</div>
                            </div>
                            <div class="icon"><i class="demo-icon icon-mail"></i></div>
                            <div class="separater positive-bottom"></div>
                        </div><div class="block awaitedApplications">
                            <div class="stats">
                                <div class="number">0</div>
                                <div class="legend">Candidates to be reviewed</div>
                            </div>
                            <div class="icon"><i class="demo-icon icon-interview"></i></div>
                            <div class="separater positive-top"></div>
                        </div><div class="block  shortlistedApplications">
                            <div class="stats">
                                <div class="number">0</div>
                                <div class="legend">Shortlisted candidates to be interviewed</div>
                            </div>
                            <div class="icon"><i class="demo-icon icon-politics"></i></div>
                            <div class="separater positive-left "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="feed-column">
                    <div class="feed-card hidden" id="postedJobsContainer">
                        <div class="header-row">
                            <div class="heading">Overview of Active Jobs</div>
                            <div class="heading-button right"><a href="/my-jobs">See All</a><i class="icon-right_arrow"></i></div>
                        </div>
                        <div class="detail-card ">
                            <div id="new-jobs-chart" class="graph_holder">
                                <div class="graph_overlay hidden">
                                   <div class="empty-view">
                                       <div class="detail">You don't have any active jobs right now</div>
                                        <div class="sub-detail">You will see a graph here when you do</div>
                                        <div class="action-buttons">
                                            <a href="/post-job">
                                                <button class="post-job">Post Job</button>
                                            </a>
                                        </div>
                                        <div class="divider">OR</div>
                                        <div class="action"><a href="#">View previously posted jobs</a></div>
                                    </div>
                                </div>
                                <div class="column_chart_legend">
                                    <div class="clearfix"></div>
                                </div>
                                <div id="new-jobs-chart-graph" class="chart-area">
                                    <div class="spinner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feed-card hidden" id="recentJobsContainer">
                        <div class="header-row">
                            <div class="heading">Recent Jobs</div>
                            <div class="heading-button right"><a href="/my-jobs">See All</a><i class="icon-right_arrow"></i></div>
                        </div>
                        
                        <div class="detail-card jobs-card">
                            <div class="empty-view hidden">
                                <div class="detail">You don't have any published jobs right now</div>
                                 <div class="sub-detail">You will see a list here when you do</div>
                                 <div class="action-buttons">
                                     <a href="/post-job">
                                         <button class="post-job">Post Job</button>
                                     </a>
                                 </div>
                                 <div class="divider">OR</div>
                                 <div class="action">View previously posted jobs</div>
                             </div>
                        </div>
                    </div>
                    <div class="feed-card hidden" id="savedSearchContainer">
                        <div class="header-row">
                            <div class="heading">Saved Searches</div>
                            <div class="heading-button right">See All<i class="icon-right_arrow"></i></div>
                        </div>
                        <div class="detail-card ">
                            <div class="empty-view hidden">
                                <div class="detail">You don't have any saved jobs right now</div>
                                    <div class="sub-detail">You will see a list here when you do</div>
                                    <div class="divider">OR</div>
                                    <div class="action"><a href="#">View recent searches</a></div>
                            </div>
                            <div class="feed-row">
                                    <div class="main-content">
                                        <div class="title">
                                            <div class="text">'Product Manager' OR 'Product Analyst' OR 'Product Design '</div>
                                            <div class="meta-content">
                                                <div class="meta-prop">
                                                    <div class="label">Filters Applied</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="stats">
                                            <div class="applications">
                                                <div class="value">520</div>
                                                <div class="label">Candidates Found</div>
                                            </div>
                                            <div class="applications">
                                                <div class="value">20</div>
                                                <div class="label">New</div>
                                            </div>
                                        </div>
                                        <div class="action-panel">
                                            <img src="/static/images/settings-icon.png">
                                        </div>
                                    </div>
                                    <div class="horizontal-separator"></div>
                                </div>
                              <div class="feed-row">
                                <div class="main-content">
                                    <div class="title">
                                        <div class="text">'Product Manager' OR 'Product Analyst' OR 'Product Design '</div>
                                        <div class="meta-content">
                                            <div class="meta-prop">
                                                <div class="label">Filters Applied</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="stats">
                                        <div class="applications">
                                            <div class="value">520</div>
                                            <div class="label">Candidates Found</div>
                                        </div>
                                        <div class="applications">
                                            <div class="value">20</div>
                                            <div class="label">New</div>
                                        </div>
                                    </div>
                                    <div class="action-panel">
                                        <img src="/static/images/settings-icon.png">
                                    </div>
                                </div>
                                <div class="horizontal-separator"></div>
                            </div>
                            <div class="feed-row">
                                <div class="main-content">
                                    <div class="title">
                                        <div class="text">'Product Manager' OR 'Product Analyst' OR 'Product Design '</div>
                                        <div class="meta-content">
                                            <div class="meta-prop">
                                                <div class="label">Filters Applied</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="stats">
                                        <div class="applications">
                                            <div class="value">520</div>
                                            <div class="label">Candidates Found</div>
                                        </div>
                                        <div class="applications">
                                            <div class="value">20</div>
                                            <div class="label">New</div>
                                        </div>
                                    </div>
                                    <div class="action-panel">
                                        <img src="/static/images/settings-icon.png">
                                    </div>
                                </div>
                                <div class="horizontal-separator hidden"></div>
                            </div>
                        </div>
                    </div>
                     <div class="feed-card" id="otherRolesContainer">
                        <div class="header-row">
                            <div class="heading">Hiring for other roles</div>
                            <div class="heading-button right hidden">See All <img src="/static/images/right-arrow-icon.png"></div>
                        </div>
                        <div class="detail-card roles-card ">
                            <div class="feed-row">
                                <div class="title">Hiring for roles other than management? Explore our other job portals</div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <a href="https://www.hirist.com/recruiter/login.php" target="_blank">
                                                <span class="name">hirist.com </span><span class="description">- For Tech Jobs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.updazz.com/recruiter/login.php">
                                                <span class="name">updazz.com</span><span class="description">- For Sales & Marketing Jobs</span>        
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.engineeristic.com/recruiter/login.php">
                                                <span class="name">engineeristics.com</span><span class="description">- For Manufacturing, Operation and Engineering Jobs</span>
                                            </a>
                                           
                                        </li>
                                        <li>
                                            <a href='https://www.biojoby.com/recruiter/login.php'>
                                                <span class="name">biojoby.com</span><span class="description">- For Medical, Pharma & Healthcare Jobs</span>    
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification-column right">
                    <div class="notification-card hidden" id="notificationContainer">
                        <div class="header-row">
                            <div class="heading">Notification</div>
                        </div>
                        <div class="detail-card ">  
                        </div>
                    </div>
                    <div class="notification-card " id="interviewContainer">
                        <div class="header-row">
                            <div class="heading">Upcoming Interviews</div>
                        </div>
                        <div class="detail-card interview">
                            <div class="interviewRow hidden" >
                                <div class="profile">
                                    <div class="icon">
                                        <div class="custom-icon">
                                            <div class="number">21</div>
                                            <div class="label">Jul</div>
                                        </div>
                                    </div>
                                    <div class="general">
                                        <div class="row">
                                            <div class="highlighted-meta">00:00 - 00:30 AM</div>
                                            <div class="name">Applicant Name <span class="right"><img src="/static/images/edit-icon.png"></span></div>
                                            <div class="meta">Designation</div>
                                            <div class="meta">Company</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal-separator hidden"></div>

                            <div class="horizontal-separator hidden"></div>
                            <div class="single-interview hidden">
                                <div class="highlighted-banner"><span class="number">0</span> Interviews Scheduled</div>
                                <div class="feed-row ">
                                    <div class="title"><span><img src="/static/images/interview-light-bulb.png"></span> Scheduling an interview will help you:</div>
                                    <div class="list">
                                        <ul>
                                            <li>It helps to avoid a slow interviewing process</li>
                                            <li>Helps in allocating ample amounts of time to every candidate</li>
                                            <li>Enhances the interaction between candidates & recruiters by promoting fast and easy scheduling</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="action-buttons">
                                    <div class="button">Start Scheduling Interviews</div>
                                </div>
                            </div>
                            <div class="notification-row multiple hidden">
                                 <div class="seeAll see-all"><a class="meta" href="">See More</a><i class="icon-right_arrow"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="notification-card explorer">
                        <div class="header-row">
                            <div class="heading">Explore</div>
                        </div>
                        <div class="detail-card">
                            <div class="profile slider-profile">
                                <div class="icon slider-icon">
                                    <img src="/static/images/small_image.svg">
                                </div>
                                <div class="general calculus">
                                    <div class="name">Calculus</div>
                                    <div class="meta">Talent Mapping & Intelligence Tool</div>
                                </div>
                            </div>
                            <div class="feed-row">
                                <div class="slider">
                                    <div class="slick-content">
                                        <div class="slick-title">Make Smart Hiring Decisions</div>
                                        <img src="/static/images/high_decision.png">
                                        <div class="slick-detail">Calculus helps you make smarter hiring decisions using real-time data.</div>
                                    </div>
                                    <div class="slick-content">
                                            <div class="slick-title">Deeper Talent Insights</div>
                                            <img src="/static/images/insight.png">
                                            <div class="slick-detail">Calculus provides deeper insights around Gender Diversity, Notice Periods, Tenure, Current &amp; Expected Salaries, and Geographical Distribution of talent.</div>
                                    </div>
                                    <div class="slick-content">
                                            <div class="slick-title">Significantly Better than anything else</div>
                                            <img src="/static/images/what_makes_calculus.png">
                                            <div class="slick-detail">Flexible user interface to help you define talent segments on a real-time basis.</div>
                                    </div> 
                                    <div class="slick-content">
                                            <div class="slick-title">Trusted and Latest data</div>
                                            <img src="/static/images/trusted_insights.png">
                                            <div class="slick-detail">iimjobs innovative recruitment solutions are used by leading brands in India.</div>
                                    </div>   
                                
                                 
                                </div>
                                
                            </div>
                            <div class="action-buttons">
                                <a href="http://calculus.iimjobs.com/" target="_blank">
                                        <div class="button">Know More</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="notification-card"></div>
                </div>
            </div>
        </div>
        <div class="conversations right">
                {{>chatSidebar}}
            </div>
    </div>
 
</div>
<div class="feed-row prototype hidden jobRow" >
    <div class="main-content">
        <div class="title">
            <a class="text" href="#"></a>
             <div class="meta-content">
                <div class="meta-prop location">
                    <div class="icon"><i class="demo-icon icon-location"></i></div>
                    <div class="label"></div>
                </div>
                 <div class="meta-prop experience">
                    <div class="icon"><i class="demo-icon icon-candidate"></i></div>
                    <div class="label"></div>
                </div>
                 <div class="meta-prop postedOn">
                    <div class="icon"><i class="demo-icon icon-clock"></i></div>
                    <div class="label"></div>
                </div>
            </div>
        </div>
        <div class="stats">
            <div class="applications totalApplications">
                <a href = "#" class="value"></a>
                <div class="label">Applications</div>
            </div>
            <div class="applications newApplications">
                <a href="#" class="value"></a>
                <div class="label">New</div>
            </div>
        </div>
        <div class="action-panel multi-options button-action-list inactive">
            <!-- <img src="/static/images/settings-icon.png"> -->
            <i class="icon-more"></i>
             <ul class="action-list-items">
                <li><a href="#" class="jobRefresh blockRequest">Refresh</a></li>
                <li><a href="#" class="jobUnpublish blockRequest">Unpublish</a></li>
                <li><a href="#" class="jobFacebook">Post On Facebook</a></li>
                <li><a href="#" class="jobTwitter">Post On Twitter</a></li>
                <li><a href="#" class="jobLinkedin">Post On Linkedin</a></li>
            </ul>
        </div>
    </div>

    <div class="horizontal-separator"></div>
</div>

<div class="notification-row prototype multiple hidden notificationRow">
    <div class="profile">
        <div class="icon"><img src="/static/images/dummy-face-icon.png"></div>
        <div class="general multipule-profile">
            <a class="name" href="#">Shally Jain</a>
            <div class="meta designationOrganization">Product Manager at Blackbuck</div>
            <div class="meta locationExperience">Delhi, 3y 7m</div>
            <div class="meta  jobDetailsContainer hidden" ><span style="font-weight: 700;">Applied to: </span><span class="jobDetails"></span></div>
        </div>
    </div>
    <div class="profile-detail">
        <div class="profile-row  profession">
            <div class="title">Organization</div>
            <div class="label designationOrganization">Product Manager at Blackbuck</div>
            <div class="label designationExperience">Jun - 2016 to Present</div>
        </div>
        <div class="profile-row education">
            <div class="title">Institute</div>
            <div class="label institute">Inidian Institute of Management, Indore</div>
            <div class="label batch">2012 - 2014</div>
            <div class="label courseType">MBA / PGDM (Full Time)</div>
        </div>
        <div class="profile-row ">
            <div class="title">Applied Job</div>
            <div class="label jobDetails">Senior Analyst - Investment Research - Financial Services Industry - Big4</div>
        </div>
    </div>
    <div class="action-buttons notificatin-buttons">
        <div class="button candidateShortlist" >Shortlist</div>
        <div class="button candidateReject" >Reject</div>
    </div>  
    <div class="horizontal-separator"></div>
</div>

<div class="notification-row multiple prototype hidden seeMoreSection">
     <div class="seeAll see-all"><a class="meta" href="">See More</a><i class="icon-right_arrow"></i></div>
</div>

<div class="interviewRow notification-row prototype hidden">
    <div class="profile">
        <div class="icon">
            <div class="custom-icon">
                <div class="number">21</div>
                <div class="label">Jul</div>
            </div>
        </div>
        <div class="general">
        </div>
    </div>
    <div class="horizontal-separator"></div>
</div>
<div class="row interviewCandidateRow prototype hidden">
    <div class="highlighted-meta">00:00 - 00:30 AM</div>
    <div class="name">Applicant Name <span class="right"><img src="/static/images/edit-icon.png"></span></div>
    <div class="meta designation">Designation</div>
    <div class="meta organization">Company</div>
</div>
<div id="" class="modal unpublishModal hidden">

        <!-- Modal content -->
        <div class="modal_wrapper" >
            <span class="modal_close">&times;</span>
            <div class="modal_header">
                <div class="modal_heading">Unpublish Job</div>
            </div>
            <div class="modal_content">
                <div class="modal_text">Please choose a reason for unpublishing this job</div>
                <div class="section">
                    <div class="radio-input">
                        <input type="radio" id="5" name="unpublishReason">
                        <label for="5">This position has been closed via iimjobs.</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="6" name="unpublishReason">
                        <label for="6">This position has been closed via other channel.</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="2" name="unpublishReason">
                        <label for="2">This position has gone on hold.</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="3" name="unpublishReason">
                        <label for="3">I have received enough responses for this position.</label>
                    </div>
                    <div class="error hidden">please select a reason</div>
                </div>


                <div class="action-buttons"><button class="jobUnpublishButton">Unpublish</button></div>
            </div>

        </div>
    </div>

    <div id="" class="modal refreshModal hidden">

        <!-- Modal content -->
        <div class="modal_wrapper" >
            <span class="modal_close">&times;</span>
            <div class="modal_header">
                <div class="modal_heading">Refresh Job</div>
            </div>
            <div class="modal_content">
                <div class="modal_text">Are you sure you want to refresh this job?</div>
                <div class="section modal_text">
                    When you refresh a job, it is moved to the top.
                </div>
                <div class="action-buttons"><button class="jobRefreshButton">Refresh</button></div>
            </div>
        </div>
    </div>
<div class="toast-notification-container">
    <div class="toast-notification">
        <!-- <div class="notification-icon">
            <img src="/static/images/close-icon.png" />
        </div> -->
        <div class="notification-message">
            <p></p>
        </div>
    </div>
</div>
{{> footer}}
