{{> header }}
<div class="page-content">
    <div class="main-wrapper">
        <div class="container">
            <div class="dashboard">
                    <div class="profile-content">
                        <div class="profile-image">
                            <img src="/static/images/smiley.svg">
                        </div>
                        <div class="profile-details">
                        <div class="sub-profile"><span class="sub-head">Welcome to iimjobs,</span><span class="sub-head"> {{profile.name}}</span>
                            <div class="sub-details">It's time to hire! Here is how you can get started</div>
                        </div>

                    </div>
                    <div class="complete-profile">
                        <p>Complete your profile</p>
                    <div class="connecter">
                        <div class="upload-profile connect">
                                <div class="connect-container">
                                    <div class="image-box">
                                        <img src="/static/images/user.svg">
                                    </div>
                                    <div class="tag-box">
                                        <a>Upload your picture</a>
                                    </div>
                                    <div class="icon-container">
                                            <i class=""></i>
                                    </div>
                                </div>
                        </div>
                        <div class="facebookContainer connect hidden" data-attribute="facebook">
                                <div class="triangle hidden">

                                </div>
                                <div class="icon-container hidden">
                                        <i class="icon-tick"></i>
                                </div>

                            <div class="connect-container">
                                <div class="image-box">
                                    <!-- <img src="/static/images/facebook.png"> -->
                                    <i class="icon-facebook"></i>
                                </div>
                                <div class="tag-box">
                                    <span id="username">{{profile.name}}</span>
                                </div>

                            </div>
                        </div>
                        <div class="linkedinContainer connect" data-attribute="linkedin">
                                <div class="triangle hidden"></div>
                                <div class="icon-container hidden">
                                        <i class="icon-tick"></i>
                                   </div>

                            <div class="connect-container">
                                <div class="image-box">
                                    <!-- <img src="/static/images/linkedin.png"> -->
                                    <i class="icon-linkedin"></i>
                                </div>
                                <div class="tag-box">
                                    <a href="#">Connect with linkedin</a>
                                </div>
                                <div class="icon-container">
                                        <i class=""></i>
                                </div>
                            </div>
                        </div>
                        <div class="twitterContainer connect" data-attribute="twitter">
                            <div class="triangle hidden"></div>
                            <div class="icon-container hidden">
                                    <i class="icon-tick"></i>
                               </div>

                            <div class="connect-container">
                                <div class="image-box">
                                    <!-- <img src="/static/images/twitter.png"> -->
                                    <i class="icon-twitter"></i>
                                </div>
                                <div class="tag-box">
                                    <a href="#">Connect with twitter</a>
                                </div>

                                <div class="icon-container">
                                        <i class=""></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="heading">Start with posting a job</div>
            <div class="dashboard">
                <div class="content">
                    <div class="image-container">
                        <img src="/static/images/listing.svg">
                    </div>
                    <div class="content-wrapper">
                        <div class="content-detail">Reach out to quality candidates across multipule domains and reduce your cost of hiring and the time to hire.</div>
                        <a href="{{staticEndPoints.postJob}}"><div class="post-button">Post Job</div></a>
                    </div>

                </div>
            </div>
            <div class="heading">Hiring for other roles</div>
            <div class="dashboard">
                <div class="tagline">Hiring for roles not suitable for iimjobs.com? Explore our other platforms</div>
                <div class="links">
                    <span class="bullet"><img src="/static/images/bullet-point.png"></span>
                    <span class="details"><a href="https://www.hirist.com" target="_blank">hirist.com</a> -For Tech Jobs</span>
                </div>
                <div class="links">
                    <span class="bullet"><img src="/static/images/bullet-point.png"></span>
                    <span class="details"><a href="https://www.engineeristic.com" target="_blank">engineeristics.com</a> -For manufacturing,Operation & Engineering Jobs</span>
                </div>
                <div class="links">
                    <span class="bullet"><img src="/static/images/bullet-point.png"></span>
                    <span class="details"><a href="https://www.updazz.com" target="_blank">updazz.com</a> -For Sales & Marketing Jobs</span></div>
                <div class="links">
                    <span class="bullet"><img src="/static/images/bullet-point.png"></span>
                    <span class="details"><a href="https://www.biojoby.com" target="_blank">biojoby.com</a> -For Medical,Pharma & Healthcare Jobs</span></div>
            </div>
            <!-- <div class="list">
                    <ul>
                        <li><span class="name">hirist.com </span><span class="description">- For Tech Jobs</span></li>
                        <li><span class="name">updazz.com</span><span class="description">- For Sales &amp; Marketing Jobs</span></li>
                        <li><span class="name">engineeristics.com</span><span class="description">- For Manufacturing, Operation and Engineering Jobs</span></li>
                        <li><span class="name">biojoby.com</span><span class="description">- For Medical, Pharma &amp; Healthcare Jobs</span></li>
                    </ul>
             </div> -->
        </div>
    </div>
</div>
{{> footer}}
