{{> header }}

<div class="page-content">
    <div class="main-wrapper">
        <div class="main-container">
            <div class="container">
                <div class="dashboard">
                    <div class="header-row">
                        <div class="heading"><img src="/static/images/morning-icon.png">Good Morning Arun</div>
                        <div class="sub-heading">It looks busy around here! Good luck for your day ahead. Here is a quick update</div>
                    </div>
                    <div class="block-container">
                        <div class="block">
                            <div class="stats">
                                <div class="number">5</div>
                                <div class="legend">Open jobs</div>
                            </div>
                            <div class="icon"><img src="/static/images/open-jobs-icon.png"></div>
                            <div class="separater"></div>
                        </div><div class="block">
                            <div class="stats">
                                <div class="number">5</div>
                                <div class="legend">New Applications</div>
                            </div>
                            <div class="icon"><img src="/static/images/new-applications-icon.png"></div>
                            <div class="separater"></div>
                        </div><div class="block">
                            <div class="stats">
                                <div class="number">5</div>
                                <div class="legend">Applications waiting for your actions</div>
                            </div>
                            <div class="icon"><img src="/static/images/waiting-applications-icon.png"></div>
                            <div class="separater"></div>
                        </div><div class="block">
                            <div class="stats">
                                <div class="number">5</div>
                                <div class="legend">Shortlisted candidates to be interviewed</div>
                            </div>
                            <div class="icon"><img src="/static/images/shortlisted-icon.png"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="feed-column">
                    <div class="feed-card">
                        <div class="header-row">
                            <div class="heading">Recent JObs</div>
                            <div class="button">See all</div>
                        </div>
                        <div class="detail-card">
                            
                        </div>
                    </div>
                    <div class="feed-card"></div>
                    <div class="feed-card"></div>
                    <div class="feed-card"></div>
                </div>
                <div class="notification-column">
                    <div class="notification-card"></div>
                    <div class="notification-card"></div>
                    <div class="notification-card"></div>
                    <div class="notification-card"></div>
                </div>
            </div>
        </div>
    </div>
  <div class="conversations right"></div>
</div>

{{> footer}}
