{{> header }}
<div class="page-content">
    <div class="container">
        <div class="header-slot">
            <div class="tagline"> Manage Calendar</div>
            <div class="manage-Calendar">Create New Calendar</div>
        </div>
        <div class="wrapper">
                <div class="action">
                    <div class="interview-date">
                        Date Created
                    </div>
                    <div class="calendar-name">
                        Calendar Name
                    </div>
                    <div class="time-slot">
                        Remaining Slots
                    </div>
                </div>    
            <div class="schedule-container">
                <div class="no-data">
                No calendar found!
                </div>
            </div>
        </div>   
    </div> 
    <div class="conversations right">
        {{>chatSidebar}}
    </div> 
</div>
{{> footer }}