{{>header}}
<div class="page-wrap">
        <div class="error-container">
            <div class="error-wrapper">
                    <div class="image-container">
                        <img src="/static/images/error404.png">
                    </div>
                    <div class="content-container">
                        <div class="head">Page not found</div>
                        <div class="sub-head">Unfortunately,the page you are looking for could not be found.</div>
                        <div class="link">
                            <a href="/">Take me back to the homepage</a>
                        </div>
                    </div>
            </div>
        </div>
</div>
{{>footer}}