{{> header}}
<div class="main-container">
    <div class="heading heading-clr">

    </div>
    <div class="jobs_container">
   	    <div class="jobs_header">
   	        <div class="header header_name">Name</div>
   	        <div class="header header_organization" >Organization, Title</div>
   	        <div class="header header_institute">Institute</div>
   	        <div class="header header_more">More</div>
        </div>
        <div class="jobs-wrapper-shell-loader">
            <div class="shell-loaders">
                <div class="content-container">
                	   <div class="content content_name">
                	       <img class="user_img animated-background" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" >
                		   <div class="info">
                			   <div class="important_info user_name animated-background"></div>
                			   <div class="important_info user-experience animated-background"></div>
                			</div>
                			<div class="info">
                				<div class="extra_info user-extra animated-background"></div>

                			</div>
                	   </div>

            		<div class="content content_organization">
                      <div class="important_info name animated-background"></div>
                  	<div class="important_info designation animated-background"></div>
                  	<div class="extra_info experience animated-background"></div>
            		</div>

            		<div class="content content_institute">
                      <div class="important_info name animated-background"></div>
                  	<div class="extra_info degree animated-background"></div>
            		</div>

            		<div class="content content_more">
            			<div class="info">
            				<div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="shell-loaders">
                <div class="content-container">
                     <div class="content content_name">
                         <img class="user_img animated-background" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" >
                         <div class="info">
                             <div class="important_info user_name animated-background"></div>
                             <div class="important_info user-experience animated-background"></div>
                          </div>
                          <div class="info">
                              <div class="extra_info user-extra animated-background"></div>

                          </div>
                     </div>

                  <div class="content content_organization">
                      <div class="important_info name animated-background"></div>
                      <div class="important_info designation animated-background"></div>
                      <div class="extra_info experience animated-background"></div>
                  </div>

                  <div class="content content_institute">
                      <div class="important_info name animated-background"></div>
                      <div class="extra_info degree animated-background"></div>
                  </div>
                    
                  <div class="content content_more">
                      <div class="info">
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="jobs_wrapper">

        </div>
    </div>
</div>

<div class="jobs_content prototype hidden">
	<div class="content-container">
		<div class="content content_name">

			<img class="user_img" src="../static/img/tree.jpg" onerror="this.src='http://www.iimjobs.com/resources/img/user_profile_new.png';">
			<div class="info">
				<div class="important_info user_name">Nitish</div>
				<div class="important_info"><span>Experience: </span><span class="user_experience">3y 6m</span></div>
				<div class="important_info"><span>Location: </span><span class="current_location">Delhi</span></div>
				<div class="important_info">Immediately Available</div>
			</div>
			<div class="info">
				<div class="extra_info"><span class="user_sex">Male </span>, <span class="user_age">29 </span><span> years</span></div>
				<div class="extra_info"><span>Applied: </span><span class="applied_date">15-05-2016</span></div>
			</div>
		</div>

		<div class="content content_organization">
		</div>

		<div class="content content_institute">

		</div>

		<div class="content content_more">
        </div>
    </div>
</div>


<div class="info organization prototype hidden">
	<div class="important_info name">Axis Bank</div>
	<div class="important_info designation">Software Developer</div>
	<div class="extra_info experience">Jun - 2015 to Present</div>
</div>
<div class="info institute prototype hidden">
	<div class="important_info name">Birla Institute of Technology and Science (BITS), Pilani</div>
	<div class="extra_info "><span class="start_duration">2008</span> - <span class="end_duration">2012</span></div>
	<div class="extra_info degree">B Tech / BE (Full Time)</div>
</div>

{{> footer}}
