{{> header}}
<div class="main-container">
    <div class="top-container hidden">
        <div class="tag-heading-container hidden">
            <div class="heading heading-clr"></div>
            <a href="" class="button" id="download-excel">Download Excel</a>
        </div>
        <div class="solar-search-container hidden">
            <input type="text" class="solar-search">
        </div>

    </div>
    <div class="saved-shortlisted-container hidden">
        <div class="heading heading-clr">All Shortlisted/Saved Candidates</div>
        <div class="select-options">
            View:
            <select>
                <option value="">Shortlisted/Saved</option>
                <option value="3">Shortlisted</option>
                <option value="1">Saved</option>
            </select>
        </div>
    </div>

    <div class="jobs_container">
   	    <div class="jobs_header">
   	        <div class="header header_name">Name</div>
   	        <div class="header header_organization" >Organization, Title</div>
   	        <div class="header header_institute">Institute</div>
   	        <div class="header header_more">More</div>
        </div>
        <div class="jobs-wrapper-shell-loader">
            <div class="shell-loaders">
                <div class="content-container">
                	   <div class="content content_name">
                	       <img class="user_img animated-background" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" >
                		   <div class="info">
                			   <div class="important_info user_name animated-background"></div>
                			   <div class="important_info user-experience animated-background"></div>
                			</div>
                			<div class="info">
                				<div class="extra_info user-extra animated-background"></div>

                			</div>
                	   </div>

            		<div class="content content_organization">
                      <div class="important_info name animated-background"></div>
                  	<div class="important_info designation animated-background"></div>
                  	<div class="extra_info experience animated-background"></div>
            		</div>

            		<div class="content content_institute">
                      <div class="important_info name animated-background"></div>
                  	<div class="extra_info degree animated-background"></div>
            		</div>

            		<div class="content content_more">
            			<div class="info">
            				<div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="shell-loaders">
                <div class="content-container">
                     <div class="content content_name">
                         <img class="user_img animated-background" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" >
                         <div class="info">
                             <div class="important_info user_name animated-background"></div>
                             <div class="important_info user-experience animated-background"></div>
                          </div>
                          <div class="info">
                              <div class="extra_info user-extra animated-background"></div>

                          </div>
                     </div>

                  <div class="content content_organization">
                      <div class="important_info name animated-background"></div>
                      <div class="important_info designation animated-background"></div>
                      <div class="extra_info experience animated-background"></div>
                  </div>

                  <div class="content content_institute">
                      <div class="important_info name animated-background"></div>
                      <div class="extra_info degree animated-background"></div>
                  </div>

                  <div class="content content_more">
                      <div class="info">
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="shell-loaders">
                <div class="content-container">
                     <div class="content content_name">
                         <img class="user_img animated-background" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA" >
                         <div class="info">
                             <div class="important_info user_name animated-background"></div>
                             <div class="important_info user-experience animated-background"></div>
                          </div>
                          <div class="info">
                              <div class="extra_info user-extra animated-background"></div>

                          </div>
                     </div>

                  <div class="content content_organization">
                      <div class="important_info name animated-background"></div>
                      <div class="important_info designation animated-background"></div>
                      <div class="extra_info experience animated-background"></div>
                  </div>

                  <div class="content content_institute">
                      <div class="important_info name animated-background"></div>
                      <div class="extra_info degree animated-background"></div>
                  </div>

                  <div class="content content_more">
                      <div class="info">
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                          <div class="icon animated-background"></div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="jobs_wrapper">

        </div>
    </div>
</div>

<div class="jobs_content prototype hidden">
	<div class="content-container">
		<div class="content content_name">

			<img class="user_img" src="../static/img/tree.jpg" onerror="this.src='http://www.iimjobs.com/resources/img/user_profile_new.png';">
			<div class="info">
				<div class="important_info user_name">Nitish</div>
				<div class="important_info"><span>Experience: </span><span class="user_experience">3y 6m</span></div>
				<div class="important_info"><span>Location: </span><span class="current_location">Delhi</span></div>

			</div>


		</div>

		<div class="content content_organization">
		</div>

		<div class="content content_institute">

		</div>

		<div class="content content_more">
            <div class="info">
               <div class="extra_info"><span class="user_sex">Male </span>, <span class="user_age">29 </span><span> years</span></div>
               <div class="notice-period extra_info"></div>
               <!-- <div class="extra_info"><span>Applied: </span><span class="applied_date">15-05-2016</span></div> -->
           </div>
           <div class="icons-status info hidden">
               <!-- <a href="" class="icon" data-attribute="1"><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Shortlist</span></a>
               <a href="" class="icon" data-attribute="2"><i class="fa fa-ban" aria-hidden="true"></i><span>Reject</span></a>
               <a href="" class="icon" data-attribute="3"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save for future use</span></a>
               <a href="" class="icon" data-attribute="4"><i class="fa fa-eye" aria-hidden="true"></i><span>View Profile</span></a>
               <a href="" class="icon" data-attribute="5"><i class="fa fa-download" aria-hidden="true"></i><span>Download Resume</span></a> -->
               <!-- <a href="" class="icon"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Cover Letter</span></a> -->
               <!--<a href="" class="icon"><i class="fa fa-comment" aria-hidden="true"></i><span>Comment</span></a>
               <a href="" class="icon"><i class="fa fa-mobile" aria-hidden="true"></i><span>Contact information</span></a>
               <a href="" class="icon"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></a> -->
           </div>
        </div>
    </div>
    <div class="applied-jobs-container-show hidden">
        <div class="slide-container ">

        </div>
        <div class=" applied-jobs-container hidden">
            <button class="button list-all-applied-jobs "></button>
        </div>
    </div>

</div>


<div class="info organization prototype hidden">
	<div class="important_info name">Axis Bank</div>
	<div class="important_info designation">Software Developer</div>
	<div class="extra_info experience">Jun - 2015 to Present</div>
</div>
<div class="info institute prototype hidden">
	<div class="important_info name">Birla Institute of Technology and Science (BITS), Pilani</div>
	<div class="extra_info "><span class="start_duration">2008</span> - <span class="end_duration">2012</span></div>
	<div class="extra_info degree">B Tech / BE (Full Time)</div>
</div>

{{> footer}}
