<div class="footer">

	<div class="footer-column-container">
		<div class="footer-column">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a href="#">Home</a></li>
				<li class="footer-link-item"><a href="#">About Us</a></li>
				<li class="footer-link-item"><a href="#">Contact</a></li>
				<li class="footer-link-item"><a href="#">Blog</a></li>
			</ul>
		</div>

		<div class="footer-column">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a href="#">Sitemap</a></li>
				<li class="footer-link-item"><a href="#">FAQ</a></li>
				<li class="footer-link-item"><a href="#">Privacy</a></li>
			</ul>
		</div>

		<div class="footer-column">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a href="#">Refund</a></li>
				<li class="footer-link-item"><a href="#">Terms</a></li>
			</ul>
		</div>

		<div class="footer-column">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a href="#">hirist.com - IT Jobs</a></li>
				<li class="footer-link-item"><a href="#">engineeristic.com - Engineering Jobs</a></li>
				<li class="footer-link-item"><a href="#">updazz.com - Sales Jobs</a></li>
				<li class="footer-link-item"><a href="#">biojoby.com - Medical Jobs</a></li>
			</ul>
		</div>
	</div>

	<div class="footer-social-media">
		<div class="social-media-icon facebook"><img src="/static/images/facebook_logo.svg"></div>
		<div class="social-media-icon linkedin"><img src="/static/images/linkedin_logo.svg"></div>
		<div class="social-media-icon twitter"><img src="/static/images/twitter_logo.svg"></div>
	</div>

	<div class="footer-copy-text">
		<p> iimjobs &copy; 2017. All rights reserved.</p>
	</div>
<!-- 	<nav>
			<ul class="menu">
				<li class="menu_link"><a href="#">Home</a></li>
				<li class="menu_link"><a href="#">About Us</a></li>
				<li class="menu_link"><a href="#">Contact</a></li>
				<li class="menu_link"><a href="#">Sitemap</a></li>
				<li class="menu_link"><a href="#">FAQ</a></li>
				<li class="menu_link"><a href="#">Privacy</a></li>
				<li class="menu_link"><a href="#">Refund</a></li>
				<li class="menu_link"><a href="#">Terms</a></li>
				<li class="menu_link"><a href="#">Blog</a></li>
				<li class="menu_link"><a href="#">hirist.com-IT Jobs</a></li>
			</ul>

	</nav> -->

</div>
</body>
{{#scripts.length}}
	{{#scripts}}
		<script type="text/javascript" src="/{{.}}"></script>
	{{/scripts}}
{{/scripts.length}}

<script type="text/javascript" src="https://static.iimjobs.com/pub_chat/v4/pubnub.4.1.1.min.js"></script>
<script src="../../static/js/chat-sticky.js"></script>
<script src="../../static/js/chat-pubnub-sticky.js"></script>

<script src="https://use.fontawesome.com/6eabda8944.js"></script>
</html>
