<div class="footer">

	<div class="footer-column-container">
		<div class="footer-column">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a class="homeLink" href="/">Home</a></li>
				<li class="footer-link-item"><a href="/about-us">About Us</a></li>
				<li class="footer-link-item"><a href="/contact-us">Contact</a></li>

			</ul>
		</div>

		<div class="footer-column">
			<ul class="footer-links-list">
					<li class="footer-link-item"><a href="https://blog.iimjobs.com/">Blog</a></li>
				<!-- <li class="footer-link-item"><a href="#">Sitemap</a></li>
				<li class="footer-link-item"><a href="#">FAQ</a></li> -->
				<li class="footer-link-item"><a href="/privacy">Privacy</a></li>
			</ul>
		</div>

		<div class="footer-column">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a href="/refund">Refund</a></li>
				<li class="footer-link-item"><a href="/terms-condition">Terms</a></li>
			</ul>
		</div>

		<div class="footer-column platforms">
			<ul class="footer-links-list">
				<li class="footer-link-item"><a href="https://www.hirist.com" target="_blank">hirist.com - IT Jobs</a></li>
				<li class="footer-link-item"><a href="https://www.engineeristic.com" target="_blank">engineeristic.com - Engineering Jobs</a></li>
				<li class="footer-link-item"><a href="https://www.updazz.com" target="_blank">updazz.com - Sales Jobs</a></li>
				<li class="footer-link-item"><a href="https://www.biojoby.com" target="_blank">biojoby.com - Medical Jobs</a></li>
			</ul>
		</div>
	</div>

	<div class="footer-social-media">
		<div class="social-media-icon facebook"><a href="https://www.facebook.com/iimjobs/"><i class="icon-facebook"></i></a></div>
		<div class="social-media-icon linkedin"><a href="https://www.linkedin.com/company/iimjobs.com/"><i class="icon-linkedin"></i></a></div>
		<div class="social-media-icon twitter"><a href="https://twitter.com/iimjobs"><i class="icon-twitter"></i></a></div>
	</div>

	<div class="footer-copy-text">
		<p> iimjobs.com &copy; 2018. All rights reserved.</p>
	</div>
<!-- 	<nav>
			<ul class="menu">
				<li class="menu_link"><a href="#">Home</a></li>
				<li class="menu_link"><a href="#">About Us</a></li>
				<li class="menu_link"><a href="#">Contact</a></li>
				<li class="menu_link"><a href="#">Sitemap</a></li>
				<li class="menu_link"><a href="#">FAQ</a></li>
				<li class="menu_link"><a href="#">Privacy</a></li>
				<li class="menu_link"><a href="#">Refund</a></li>
				<li class="menu_link"><a href="#">Terms</a></li>
				<li class="menu_link"><a href="#">Blog</a></li>
				<li class="menu_link"><a href="#">hirist.com-IT Jobs</a></li>
			</ul>

	</nav> -->

</div>
</body>
<script src="https://use.fontawesome.com/6eabda8944.js"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.2.js"></script>
{{#scripts.length}}
	{{#scripts}}
		<script type="text/javascript" src="/{{.}}"></script>
	{{/scripts}}
{{/scripts.length}}

<!-- <script type="text/javascript" src="https://static.iimjobs.com/pub_chat/v4/pubnub.4.1.1.min.js"></script>
<script src="../../static/js/chat-sticky.js"></script>
<script src="../../static/js/chat-pubnub-sticky.js"></script> -->
<script>
var oldIE;
if ($('html').is('.lt-ie7, .lt-ie8, .lt-ie9')) {
	oldIE = true;
}

if (oldIE) {
	console.log("oldIE")
} else {
	console.log("newIE")
}
</script>
</html>
