<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="/{{.}}">
    	{{/styles}}
	{{/styles.length}}

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans:400,700|Noto+Sans" rel="stylesheet">
	<link href="../../static/css/chat-sticky.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 

	<script type="text/javascript">
		var baseUrl = '{{baseUrl}}';
		var userID = '{{userID}}';
		var jobID = '{{jobID}}';
		var baseDomain = '{{baseDomain}}';
		var baseUrlJob = '{{baseUrlJob}}';
		var jobId = '{{jobId}}';
		var recruiterId= '{{profile.id}}';
		var profile  = {
			name: '{{profile.name}}',
			email: '{{profile.email}}',
			pic: '{{profile.img_link}}',
			availableCredits: '{{profile.availableCredits}}',
			organisation: '{{profile.organisation}}',
			phone: '{{profile.phone}}',
			about: '{{profile.about}}',
			wurl: '{{profile.wurl}}',
			turl: '{{profile.turl}}',
			furl: '{{profile.furl}}',
			lurl: '{{profile.lurl}}',
			designation: '{{profile.designation}}',
			rurl: '{{profile.rurl}}',
			img_link: '{{profile.img_link}}',
			location: '{{profile.location}}',
			notificationEmail: '{{profile.notificationEmail}}'
		}
		var applicationId= '{{applicationId}}'
		var uuid = '{{uuid}}'
	</script>
</head>
<body>

	<div class="header">
		<div class="mobile-menu header_item">
			<img src="/static/images/hamburger.svg">
		</div>
		<div class="domain_logo header_item">
			<a href="/">
				<h1>{{baseDomain}}</h1><span>.com</span>
				<p class="logo_tagline">Hire better. Hire Faster.</p>
			</a>
		</div>
		<div class="navigation header_item">
			<ul class="menu-listing">
				<li class="menu-list-item my-jobs"><a href="/my-jobs">My Jobs</a></li>
				<li class="menu-list-item search-resume"><a href="javscript:void(0);">Search Resume</a></li>
				<li class="menu-list-item interviews"><a href="javscript:void(0);">Interviews</a></li>
				<li class="menu-list-item reports"><a href="/reports">Reports</a></li>
			</ul>
		</div>
		<div class="profile_actions right header_item">
			<div class="search action-icon">
				<img src="/static/images/search_icon.svg">
			</div>
			<div class="messages action-icon">
				<a href="/my-chat">
					<img src="/static/images/chat_icon.svg">
				</a>
			</div>
			<div class="notifications action-icon">
				<img src="/static/images/notification_icon.svg">
			</div>
			<div class="profile action-icon">
				<img class="user_img" src="/static/images/profile-image.svg">
				<div class="profile-menu">
					<div class="profile-header">
						<p class="user-name user_name" id="">Arun Kumar</p>
						<p class="user-email user_email" id="">arun.kumar@gmail.com</p>
					</div>
					<div class="profile-body">
						<ul class="profile-item-listing">
							<li>Basic Account <span class="upgrade">Buy Premium</span></li>
							<li class="settings"><a href="/settings">Account Settings</a></li>
							<li class="logout"><a href="/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mobile-menu-container hidden">

		<div class="mobile-menu-content">
			<div class="mobile-logo mobile-menu-item left">
				<div class="domain_logo header_item">
					<a href="/">
						<h1>updazz</h1><span>.com</span>
						<p class="logo_tagline">Hire better. Hire Faster.</p>
					</a>
				</div>
			</div>
			<div class="close-mobile-menu mobile-menu-item right">
				<span><i class="icon-close_icon"></i></span>
			</div>
			<div class="clearfix"></div>
		    <div class="menu-link-listing mobile-menu-item">
		    	<ul>
		    		<a href="/"><li class="menu-list-item my-jobs">Dashboard</li></a>
		    		<a href="/my-jobs"><li class="menu-list-item my-jobs">My Jobs</li></a>
					<a href="javscript:void(0);"><li class="menu-list-item search-resume">Search Resume</li></a>
					<a href="javscript:void(0);"><li class="menu-list-item interviews">Interviews</li></a>
					<a href="/reports"><li class="menu-list-item reports">Reports</li></a>
		    	</ul>
			</div>

			<div class="mobile-profile-section">
				<div class="profile-image left">
					<img class="user_img" src="/static/images/profile-image.svg">
				</div>
				<div class="profile-info right">
					<p class="profile-name user_name" id="">Arun Kumar</p>
					<p class="profile-email user_email">arun.kumar@gmail.com</p>
				</div>
			</div>

			<div class="mobile-profile-actions">
				<ul class="profile-item-listing">
					<a href="#"><li>Basic Account <span class="upgrade button white">Buy Premium</span></li></a>
					<a href="/settings"><li class="settings">Account Settings</li></a>
					<a href="/logout"><li class="logout">Logout</li></a>
				</ul>
			</div>
		</div>
	</div>


	<div class="body-overlay hidden">
	</div>
