<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> -->
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="/{{.}}">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    	{{/styles}}
	{{/styles.length}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>

	<div class="top_banner">
		<div class="logo">
			<h3>iimjobs</h3><span>.com</span>
		</div>
		<div class="user_profile_side">
			<li class="dropdown">
				<a class="email" href="#">Kartik@iimjobs.com</a>
				<ul class="options hidden box_shadow">
					<li><a href="#">My Profile</a></li>
					<hr class="seperator">
					<li><a href="#">My chat</a></li>
					<hr class="seperator">
					<li><a href="#">Settings/ Edit Profile</a></li>
					<hr class="seperator">
					<li><a href="#">Basic Posting(unlimited)</a></li>
					<hr class="seperator">
					<li><a href="#">Premium Posting(0)</a></li>
					<hr class="seperator">
					<li><a href="#">Change Password</a></li>
					<hr class="seperator">
					<li><a href="#">Logout</a></li>

				</ul>
			</li>
		</div>

	</div>

<!-- navigation menu -->
	<nav>
			<ul class="menu" id="menu">
				<li class="menu_link"><a href="javascript:void(0);" onclick="openMenu()"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
				<li class="menu_link"><a href="#">My Jobs</a></li>
				<li class="menu_link"><a href="#">Post Jobs</a></li>
				<li class="menu_link"><a href="#">Reports</a></li>
				<li class="menu_link"><a href="#">My Chat</a></li>
				<li class="menu_link dropdown">
					<a href="#">My Calendar</a>
					<ul class="options hidden box-shadow">
						<li><a href="#">Manage Bookings</a></li>
						<li><a href="#">View Booked Slots</a></li>
					</ul>
				</li>
				<li class="menu_link"><a href="#">Search Resume Database</a></li>
				<li class="menu_link dropdown">
					<a href="#">More</a>
					<ul class="options hidden box-shadow">
						<li><a href="#">Showcase Followers</a></li>
						<li><a href="#">My Tags</a></li>
						<li><a href="#">Saved/Shortlisted Candidates</a></li>
					</ul>
				</li>
			</ul>
			<div class="search_container">
				<input type="text" class="searchform" placeholder="Search"/>
			</div>

	</nav>
<!-- end navigation menu -->

</header>
