{{>header}}
<div class="page-wrap">
        <div class="error-container">
            <div class="error-wrapper">
                    <div class="image-container">
                        <img src="/static/images/iescreen.png">
                    </div>
                    <div class="content-container">
                        <div class="head">This browser version is not supported</div>
                        <div class="sub-head">
                            <span>To use</span>
                            <span class="link"><a href="http://recruiter.iimjobs.com/">recruiter.iimjobs.com</a></span>
                            <span>,please upgrade your browser to IE 10 or above or you can use our legacy version on</span>
                            <span class="link"><a href="https://www.iimjobs.com/recruiter/login.php">iimjobs.com/recruiter</a></span>
                        </div>
                    </div>
            </div>
        </div>
</div>
{{>footer}}