{{> header }}

<div class="main_container">
  <div class="job_posting">
  <div class="post_job">
   <form action="">
     <div class="label">
      <label for="tile">Title</label>
    </div>
    <div class="field">
     <input type="text" id="title" name="job_title" placeholder="Job Title..">
   </div>
   <div class="label">
    <label for="location">Location</label>
  </div>
  <div class="field">
    <input type="text" id="location" name="location" placeholder="location..">
  </div>
   <div class="label">
    <label for="category">Cattegory</label>
  </div>
  <div class="field">
    <select id="category" name="category">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
  </div>
  <div class="label">
    <label for="industry" class="industry">Industry</label>
  </div>
    <div class="field">
    <select id="industry" name="industry" multiple="">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
  </div>
    <div class="label">
    <label for="functional_area">Functional Area</label>
    </div>
    <div class="field">
    <select id="functional_area" name="functional_area">
      <option value="australia">Accounting</option>
      <option value="canada">Administration</option>
      <option value="usa">USA</option>
    </select>
  </div>
   <div class="label">
     <label for="salary">Salary</label>
    </div>
    <div class="field">
      <input type="text" id="salary" name="min_salary" placeholder="Min Salary..">
<p>
Min (in lakhs per annum)</p>

    <input type="text" id="" name="max_salary" placeholder="Max Salary..">
    <p>
    Min (in lakhs per annum)</p>
    <input type="checkbox">

  </div>

  <div class="label">
    <label for="experience">Years of experience</label>
  </div>
  <div class="field">
    <select class="exp" id="experience" name="experience">

      <option value="australia">Accounting</option>
      <option value="canada">Administration</option>
      <option value="usa">USA</option>
    </select>
    <select class="exp" id="experience" name="experience">
      <option value="australia">Accounting</option>
      <option value="canada">Administration</option>
      <option value="usa">USA</option>
    </select>
  </div>

  <div class="label">
    <label for="graduating_year">Graduating Year</label>
  </div>
  <div class="field">
    <select class="exp" id="experience" name="experience">

      <option value="australia">Accounting</option>
      <option value="canada">Administration</option>
      <option value="usa">USA</option>
    </select>
    <select class="exp" id="experience" name="experience">
      <option value="australia">Accounting</option>
      <option value="canada">Administration</option>
      <option value="usa">USA</option>
    </select>
  </div>

<div class="label">
    <label for="location">Location</label>
  </div>
    <input type="text" id="location" name="location" placeholder="location..">
<div class="label">
    <label for="location">Location</label>
  </div>
    <input type="text" id="location" name="location" placeholder="location..">

    <input type="submit" value="Submit">
  </form>
</div>

<div class="tags">
</div>
</div>
</div>

{{> footer}}
