{{> header }}
<!-- user profile section -->
 <div class="user_profile ">
   <!-- user image -->
   <div class="image ">
    <div class="edit_profile animated-background">
        <img class="thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA">
        <i id="edit-pencil" class=" fa fa-pencil" aria-hidden="true"></i>
    </div>
   </div>

   <!-- end user image -->

   <!-- user details -->
   <div class="user_details">
       <div class="user_information">
           <div class="user_name animated-background font-lg"></div>
           <div class="user_designation animated-background"></div>
       </div>
       <hr class="divider hidden">
       <div class="user-about animated-background font-sm extra-info-color"></div>
       <div class="edit_profile">
           <button id="edit-profile"><i class="fa fa-pencil" aria-hidden="true"></i></button>
       </div>
       <div class="social-buttons-container">
           <div class="social-buttons-not-connected">
               <!-- <button class="button">Linked In</button>
               <button class="button">Twitter</button>
               <button class="button">Facebook</button> -->
           </div>
           <div class="social-buttons-connected">
               <!-- <button class="button">Linked In</button>
               <button class="button">Twitter</button>
               <button class="button">Facebook</button> -->
           </div>
       </div>

   </div>




   <!-- end user details -->

   <!-- stats -->
   <div class="bottom_information" >
       <a href="" class="link-color profile_link animated-background"></a>
       <div class="extra_info">
           <div class="viewed animated-background font-sm"></div>
           <div class="last_login animated-background font-sm"></div>
       </div>
   </div>
   <!-- end stats -->
 </div>
 <!-- end user profile section -->

<!-- jobs posted section -->
  <div role="tabpanel" class="jobs_panel">
    <span class="panel_heading text-clr">Jobs Posted<a href="javascript:void(0)" id="posting-guidelines" class="link-color guidelines">(Posting Guidelines)</a></span>
    <div class="jobs_container">
      <div class="jobs_header">
        <span class="date">Date</span>
        <span class="title">Title</span>
        <span class="status">Status</span>
        <span class="views">Views</span>
        <span class="action">Action</span>
      </div>
  </div>
 </div>
 <div class="jobs_content prototype hidden">
        <span class="date">Date</span>
        <span class="title">Title</span>
        <span class="status"></span>
        <span class="views">Views</span>
        <span class="action"></span>
        <div id="modal-rejected" class="modal-rejected modal hidden animated fadeIn bg-overlay">
            <!-- Modal content -->

            <div class="modal-content ">
                <div class="modal-header">
                    <span class="modal-heading ">Why Rejected</span>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-center">
                    <div class="list">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="button close-modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  <!-- end jobs posted section -->

  <div id="modal-guidelines" class="modal hidden animated fadeIn bg-overlay">
      <!-- Modal content -->

      <div class="modal-content ">
          <div class="modal-header">
              <span class="modal-heading">Posting Guidelines</span>
              <span class="close">&times;</span>
          </div>
          <div class="modal-center">
              <div class="list">
                  <ul>
                      <li>Job Title (Max 40 characters including years of experience)</li>
                      <li>Location</li>
                      <li>Years of experience</li>
                      <li>Category</li>
                      <li>Contact mail ID</li>
                  </ul>
              </div>
              <div class="heading">Few Guidelines</div>
              <div class="list">
                  <ul>
                      <li>Proper formatting of text/content of the posting with clear spaces
                          and standard bullets (-) to be used.</li>
                      <li>No short forms/abbreviations to be used in the text</li>
                      <li>Correct mail ID to be included at the end of the posting</li>
                      <li>No spelling mistakes in the content</li>
                      <li>JD should be concise and crisp - to the point</li>
                  </ul>
              </div>
              <div class="list">
                  <div>For any clarifications/queries/doubts, please contact -</div>
                  <div class="contact-person">Aayam Khanna - <span class="text-clr">011-65655702</span></div>
              </div>
          </div>
          <div class="modal-footer">
              <button class="button close-modal">Close</button>
          </div>
      </div>
  </div>

  <div id="chat-div" class="chat-div">
      <div class="chat-div-header">
          Inbox<span class="minus-icon"></span>
      </div>
      <div class="chat-div-content">

      </div>
  </div>
  <div class="chat-candidate-boxes">

  </div>

  <div class="chat-div-candidate prototype hidden">
      <div class="chat-div-header">
          <div class="candidate-name-container">
              <div class="candidate-name">

              </div>
              <div class="last-active-date">

              </div>
          </div>
          <div class="info-buttons">
              <span class="info-icon"><i class=" fa fa-info" aria-hidden="true"></i></span>
              <span class="minus-icon"><i class="fa fa-minus" aria-hidden="true"></i></span>
              <span class="close-icon"><i class=" fa fa-times" aria-hidden="true"></i></span>
          </div>
      </div>
      <div class="content-footer-container">
          <div class="chat-div-content">

          </div>
          <div class="footer">
              <input id="chat-input" type="text" placeholder="Write a Message">
          </div>
      </div>

  </div>

<div id="chat-collapsed-container">
    <div class="chat-collapsed-candidate-container hidden">
        <div class="chat-collapsed-candidate">
            <div class="chat-collapsed-candidate-wrapper">

            </div>
        </div>

    </div>
</div>


  <div class="candidate-card prototype hidden">
      <div class="candidate-image animated-background"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA"></div>
      <div class="candidate-info">
          <div class="candidate-name animated-background text-clr font-md"></div>
          <div class="candidate-designation animated-background extra-info-color font-sm"></div>
      </div>
      <!-- <div class="remove-candidate extra-info-color"><i class="fa fa-times" aria-hidden="true"></i></div> -->
  </div>
  <hr class="divider divider-full">

  <div class="candidate-collapsed-block prototype hidden">

  </div>


  <a href="" class="linked-in hidden"><img src="https://static.iimjobs.com/resources/images/in1.png" alt=""></a>
  <a href="" class=" social-links twitter hidden"><img src="https://static.iimjobs.com/resources/images/twtrnew.png" alt=""></a>
  <a href="" class="social-links facebook hidden"><img src="https://static.iimjobs.com/resources/images/fbnew.png" alt=""></a>
{{> footer }}
