{{> header }}
<!-- user profile section -->
 <div class="user_profile box_shadow">
   <!-- user image -->
   <div class="image ">
    <div class="edit_profile animated-background">
        <img class="thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA">
    </div>
   </div>

   <!-- end user image -->

   <!-- user details -->
   <div class="user_details">
       <div class="user_information">
           <div class="user_name animated-background font-lg"></div>
           <div class="user_designation animated-background font-sm extra-info-color"></div>
       </div>
       <div class="edit_profile animated-background">
           <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
       </div>
       <div class="social_buttons">
           <button class="button">Linked In</button>
           <button class="button">Twitter</button>
           <button class="button">Facebook</button>
       </div>
   </div>
   <!-- end user details -->

   <!-- stats -->
   <div class="bottom_information" >
       <a href="#" class="link-color font-md profile_link animated-background"></a>
       <div class="extra_info">
           <div class="viewed animated-background font-sm"></div>
           <div class="last_login animated-background font-sm"></div>
       </div>
   </div>
   <!-- end stats -->
 </div>
 <!-- end user profile section -->

<!-- jobs posted section -->
  <div role="tabpanel" class="jobs_panel">
    <span class="panel_heading text-clr">Jobs Posted<a href="javascript:void(0)" id="posting-guidelines" class="link-color guidelines">Posting Guidelines</a></span>
    <div class="jobs_container">
      <div class="jobs_header">
        <span >Date</span>
        <span >Title</span>
        <span >Status</span>
        <span>Views</span>
        <span>Action</span>
      </div>
  </div>
 </div>
 <div class="jobs_content prototype hidden">
        <span class="date">Date</span>
        <span class="title">Title</span>
        <span class="status">Status</span>
        <span class="views">Views</span>
        <span class="action">Action</span>
    </div>
  <!-- end jobs posted section -->

  <div class="modal hidden">
      <!-- Modal content -->

      <div class="modal-content">
          <div class="modal-header">
              <span class="modal-heading">Posting Guidelines</span>
              <span class="close">&times;</span>
          </div>
          <div class="modal-center">
              <div class="list">
                  <ul>
                      <li>Job Title (Max 40 characters including years of experience)</li>
                      <li>Location</li>
                      <li>Years of experience</li>
                      <li>Category</li>
                      <li>Contact mail ID</li>
                  </ul>
              </div>
              <div class="heading">Few Guidelines</div>
              <div class="list">
                  <ul>
                      <li>Proper formatting of text/content of the posting with clear spaces
                          and standard bullets (-) to be used.</li>
                      <li>No short forms/abbreviations to be used in the text</li>
                      <li>Correct mail ID to be included at the end of the posting</li>
                      <li>No spelling mistakes in the content</li>
                      <li>JD should be concise and crisp - to the point</li>
                  </ul>
              </div>
              <div class="list">
                  <div>For any clarifications/queries/doubts, please contact -</div>
                  <div>Aayam Khanna - 011-65655702</div>
              </div>
          </div>
      </div>
  </div>
 
{{> footer }}
