{{> header }}

<div class="toast-notification-container">
	<div class="toast-notification">
		<!-- <div class="notification-icon">
			<img src="/static/images/close-icon.png" />
		</div> -->
		<div class="notification-message">
			<p></p>
		</div>
	</div>
</div>

<div class="wrap">
	<p class="headings"> Create Calendar</p>
	<div class="container">
			<div class="form">
					<span class="details">Basic Details</span>
					<div class="loader-container {{hiddenLoader}}">
							<div class="loader-content">

								<div class="loading loaderScroller" style="margin-top:20px ">
										<div class="loader loader-scroller"></div>
								</div>
							</div>
					</div>
					<div class="form-container {{hiddenClass}} ">
						<div class="row-separator"></div>
						<div class="input-name">
							<div class="tag">Name</div>
							<textarea name="FirstName" id="name" placeholder="Give your calendar a name" ></textarea>
							<div class="error"></div>
						</div>
						<div class="message">
							<div class="tag">Message for F2F Interview</div>
								<div class="field">
									<textarea type="text" id="message"  placeholder="Tell the candidate your address, office location" ></textarea>
									<div class="error"></div>
								</div>

						</div>
						<div class="telephonic">
							<div class="tag">Message for Telephonic Interview</div>
							<div class="field">
								<textarea type="text" id="telephonic" placeholder="Tell the candidate your phone number" ></textarea>
								<div class="error"></div>
							</div>

						</div>
				    </div>
			</div>
		<div class="Availability {{hiddenClass}} ">
			<div class="heading">Availability</div>
				<!-- <div class="sub_heading">
				<span>Connect With Google</span>
				<p>Integrate your Google account,to add your booked interviews on your google calender and check availability to avoid double bookings.</p>

				</div>  -->
				<!-- <div class="connect">
				<img src="/static/images/goggle.png">
				<div class="connecting">Connect with Google</div>
				</div>  -->
		</div>
	</div>

	<div class="second-container {{hiddenClass}} ">
		<div  class="available-hours"> <!left-->
			<div class="Days-available">
				<span id="available-span">Available Hours</span>
				<p>Select the time during which you are available</p>

				<div class="table" id="example">
						<div class="error"></div>
					<div class="D-avail">
						<div id="one">DAYS AVAILABLE</div>
						<div id="two">START TIME</div>
						<div id="three">END TIME</div>
					</div>
					<div class="dayId" id="1" slotId="">
						<div class="day" id="">
							<div class="section">
								<div class="check-input">
									<div id="Check-span">DAYS AVAILABLE</div>
									<input type="checkbox" id="check-button-mon" class="check-button highlighter">
									<label for="check-button-mon">MON</label>
								</div>
							</div>
						</div>
						<div class="time-section" id="First">
							<span class="section-one">
								<span id="Checkin">START TIME</span>
								<select class="select-dropdown Start-time start highlighter initialstart" id="selectElementId-1" >
									<div class="dropdown-list">
										<option value="0" selected>Select</option>

									</div>
								</select>
							</span>
							<span class="timer">to</span>
							<span class="section-one">
								<span id="Checkin">END TIME</span>
								<select class="select-dropdown End-time end highlighter initialend" id="selectElementId-2" >
										<div class="dropdown-list">
											<option value="0" selected>Select</option>

										</div>
								</select>
							</span>
							<div class="button-container">
								<button type="button" id="selectAll" class="copyToAll" >Copy to All</button>
							</div>
							<div class="error-slot"></div>
						</div>
					</div>
					<div class="dayId" id="2" slotId="">
						<div class="day" id="">
								<div class="section">
									<div class="check-input">
										<span id="Check-span">DAYS AVAILABLE</span>
										<input type="checkbox" id="check-button-tues" class="check-button highlighter">
										<label for="check-button-tues">TUES</label>
									</div>
								</div>
						</div>
						<div class="time-section" id="Second">
							<span class="section-one" >
									<span id="Checkin">START TIME</span>
								<select class="select-dropdown  Start-time start highlighter">
									<div class="dropdown-list">
										<option value="0" selected>Select</option>

									</div>
								</select>
							</span>
							<span class="timer">to</span>
							<span class="section-one">
									<span id="Checkin">END TIME</span>
								<select class="select-dropdown End-time end highlighter">
										<div class="dropdown-list">
											<option value="0" selected>Select</option>
										</div>
								</select>
							</span>
							<div class="button-container">
									<button type="button"  class="copyToAll">Copy to All</button>
								</div>
							<div class="error-slot"></div>
						</div>
					</div>
					<div class="dayId" id="3"slotId="">
						<div class="day" id="">
								<div class="section">
									<div class="check-input">
										<span id="Check-span">DAYS AVAILABLE</span>
										<input type="checkbox" id="check-button-wed" class="check-button highlighter">
										<label for="check-button-wed">WED</label>
										</div>
								</div>
						</div>
						<div class="time-section" id="third">
								<span class="section-one">
										<span id="Checkin">START TIME</span>
									<select class="select-dropdown  Start-time start highlighter">
										<div class="dropdown-list">
											<option value="0" selected>Select</option>

										</div>
									</select>
								</span>
								<span class="timer">to</span>
								<span class="section-one" >
										<span id="Checkin">END TIME</span>
									<select class="select-dropdown End-time end highlighter">
											<div class="dropdown-list">
												<option value="0" selected>Select</option>
											</div>
									</select>
								</span>
								<div class="button-container">
										<button type="button"  class="copyToAll">Copy to All</button>
								</div>
							<div class="error-slot"></div>
						</div>
					</div>
					<div class="dayId" id="4" slotId="">
						<div class="day" id="">
								<div class="section">
									<div class="check-input">
									<span id="Check-span">DAYS AVAILABLE</span>
									<input type="checkbox" id="check-button-thurs" class="check-button highlighter">
									<label for="check-button-thurs">THURS</label>
									</div>
								</div>
						</div>
						<div class="time-section" id="four">
								<span class="section-one">
										<span id="Checkin">START TIME</span>
									<select class="select-dropdown Start-time start highlighter">
										<div class="dropdown-list">
										<option value="0" selected>Select</option>

										</div>
									</select>
								</span>
								<span class="timer">to</span>
								<span class="section-one" >
										<span id="Checkin">END TIME</span>
									<select class="select-dropdown End-time end highlighter">
											<div class="dropdown-list">
											<option value="0" selected>Select</option>
											</div>
									</select>
								</span>
								<div class="button-container">
									<button type="button"  class="copyToAll">Copy to All</button>
								</div>
							<div class="error-slot"></div>
						</div>
					</div>
					<div class="dayId" id="5"slotId="">
						<div class="day" id="">
								<div class="section">
									<div class="check-input">
									<span id="Check-span">DAYS AVAILABLE</span>
									<input type="checkbox" id="check-button-fri" class="check-button highlighter">
									<label for="check-button-fri">FRI</label>
										</div>
								</div>
						</div>
						<div class="time-section" id="five">
								<span class="section-one">
										<span id="Checkin">START TIME</span>
									<select class="select-dropdown  Start-time start highlighter">
										<div class="dropdown-list">
											<option value="0" selected>Select</option>

										</div>
									</select>
								</span>
								<span class="timer">to</span>
								<span class="section-one" >
										<span id="Checkin">END TIME </span>
									<select class="select-dropdown End-time end highlighter">
											<div class="dropdown-list">
												<option value="0" selected>Select</option>
											</div>
									</select>
								</span>
								<div class="button-container">
									<button type="button" class="copyToAll">Copy to All</button>
								</div>
							<div class="error-slot"></div>
						</div>
					</div>
					<div class="dayId" id="6" slotId="">
						<div class="day" id="" >
								<div class="section">
									<div class="check-input">
										<span id="Check-span">DAYS AVAILABLE</span>
										<input type="checkbox" id="check-button-sat" class="check-button highlighter">
										<label for="check-button-sat">SAT</label>
									</div>
								</div>
						</div>
						<div class="time-section" id="six">
								<span class="section-one">
										<span id="Checkin">START TIME</span>
										<select class="select-dropdown  Start-time start highlighter">
											<div class="dropdown-list">
												<option value="0" selected>Select</option>

											</div>
										</select>
								</span>
								<span class="timer">to</span>
								<span class="section-one">
										<span id="Checkin">END TIME</span>
									<select class="select-dropdown End-time end highlighter">
										<div class="dropdown-list">
											<option value="0" selected>Select</option>
										</div>
									</select>
								</span>
								<div class="button-container">
									<button type="button" class="copyToAll">Copy to All</button>
								</div>
							<div class="error-slot"></div>
						</div>
					</div>
					<div class="dayId" id="7" slotId="">
							<div class="day" id="" >
									<div class="section">
										<div class="check-input">
											<span id="Check-span">DAYS AVAILABLE</span>
											<input type="checkbox" id="check-button-sun" class="check-button highlighter">
											<label for="check-button-sun">SUN</label>
										</div>
									</div>
							</div>
							<div class="time-section" id="seven">
									<span class="section-one">
											<span id="Checkin">START TIME</span>
											<select class="select-dropdown  Start-time start highlighter">
												<div class="dropdown-list">
													<option value="0" selected>Select</option>

												</div>
											</select>
									</span>
									<span class="timer">to</span>
									<span class="section-one">
											<span id="Checkin">END TIME</span>
										<select class="select-dropdown End-time end highlighter">
											<div class="dropdown-list">
												<option value="0" selected>Select</option>
											</div>
										</select>
									</span>
									<div class="button-container">
										<button type="button" class="copyToAll">Copy to All</button>
									</div>
								<div class="error-slot"></div>
							</div>
						</div>
				</div>
				<div class="Breaks-available">
						<span>Breaks Hours</span>
						<p>Select your break hours. This will be marked as unavailable.</p>
						<div class="error"></div>
						<div class="D-table">
							<div class="D-avail">
									<span id="two">START TIME</span>
									<span id="three">END TIME</span>
							</div>
							<div class="time-section" id="breaks">
									<span class="section-one">
										<select class="select-dropdown Break-start start highlighter" id="select">
											<div class="dropdown-list">
											<option value="0"selected>Select</option>

											</div>
										</select>
									</span>
									<span class="timer">to</span>
									<span class="section-one" >
										<select class="select-dropdown Break-end end highlighter" id="select">
											<div class="dropdown-list">
												<option  value="0"	  selected>Select</option>
											</div>
										</select>
									</span>
							</div>
						</div>
						
				</div>
    		</div>
			<div class="preview">  <!right-->
				<div class="heading">PREVIEW OF SLOTS CREATED</div>
				<div class="button-prev calendar-button">
					<img src="/static/images/leftarrow.png">
				</div>
				<div class="button-next calendar-button">
					<img src="/static/images/rightarrow.png">
				</div>
				<div id='calendar'>	</div>
			</div>


			<div class="start-date">
				<span>Start date</span>
				<p>Your available slots will start from this date</p>
				<div class="section">
					<div class="radio-input">
						<input type="radio" id="radio-button-start" name="gender" class="highlighter" checked="checked">
						<label for="radio-button-start">Now: This schedule is valid starting right now </label>
					</div>
					<div class="radio-input">
						<input type="radio" id="radio-button-startend" name="gender" class="highlighter">
						<label for="radio-button-startend">Starts on Date: This schedule starts from this date:</label>
					</div>
					 <input type="text" id="startdatepicker" readonly='true'>
					 <input type="text" id="start_date" value="" class="hidden">
				</div>
			</div>
			<div class="end-date">
				<span>End date</span>
				<p>Your available slots will end on this date</p>
				<div class="section">
					<div class="radio-input">
						<input type="radio" id="radio-button-tillend" name="gender-m" class="highlighter" checked="checked">
						<label for="radio-button-tillend">Never Ends - This schedule is valid forever</label>
					</div>
					<div class="radio-input">
						<input type="radio" id="radio-button-end" name="gender-m" class="highlighter">
						<label for="radio-button-end">Ends on Date - This schedule ends on this date:</label>
					</div>
					<div class="error"></div>
					<input type="text" id="enddatepicker" readonly='true'>
					<input type="text" id="end_date" value="" class="hidden">
				</div>
			</div>


		</div>

	</div>

	<div class="bottom-container {{hiddenClass}}">
		<div class="formgroup">
			<div class="button-wrapper">
				{{>spinner}}
		   		<button type="submit" id="submit">Create Calendar</button>
			</div>
		</div>
	</div>


</div>

{{> footer }}
