{{>header}}

<div class="page-content">
    <div class="main-wrapper">
        <div class="main-info-wrapper left">
            <div class="title-wrapper">
                <div class="title" id="jobTitle">

                </div>
                <div class="tags" id="jobTags">

                </div>
            </div>
            <div class="about-wrapper" id="jobDescription">

            </div>
        </div>
        <div class="extra-info-wrapper right">
            <div class="content-block">
                <div class="main-content">
                    Posted by
                </div>
                <div class="extra-content" id="postedBy">

                </div>
                <div class="extra-content" id="postedByInfo">

                </div>
            </div>
            <div class="content-block">
                <div class="main-content">
                    Posted in
                </div>
                <div class="extra-content" id="jobCategory">

                </div>
            </div>
            <div class="content-block">
                <div class="main-content">
                    Job code
                </div>
                <div class="extra-content" id="jobCode">

                </div>
            </div>
            <div class="content-block">
                <div class="main-content">
                    Location
                </div>
                <div class="extra-content" id="jobLocation">

                </div>
            </div>
            <div class="content-block">
                <div class="main-content">
                    Posted on
                </div>
                <div class="extra-content" id="jobPostedOn">

                </div>
            </div>
            <div class="content-block">
                <div class="main-content">
                    Views
                </div>
                <div class="extra-content" id="jobViews">

                </div>
            </div>
            <div class="content-block">
                <div class="main-content">
                    Applications
                </div>
                <div class="extra-content" id="jobApplications">
                </div>
            </div>
        </div>
        <div class="clearfix">

        </div>
    </div>
</div>


{{>footer}}
