{{> header }}

<div class="test"></div>

<!--<div class="main_container">
    <div class="filters">
        <div class="menu search_keyword ">
            <span>Search Keyword</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="field">
                <input type="text" id="searchByKeyword">
            </div>
        </div>

        <div class="menu industry">
            <span>Industry</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu functional_area">
            <span>Industry</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu current_location">
            <span>Industry</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu preffered_location">
            <span>Industry</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu institute">
            <span>Industry</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu experience ">
            <span>Experience</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="field">
                <select class="half">
                    <option value="">Min Exp</option>
                </select>
                <select class="half">
                    <option value="">Max Exp</option>
                </select>
            </div>
        </div>

        <div class="menu batch ">
            <span>Batch</span>
            <button class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="field">
                <select class="half">
                    <option value="">Min Exp</option>
                </select>
                <select class="half">
                    <option value="">Max Exp</option>
                </select>
            </div>
        </div>

    </div>

    <div class="jobs">
    </div>
</div> -->

{{> footer}}
