{{> header }}

<div class="container"></div>

<h2 class="heading">Job : 334895, iimjobs.com - Product Manager - Internet/Mobile (0-3 yrs)</h2>

<div class="main_container">

    <div class="filters">
        <div class="menu search_keyword ">
            <span style="display:inline-block"></span>
            <button class="button small"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="field">
                <input type="text" id="searchByKeyword" placeholder="Search By Keyword....">
            </div>
        </div>

        <div class="menu industry">
            <span>Industry</span>

            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu functional_area">
            <span>Functional Area</span>

            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu current_location">
            <span>Current Location</span>

            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu preffered_location">
            <span>Preffered Location</span>

            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu institute">
            <span>Institute</span>

            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Accounting</span>
                </div>
            </div>
        </div>

        <div class="menu experience ">
            <span>Experience</span>

            <div class="field">
                <select class="half">
                    <option value="">Min Exp</option>
                </select>
                <select class="half">
                    <option value="">Max Exp</option>
                </select>
            </div>
        </div>

        <div class="menu batch ">
            <span>Batch</span>

            <div class="field">
                <select class="half">
                    <option value="">Min Exp</option>
                </select>
                <select class="half">
                    <option value="">Max Exp</option>
                </select>
            </div>
        </div>

        <div class="menu salary ">
            <span>Salary</span>

            <div class="field">
                <select class="half">
                    <option value="">Min Salary</option>
                </select>
                <select class="half">
                    <option value="">Max Salary</option>
                </select>
            </div>
        </div>

        <div class="menu age ">
            <span>Age</span>

            <div class="field">
                <select class="half">
                    <option value="">Min Age</option>
                </select>
                <select class="half">
                    <option value="">Max Age</option>
                </select>
            </div>
        </div>

        <div class="menu gender ">
            <span>Gender</span>

            <div class="field">
                <select>
                    <option value="">Select Gender</option>
                </select>

            </div>
        </div>

        <div class="menu notice_period ">
            <span>Notice Period</span>

            <div class="field">
                <select>
                    <option value="">Select Notice Period</option>
                </select>

            </div>
        </div>

        <div class="menu application_date ">
            <span>Application Date</span>

            <div class="field">
                <select>
                    <option value="">Select Application Date</option>
                </select>

            </div>
        </div>

        <div class="menu last_seen ">
            <span>Last Seen</span>

            <div class="field">
                <select>
                    <option value="">All</option>
                </select>

            </div>
        </div>

        <div class="menu work_permit ">
            <span>Work Permit For USA</span>

            <div class="field">
                <select>
                    <option value="">Select Work Permit For USA</option>
                </select>

            </div>
        </div>

        <div class="menu  ">
            <span>Handled a Team?</span>

            <div class="field">
                <select>
                    <option value="">--Select--</option>
                </select>

            </div>
        </div>

        <div class="menu">
            <span>Willing to relocate?</span>

            <div class="field">
                <select>
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>

        <div class="menu">
            <span>Differently-abled?</span>

            <div class="field">
                <select>
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>

        <div class="menu languages">
            <span>Languages</span>

            <div class="scroll">
                <div class="field">
                    <input type="checkbox">
                    <span>Mandarin</span>
                </div>
            </div>
        </div>

        <div class="">
           <button class="button small">Download Resumes</button>
       </div>
    </div>



    <div class="jobs">
        <div class="tabs">
            <span>View By:</span>
            <ul class="menu">
                <li><a href="">All<span>22</span></a></li>
                <li><a href="">Unread<span>22</span></a></li>
                <li><a href="">Magic Sort<span>22</span></a></li>
                <li><a href="">Shortlisted<span>22</span></a></li>
                <li><a href="">Rejected<span>22</span></a></li>
                <li><a href="">Saved<span>22</span></a></li>
            </ul>
        </div>
        <div class="page_number box_shadow">
            <span>1-63 of 63</span>
        </div>
        <div class="calendar box_shadow">
            <span>Send calendar</span>
            <select>
                <option value="">Shreya Jain</option>
            </select>
            <button class="button">Set Default</button>
        </div>

        <div role="tabpanel" class="jobs_panel">

          <div class="jobs_container">
            <div class="jobs_header">
              <span class="checkbox"><input type="checkbox"></span>
              <span class="name">Name</span>
              <span class="organization" >Organization, Title</span>
              <span class="institute">Institute</span>
              <span class="more">More</span>
            </div>

          <div class="jobs_content">
              <span class="content checkbox">
                  <input type="checkbox">
              </span>
            <span class="content name">
                <img class="user_img" src="../static/img/tree.jpg">
                <div class="info">
                    <div class="important_info name">Nitish</div>
                    <div class="important_info">Experience: 3y 6m</div>
                    <div class="important_info">Location: Delhi</div>
                    <div class="important_info">Immediately Available</div>

                </div>

                <div class="info">
                    <div class="extra_info">Male, 29 years</div>
                    <div class="extra_info">Applied: 15-05-2016</div>
                </div>
            </span>
            <div class="vertical_outside">
                <div class="vertical_top"></div>
                <div class="vertical_middle"></div>
                <div class="vertical_bottom"></div>
            </div>
            <span class="content organization">
                <div class="info">
                    <div class="important_info name">Axis Bank</div>
                    <div class="important_info">Software Developer</div>
                    <div class="extra_info">Jun - 2015 to Present </div>
                </div>
            </span>
            <div class="vertical_outside">
                <div class="vertical_top"></div>
                <div class="vertical_middle"></div>
                <div class="vertical_bottom"></div>
            </div>
            <span class="content institute">
                <div class="info">
                    <div class="important_info name">Birla Institute of Technology and Science (BITS), Pilani</div>
                    <div class="extra_info">2008 - 2012</div>
                    <div class="extra_info">B Tech / BE (Full Time)</div>
                </div>

        </span>
        <div class="vertical_outside">
            <div class="vertical_top"></div>
            <div class="vertical_middle"></div>
            <div class="vertical_bottom"></div>
        </div>
            <span class="content more">

                <div class="info">
                    <a href="" class="icon"><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Shortlist</span></a>
                    <a href="" class="icon"><i class="fa fa-ban" aria-hidden="true"></i><span>Reject</span></a>
                    <a href="" class="icon"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save for future use</span></a>
                    <a href="" class="icon"><i class="fa fa-eye" aria-hidden="true"></i><span>View Resume</span></a>
                    <a href="" class="icon"><i class="fa fa-download" aria-hidden="true"></i><span>Download Resume</span></a>
                    <a href="" class="icon"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Cover Letter</span></a>
                    <a href="" class="icon"><i class="fa fa-comment" aria-hidden="true"></i><span>Comment</span></a>
                    <a href="" class="icon"><i class="fa fa-mobile" aria-hidden="true"></i><span>Contact information</span></a>
                    <a href="" class="icon"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></a>
                </div>
                <div class="info">
                    <a href="" class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i><span>chat with<span class="user_name">kartik</span></span></a>
                    <a href="" class="icon"><i class="fa fa-calendar" aria-hidden="true"></i><span>Send Interview Invite</span></a>
                </div>
            </span>

          </div>
        </div>
       </div>
    </div>


</div>

{{> footer}}
