{{>header}}
	<div class="modal-overlay hidden">
		<div class="modal-content recruiter-register-modal hidden">
			<div class="close-modal"><i class="icon-close_icon"></i></div>
			<div class="modal-subsection">
				<div class="modal-body">
					<h1 class="heading">New Recruiter Registration</h1>
					<div class="recruiter-form" id="registerForm">
						<div class="form-group">
							<input id="registerName" type="text" placeholder="Name" name='Name' autocomplete="off">
							<div class="error"></div>

						</div>
						<div class="form-group">
							<input id="registerWorkEmail" type="text" placeholder="Your Work Email ID" name='Email' autocomplete="off">
							<div class="error"></div>
						</div>
						<div class="form-group">
							<input id="registerPhone" type="text" placeholder="Phone" name='Phone' autocomplete="off">
							<div class="error"></div>
						</div>
						<div class="form-group">
							<input id="registerDesignation" type="text" placeholder="Designation" name='Designation'
							autocomplete="off">
							<div class="error"></div>
						</div>
						<div class="form-group">
							<input id="registerOrganization" type="text" placeholder="Organization" name='Organization' autocomplete="off">
							<div class="error"></div>
						</div>
						<div class="form-group">
							<input id="registerPassword" type="password" placeholder="Password" name='Password' autocomplete="off">
							<div class="error"></div>
						</div>
						<div class="form-group cnfirmPasswd">
							<input id="registerConfirmPassword" type="password" placeholder="Confirm Password" name='ConfirmPassword' autocomplete="off">
							<div class="error"></div>
						</div>
						<div class="form-group">
							<select class="select-dropdown inactive" name="RecruiterType" id="rectype">
								<div class="dropdown-list">
									<option value="">Select Recruiter Type</option>
		                            <option value="1">Direct Employer</option>
		                            <option value="2">Recruitment Firm</option>
								</div>
							</select>
							<div class="error"></div>
						</div>
						<div class="form-group">
							<button class="rec-sign-in" id="register" value="Login">Register</button>
						</div>
						<!-- <p>Already have an account? <a href="#" class="trigger-register-sign-in-modal">Sign in</a></p> -->
					</div>
				</div>
			</div>
		</div>
		<div class="modal-content recruiter-sign-in-modal hidden">
			<div class="close-modal"><i class="icon-close_icon"></i></div>
			<div class="modal-subsection">
				<div class="modal-body">
					<h1 class="heading">Recruiter Sign-in</h1>
					<div class="recruiter-form">
						<div class="form-group">
							<input id="rec-sign-in-email" type="text" placeholder="Email" autocomplete="off">
						</div>
						<div class="form-group">
							<input id="rec-sign-in-password" type="password" placeholder="Password" autocomplete="off">
						</div>
						<div class="form-group">
							<button class="rec-sign-in" value="Login" >Login</button>
						</div>
						<p>Don't have an account? <a href="#" class="trigger-register-registration-modal">Register</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="main-wrapper">
			<div class="main-container">
				<div class="intro-container container">
					<div class="intro-wrapper left">
						<h1>Hire Better<br/>Hire Faster</h1>
						<span>Reach out to over a million professionals across multiple domains and reduce your cost of hiring and time taken to hire.</span>
						<div class="image-container">
							<img src="/static/images/intro-image.png">
						</div>
					</div>
					<div class="login-wrapper right">
						<div class="login-container">
							<h3>Post a job for free</h3>

							<form id="loginForm">
								<div class="formgroup">
									<input type="text" id="email" autocomplete="off" placeholder="Email">
									<div class="error"> </div>
								</div>

								<div class="formgroup">
									<input type="password" id="password" autocomplete="off" placeholder="Password">
									<div class="error"></div>
								</div>

								<div class="formgroup">
									<button type="submit" value="Login" id="login">Login</button>
									<p class="forgot-pass"><a href="/forgot-password" class="forgot-recruiter-password">Forgot Password?</a></p>
								</div>

								<p class="register-link">
									Don't have an account? <a href="#" class="trigger-register-registration-modal">Register</a>
								</p>
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="features-container container">
					<h1 class="center-highlight"><span class="center-highlight">Hiring is now simple</span></h1>

					<div class="hero-container">
						<div class="hero-content text-container left">
							<h3 class="hero-title">Post a job</h3>
							<p class="hero-text">Tell us about your role and we'll reach out to the right candidates.</p>
						</div>
						<div class="hero-content image-container right">
							<img src="/static/images/hero-image-1.png">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="hero-container">
						<div class="hero-content text-container right">
							<h3 class="hero-title">Review Candidates</h3>
							<p class="hero-text">Browse profiles, shortlist and reject with a simple click.</p>
						</div>
						<div class="hero-content image-container left">
							<img src="/static/images/hero-image-2.png">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="hero-container">
						<div class="hero-content text-container left">
							<h3 class="hero-title">Communicate</h3>
							<p class="hero-text">Chat with your candidates and schedule interviews without multiple back-and-forth.</p>
						</div>
						<div class="hero-content image-container right">
							<img src="/static/images/hero-image-3.png">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="hero-container">
						<div class="hero-content text-container right">
							<h3 class="hero-title">Hire</h3>
							<p class="hero-text">Reduce your cost of hiring and time taken to hire.</p>
						</div>
						<div class="hero-content image-container left">
							<img src="/static/images/hero-image-4.png">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="highlight-wrapper">
			<div class="main-container">
				<div class="container">
					<h1 class="center"><span class="center-highlight">Reach out to over a million candidates across top domains</span></h1>

					<ul class="category-listing">

							<li class="category-item border-bottom border-right">
								<div class="category-icon">
									<img src="/static/images/finance-job-icon.png">
								</div>
								<div class="category-title">
									<h4>Finance Jobs</h4>
								</div>
							</li>


							<li class="category-item border-bottom border-right">
								<div class="category-icon">
									<img src="/static/images/sales-marketing-job-icon.png">
								</div>
								<div class="category-title">
									<h4>Sales &amp; Marketing Jobs</h4>
								</div>
							</li>


							<li class="category-item border-bottom border-right">
								<div class="category-icon">
									<img src="/static/images/consulting-job-icon.png">
								</div>
								<div class="category-title">
									<h4>Consulting Jobs</h4>
								</div>
							</li>


							<li class="category-item border-bottom">
								<div class="category-icon">
									<img src="/static/images/hr-job-icon.png">
								</div>
								<div class="category-title">
									<h4>HR Jobs</h4>
								</div>
							</li>


							<li class="category-item border-right">
								<div class="category-icon">
									<img src="/static/images/it-job-icon.png">
								</div>
								<div class="category-title">
									<h4>IT &amp; Systems Jobs</h4>
								</div>
							</li>


							<li class="category-item border-right">
								<div class="category-icon">
									<img src="/static/images/operations-job-icon.png">
								</div>
								<div class="category-title">
									<h4>Operations Jobs</h4>
								</div>
							</li>


							<li class="category-item border-right">
								<div class="category-icon">
									<img src="/static/images/legal-job-icon.png">
								</div>
								<div class="category-title">
									<h4>Legal Jobs</h4>
								</div>
							</li>


							<li class="category-item">
								<div class="category-icon">
									<img src="/static/images/bpo-job-icon.png">
								</div>
								<div class="category-title">
									<h4>BPO Jobs</h4>
								</div>
							</li>

						<div class="clearfix"></div>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-wrapper footer-bottom">
			<div class="main-container">
				<div class="recruit-container container">
					<div class="hero-image-container left">
						<img src="/static/images/hero-image-5.png">
					</div>
					<div class="hero-content-container right">
						<h3>Recruit on the go</h3>

						<ul class="feature-listing">
							<li class="feature-item">Easily organize and manage your candidate applications on the go</li>
							<li class="feature-item">Simple and intuitive interface</li>
							<li class="feature-item">The ability to shortlist, reject and save individual profiles for future reference</li>
							<li class="feature-item">The ability to download resumes on your mobile device for detailed viewing and sharing</li>
						</ul>

						<div class="download-section">
							<p>Download our apps</p>
							<span class="button white android">Android</span>
							<span class="button white ios">iPhone</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
{{>footer}}
