{{>header}}
	<div class="page-content">
		<div class="main-wrapper">
			<div class="main-container">
				<div class="intro-container container">
					<div class="intro-wrapper left">
						<h1>Hire Better<br/>Hire Faster</h1>
						<span>Reach out to over a million professionals across multiple domains and reduce your cost of hiring and time taken to hire.</span>

						<div class="image-container">
							<img src="/static/images/intro-image.png">
						</div>
					</div>
					<div class="login-wrapper right">
						<div class="login-container">
							<h3>Post a job for free</h3>

							<form>
								<div class="formgroup">
									<input type="text" id="email" required="true" autocomplete="off" placeholder="Email">
								</div>

								<div class="formgroup">
									<input type="password" id="password" required="true" autocomplete="off" placeholder="Password">
								</div>

								<div class="formgroup">
									<button type="submit" value="Login">Login</button>
								</div>

								<p class="register-link">
									Don't have an account? <a href="#" class="trigger-register-modal">Register</a>
								</p>
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="features-container container">
					<h1 class="center-highlight"><span class="center-highlight">Hiring is now simple</span></h1>

					<div class="hero-container">
						<div class="hero-content text-container left">
							<h3 class="hero-title">Post a job</h3>
							<p class="hero-text">Tell us about your role and we'll reach out to the right candidates.</p>
						</div>
						<div class="hero-content image-container right">
							<img src="/static/images/hero-image-1.png">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="hero-container">
						<div class="hero-content text-container right">
							<h3 class="hero-title">Review Candidates</h3>
							<p class="hero-text">Browse profiles, shortlist and reject with a simple click.</p>
						</div>
						<div class="hero-content image-container left">
							<img src="/static/images/hero-image-2.png">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="hero-container">
						<div class="hero-content text-container left">
							<h3 class="hero-title">Communicate</h3>
							<p class="hero-text">Chat with your candidates and schedule interviews without multiple back-and-forth.</p>
						</div>
						<div class="hero-content image-container right">
							<img src="/static/images/hero-image-3.png">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="hero-container">
						<div class="hero-content text-container right">
							<h3 class="hero-title">Hire</h3>
							<p class="hero-text">Reduce your cost of hiring and time taken to hire.</p>
						</div>
						<div class="hero-content image-container left">
							<img src="/static/images/hero-image-4.png">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="highlight-wrapper">
			<div class="main-container">
				<div class="container">
					<h1 class="center"><span class="center-highlight">Reach out to over a million candidates across top domains</span></h1>	

					<ul class="category-listing">
						<li class="category-item border-bottom border-right">
							<div class="category-icon">
								<img src="/static/images/finance-job-icon.png">
							</div>
							<div class="category-title">
								<h4>Finance Jobs</h4>
							</div>
						</li>
						<li class="category-item border-bottom border-right">
							<div class="category-icon">
								<img src="/static/images/sales-marketing-job-icon.png">
							</div>
							<div class="category-title">
								<h4>Sales &amp; Marketing Jobs</h4>
							</div>
						</li>
						<li class="category-item border-bottom border-right">
							<div class="category-icon">
								<img src="/static/images/consulting-job-icon.png">
							</div>
							<div class="category-title">
								<h4>Consulting Jobs</h4>
							</div>
						</li>
						<li class="category-item border-bottom">
							<div class="category-icon">
								<img src="/static/images/hr-job-icon.png">
							</div>
							<div class="category-title">
								<h4>HR Jobs</h4>
							</div>
						</li>
						<li class="category-item border-right">
							<div class="category-icon">
								<img src="/static/images/it-job-icon.png">
							</div>
							<div class="category-title">
								<h4>IT &amp; Systems Jobs</h4>
							</div>
						</li>
						<li class="category-item border-right">
							<div class="category-icon">
								<img src="/static/images/operations-job-icon.png">
							</div>
							<div class="category-title">
								<h4>Operations Jobs</h4>
							</div>
						</li>
						<li class="category-item border-right">
							<div class="category-icon">
								<img src="/static/images/legal-job-icon.png">
							</div>
							<div class="category-title">
								<h4>Legal Jobs</h4>
							</div>
						</li>
						<li class="category-item">
							<div class="category-icon">
								<img src="/static/images/bpo-job-icon.png">
							</div>
							<div class="category-title">
								<h4>BPO Jobs</h4>
							</div>
						</li>
						<div class="clearfix"></div>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-wrapper">
			<div class="main-container">
				<div class="recruit-container">
					<h1 class="center-highlight"><span class="center-highlight">Recruit on the go</span></h1>
				</div>
			</div>
		</div>
	</div>
{{>footer}}