{{> header }}

   <div class="login">
     <form action="">
       <span class="form_heading">Recruiter Login</span>
       <div class="field">
        <input type="email" placeholder="Email">
      </div>
      <div class="field">
        <input type="password" placeholder="Password">
      </div>
       <div>
       <button class="button">Log In</button>
       <a href="">Lost your password?</a>
     </div>
     </form>
     <form action="">
       <span class="form_heading">New Recruiter Registration</span>
       <div class="field">
        <input type="text" class="field" name="name" placeholder="Name">
      </div>
      <div class="field">
       <input type="email" class="field" name="email" placeholder="Official Email(Not Gmail/Yahoo)">
      </div>
      <div class="field">
       <input type="text" class="field" placeholder="Phone">
     </div>
     <div class="field">
      <input type="password" class="field" placeholder="Password">
    </div>
    <div class="field">
     <input type="password" class="field" placeholder="Confirm Password">
    </div>
    <div class="field">
     <input type="text" class="field" placeholder="Designation">
   </div>
   <div class="field">
    <input type="text" class="field" placeholder="Organisation">
   </div>
   <div class="field">
   <select id="industry" name="industry" >
     <option value="australia">Accounting/Finance/Audit</option>
     <option value="canada">Canada</option>
     <option value="usa">USA</option>
   </select>
 </div>
       <div>
        <button class="button">Register</button>
       </div>
     </form>
   </div>

{{> footer}}
