<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="/{{.}}">
    	{{/styles}}
	{{/styles.length}}
	<script type="text/javascript">
		var baseUrl = '{{baseUrl}}';
	</script>

</head>

<div class="logo-container">
    <div class="logo-main">updazz<div class="logo-extra">.com</div></div>
</div>


<div class="login-container">
    <div class="form login-form">
        <div class="form_heading">Recruiter Login</div>
        <div class="field">
            <input type="email" id="login-email" name="login-email" placeholder="Email">
            <div class="error hidden email">Please enter the email address.</div>
        </div>
        <div class="field">
            <input type="password" id="login-password" name="login-password" placeholder="Password">
            <div class="error hidden password">Please enter the password.</div>
        </div>
        <div class="field links">
            <button class="button log-in">Log In</button>
            <a class="link-color font-sm lost-paswd-link" href="">Lost your password?</a>
        </div>
        <div class="forgot-password-form hidden">
            <div class="field forgot-password-heading text-clr">Forgot Password</div>
            <div class="field forgot-password-info extra-info-color font-sm">To obtain a new password, please enter your e-mail address and a link will be emailed to you.</div>
            <div class="field">
                <input type="email" id="forgot-password-email" name="forgot-password-email" placeholder="Email">
                <div class="error hidden email">Please enter a valid email address.</div>
            </div>
            <div class="field"><button class="button send-forgot-paswd">Send</button></div>
        </div>
    </div>
    <div class="form register-form">
        <div class="form_heading">New Recruiter Registration</div>
        <div class="field">
            <input type="text" id="name" name="name" placeholder="Name">
            <div class="error hidden name">Please enter your name.</div>
        </div>
        <div class="field">
            <input type="email" id="email" name="email" placeholder="Official Email(Not Gmail/Yahoo)">
            <div class="error hidden email">Please enter the email address.</div>
        </div>
        <div class="field">
            <input type="text" id="phone" name="phone" placeholder="Phone">
            <div class="error hidden phone">Please enter phone number.</div>
            <div class="error hidden phone">Phone number should be digits only.</div>
        </div>
        <div class="field">
            <input type="password" id="password" name="password" placeholder="Password">
            <div class="error hidden password">Please provide a password.</div>
        </div>
        <div class="field">
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
            <div class="error hidden confirm-password">Please provide confirm password.</div>
            <div class="error hidden" id="same-password">Password and Confirm Password should be same.</div>
        </div>
        <div class="field">
            <input type="text" id="designation" name="designation" placeholder="Designation">
            <div class="error hidden designation">Please enter the designation.</div>
        </div>
        <div class="field">
            <input type="text" id="organisation" name="organisation" placeholder="Organisation">
            <div class="error hidden organisation">Please enter the organisation.</div>
        </div>
        <div class="field">
            <select id="recruiter-type" name="recruiter-type">
                <option value="">Select</option>
                <option value="1">Direct Employer</option>
                <option value="2">Recruitment Firm</option>
            </select>
            <div class="error hidden recruiter-type">Please select recruiter type.</div>
        </div>
        <div class="field">
            <button class="button register">Register</button>
        </div>
    </div>
</div>

</body>
{{#scripts.length}}
	{{#scripts}}
		<script type="text/javascript" src="/{{.}}"></script>
	{{/scripts}}
{{/scripts.length}}
<script src="https://use.fontawesome.com/6eabda8944.js"></script>
</html>
