<div class="footer clear">
	<ul class="mini-footer left">
		<li><a href="#">Home</a></li>
		<li><a href="#">About us</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Sitemap</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Privacy</a></li>
		<li><a href="#">Refund</a></li>
		<li><a href="#">Terms</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">hirist.com - IT jobs</a></li>
	</ul>
	<div class="footer-copy-text right">
		<p> iimjobs &copy; 2017. All rights reserved.</p>
	</div>
</div>

</body>
{{#scripts.length}}
	{{#scripts}}
		<script type="text/javascript" src="/{{.}}"></script>
	{{/scripts}}
{{/scripts.length}}

<script type="text/javascript" src="https://static.iimjobs.com/pub_chat/v4/pubnub.4.1.1.min.js"></script>
<script src="../../static/js/chat-sticky.js"></script>
<script src="../../static/js/chat-pubnub-sticky.js"></script>

<script src="https://use.fontawesome.com/6eabda8944.js"></script>
</html>