<div class="modal_overlay hidden jsFiltersModal">
    <div class="modal_content ">
        <div class="close_modal">
            <span><img src="/static/images/close-icon.png" alt="Close"></span>
        </div>
        <div class="modal_sidebar">
            <div class="modal_sidebar_header">Predefined Queries</div>
            <ul class="category_listing">
                <li class="active" data-selector="banking-finance">Banking &amp; Finance</li>
                <li data-selector="sales-marketing" class="">Sales &amp; Marketing</li>
                <li data-selector="hr-ir" class="">HR &amp; IR</li>
                <li data-selector="it-systems" class="">IT &amp; Systems</li>
                <li data-selector="scm-operations" class="">SCM &amp; Operations</li>
                <li data-selector="consulting">Consulting</li>
            </ul>
        </div>
        <div class="modal_body">
            <div class="modal_body_header">
                <span>Banking &amp; Finance</span>
            </div>
            <ul class="subcategory_listing banking-finance" style="display: block;">
                <li><a href="#" target="_blank">Corporate Banking</a></li>
                <li><a href="#" target="_blank">Investment Banking</a></li>
                <li><a href="#" target="_blank">Private Equity</a></li>
                <li><a href="#" target="_blank">Equity Research</a></li>
                <li><a href="#" target="_blank">FP&amp;A</a></li>
                <li><a href="#" target="_blank">Wealth Manager</a></li>
                <li><a href="#" target="_blank">Internal Audit</a></li>
                <li><a href="#" target="_blank">Statutory Audit</a></li>
                <li><a href="#" target="_blank">Transfer Pricing</a></li>
                <li><a href="#" target="_blank">Indirect Taxation</a></li>
                <li><a href="#" target="_blank">Direct Taxation</a></li>
                <li><a href="#" target="_blank">Credit Research/Credit Analysis</a></li>
                <li><a href="#" target="_blank">Chief Financial Officer</a></li>
                <li><a href="#" target="_blank">Chartered Accountant (CA)</a></li>
                <li><a href="#" target="_blank">Middle Office/Product Control</a></li>
                <li><a href="#" target="_blank">Treasury</a></li>
                <li><a href="#" target="_blank">Corporate Finance</a></li>
                <li><a href="#" target="_blank">Quantitative Analysis</a></li>
                <li><a href="#" target="_blank">Risk Analyst</a></li>
                <li><a href="#" target="_blank">Retail Banking</a></li>
                <li><a href="#" target="_blank">Record to Report / R2R</a></li>
            </ul>
            <ul class="subcategory_listing sales-marketing" style="display: none;">
                <li><a href="#" target="_blank">Sales (Top Institutes)</a></li>
                <li><a href="#" target="_blank">Marketing (Top Institutes)</a></li>
                <li><a href="#" target="_blank">Brand Manager</a></li>
                <li><a href="#" target="_blank">Area Sales Manager (FMCG)</a></li>
                <li><a href="#" target="_blank">Key Account Manager (FMCG)</a></li>
                <li><a href="#" target="_blank">Digital Marketing</a></li>
                <li><a href="#" target="_blank">Corporate/Enterprise Sales</a></li>
                <li><a href="#" target="_blank">PR/Public Relations</a></li>
                <li><a href="#" target="_blank">Consumer Insights</a></li>
                <li><a href="#" target="_blank">Media Planning / Buying</a></li>
                <li><a href="#" target="_blank">Creative Head</a></li>
                <li><a href="#" target="_blank">Social Media</a></li>
                <li><a href="#" target="_blank">Media Sales/Ad Sales</a></li>
                <li><a href="#" target="_blank">Corporate Communications</a></li>
                <li><a href="#" target="_blank">Marketing Communications</a></li>
                <li><a href="#" target="_blank">Trade Marketing</a></li>
                <li><a href="#" target="_blank">Pharma Marketing</a></li>
                <li><a href="#" target="_blank">Pharma Sales</a></li>
                <li><a href="#" target="_blank">Sales - Government Accounts</a></li>
                <li><a href="#" target="_blank">Category Manager - Retail / Ecommerce</a></li>
            </ul>
             <ul class="subcategory_listing hr-ir" style="display: none;">
                <li><a href="#" target="_blank">Compensation &amp; Benefits</a></li>
                <li><a href="#" target="_blank">HR Business Partner</a></li>
                <li><a href="#" target="_blank">Recruitment - Campus Hiring</a></li>
                <li><a href="#" target="_blank">Employee Relations/Engagement</a></li>
                <li><a href="#" target="_blank">HR Operations</a></li>
                <li><a href="#" target="_blank">HR in IT/ITeS</a></li>
                <li><a href="#" target="_blank">HR in BFSI</a></li>
                <li><a href="#" target="_blank">HR in FMCG</a></li>
                <li><a href="#" target="_blank">Learning &amp; Development</a></li>
            </ul>
            <ul class="subcategory_listing it-systems" style="display: none;">
                <li><a href="#" target="_blank">IT Project Manager</a></li>
                <li><a href="#" target="_blank">Ecommerce Product Manager</a></li>
                <li><a href="#" target="_blank">IT Business Analyst</a></li>
                <li><a href="#" target="_blank">IT Sales / Business Development</a></li>
                <li><a href="#" target="_blank">Product Manager</a></li>
                <li><a href="#" target="_blank">Business Analyst</a></li>
                <li><a href="#" target="_blank">Project Manager/Delivery Manager</a></li>
                <li><a href="#" target="_blank">Chief Technology Officer (CTO/CIO)</a></li>
                <li><a href="#" target="_blank">Infrastructure Services</a></li>
                <li><a href="#" target="_blank">Business Continuity / Disaster Recovery</a></li>
                <li><a href="#" target="_blank">Information Security / Risk</a></li>
                <li><a href="#" target="_blank">Data Scientist</a></li>
                <li><a href="#" target="_blank">Big Data</a></li>
                <li><a href="#" target="_blank">Presales / Bid Manager</a></li>
                <li><a href="#" target="_blank">MIS</a></li>
                <li><a href="#" target="_blank">Data Warehousing</a></li>
            </ul>
            <ul class="subcategory_listing scm-operations" style="display: none;">
                <li><a href="#" target="_blank">Operations (FMCG)</a></li>
                <li><a href="#" target="_blank">Supply Chain</a></li>
                <li><a href="#" target="_blank">Procurement</a></li>
                <li><a href="#" target="_blank">Demand Planning</a></li>
                <li><a href="#" target="_blank">Warehouse Operations</a></li>
                <li><a href="#" target="_blank">Quality Operations</a></li>
                <li><a href="#" target="_blank">Facilities Management</a></li>
                <li><a href="#" target="_blank">Process Excellence</a></li>
                <li><a href="#" target="_blank">Security/Admin - Ex Defense</a></li>
                <li><a href="#" target="_blank">Demand Planner / Supply Planner</a></li>
            </ul>
            <ul class="subcategory_listing consulting" style="display: none;">
                <li><a href="#" target="_blank">EA to MD/CXO (Top Institutes)</a></li>
                <li><a href="#" target="_blank">Big 4 - Procurement/Purchase</a></li>
                <li><a href="#" target="_blank">GRC (Governance, Risk &amp; Compliance)</a></li>
                <li><a href="#" target="_blank">Founder / Co-Founder</a></li>
                <li><a href="#" target="_blank">MBA Freshers (Top Institutes)</a></li>
            </ul>
        </div>
    </div>
 </div>
