{{>header}}

<div class="toast-notification-container">
	<div class="toast-notification">
		<!-- <div class="notification-icon">
			<img src="/static/images/close-icon.png" />
		</div> -->
		<div class="notification-message">
			<p></p>
		</div>
	</div>
</div>

<div class="page-content">
    <div class="main-wrapper left">
        <div class="main-container">
            <div class="container">
                <div class="chat-container">
                    <div class="chat-header">
                        <div class="current-conversation">
                            <h3 class="current-user-name recruiterName">Mohit Sharma</h3>
                            <span class="user-status-indicator online" id="isOnline"></span>
                            <span class="user-status activeNow" id="isActive">Active now</span>
                        </div>
                    </div>
                    <div class="mobile-user-profile">
                        <div class="user-details">
                            <div class="user-image user-item">
                                <img id="userImg" src="https://www.placehold.it/120x120/f5f5f5?text=+">
                            </div>
                            <div class="user-info user-item">
                                <p class="user-name userName">Shreya Sharma</p>
                                <p class="user-organization" id="userOrg">Talencia Tech.</p>
                                <p class="user-designation" id="userDes">PHP Developer</p>
                                <div class="user-detail">
                                    <p class="user-phone" id="userPhone">9654732412</p>
                                    <p class="user-meta"><span class="user-location" id="userLoc">Delhi</span> • <span class="exp" id="userExp">3 y 2m</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="user-tags">
                            <span class="skill-tag">Product Management</span>
                             <span class="skill-tag">Product Management</span>
                              <span class="skill-tag">Product Management</span>
                               <span class="skill-tag">Product Management</span>
                                <span class="skill-tag">Product Management</span>
                                
                        </div>  
                    </div>
                    <div class="chat-body">
                        <div class="sidebar left conversations-list">
                            <div class="search">
                                <input type="text" placeholder="Search Candidates" id="searchCandidate">
                            </div>
                            <div class="" id="conversationItemList">

                            </div>
                        </div>
                        <div class="welcome-container welcomeContainer right"></div>
                        <div class="chat-window middle chatWindow hidden">
                            <div class="current-chat">
                               <ul id="mssgContainer">


                                </ul>
                            </div>
                            <div class="new-message">
                                <textarea id="msgContent" placeholder="Write a message to send.."></textarea>
                                <span class="send-message button green" id="sendMsg">Send</span>
                            </div>
                        </div>
                        <div class="user-profile right userProfile hidden">
                            <div class="user-image user-item">
                                <img id="userImg" src="https://www.placehold.it/120x120/f5f5f5?text=+">
                            </div>
                            <div class="user-info user-item">
                                <p class="user-name userName">Shreya Sharma</p>
                                <p class="user-organization" id="userOrg">Talencia Tech.</p>
                                <p class="user-designation" id="userDes">PHP Developer</p>
                                <div class="user-detail">
                                    <p class="user-phone" id="userPhone">9654732412</p>
                                    <p class="user-meta"><span class="user-location" id="userLoc">Delhi</span> &bull; <span class="exp" id="userExp">3 y 2m</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="conversation-item conversationItem prototype hidden">
    <div class="user-image user-item">
        <img src="https://www.placehold.it/70x70/f5f5f5?text=+" class="userImg">
        <div class="candidate-status online candStatus hidden" ></div>
    </div>
    <div class="user-info user-item">
        <p class="user-name userName">Shreya Sharma</p>
        <p class="user-designation userDesignation">PHP Developer</p>
    </div>
    <div class="conversation-item-separator"></div>
</div>

<li class="message sent prototype hidden">
    <div class="user-image ">
        <img class="useImg" src="http://www.placehold.it/50x50/f5f5f5?text=+">
    </div>
    <div class="message-area">
        <p class="message-content msgContent">Message Content</p>
        <p class="message-timestamp msgTime">3 min</p>
    </div>
</li>

<li class="message received prototype hidden">
    <div class="user-image userImg">
        <img class="useImg" src="http://www.placehold.it/50x50/f5f5f5?text=+">
    </div>
    <div class="message-area">
        <p class="message-content msgContent">Message Content</p>
        <p class="message-timestamp msgTime">6 min</p>
    </div>
</li>

<div class="time-separator timeSeperator prototype hidden"><span>Today</span></div>

{{>footer}}
