{{>header}}

<div class="page-content">
	<div class="my-jobs left">
		<div class="page-header">
			<select class="minimal" id="">
				<option value="0">All Jobs</option>
			</select>

			<div class="action-buttons right">
				<a href="/post-job">
					<button class="post-job green">Post Job</button>
				</a>
			</div> 
		</div>

		<div class="my-jobs-listing">
				<div class="table-container jobRowList">
					<div class="table-row table-headings">
						<div class="table-cell heading">
							<span>Created On</span>
						</div>
						<div class="table-cell heading job-title">
							<span>Job Title</span>
						</div>
						<div class="table-cell heading">
							<span>Status</span>
						</div>
						<div class="table-cell heading">
							<span>Engagement</span>
						</div>
						<div class="table-cell heading">
							<span>Actions</span>
						</div>
						<div class="row-separator"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="conversations right">
			{{>chatSidebar}}
		</div>
	</div>
	<div class="table-row job prototype hidden">
		<div class="table-cell created">
			<span class="job-created-on createdOn"></span>
		</div>

		<div class="table-cell title">
			<span class="job-title jobTitle"></span>
			<span class="job-location jobLocation"></span>
			<span class="job-meta-separator">•</span>
			<span class="job-experience jobExperience"></span>
		</div>

		<div class="table-cell status">
			<span class="mobile-status jobStatus">Status: </span>
			<span class="job-status jobStatus"></span>
		</div>

		<div class="table-cell">
			<span class="mobile-engagement">Engagement: </span>
			<span class="engagement jobEngagement">
				<span class="job-view-count jobViews"></span>
				<span class="job-applied-count jobApplications"></span>
			</span>
		</div>

		<div class="table-cell actions">
			<div class="job-actions-container">
				<div class="action-icon job-cancel">
					<i class="icon-close_icon"></i>
				</div>
				<div class="action-icon job-refresh">
					<i class="icon-refresh"></i>
				</div>
				<div class="action-icon job-star">
					<i class="icon-star"></i>
				</div>
				<div class="action-icon job-facebook">
					<i class="icon-facebook-logo"></i>
				</div>
				<div class="action-icon job-twitter">
					<i class="icon-twitter"></i>
				</div>
				<div class="action-icon job-linkedin">
					<i class="icon-linkedin-logo"></i>
				</div>
			</div>
			<div class="job-edit-container hidden">
				<div class="action-icon job-edit">
					<i class="icon-edit"></i>
					<span class="edit-label">Edit</span>
				</div>
			</div>
		</div>
		<div class="table-row-separator"></div>
	</div>

	{{>footer}}