{{>header}}

{{>chatSticky}}

<div class="toast-notification-container">
	<div class="toast-notification">
		<!-- <div class="notification-icon">
			<img src="/static/images/close-icon.png" />
		</div> -->
		<div class="notification-message">
			<p></p>
		</div>
	</div>
</div>



	<div class="page-content">
		<div class="main-wrapper">
			<div class="my-jobs left">
				<div class="page-header">
					<select class="minimal" id="jobFilters">
						<div class="">
							<option value="all">All Jobs</option>
							<option value="published">Published</option>
							<option value="unpublished">Unpublished</option>
							<option value="pending">Under Review</option>
							<option value="rejected">Rejected</option>
						</div>

					</select>

					<div class="action-buttons right">
						<a href="/post-job">
							<button class="post-job green">Post Job</button>
						</a>
					</div>
				</div>

				<div class="my-jobs-listing">
						<div class="table-container ">
							<div class="table-row table-headings">
								<div class="table-cell heading created">
									<span>Created On</span>
								</div>
								<div class="table-cell heading job-title">
									<span>Job Title</span>
								</div>
								<div class="table-cell heading">
									<span>Status</span>
								</div>
								<div class="table-cell heading">
									<span>Engagement</span>
								</div>
								<div class="table-cell heading actions">
									<span>Actions</span>
								</div>
								<div class="row-separator"></div>
							</div>
							<div class="">
								{{>myJobsShell}}
								{{>myJobsShell}}
								{{>myJobsShell}}
								{{>myJobsShell}}
								<div id="jobRowList">

								</div>
							</div>

						</div>
						<div class="loading loaderScroller hidden">
							<div class="loader loader-scroller"></div>
						</div>
				</div>
			</div>
			<div class="conversations right">
				{{>chatSidebar}}
			</div>
		</div>
	</div>

	<div class="table-row job prototype hidden">
		<div class="table-cell created ">
			<span class="job-created-on createdOn"></span>
		</div>

		<div class="table-cell title ">
			<span class="job-title jobTitle"></span>
			<span class="job-location jobLocation location"></span>
			<span class="jobMultipleLocation hidden tooltip" aria-hidden="true" title="">Multiple location</span>
			<span class="job-meta-separator jobMetaSeperator hidden">&nbsp; -- &nbsp;</span>
			<span class="job-experience jobExperience experience"></span>
		</div>

		<div class="table-cell status">
			<span class="mobile-status">Status : <span class="jobStatus"></span><i data-attribute="" class='icon-information jobStatusMsg hidden tooltip' aria-hidden='true' title=""></i> </span>
			<span class="job-status"><span class=" jobStatus"></span><i data-attribute="" class='icon-information jobStatusMsg hidden tooltip' aria-hidden='true' title=""></i></span>
		</div>

		<div class="table-cell ">

			<span class="mobile-engagement">Engagement : <span class="job-view-count jobViews hidden"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="job-applied-count jobApplications hidden js_applications"></span></span>
			<span class="engagementDefault">--</span>
			<span class="engagement jobEngagement">
				<span class="job-view-count jobViews hidden"></span>
				<span class="job-applied-count jobApplications hidden"></span>
			</span>
		</div>

		<div class="table-cell actions">
			<div class="job-actions-container hidden jobActions">
				<a href="" class="action-icon job-cancel jobCancel tooltip unpublishModalButton" aria-hidden="true" title="Unpublish Job" >
					<i class="icon-close_icon " ></i>
				</a>
				<a href="" class="action-icon job-refresh jobRefresh tooltip refreshModalButton" aria-hidden="true" title="Refresh Job">
					<i class="icon-refresh" ></i>
				</a>
				<a href="" class="action-icon job-star jobPremium tooltip makePremiumModalButton" aria-hidden="true" title="Make Job Premium">
					<i class="icon-star" ></i>
				</a>
				<a href="" class="action-icon job-facebook jobFb tooltip jobFacebook" aria-hidden="true" title="Post on Facebook" target="_blank">
					<i class="icon-facebook-logo" ></i>
				</a>
				<a href="" class="action-icon job-twitter jobTwitter tooltip jobTwitter" aria-hidden="true" title="Post on Twitter" target="_blank">
					<i class="icon-twitter" ></i>
				</a>
				<a href="" class="action-icon job-linkedin jobLinkedIn tooltip jobLinkedin" aria-hidden="true" title="Post on LinkedIn" target="_blank">
					<i class="icon-linkedin-logo"></i>
				</a>
			</div>
			<div class="job-edit-container">
				<a href="" class="link-color action-icon job-edit tooltip jobEdit" data-editable="" title="Edit Job">
					<i class="icon-edit js_edit_icon" aria-hidden="true" ></i>
					<span class="edit-label">Edit</span>
				</a>
			</div>
		</div>
		<div class="table-row-separator"></div>
	</div>

	<div id="" class="modal unpublishModal hidden">

	    <!-- Modal content -->
	    <div class="modal_wrapper" >
			<span class="modal_close">&times;</span>
			<div class="modal_header">
				<div class="modal_heading">Unpublish Job</div>
			</div>
			<div class="modal_content">
				<div class="modal_text">Please choose a reason for unpublishing this job</div>
				<div class="section">
					<div class="radio-input">
						<input type="radio" id="5" name="unpublishReason">
						<label for="5">This position has been closed via iimjobs.</label>
					</div>
					<div class="radio-input">
						<input type="radio" id="6" name="unpublishReason">
						<label for="6">This position has been closed via other channel.</label>
					</div>
					<div class="radio-input">
						<input type="radio" id="2" name="unpublishReason">
						<label for="2">This position has gone on hold.</label>
					</div>
					<div class="radio-input">
						<input type="radio" id="3" name="unpublishReason">
						<label for="3">I have received enough responses for this position.</label>
					</div>
					<div class="hidden error">please select a reason</div>
				</div>

				<div class="action-buttons"><button class="jobUnpublishButton">Unpublish</button></div>
			</div>

	    </div>
	</div>

	<div id="" class="modal refreshModal hidden">

	    <!-- Modal content -->
	    <div class="modal_wrapper" >
			<span class="modal_close">&times;</span>
			<div class="modal_header">
				<div class="modal_heading">Refresh Job</div>
			</div>
			<div class="modal_content">
				<div class="modal_text">Are you sure you want to refresh this job?</div>
				<div class="section modal_text">
					When you refresh a job, it is moved to the top.
				</div>
				<div class="action-buttons"><button class="jobRefreshButton">Refresh</button></div>
			</div>
	    </div>
	</div>

	<div id="" class="modal premiumModal hidden">

	    <!-- Modal content -->
	    <div class="modal_wrapper" >
			<span class="modal_close">&times;</span>
			<div class="modal_header">
				<div class="modal_heading">Make Premium.</div>
			</div>
			<div class="modal_content">
				<div class="modal_text modalTextPrimary">You are about to make this job premium.</div>
				<div class="section modal_text modalTextSecondary">
					This job will be highlighted and moved to top of the list for 15 days starting today. You will have credits left.
				</div>
				<div class="action-buttons"><button class="jobMakePremiumButton hidden">Make Premium</button></div>
			</div>
	    </div>
	</div>

	<div class="loader-overlay hidden" id="loaderOverlay">
		<div class="loader"></div>
	</div>

	{{>footer}}
