{{> header}}

<div class="user_profile box_shadow">
  <!-- user image -->
  <div class="image ">
   <div class="edit_profile animated-background">
       <img class="thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA">
   </div>
  </div>

  <!-- end user image -->

  <!-- user details -->
  <div class="user_details">
      <div class="user_information">
          <div class="user_name animated-background font-lg"></div>
          <div class="user_designation animated-background"></div>
      </div>
      <hr class="divider">
      <div class="user-about animated-background font-sm extra-info-color"></div>
      <div class="edit_profile">
          <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </div>
      <div class="social-buttons-container">
          <div class="social-buttons-not-connected">
              <!-- <button class="button">Linked In</button>
              <button class="button">Twitter</button>
              <button class="button">Facebook</button> -->
          </div>
          <div class="social-buttons-connected">
              <!-- <button class="button">Linked In</button>
              <button class="button">Twitter</button>
              <button class="button">Facebook</button> -->
          </div>
      </div>

  </div>

  <!-- end user details -->

  <!-- stats -->
  <div class="bottom_information" >
      <a href="#" class="link-color profile_link animated-background"></a>
      <div class="extra_info">
          <div class="viewed animated-background font-sm"></div>
          <div class="last_login animated-background font-sm"></div>
      </div>
  </div>
  <!-- end stats -->
</div>

<button class="button connect-to-social hidden prototype"></button>
<button class="button connected-to-social hidden prototype"></button>

{{> footer}}
