{{> header }}
<div class="main">
            
                   <div class="headers"> 
                        <div class="heading">Interview Scheduler</div> 
                        <div class="subheading">With interview scheduler,you can line up candidtes faster than ever.</div>
                        <div class="lheading">How does it work?</div>
                    </div>
                    
                    <div class="container">
                            <div class="availability">
                                <img src="/static/images/calendar.png">
                                <div class="head">Set up your availability</div> 
                                <div class="text"><p>Setup is easy.Connect your google account or let Interview pro know your availability preferences and it'll do work for you</p></div> 
                            </div>
                            <div class="send-invite">
                                    <img src="/static/images/envelope.png">
                                    <div class="head">Send invite</div> 
                                    <div class="text"><p>Simply send a invite to prospective candidates with a click of button.</p></div>
                            </div>
                            <div class="scheduler">
                                   <img src="/static/images/time.png">
                                    </span>
                                    <div class="head">Schedule</div> 
                                    <div class="text"><p>Candidate will choose a time from your available slots and interview will be booked.</p></div>
                            </div>
                            <div class="bottom-container">
                                    <p>Cut down on the to and fro with the candidates and set your calender right away!</p>
                                    <div class="formgroup">
                                        <a href="/Interview-scheduler-updated">
                                            <button type="submit" value="Login" id="login">Set up calender</button>
                                        </a>    
                                        </div>
                            </div>       
                    </div> 
</div>
{{> footer }}

