
{{>header}}

<div class="hdr whitebg">
    <div class="container-fluid myconfield">
        <div class="logo">
            <div class="navbar-header hidden">
                <button type="button" name="navbar-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="http://qa200.iimjobs.com/category.php" class="sitename pull-left">
                        <h3>iimjobs</h3>
                        <span>.com</span>
            </a>
        </div>
        <div class="righthdr">
            <ul class="newrtoption">
                        <li class="newposrel ">
                        <span class="hidden-xs">
                            <a href="http://qa200.iimjobs.com/recruiter/myprofile.php">
                                <span class="usim"><img src={{profile.img_link}}></span>
                                <span class="pdleft5">
                                 {{profile.email}} 
                                </span>
                            </a>
                            <span class="caret"></span>
                        </span>
                        <div class="newpositionb mobmenu-pop" id="">
                            <span class="arrb visible-xs"></span>
                            <ul class="newrtopul">
                                <li><a href="http://qa200.iimjobs.com/recruiter/myprofile.php">My Profile</a></li>
                                <li><a href="http://qa200.iimjobs.com/mychat/">My Chat</a></li>
                                <li><a href="http://qa200.iimjobs.com/recruiter/editprofile.php">Settings / Edit Profile</a></li>  
                                <li><a href="javascript:void(0);">Basic Posting (Unlimited)</a></li>
                                <li><a href="javascript:void(0);">Premium Posting ({{profile.availableCredits}})</a></li>
                                <li><a href="http://qa200.iimjobs.com/recruiter/changepassword.php">Change Password</a></li>
                                <li><a href="http://qa200.iimjobs.com/recruiter/controller.php?flowtype=5">Logout</a></li>
                            </ul>
                        </div>
                    </li>    
                    <li class="posrel visible-xs" style="visibility:hidden;"><span class="filterhor"><span class="glyphicon glyphicon-filter fltr"></span></span></li>
                    <li class="posrel visible-xs"><span class="pophor"><span class="glyphicon glyphicon-user usr"></span></span> </li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar mynavbr">
    <div class="container-fluid myconfield">
        <div id="navbar" class="navbar-collapse collapse mynavcollapse">
            <ul class="nav navbar-nav newmynavbar-nav newmynavbar-navres">
                <li><a href="http://qa200.iimjobs.com/recruiter/recruiter.php">My Jobs</a></li>
                <li><a href="http://qa200.iimjobs.com/recruiter/jobpost.php">Post Job</a></li>
                <li><a href="http://qa200.iimjobs.com/recruiter/mgr_job_reports.php">Reports</a>
                </li><li><a href="http://qa200.iimjobs.com/mychat">My Chat</a></li>
                <li><a href="javascript:void(0);">My Calendar</a>
                    <div class="navbarnewhovm">
                        <ul class="navbarnewhovmul ">
                            <li><a href="http://qa200.iimjobs.com/cal/events">Manage Calendar</a></li>
                            <li><a href="http://qa200.iimjobs.com/scheduled/interviews">View Booked Slots</a></li>
                        </ul>
                    </div>
                 </li>
            <li><a href="#">Search Resume Database</a></li>     
            <li><a href="javascript:void(0);">More</a>
            <div class="navbarnewhovm">
                <ul class="navbarnewhovmul">
                  <li><a href="http://qa200.iimjobs.com/recruiter/tags/">My Tags</a></li>
                  <li><a href="http://qa200.iimjobs.com/recruiter/savedshortlisted">Saved/Shortlisted Candidate</a></li>
                </ul>
            </div>
                </li>
            </ul>
            <ul class="sidebsmallrec">
                <li class="postjobs pull-right">
                    <a target="_blank" href="http://qa200.iimjobs.com/recruiter/jobpost.php">
                        <img class="hidden-xs mtop4" src="http://qa200.iimjobs.com/recruiter/resources/images/post-job-btn.png" width="145">
                        <span class="glyphicon glyphicon-send hidden-lg hidden-md hidden-sm visible-xs">&nbsp; </span> 
                        <!-- <span class="hidden-lg hidden-md hidden-sm visible-xs">Post Jobs here (Free)</span> -->
                    </a>
                </li> 
                <li class="pull-right">
                        <div class="searchboxrecruit mtop5  pdleftright0 posrel">
                            <span class="glyphicon glyphicon-search sercuserserchicon"></span>
                            <!-- <form action="http://qa200.iimjobs.com/recruiter/searchdashboard" method="get"> -->
                                <!-- <div class="form-group mbtm0">
                                    <input name="q" type="text" class="form-control greeninp" placeholder="Search" style="padding-right:30px;">
                                </div> -->
                            <!-- </form> -->
                        </div>
                    </li>
            </ul>
        </div>
    </div>
</div>

