<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> -->
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="/{{.}}">

    	{{/styles}}
	{{/styles.length}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">
		var baseUrl = '{{baseUrl}}';
		var userID = '{{userID}}';
		var jobID = '{{jobID}}';
	</script>
</head>
<body>
<div class="pdf-container"></div>

<embed src="" type="application/pdf" id="pdf-page"></embed>
{{#scripts.length}}
    {{#scripts}}
        <script type="text/javascript" src="/{{.}}"></script>
    {{/scripts}}
{{/scripts.length}}

</html>
