{{> header }}

<div class="main_container">
  <div class="post_job">
<form action="">
    <label for="tile">Title</label>
    <input type="text" id="title" name="job_title" placeholder="Job Title..">

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="location..">

    <label for="category">Cattegory</label>
    <select id="category" name="category">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
    <label for="industry">Industry</label>
    <select id="industry" name="industry" multiple>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="location..">

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="location..">

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="location..">

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="location..">

    <input type="submit" value="Submit">
  </form>
</div>
</div>

{{> footer}}
