{{> header }}

<div class="page-content job_posting">
    <div class="job-form-content">
        <div class="post_job">
            <div class="form-heading">
              <h1 class="post-job-heading">{{action}} <span class="right guideline-modal-trigger title-subtext">Posting Guidelines &gt;</span></h1>
            </div>
            <div class="section-heading basic-details">
                <h3>Basic Details</h3>
            </div>

            <div action="" class="post_job_form" >
               <div class="field-container">
                   <div class="label">
                       <label for="title">Job Title*</label>
                   </div>
                   <div class="field">
                       <input type="text" id="title" data-attribute="mandatory" name="Title" placeholder="Write a title that appropriately describes this job">
                       <div id="title_label" class="error hidden"></div>
                   </div>
               </div>

               <div class="field-container">
                   <div class="label">
                       <label for="location">Location*</label>
                   </div>
                   <div class="tag-container location-tags" data-enable-custom="true" id="locationTags" name="Location">
                        <div class="pill-button inactive">
                            <input type="text" id="location" data-placeholder-value="+ Add location" placeholder="+ Add location">
                            <div class="pill-listing">
                                <ul>
                                    <li data-value="1">Ahmedabad</li>
                                    <li data-value="2">Bangalore</li>
                                    <li data-value="41">Chandigarh</li>
                                    <li data-value="3">Chennai</li>
                                    <li data-value="221">Delhi</li>
                                    <li data-value="5">Gurgaon</li>
                                    <li data-value="6">Hyderabad</li>
                                    <li data-value="7">Kolkata</li>
                                    <li data-value="8">Mumbai</li>
                                    <li data-value="9">Noida</li>
                                    <li data-value="10">Pune</li>
                                    <li data-value="62">Guntur</li>
                                    <li data-value="82">Kakinada</li>
                                    <li data-value="98">Kurnool</li>
                                    <li data-value="113">Nellore</li>
                                    <li data-value="114">Nizamabad</li>
                                    <li data-value="129">Rajamundry</li>
                                    <li data-value="150">Tirupati</li>
                                    <li data-value="160">Vijayawada</li>
                                    <li data-value="161">Visakhapatnam</li>
                                    <li data-value="162">Warangal</li>
                                    <li data-value="222">Anantapur</li>
                                    <li data-value="223">Guntakal</li>
                                    <li data-value="6">Hyderabad</li>
                                    <li data-value="225">Rajahmundry</li>
                                    <li data-value="226">Secunderabad</li>
                                    <li data-value="227">Andhra Pradesh - Other</li>
                                    <li data-value="72">Itanagar</li>
                                    <li data-value="228">Arunachal Pradesh - Other</li>
                                    <li data-value="51">Dispur</li>
                                    <li data-value="63">Guwahati</li>
                                    <li data-value="140">Silchar</li>
                                    <li data-value="229">Assam - Other</li>
                                    <li data-value="34">Bhilaigarh</li>
                                    <li data-value="122">Patna</li>
                                    <li data-value="230">Bihar - Other</li>
                                    <li data-value="26">Bhagalpur</li>
                                    <li data-value="39">Bilaspur</li>
                                    <li data-value="128">Raipur</li>
                                    <li data-value="231">Bhillai</li>
                                    <li data-value="232">Chhattisgarh - Other</li>
                                    <li data-value="59">Goa</li>
                                    <li data-value="233">Panaji</li>
                                    <li data-value="234">Panjim</li>
                                    <li data-value="235">Vasco Da Gama</li>
                                    <li data-value="236">Goa - Other</li>
                                    <li data-value="21">Anand</li>
                                    <li data-value="22">Ankleshwar</li>
                                    <li data-value="28">Baroda</li>
                                    <li data-value="31">Bharuch</li>
                                    <li data-value="33">Bhavnagar</li>
                                    <li data-value="37">Bhuj</li>
                                    <li data-value="56">Gandhinagar</li>
                                    <li data-value="79">Jamnagar</li>
                                    <li data-value="83">Kandla</li>
                                    <li data-value="124">Porbandar</li>
                                    <li data-value="130">Rajkot</li>
                                    <li data-value="145">Surat</li>
                                    <li data-value="155">Vadodara</li>
                                    <li data-value="156">Valsad</li>
                                    <li data-value="157">Vapi</li>
                                    <li data-value="1">Ahmedabad</li>
                                    <li data-value="238">Gir</li>
                                    <li data-value="239">Gujarat - Other</li>
                                    <li data-value="19">Ambala</li>
                                    <li data-value="55">Faridabad</li>
                                    <li data-value="66">Hisar</li>
                                    <li data-value="86">Karnal</li>
                                    <li data-value="99">Kurukshetra</li>
                                    <li data-value="117">Panipat</li>
                                    <li data-value="132">Rohtak</li>
                                    <li data-value="143">Sonipat / Sonepat</li>
                                    <li data-value="164">Yamunanagar</li>
                                    <li data-value="41">Chandigarh</li>
                                    <li data-value="5">Gurgaon</li>
                                    <li data-value="242">Haryana - Other</li>
                                    <li data-value="25">Baddi</li>
                                    <li data-value="45">Dalhousie</li>
                                    <li data-value="49">Dharamsala</li>
                                    <li data-value="97">Kulu/Manali</li>
                                    <li data-value="137">Shimla</li>
                                    <li data-value="244">Himachal Pradesh - Other</li>
                                    <li data-value="78">Jammu</li>
                                    <li data-value="144">Srinagar</li>
                                    <li data-value="245">Jammu &amp; Kashmir - Other</li>
                                    <li data-value="40">Bokaro</li>
                                    <li data-value="48">Dhanbad</li>
                                    <li data-value="80">Jamshedpur</li>
                                    <li data-value="131">Ranchi</li>
                                    <li data-value="246">Jharkhand - Other</li>
                                    <li data-value="2">Bengaluru / Bangalore</li>
                                    <li data-value="29">Belgaum</li>
                                    <li data-value="30">Bellary</li>
                                    <li data-value="38">Bidar</li>
                                    <li data-value="50">Dharwad</li>
                                    <li data-value="61">Gulbarga</li>
                                    <li data-value="68">Hubli</li>
                                    <li data-value="91">Kolar</li>
                                    <li data-value="104">Mangalore</li>
                                    <li data-value="109">Mysore</li>
                                    <li data-value="138">Shimoga</li>
                                    <li data-value="248">Karnataka - Other</li>
                                    <li data-value="16">Alappuzha / Alleppey</li>
                                    <li data-value="42">Cochin / Kochi / Ernakulam</li>
                                    <li data-value="69">Idukki</li>
                                    <li data-value="84">Kannur</li>
                                    <li data-value="87">Kasargod</li>
                                    <li data-value="93">Kollam</li>
                                    <li data-value="95">Kottayam</li>
                                    <li data-value="96">Kozhikode / Calicut</li>
                                    <li data-value="103">Malappuram</li>
                                    <li data-value="116">Pallakad</li>
                                    <li data-value="119">Pathanamthitta</li>
                                    <li data-value="147">Thrissur / Trissur</li>
                                    <li data-value="148">Thiruvananthapuram / Trivandrum</li>
                                    <li data-value="163">Wayanad</li>
                                    <li data-value="249">Palakkad</li>
                                    <li data-value="250">Palghat</li>
                                    <li data-value="251">Kerala - Other</li>
                                    <li data-value="35">Bhopal</li>
                                    <li data-value="64">Gwalior</li>
                                    <li data-value="71">Indore</li>
                                    <li data-value="73">Jabalpur</li>
                                    <li data-value="154">Ujjain</li>
                                    <li data-value="252">Madhya Pradesh - Other</li>
                                    <li data-value="13">Ahmednagar</li>
                                    <li data-value="24">Aurangabad</li>
                                    <li data-value="77">Jalgaon</li>
                                    <li data-value="92">Kolhapur</li>
                                    <li data-value="111">Nagpur</li>
                                    <li data-value="112">Nasik</li>
                                    <li data-value="139">Sholapur</li>
                                    <li data-value="8">Mumbai</li>
                                    <li data-value="254">Mumbai Suburbs</li>
                                    <li data-value="255">Navi Mumbai</li>
                                    <li data-value="10">Pune</li>
                                    <li data-value="257">Solapur</li>
                                    <li data-value="258">Maharashtra - Other</li>
                                    <li data-value="70">Imphal</li>
                                    <li data-value="259">Manipur - Other</li>
                                    <li data-value="136">Shillong</li>
                                    <li data-value="260">Meghalaya - Other</li>
                                    <li data-value="14">Aizawal</li>
                                    <li data-value="261">Mizoram - Other</li>
                                    <li data-value="90">Kohima</li>
                                    <li data-value="262">Dimapur</li>
                                    <li data-value="263">Nagaland - Other</li>
                                    <li data-value="36">Bhubaneshwar</li>
                                    <li data-value="44">Cuttack</li>
                                    <li data-value="118">Paradeep</li>
                                    <li data-value="126">Puri</li>
                                    <li data-value="134">Rourkela</li>
                                    <li data-value="264">Orissa - Other</li>
                                    <li data-value="20">Amritsar</li>
                                    <li data-value="32">Bhatinda</li>
                                    <li data-value="76">Jalandhar</li>
                                    <li data-value="101">Ludhiana</li>
                                    <li data-value="107">Mohali</li>
                                    <li data-value="120">Pathankot</li>
                                    <li data-value="121">Patiala</li>
                                    <li data-value="265">Bathinda</li>
                                    <li data-value="41">Chandigarh</li>
                                    <li data-value="267">Punjab - Other</li>
                                    <li data-value="15">Ajmer</li>
                                    <li data-value="74">Jaipur</li>
                                    <li data-value="75">Jaisalmer</li>
                                    <li data-value="81">Jodhpur</li>
                                    <li data-value="94">Kota</li>
                                    <li data-value="153">Udaipur</li>
                                    <li data-value="268">Rajasthan - Other</li>
                                    <li data-value="57">Gangtok</li>
                                    <li data-value="269">Sikkim - Other</li>
                                    <li data-value="43">Coimbatore</li>
                                    <li data-value="53">Erode</li>
                                    <li data-value="67">Hosur</li>
                                    <li data-value="102">Madurai</li>
                                    <li data-value="110">Nagercoil</li>
                                    <li data-value="115">Ooty</li>
                                    <li data-value="135">Salem</li>
                                    <li data-value="146">Thanjavur</li>
                                    <li data-value="149">Tirunalveli</li>
                                    <li data-value="151">Trichy</li>
                                    <li data-value="152">Tuticorin</li>
                                    <li data-value="159">Vellore</li>
                                    <li data-value="3">Chennai</li>
                                    <li data-value="271">Cuddalore</li>
                                    <li data-value="272">Tamil Nadu - Other</li>
                                    <li data-value="11">Agartala</li>
                                    <li data-value="273">Tripura - Other</li>
                                    <li data-value="46">Daman</li>
                                    <li data-value="88">Kavaratti</li>
                                    <li data-value="123">Pondicherry</li>
                                    <li data-value="125">Port Blair</li>
                                    <li data-value="142">Silvassa</li>
                                    <li data-value="41">Chandigarh</li>
                                    <li data-value="275">Dadra &amp; Nagar Haveli</li>
                                    <li data-value="12">Agra</li>
                                    <li data-value="17">Aligarh</li>
                                    <li data-value="18">Allahabad</li>
                                    <li data-value="27">Bareilly</li>
                                    <li data-value="54">Faizabad</li>
                                    <li data-value="58">Ghaziabad</li>
                                    <li data-value="60">Gorakhpur</li>
                                    <li data-value="85">Kanpur</li>
                                    <li data-value="100">Lucknow</li>
                                    <li data-value="105">Mathura</li>
                                    <li data-value="106">Meerut</li>
                                    <li data-value="108">Moradabad</li>
                                    <li data-value="158">Varanasi</li>
                                    <li data-value="9">Noida</li>
                                    <li data-value="278">Uttar Pradesh - Other</li>
                                    <li data-value="47">Dehradun</li>
                                    <li data-value="133">Roorkee</li>
                                    <li data-value="279">Uttaranchal - Other</li>
                                    <li data-value="23">Asansol</li>
                                    <li data-value="52">Durgapur</li>
                                    <li data-value="65">Haldia</li>
                                    <li data-value="89">Kharagpur</li>
                                    <li data-value="141">Siliguri</li>
                                    <li data-value="7">Kolkata</li>
                                    <li data-value="281">West Bengal - Other</li>
                                    <li data-value="165">Other India</li>
                                    <li data-value="127">Quilon</li>
                                    <li data-value="166">Australia</li>
                                    <li data-value="167">Bahrain</li>
                                    <li data-value="168">Bangladesh</li>
                                    <li data-value="169">Belgium</li>
                                    <li data-value="170">Canada</li>
                                    <li data-value="171">China</li>
                                    <li data-value="214">Doha</li>
                                    <li data-value="215">Dubai</li>
                                    <li data-value="172">Egypt</li>
                                    <li data-value="173">France</li>
                                    <li data-value="174">Germany</li>
                                    <li data-value="175">Gulf</li>
                                    <li data-value="176">Hongkong</li>
                                    <li data-value="177">Indonesia</li>
                                    <li data-value="178">Ireland</li>
                                    <li data-value="217">Italy</li>
                                    <li data-value="179">Japan</li>
                                    <li data-value="180">Jordan</li>
                                    <li data-value="218">Kenya</li>
                                    <li data-value="181">Kuwait</li>
                                    <li data-value="182">Lebanon</li>
                                    <li data-value="219">Libya</li>
                                    <li data-value="183">Macau</li>
                                    <li data-value="184">Malaysia</li>
                                    <li data-value="185">Maldives</li>
                                    <li data-value="186">Mauritius</li>
                                    <li data-value="187">Mexico</li>
                                    <li data-value="188">Nepal</li>
                                    <li data-value="189">Netherlands</li>
                                    <li data-value="190">New Zealand</li>
                                    <li data-value="220">Norway</li>
                                    <li data-value="191">Oman</li>
                                    <li data-value="192">Pakistan</li>
                                    <li data-value="193">Philippines</li>
                                    <li data-value="194">Qatar</li>
                                    <li data-value="195">Russia</li>
                                    <li data-value="196">Saudi Arabia</li>
                                    <li data-value="197">Singapore</li>
                                    <li data-value="198">South Africa</li>
                                    <li data-value="199">South Korea</li>
                                    <li data-value="200">Spain</li>
                                    <li data-value="201">SriLanka</li>
                                    <li data-value="202">Sweden</li>
                                    <li data-value="203">Switzerland</li>
                                    <li data-value="204">Taiwan</li>
                                    <li data-value="205">Thailand</li>
                                    <li data-value="206">United Kingdom</li>
                                    <li data-value="207">United Arab Emirates</li>
                                    <li data-value="208">United States</li>
                                    <li data-value="209">Vietnam</li>
                                    <li data-value="210">Yemen</li>
                                    <li data-value="211">Zimbabwe</li>
                                    <li data-value="282">Luxembourg</li>
                                    <li data-value="212">Other International</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="location-error-label error hidden"></div>
                </div>



                <div class="field-container">
                    <div class="label">
                        <label for="min_experience">Years of experience*</label>
                    </div>
                    <div class="field">

                        <select class="half left" id="min_experience" name="MinExp" >
                            <option class="extra-info-color" value="">Select Min</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>

                        <select class="half right" id="max_experience" name="MaxExp">
                            <option class="extra-info-color" value="">Select Max</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                        <div class="clearfix"></div>
                        <div class="error hidden"></div>

                    </div>
                 </div>



                <div class="field-container">
                   <div class="label">
                       <label for="job_description">Job Description*</label>
                   </div>

                   <div class="field">
                       <textarea data-attribute="mandatory" id="job_description" name="Description" placeholder="Describe the role, talk about the role and responsibilities and help potential applicants understand what makes this a great opportunity."></textarea>
                       <div id="job_description-label" class="error hidden"></div>
                   </div>
               </div>

               <div class="field-container">
                   <div class="label">
                       <label for="job_description">Video JD</label>
                   </div>

                   <div class="field">
                       <input type="text" id="videoID" placeholder="Give job seekers an insight into your company" onchange="check_youtube_embed(this.value)" name="VideoUrl">
                       <div id="video-jd-label" class="error hidden"></div>
                   </div>
               </div>

               <div class="field-container youtube-preview hidden">
                    <iframe width="500" height="315" src="" frameborder="0" allowfullscreen></iframe>
               </div>

                <div class="section-heading basic-details">
                    <h3>Targeting</h3>
                </div>

                <div class="field-container">
                    <div class="label">
                        <label for="industry">Industry*</label>
                    </div>
                    <div class="tag-container industry-tags" id="industryTags" name="Industry">
                        <div class="pill-button inactive">
                            <input type="text" id="industry" data-placeholder-value="+ Add company industry" placeholder="+ Add company industry">
                            <div class="pill-listing">
                                <ul>
                                    <li data-value="24">Accounting / Finance / Audit</li>data-
                                    <li data-value="25">Advertising / PR / Events</li>data-
                                    <li data-value="1"> Auto / Auto Ancillary</li>data-
                                    <li data-value="2"> Banking / Financial Services</li>data-
                                    <li data-value="3"> BPO / ITeS</li>data-
                                    <li data-value="26">Chemicals</li>data-
                                    <li data-value="5"> Construction / Engineering / Cement / Metals</li>data-
                                    <li data-value="4"> Consulting</li>data-
                                    <li data-value="6"> Education / Training</li>data-
                                    <li data-value="27">Facility Management</li>data-
                                    <li data-value="7"> FMCG / Durables / F&amp;B</li>data-
                                    <li data-value="8"> Healthcare / Medical / Hospital</li>data-
                                    <li data-value="10">Industrial Products / Heavy Machinery</li>data-
                                    <li data-value="11">Infrastructure / Oil &amp; Gas / Power / Energy</li>data-
                                    <li data-value="12">Insurance</li>data-
                                    <li data-value="13">Internet / Online / eCommerce</li>data-
                                    <li data-value="14">IT</li>data-
                                    <li data-value="15">KPO / Research / Analytics</li>data-
                                    <li data-value="16">Legal</li>data-
                                    <li data-value="17">Manufacturing</li>data-
                                    <li data-value="18">Media / Entertainment</li>data-
                                    <li data-value="19">Mining / Steel / Shipping</li>data-
                                    <li data-value="20">NGO / Social Service</li>data-
                                    <li data-value="28">Pharma / Biotech</li>data-
                                    <li data-value="29">Real Estate</li>data-
                                    <li data-value="30">Recruitment / Staffing</li>data-
                                    <li data-value="22">Retail</li>data-
                                    <li data-value="31">Semiconductors / Electronics</li>data-
                                    <li data-value="23">Telecom</li>data-
                                    <li data-value="32">Textile / Garments / Accessories / Fashion</li>data-
                                    <li data-value="9"> Travel / Hospitality</li>data-
                                    <li data-value="34">Agriculture &amp; Dairy</li>data-
                                    <li data-value="33">Other</li>data-
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="industry-error-label error hidden"></div>
                </div>

                <div class="field-container">
                    <div class="formgroup half left">
                        <div class="label">
                           <label for="category">Category*</label>
                        </div>
                        <div class="field">
                            <select id="category" name="Category">
                                <option class="extra-info-color" value="">Select</option>
                                <option value="13">Finance</option>
                                <option value="14">Sales &amp; Marketing</option>
                                <option value="16">Consulting</option>
                                <option value="17">HR</option>
                                <option value="15">IT &amp; Systems</option>
                                <option value="19">Operations</option>
                                <option value="21">Legal</option>
                                <option value="22">BPO</option>
                            </select>
                            <div id="category-label" class="error hidden"></div>
                        </div>
                    </div>

                    <div class="formgroup half right">
                        <div class="label">
                            <label for="functional_area">Functional Area*</label>
                        </div>
                        <div class="field">
                            <select id="functional_area" data-attribute="mandatory" name="FunctionalArea">
                                <option class="extra-info-color" value="">Select</option>
                                <option value="1">Accounting / Taxation / Audit</option>
                                <option value="7">Administration</option>
                                <option value="2">Analytics &amp; Business Intelligence</option>
                                <option value="3">Banking / Financial Services</option>
                                <option value="4">Corporate Planning / Consulting</option>
                                <option value="5">Export / Import / Merchandising</option>
                                <option value="6">HR / IR</option>
                                <option value="9">Insurance</option>
                                <option value="8">IT</option>
                                <option value="10">ITeS / BPO / Customer Service</option>
                                <option value="12">KPO / Research</option>
                                <option value="11">Legal / Company Secretary</option>
                                <option value="13">Marketing / Advertising / Public Relations</option>
                                <option value="14">Media / Entertainment</option>
                                <option value="16">Pharma / Biotech / Healthcare / Medical / R&amp;D</option>
                                <option value="17">Production / Maintenance / Quality</option>
                                <option value="18">Purchase / Supply Chain / Logistics</option>
                                <option value="15">Sales / Business Development</option>
                                <option value="19">Travel / Hospitality</option>
                                <option value="20">Other</option>
                            </select>
                            <div id="functional_area-label" class="error hidden"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

               <div class="field-container">
                   <div class="label">
                       <label for="min_salary">Salary</label>
                   </div>
                   <div class="field">

                       <select class="half left" id="min_salary" name="Sal">
                            <option value="">Min salary</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>

                       <select class="half right" id="max_salary" name="Sal">
                            <option value="">Max salary</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>

                       <div class="clearfix"></div>
                       <div id="salary-label" class="error hidden"></div>
                   </div>
                </div>

                <div class="field-container">
                    <div class="check-input">
                        <input type="checkbox" id="salary_show" value="1">
                        <label for="salary_show" class="checkbox important-info-color"><span>Don't show this to candidates.</span></label>
                    </div>
                </div>


                <div class="field-container">
                    <div class="label">
                       <label for="graduating_year">Graduating Year</label>
                    </div>
                    <div class="field">
                        <select class="half left" id="graduating_start_year" name="Batch">
                            <option value="" class="extra-info-color">Min Batch</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                        </select>
                        <select class="half right" id="graduating_end_year" name="Batch">
                            <option value="" class="extra-info-color">Max Batch</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                        </select>

                        <div class="clearfix"></div>

                        <div id="graduating-year-label" class="error hidden"></div>
                    </div>
                </div>

                <div class="field-container">
                    <div class="label">
                        <label for="tags">Tags</label>
                    </div>
                    <div class="tag-container skill-tags" data-enable-custom="true"  id="jobTags">
                        <div class="pill-button inactive">
                            <input type="text" data-placeholder-value="+ Add job tag" placeholder="+ Add job tag">
                            <div class="pill-listing">
                                <ul>
                                    <li data-value="Job Tag 1">Job Tag 1</li>
                                    <li data-value="Job Tag 2">Job Tag 2</li>
                                    <li data-value="Job Tag 3">Job Tag 3</li>
                                    <li data-value="Job Tag 4">Job Tag 4</li>
                                    <li data-value="Job Tag 5">Job Tag 5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tag-error-label error hidden"></div>
                </div>


               <div class="field-container tile-section" id="courseType">
                   <div class="label course-type">
                       <label  for="course_type">Course Type</label>
                   </div>
                   <div class="field">
                        <div class="course-option full-time">
                            <input type="checkbox" id="course-type-full-time" data-id="1">
                            <label for="course-type-full-time">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-full-time"></i></span>
                                    <span class="course-option-label">Full time</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option part-time">
                            <input type="checkbox" id="course-type-part-time" data-id="2">
                            <label for="course-type-part-time">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-part-time"></i></span>
                                    <span class="course-option-label">Part time</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option distance-learning">
                            <input type="checkbox" id="course-type-distance-learning" data-id="3">
                            <label for="course-type-distance-learning">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-distance_learning"></i></span>
                                    <span class="course-option-label">Distance Learning Program</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option executive-learning">
                            <input type="checkbox" id="course-type-executive-learning" data-id="4">
                            <label for="course-type-executive-learning">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-executive-program"></i></span>
                                    <span class="course-option-label">Executive Program</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option certification">
                            <input type="checkbox" id="course-type-certification" data-id="5">
                            <label for="course-type-certification">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-certification"></i></span>
                                    <span class="course-option-label">Certification</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>


                   </div>
               </div>

               <div class="field-container tile-section" id="preferences">
                   <div class="label course-type">
                       <label for="course_type">Preferences</label>
                   </div>
                   <div class="field">
                        <div class="course-option preference-female">
                            <input type="checkbox" id="preference-female" data-id="femaleCandidate">
                            <label for="preference-female">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-woman"></i></span>
                                    <span class="course-option-label">Female Candidates</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option preference-defence">
                            <input type="checkbox" id="preference-defence" data-id="exDefence">
                            <label for="preference-defence">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-shield"></i></span>
                                    <span class="course-option-label">Ex-defence personnel</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option preference-women">
                            <input type="checkbox" id="preference-women" data-id="femaleBackWorkForce">
                            <label for="preference-women">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-woman"></i></span>
                                    <span class="course-option-label">Women Joining back the workforce</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option preference-diff-abled">
                            <input type="checkbox" id="preference-diff-abled" data-id="differentlyAbled">
                            <label for="preference-diff-abled">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-disabillity-symbol"></i></span>
                                    <span class="course-option-label">Differently-abled candidates</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <!-- <div class="course-option preference-alumni hidden">
                            <input type="checkbox" id="preference-alumni">
                            <label for="preference-alumni">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-ex-alunmi"></i></span>
                                    <span class="course-option-label">Ex-alumni</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div>

                        <div class="course-option preference-career hidden">
                            <input type="checkbox" id="preference-career">
                            <label for="preference-career">
                                <div class="course-content">
                                    <span class="course-icon"><i class="icon-candidate"></i></span>
                                    <span class="course-option-label">Candidates looking to switch careers</span>
                                </div>
                                <img class="course-selected" src="/static/images/course-selected.svg">
                            </label>
                        </div> -->


                   </div>
               </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="guidelines-container">
            <h4>Few guidelines</h4>

            <ul>
                <li>Proper formatting of the text/content of the posting with clear spaces and standard bullets (-) to be used.</li>
                <li>No short forms/abbreviations to be used in the text.</li>
                <li>Correct mail ID to be included at the end of the posting.</li>
                <li>No spelling mistakes in the content.</li>
                <li>JD should be concise and crisp - to the point.</li>
            </ul>
        </div>
    </div>
    <div class="premium_job_section">
        <div class="section-head job-visibility">
            <h3>Job Visibility</h3>
        </div>

        <div class="contents">
            <input type="checkbox" id="isPremium" name="premium" value="0">
            <label for="isPremium" class="checkbox premium-job important-info-color font-sm">
                <span>Make Job Premium.</span>
            </label>
            <p class="" id="creditsText"> You have 3 credits left.</p>
        </div>
    </div>

    <div class="submit-action-buttons">
        <button class="button submit-form" id="submitForm">Submit</button>
        <button class="button cancel-form" id="cancelForm">Cancel</button>
    </div>


</div>

<div class="js-show-tags js-show-suggested-tags prototype hidden"></div>
<div class="js-show-tags js-show-selected-tags prototype hidden"></div>

<div class="modal-overlay hidden">
    <div class="modal-content ">
        <div class="close-modal">
            <span><i class="icon-close_icon"></i></span>
        </div>
        <div class="guidelines-modal-body modal-body">
            <div class="guidelines-section">
                <h4>Few guidelines</h4>

                <ul>
                    <li>Proper formatting of the text/content of the posting with clear spaces and standard bullets (-) to be used.</li>
                    <li>No short forms/abbreviations to be used in the text.</li>
                    <li>Correct mail ID to be included at the end of the posting.</li>
                    <li>No spelling mistakes in the content.</li>
                    <li>JD should be concise and crisp - to the point.</li>
                </ul>
            </div>
        </div>
 </div>
</div>

<div class="input-tag prototype hidden">
    <div class="tag-icons">
        <span class="tag-added"><i class="icon-tick"></i></span>
        <span class="tag-remove hidden"><i class="icon-close_icon"></i></span>
    </div>
    <div class="tag-name">
        <span>Preselected Tag</span>
    </div>
</div>
{{> footer}}
