{{> header}}

<div class="main-container">
    <div id="success-job-posted" class="success-job-posted hidden">Job Posted Successfully!!</div>
    <div class="recruiter-plan-banner-container">
        <div class="recruiter-plan-banner">
            Increase the visibility of your posting
        </div>
        <div class="recruiter-plan-tagline">
            Create a listing that attracts the best candidates
        </div>
    </div>
    <div class="recruiter-plans-container">
        <div class="recruiter-plan-basic">
            <div class="recruiter-plan-basic-header">
                BASIC
                <div class="icon-container"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
            </div>
            <div class="recruiter-plan-basic-content">
                <div class="top-content">
                    FREE
                </div>
                <div class="list-container">
                    <div class="list">
                        Normal Posting in category, Keywords, Search and related jobs.
                    </div>
                    <div class="list">
                        Normal posting in daily newsletter that goes out to all registered candidates.
                    </div>
                </div>
                <div class="button-container">
                    <button class="button" id="basic-buy" name="button">CONTINUE</button>
                </div>
            </div>

        </div>
        <div class="recruiter-plan-signature">
            <div class="recruiter-plan-signature-header-container">
                <div class="recruiter-plan-signature-header-main">
                    SIGNATURE POSTING
                </div>
                <div class="recruiter-plan-signature-header-extra">
                    VIEWED 20 TIMES MORE THAN A FREE POSTING
                </div>
                <div class="icon-container"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
            </div>
            <div class="recruiter-plan-signature-content">
                <div class="top-content">
                    RS.5000
                </div>
                <div class="list-container">
                    <div class="list">
                        Special customized mail sent to all relevant candidates ( highly targeted).
                    </div>
                    <div class="list">
                        Promoted in category, Keywords, Search and related jobs.
                    </div>
                    <div class="list">
                        Promoted in daily newsletters circulated among all registered job seekers.
                    </div>
                    <div class="list">
                        logo/branding in the posting.
                    </div>
                    <div class="list">
                        A dedicated account manager will guide you to the best result possible.
                    </div>

                </div>
                <div class="button-container">
                    <button id="signature-buy" class="button" name="button">BUY NOW</button>
                </div>
            </div>
        </div>
        <div class="recruiter-plan-platinum">
            <div class="recruiter-plan-platinum-header-container">
                <div class="recruiter-plan-platinum-header-main">
                    PLATINUM POSTING
                </div>
                <div class="recruiter-plan-platinum-header-extra">
                    VIEWED 10 TIMES MORE THAN A FREE POSTING
                </div>
                <div class="icon-container"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
            </div>
            <div class="recruiter-plan-platinum-content">
                <div class="top-content">
                    RS.3000
                </div>
                <div class="list-container">
                    <div class="list">
                        Promoted in category, Keywords, Search and related jobs.
                    </div>
                    <div class="list">
                        Promoted in daily newsletters circulated among all registered job seekers.
                    </div>
                    <div class="list">
                        logo/branding in the posting.
                    </div>


                </div>
                <div class="button-container">
                    <button id="platinum-buy" class="button" name="button">BUY NOW</button>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="signature-modal" class="modal hidden animated fadeIn bg-overlay">
    <!-- Modal content -->

    <div class="modal-content  ">
        <div class="modal-header">
            <span class="modal-heading">Signature Posting</span>
            <span class="close">&times;</span>
        </div>
        <div class="modal-center">
            <div class="list">
                Thank you for choosing the Signature plan.
            </div>
            <div class="list">
                Please confirm your phone number below. We will call you back.
            </div>
            <div class="list">
                <input id="signature-contact" type="text">
            </div>
        </div>
        <div class="modal-footer">
            <div class="buttons-container">
                <button class="button signature-continue">Continue</button>
                <button class="button close-modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <div id="platinum-modal" class="modal hidden animated fadeIn bg-overlay">
        <!-- Modal content -->

        <div class="modal-content  ">
            <div class="modal-header">
                <span class="modal-heading">Platinum Posting</span>
                <span class="close">&times;</span>
            </div>
            <div class="modal-center">
                <div class="list">
                    Thank you for choosing the Platinum plan.
                </div>
                <div class="list">
                    Please confirm your phone number below. We will call you back.
                </div>
                <div class="list">
                    <input id="platinum-contact" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <div class="buttons-container">
                    <button class="button platinum-continue">Continue</button>
                    <button class="button close-modal">Close</button>
                </div>
            </div>
        </div>

    </div>




{{> footer}}
