{{> header}}

<div class="toast-notification-container">
	<div class="toast-notification">
		<!-- <div class="notification-icon">
			<img src="/static/images/close-icon.png" />
		</div> -->
		<div class="notification-message">
			<p></p>
		</div>
	</div>
</div>

<div class="main-container">
    <div id="success-job-posted" class="success-job-posted hidden">Job Posted Successfully!!</div>
    <div class="recruiter-plan-banner-container">
       <h3>Increase the <strong>visibility</strong> of your posting, create a listing that <strong>attracts</strong> the best candidates</h3>
    </div>
    <div class="recruiter-plans-container">
        <div class="recruiter-plan-basic">
            <div class="recruiter-plan-basic-header">
                <h5>BASIC</h5>
                <div class="plan-title-separator"></div>
                <h5 class="cost">FREE</h5>
            </div>
            <div class="recruiter-plan-basic-content">
                <div class="list-container">
                    <div class="list">
                        <p>Normal Posting in category, Keywords, Search and related jobs.</p>
                    </div>
                    <div class="list">
                        <p>Normal posting in daily newsletter that goes out to all registered candidates.</p>
                    </div>
                </div>
                <div class="button-container">
                    <button class="button" id="basic-buy" name="button">CONTINUE</button>
                </div>
            </div>

        </div>
        <div class="recruiter-plan-signature">
            <div class="recruiter-plan-signature-header-container">
                <div class="recruiter-plan-basic-header">

                    <h5>SIGNATURE POSTING</h5>
                    <h6>Viewed <strong>20 more times</strong> than a free posting</h6>

                    <div class="plan-title-separator"></div>

                    <h5 class="cost">Rs. 5000</h5>
                </div>
            </div>
            <div class="recruiter-plan-signature-content">
                <div class="list-container">
                    <div class="list">
                        <p>Special customized mail sent to all relevant candidates (highly targeted).</p>
                    </div>
                    <div class="list">
                        <p>Promoted in category, Keywords, Search and related jobs.</p>
                    </div>
                    <div class="list">
                        <p>Promoted in daily newsletters circulated among all registered job seekers.</p>
                    </div>
                    <div class="list">
                        <p>Logo/Branding in the posting.</p>
                    </div>
                    <div class="list">
                        <p>A dedicated account manager will guide you to the best result possible.</p>
                    </div>

                </div>
                <div class="button-container">
                    <button id="signature-buy" class="button" name="button">BUY NOW</button>
                </div>
            </div>
        </div>
        <div class="recruiter-plan-platinum">
            <div class="recruiter-plan-platinum-header-container">
                <h5>PLATINUM POSTING</h5>
                    <h6>Viewed <strong>10 more times</strong> than a free posting</h6>

                    <div class="plan-title-separator"></div>

                    <h5 class="cost">Rs. 3000</h5>
            </div>
            <div class="recruiter-plan-platinum-content">
                <div class="list-container">
                    <div class="list">
                        <p>Promoted in category, Keywords, Search and related jobs.</p>
                    </div>
                    <div class="list">
                        <p>Promoted in daily newsletters circulated among all registered job seekers.</p>
                    </div>
                    <div class="list">
                        <p>Logo/Branding in the posting.</p>
                    </div>


                </div>
                <div class="button-container">
                    <button id="platinum-buy" class="button" name="button">BUY NOW</button>
                </div>
            </div>
        </div>

    </div>

    <div class="recruiter-plans-container mobile-swipe-container">
        <div class="recruiter-plans-wrapper">
            <div class="recruiter-plan-basic">
                <div class="recruiter-plan-basic-header">
                    <h5>BASIC</h5>
                    <div class="plan-title-separator"></div>
                    <h5 class="cost">FREE</h5>
                </div>
                <div class="recruiter-plan-basic-content">
                    <div class="list-container">
                        <div class="list">
                            <p>Normal Posting in category, Keywords, Search and related jobs.</p>
                        </div>
                        <div class="list">
                            <p>Normal posting in daily newsletter that goes out to all registered candidates.</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button" id="basic-buy" name="button">CONTINUE</button>
                    </div>
                </div>
            </div>
            <div class="recruiter-plan-signature">
                <div class="recruiter-plan-signature-header-container">
                    <div class="recruiter-plan-basic-header">

                        <h5>SIGNATURE POSTING</h5>
                        <h6>Viewed <strong>20 more times</strong> than a free posting</h6>

                        <div class="plan-title-separator"></div>

                        <h5 class="cost">Rs. 5000</h5>
                    </div>
                </div>
                <div class="recruiter-plan-signature-content">
                    <div class="list-container">
                        <div class="list">
                            <p>Special customized mail sent to all relevant candidates (highly targeted).</p>
                        </div>
                        <div class="list">
                            <p>Promoted in category, Keywords, Search and related jobs.</p>
                        </div>
                        <div class="list">
                            <p>Promoted in daily newsletters circulated among all registered job seekers.</p>
                        </div>
                        <div class="list">
                            <p>Logo/Branding in the posting.</p>
                        </div>
                        <div class="list">
                            <p>A dedicated account manager will guide you to the best result possible.</p>
                        </div>

                    </div>
                    <div class="button-container">
                        <button id="signature-buy" class="button" name="button">BUY NOW</button>
                    </div>
                </div>
            </div>
            <div class="recruiter-plan-platinum">
                <div class="recruiter-plan-platinum-header-container">
                    <h5>PLATINUM POSTING</h5>
                        <h6>Viewed <strong>10 more times</strong> than a free posting</h6>

                        <div class="plan-title-separator"></div>

                        <h5 class="cost">Rs. 3000</h5>
                </div>
                <div class="recruiter-plan-platinum-content">
                    <div class="list-container">
                        <div class="list">
                            <p>Promoted in category, Keywords, Search and related jobs.</p>
                        </div>
                        <div class="list">
                            <p>Promoted in daily newsletters circulated among all registered job seekers.</p>
                        </div>
                        <div class="list">
                            <p>Logo/ in the posting.</p>
                        </div>


                    </div>
                    <div class="button-container">
                        <button id="platinum-buy" class="button" name="button">BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="signature-modal" class="modal hidden animated fadeIn bg-overlay">
    <!-- Modal content -->

    <div class="modal_wrapper">
        <span class="modal_close">&times;</span>
        <div class="modal_header">
            <div class="modal_heading">Signature Posting</div>
        </div>
        <div class="modal_content">
            <div class="modal_text modalTextPrimary">Thank you for choosing the Signature plan.</div>
            <div class="section modal_text modalTextSecondary">
                 Please confirm your phone number below. We will call you back.
            </div>
            <div class="section">
                <input id="signature-contact" type="text" value="{{profile.phone}}">
                <div id="title_label" class="error hidden"></div>
            </div>
            <div class="action-buttons"><button class="signature-continue">Continue</button></div>
        </div>
    </div>
</div>

    <div id="platinum-modal" class="modal hidden animated fadeIn bg-overlay">
        <!-- Modal content -->

        <div class="modal_wrapper">
            <span class="modal_close">&times;</span>
            <div class="modal_header">
				<div class="modal_heading">Platinum Posting</div>
			</div>
            <div class="modal_content">
				<div class="modal_text modalTextPrimary">Thank you for choosing the Platinum plan.</div>
				<div class="section modal_text modalTextSecondary">
				     Please confirm your phone number below. We will call you back.
				</div>
                <div class="section">
                    <input id="platinum-contact" type="text" value="{{profile.phone}}">
                    <div id="title_label" class="error hidden"></div>
                </div>
				<div class="action-buttons"><button class="platinum-continue">Continue</button></div>
			</div>
        </div>

    </div>




{{> footer}}
