{{> header}}

<div class="main-container">
    <div class="recruiter-plan-banner-container">
        <div class="recruiter-plan-banner">
            Increase the visibility of your posting
        </div>
        <div class="recruiter-plan-tagline">
            Create a listing that attracts the best candidates
        </div>
    </div>
    <div class="recruiter-plans-container">
        <div class="recruiter-plan-basic">
            <div class="recruiter-plan-basic-header">
                BASIC
            </div>
            <div class="recruiter-plan-basic-content">
                <div class="top-content">
                    FREE
                </div>
                <div class="list-container">
                    <div class="list">
                        Normal Posting in category, Keywords, Search and related jobs.
                    </div>
                    <div class="list">
                        Normal posting in daily newsletter that goes out to all registered candidates.
                    </div>
                </div>
                <div class="button-container">
                    <button class="button" name="button">CONTINUE</button>
                </div>
            </div>
        </div>
        <div class="recruiter-plan-signature">
            <div class="recruiter-plan-signature-header-container">
                <div class="recruiter-plan-signature-header-main">
                    SIGNATURE POSTING
                </div>
                <div class="recruiter-plan-signature-header-extra">
                    VIEWED 20 TIMES MORE THAN A FREE POSTING
                </div>
            </div>
            <div class="recruiter-plan-signature-content">
                <div class="top-content">
                    RS.5000
                </div>
                <div class="list-container">
                    <div class="list">
                        Special customized mail sent to all relevant candidates ( highly targeted).
                    </div>
                    <div class="list">
                        Promoted in category, Keywords, Search and related jobs.
                    </div>
                    <div class="list">
                        Promoted in daily newsletters circulated among all registered job seekers.
                    </div>
                    <div class="list">
                        logo/branding in the posting.
                    </div>
                    <div class="list">
                        A dedicated account manager will guide you to the best result possible.
                    </div>

                </div>
                <div class="button-container">
                    <button class="button" name="button">BUY NOW</button>
                </div>
            </div>
        </div>
        <div class="recruiter-plan-platinum">
            <div class="recruiter-plan-platinum-header-container">
                <div class="recruiter-plan-platinum-header-main">
                    PLATINUM POSTING
                </div>
                <div class="recruiter-plan-platinum-header-extra">
                    VIEWED 10 TIMES MORE THAN A FREE POSTING
                </div>
            </div>
            <div class="recruiter-plan-platinum-content">
                <div class="top-content">
                    RS.3000
                </div>
                <div class="list-container">
                    <div class="list">
                        Promoted in category, Keywords, Search and related jobs.
                    </div>
                    <div class="list">
                        Promoted in daily newsletters circulated among all registered job seekers.
                    </div>
                    <div class="list">
                        logo/branding in the posting.
                    </div>


                </div>
                <div class="button-container">
                    <button id="platinum-buy" class="button" name="button">BUY NOW</button>
                </div>
            </div>
        </div>

    </div>

</div>



{{> footer}}
