{{>header}}
<div class="page-wrap">
<div class="error-container">
    <div class="error-wrapper">
            <div class="image-container">
                <img src="/static/images/redirectForIE.jpg">
            </div>
            <div class="content-container">
                <div class="head">This browser version is not supported</div>
                <div class="sub-head" style="line-height: 30px;
    text-align: center;
    padding-top: 15px;">To use recruiter.iimjobs.com, please upgrade your browser to IE 10 or above or you 
                can you our legacy version on <span class="link">
        <a href="https://wwww.iimjobs.com/recruiter">iimjobs.com/recruiter</a>
    </span> </div>
            </div>
    </div>
</div>
</div>
{{>footer}}