{{>header}}
    <div class="page-content inset">
            <div class="container">
                <div class="leftnav full_container page-mht">
                    <div class="leftnav content  mtb20">
                        <div class="pd20 mht370">
                            <h2 class="mt0">Refund Policy</h2>
                            <div class="clearfix"></div>
                            <div class=" mt10 leftnav">
                                <p class="txt14"><b>What is your refund policy?</b></p>
                                <p>We have successfully served thousands of happy customers in the past and we are confident of the quality of our service.</p>
                                <p>However, if you are dissatisfied with any of the paid services on iimjobs.com, please drop us a mail - hello@iimjobs.com and we'll process the refund. Refunded amount will be reflected in your statement in 14 to 21 days.</p>
                                <p>Cancellation:<br>
                                If you upgraded to the Pro Plan by mistake, please drop us a mail at hello@iimjobs.com within one day from the upgrade. We will cancel your pro-membership and refund the amount.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
    </div>
 {{>footer}}