{{>header}}
	<div class="page-content">

		<div class="main-wrapper">
			<div class="main-container">
				<div class="heading">
					<h1 class="title left">Manager Dashboard</h1>
					<div class="action-buttons right">
						<span class="button white">Download Excel</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="reports-wrapper container">
					<div class="reports-header">
						<div class="keyword-search">
							<input type="text" placeholder="Search candidate" class="candidate-keyword-filter left"><button class="right search-trigger">Search</button>	
						</div>
					</div>
					<div class="reports-body">
						<table cellspacing="0" cellpadding="0">
							<tr class="report-row head">
								<th class="report-item">Date</th>
								<th class="report-item">Title</th>
								<th class="report-item">Applications</th>
								<th class="report-item">Shortlist</th>
								<th class="report-item">Reject</th>
								<th class="report-item">Save</th>
								<th class="report-item">Resume Viewed</th>
								<th class="report-item">Resume Downloaded</th>
								<th class="report-item">Excel Downloaded</th>
								<th class="report-item">Recruiter Activity</th>
								<th class="report-item">Job Status</th>
								<th class="report-item">Premium Status</th>	
								<th class="report-item">Job Current Status</th>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
							<tr class="report-row">
								<td class="report-item date">5/12/17</td>
								<td class="report-item title">
									<span><a class="job-url job-title href="#">Ace Turtle - General Manager - Business Development (1-3 yrs)</a></span>
									<span>Posted by: <span class="report-author"><a href="#" class="report-author-link">madhushree-lele</a></span></span>
									<span>Views: <span class="report-views-count">76078</span></span>
								</td>
								<td class="report-item"><a class="applications" href="#">2729</a></td>
								<td class="report-item"><a class="shortlist" href="#">527</a></td>
								<td class="report-item"><a class="reject" href="#">1917</a></td>
								<td class="report-item"><a class="save" href="#">3</a></td>
								<td class="report-item"><a class="resume-viewed-count" href="#">110</a></td>
								<td class="report-item"><a class="resume-downloaded-count" href="#">34</a></td>
								<td class="report-item">N/<a class="excel-downloaded-count" href="#">A</a></td>
								<td class="report-item"><a class="recruiter-actions" href="#">2458</a></td>
								<td class="report-item"><a class="job-status" href="#">Normal</a></td>
								<td class="report-item"><a class="premium-status" href="#">No</a></td>	
								<td class="report-item"><a class="job-current-status" href="#">Published</a></td>	
							</tr>
						</table>
						<!-- <div class="report-row head">
							<div class="report-item">Date</div>
							<div class="report-item">Title</div>
							<div class="report-item">Applications</div>
							<div class="report-item">Shortlist</div>
							<div class="report-item">Reject</div>
							<div class="report-item">Save</div>
							<div class="report-item">Resume Viewed</div>
							<div class="report-item">Resume Downloaded</div>
							<div class="report-item">Excel Downloaded</div>
							<div class="report-item">Recruiter Activity</div>
							<div class="report-item">Job Status</div>
							<div class="report-item">Premium Status</div>
							<div class="report-item">Job Current Status</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
{{>footer}}