{{> header}}

<div class="page-content">
    <div class="main-wrapper">
        <div class="main-container">
            <p class="intro">You can reset password from here!</p>
			<p class="userEmail">kartik@iimjobs.com</p>
            <div class="login-container">
            	<form>
            		<div class="form-group hidden">
                        <input type="text" id="key" class="hidden" value={{key}}> 
            			<input type="text" id="email" autocomplete="off" placeholder="Email" value={{email}}>
            			<div class="error"> </div>
            		</div>

            		<div class="form-group">
            			<input type="password" id="password" autocomplete="off" placeholder="Password">
            			<div class="error"></div>
            		</div>
					<div class="form-group">
							<input type="password" id="passwordConfirm" autocomplete="off" placeholder="Confirm Password">
							<div class="error confirmError"></div>
					</div>
            		<div class="form-group">
            			<button type="submit" value="Login" id="login">Reset</button>

            		</div>
                    <p class="forgot-password-active " id="resetSuccess"></p>
            	</form>
            </div>
        </div>
    </div>
</div>

{{> footer}}
