{{> header}}

<div class="main-container">
    <div class="reset-password-form">
        <div class="heading heading-clr">
            Set New Password
        </div>
        <div class="field">
            <input type="password" name="newPassword" id="newPassword" value="" placeholder="New Password">
            <div class="error hidden"></div>
        </div>
        <div class="field">
            <input type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="Verify New Password">
            <div class="error hidden"></div>
        </div>
        <div class="field">
            <button class="button set-new-password">Set</button>
        </div>
    </div>
</div>

{{> footer}}
