{{>header}}

<div class="page-content">
	<div class="settings-page">
		<div class="settings-sidebar">
			<ul>
				<li class="profile active" data-selector="profile">
					<p>Profile<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="social-accounts" data-selector="social-accounts">
					<p>Social Accounts<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="change-password" data-selector="change-password">
					<p>Change Password<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="notification-settings" data-selector="notification-settings">
					<p>Notification Settings<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="plans-subscriptions" data-selector="plans-subscriptions">
					<p>Plans &amp; Subscriptions<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
			</ul>
		</div>

		<div class="settings-mobile-header">
			<h3 class="mobile-title">Settings</h3>
			<div class="settings-mobile-nav">
				<ul>
					<li class="profile active" data-selector="profile">
						<span>Profile</span>
					</li>
					<li class="social-accounts" data-selector="social-accounts">
						<span>Social Accounts</span>
					</li>
					<li class="change-password" data-selector="change-password">
						<span>Change Password</span>
					</li>
					<li class="notification-settings" data-selector="notification-settings">
						<span>Notification Settings</span>
					</li>
					<li class="plans-subscriptions" data-selector="plans-subscriptions">
						<span>Plans &amp; Subscriptions</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="settings-body">
			<div class="settings-section profile">
				<div class="settings-section-header profile">
					<h3>Profile</h3>
				</div>
				<div class="settings-section-content">
					<div class="profile-image-editor">
						<div class="profile-image-preview">
							<img src="https://placehold.it/100x100/fff?text=+">
						</div>
						<div class="profile-image-info">
							<form id="profile-image-form">
								<input name="profile-image" type="file" class="hidden" id="trigger-file-upload" accept=".png,.jpg,.jpeg,.gif" >
								<div class="file-uploader">
									<span class="choose-file">Choose file</span>
									<span class="file-name">No file chosen</span>
								</div>
								<span class="upload-rules">JPG, GIF or PNG. Max size of 800K</span>
								<div class="submit">
									<button class="button green" type="submit" id="uploadPic">Upload Now</button>
								</div>
							</form>
						</div>
					</div>

					<div class="section-form">
						<div class="formgroup">
							<div class="label" for="profile-name">Name</div>
							<input type="text" id="profile-name" placeholder="Name">
						</div>
						<div class="formgroup">
							<div class="label" for="profile-number">Phone Number</div>
							<input type="text" id="profile-number" placeholder="Phone Number">
						</div>
						<div class="formgroup">
							<div class="label" for="profile-email">Email ID</div>
							<input type="text" id="profile-email" placeholder="Email">
						</div>
						<div class="formgroup">
							<div class="label" for="profile-designation">Designation</div>
							<input type="text" id="profile-designation" placeholder="Designation">
						</div>
						<div class="formgroup">
							<div class="label" for="profile-organization">Organization</div>
							<input type="text" id="profile-organization" placeholder="Organization">
						</div>
						<div class="formgroup">
							<div class="label" for="profile-website">Website</div>
							<input type="text" id="profile-website" placeholder="Website">
						</div>
						<div class="formgroup">
							<div class="label" for="profile-recruiter-type">Recruiter Type</div>
							<select id="recruiterType">
								<option value="0">Select</option>
								<option value="1">Direct Employer</option>
								<option value="2">Recruitment Firm</option>
							</select>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-location">Location</div>
							<select id="location">
								<option value="0">Select</option>
							</select>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-about">About</div>
							<textarea id="profile-about"></textarea>
						</div>
						<div class="formgroup">
							<span class="button green submit ">Save</span>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section social-accounts hidden">
				<div class="settings-section-header">
					<h3>Social Accounts</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">

						<div class="formgroup">
							<div class="label" for="social-twitter">Twitter</div>
							<input type="text" id="social-twitter" class="social-placeholder twitter">
						</div>
						<div class="formgroup">
							<div class="label" for="social-facebook">Facebook</div>
							<input type="text" id="social-facebook" class="social-placeholder facebook">
						</div>
						<div class="formgroup">
							<div class="label" for="social-linkedin">LinkedIn</div>
							<input type="text" id="social-linkedin" class="social-placeholder linkedin">
						</div>
						<div class="formgroup">
							<span class="button green submit">Save</span>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section change-password hidden">
				<div class="settings-section-header">
					<h3>Change Password</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">

						<div class="formgroup">
							<div class="label" for="old-password">Old Password</div>
							<input type="text" id="old-password">
						</div>
						<div class="formgroup">
							<div class="label" for="new-password">New Password</div>
							<input type="text" id="new-password">
						</div>
						<div class="formgroup">
							<div class="label" for="confirm-password">Confirm Password</div>
							<input type="text" id="confirm-password">
						</div>
						<div class="formgroup">
							<span class="button green submit">Save</span>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section notification-settings hidden">
				<div class="settings-section-header">
					<h3>Notification Settings</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">
						<div class="radio-group-container group-container">
							<div class="radio-option">
								<div class="radio-input">
									<input type="radio" name="notification-type" id="instant-notification">
									<label for="instant-notification">Instant Notifications</label>
								</div>
								<p class="describer">Send me an email as soon as the candidate applies to my job.</p>
							</div>
							<div class="radio-option">
								<div class="radio-input">
									<input type="radio" name="notification-type" id="digest-email-notification">
									<label for="digest-email-notification">Digest Email</label>
								</div>
								<p class="describer no-border">Send me an email once a day about all the applications on my job.</p>
							</div>
						</div>
						<div class="formgroup">
							<span class="button green submit">Save</span>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section plans-subscriptions hidden">
				<div class="settings-section-header">
					<h3>Plans &amp; Subscriptions</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">
						<div class="plan-container group-container">
							<div class="basic-plan plan-section">
								<h3 class="basic">
									<span class="left title">1. Basic Postings</span>
									<span class="right detail">Unlimited</span>
									<div class="clearfix"></div>
								</h3>
							</div>

							<div class="premium-plan plan-section">
								<h3>
									<span class="text-left title">2. Premium Postings</span>
								</h3>
								<div class="plan-block-content">
									<p>Reach out to more candidates in less time with our Premium Post</p>
									<p>
										<a href="#">See all Premium Posting Features
											<span class="right-arrow"><i class="icon-right_arrow"></i>
											</span>
										</a>
									</p>
									<p>
										<a href="#">Buy more credits
											<span class="right-arrow"><i class="icon-right_arrow"></i>
											</span>
										</a>
									</p>
								</div>
							</div>
						</div>
						<div class="formgroup">
							<span class="button green submit">Save</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>footer}}
