{{>header}}

<div class="toast-notification-container">
    <div class="toast-notification">
        <!-- <div class="notification-icon">
            <img src="/static/images/close-icon.png" />
        </div> -->
        <div class="notification-message">
            <p></p>
        </div>
    </div>
</div>

<div class="page-content">
	<div class="settings-page">
		<div class="settings-sidebar">
			<ul class="listing">
				<li class="profile active" data-selector="profile">
					<p>Profile<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="social-accounts" data-selector="social-accounts">
					<p>Social Accounts<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="change-password" data-selector="change-password">
					<p>Change Password<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="notification-settings" data-selector="notification-settings">
					<p>Notification Settings<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
				<li class="plans-subscriptions" data-selector="plans-subscriptions">
					<p>Plans &amp; Subscriptions<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
                <li class="distribute-credits" id="credits" data-selector="distribute-credits" state="default">
					<p>Distribute Credits<span class="arrow right"><i class="icon-right_arrow"></i></span></p>
				</li>
			</ul>
		</div>

		<div class="settings-mobile-header">
			<h3 class="mobile-title">Settings</h3>
			<div class="settings-mobile-nav">
				<ul>
					<li class="profile active" data-selector="profile">
						<span>Profile</span>
					</li>
					<li class="social-accounts" data-selector="social-accounts">
						<span>Social Accounts</span>
					</li>
					<li class="change-password" data-selector="change-password">
						<span>Change Password</span>
					</li>
					<li class="notification-settings" data-selector="notification-settings">
						<span>Notification Settings</span>
					</li>
					<li class="plans-subscriptions" data-selector="plans-subscriptions">
						<span>Plans &amp; Subscriptions</span>
					</li>
                    <li class="distribute-credits" data-selector="distribute-credits">
    					<span>Distribute Credits</span>
    				</li>
				</ul>
			</div>
		</div>

		<div class="settings-body settingsBody">
			<div class="settings-section profile">
				<div class="settings-section-header profile">
					<h3>Profile</h3>
				</div>
				<div class="settings-section-content">
					<div class="profile-image-editor">
						<div class="profile-image-preview left">
							<img id="profileImg" src="https://placehold.it/100x100/fff?text=+">
						</div>
						<div class="profile-image-info right">
							<form id="profile-image-form">
								<input name="profile-image" type="file" class="hidden" id="trigger-file-upload" accept=".png,.jpg,.jpeg,.gif" >
								<div class="file-uploader">
									<span class="choose-file">Choose file</span>
									<span class="file-name" id="fileName">No file chosen</span>
								</div>
								<span class="upload-rules">JPG, GIF or PNG. Max size of 800K</span>
								<div class="submit">
									<div class="upload-container">
										{{> spinner}}
										<button type="button" class="button green"  id="uploadPic">Upload Now</button>
									</div>
								</div>
							</form>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="section-form">
						<div class="formgroup">
							<div class="label" for="profile-name">Name*</div>
							<input name="Name" type="text" id="profile-name" placeholder="Name">
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-number">Phone Number*</div>
							<input name="Phone" type="text" id="profile-number" placeholder="Phone Number">
							<div id="" class=" error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-email">Email ID*</div>
							<input name="Email" type="text" id="profile-email" placeholder="Email" disabled>
							<div id="" class=" error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-designation">Designation*</div>
							<input name="Designation" type="text" id="profile-designation" placeholder="Designation">
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-organization">Organization*</div>
							<input name="Organization" type="text" id="profile-organization" placeholder="Organization">
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-website">Website</div>
							<input name="Website" type="text" id="profile-website" placeholder="Website">
							<div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-recruiter-type">Recruiter Type*</div>
							<select name="recruiterType"  id="recruiterType">
								<option value="0">Select</option>
								<option value="1">Direct Employer</option>
								<option value="2">Recruitment Firm</option>
							</select>
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-location">Location</div>
							<select id="location">
								<option value="-1" selected="">Select</option>
								   <option value="1">
								      Ahmedabad
								   </option>
								   <option value="2">
								      Bengaluru / Bangalore
								   </option>
								   <option value="41">
								      Chandigarh
								   </option>
								   <option value="3">
								      Chennai
								   </option>
								   <option value="4" selected="">
								      Delhi/NCR
								   </option>
								   <option value="221">
								      Delhi
								   </option>
								   <option value="5">
								      Gurgaon
								   </option>
								   <option value="6">
								      Hyderabad
								   </option>
								   <option value="7">
								      Kolkata
								   </option>
								   <option value="8">
								      Mumbai
								   </option>
								   <option value="9">
								      Noida
								   </option>
								   <option value="10">
								      Pune
								   </option>
								   <option value="62">
								      Guntur
								   </option>
								   <option value="82">
								      Kakinada
								   </option>
								   <option value="98">
								      Kurnool
								   </option>
								   <option value="113">
								      Nellore
								   </option>
								   <option value="114">
								      Nizamabad
								   </option>
								   <option value="129">
								      Rajamundry
								   </option>
								   <option value="150">
								      Tirupati
								   </option>
								   <option value="160">
								      Vijayawada
								   </option>
								   <option value="161">
								      Visakhapatnam
								   </option>
								   <option value="162">
								      Warangal
								   </option>
								   <option value="222">
								      Anantapur
								   </option>
								   <option value="223">
								      Guntakal
								   </option>
								   <option value="225">
								      Rajahmundry
								   </option>
								   <option value="226">
								      Secunderabad
								   </option>
								   <option value="227">
								      Andhra Pradesh - Other
								   </option>
								   <option value="72">
								      Itanagar
								   </option>
								   <option value="228">
								      Arunachal Pradesh - Other
								   </option>
								   <option value="51">
								      Dispur
								   </option>
								   <option value="63">
								      Guwahati
								   </option>
								   <option value="140">
								      Silchar
								   </option>
								   <option value="229">
								      Assam - Other
								   </option>
								   <option value="34">
								      Bhilaigarh
								   </option>
								   <option value="122">
								      Patna
								   </option>
								   <option value="230">
								      Bihar - Other
								   </option>
								   <option value="26">
								      Bhagalpur
								   </option>
								   <option value="39">
								      Bilaspur
								   </option>
								   <option value="128">
								      Raipur
								   </option>
								   <option value="231">
								      Bhillai
								   </option>
								   <option value="232">
								      Chhattisgarh - Other
								   </option>
								   <option value="59">
								      Goa
								   </option>
								   <option value="233">
								      Panaji
								   </option>
								   <option value="234">
								      Panjim
								   </option>
								   <option value="235">
								      Vasco Da Gama
								   </option>
								   <option value="236">
								      Goa - Other
								   </option>
								   <option value="21">
								      Anand
								   </option>
								   <option value="22">
								      Ankleshwar
								   </option>
								   <option value="28">
								      Baroda
								   </option>
								   <option value="31">
								      Bharuch
								   </option>
								   <option value="33">
								      Bhavnagar
								   </option>
								   <option value="37">
								      Bhuj
								   </option>
								   <option value="56">
								      Gandhinagar
								   </option>
								   <option value="79">
								      Jamnagar
								   </option>
								   <option value="83">
								      Kandla
								   </option>
								   <option value="124">
								      Porbandar
								   </option>
								   <option value="130">
								      Rajkot
								   </option>
								   <option value="145">
								      Surat
								   </option>
								   <option value="155">
								      Vadodara
								   </option>
								   <option value="156">
								      Valsad
								   </option>
								   <option value="157">
								      Vapi
								   </option>
								   <option value="238">
								      Gir
								   </option>
								   <option value="239">
								      Gujarat - Other
								   </option>
								   <option value="19">
								      Ambala
								   </option>
								   <option value="55">
								      Faridabad
								   </option>
								   <option value="66">
								      Hisar
								   </option>
								   <option value="86">
								      Karnal
								   </option>
								   <option value="99">
								      Kurukshetra
								   </option>
								   <option value="117">
								      Panipat
								   </option>
								   <option value="132">
								      Rohtak
								   </option>
								   <option value="143">
								      Sonipat / Sonepat
								   </option>
								   <option value="164">
								      Yamunanagar
								   </option>
								   <option value="242">
								      Haryana - Other
								   </option>
								   <option value="25">
								      Baddi
								   </option>
								   <option value="45">
								      Dalhousie
								   </option>
								   <option value="49">
								      Dharamsala
								   </option>
								   <option value="97">
								      Kulu/Manali
								   </option>
								   <option value="137">
								      Shimla
								   </option>
								   <option value="244">
								      Himachal Pradesh - Other
								   </option>
								   <option value="78">
								      Jammu
								   </option>
								   <option value="144">
								      Srinagar
								   </option>
								   <option value="245">
								      Jammu &amp; Kashmir - Other
								   </option>
								   <option value="40">
								      Bokaro
								   </option>
								   <option value="48">
								      Dhanbad
								   </option>
								   <option value="80">
								      Jamshedpur
								   </option>
								   <option value="131">
								      Ranchi
								   </option>
								   <option value="246">
								      Jharkhand - Other
								   </option>
								   <option value="29">
								      Belgaum
								   </option>
								   <option value="30">
								      Bellary
								   </option>
								   <option value="38">
								      Bidar
								   </option>
								   <option value="50">
								      Dharwad
								   </option>
								   <option value="61">
								      Gulbarga
								   </option>
								   <option value="68">
								      Hubli
								   </option>
								   <option value="91">
								      Kolar
								   </option>
								   <option value="104">
								      Mangalore
								   </option>
								   <option value="109">
								      Mysore
								   </option>
								   <option value="138">
								      Shimoga
								   </option>
								   <option value="248">
								      Karnataka - Other
								   </option>
								   <option value="16">
								      Alappuzha / Alleppey
								   </option>
								   <option value="42">
								      Cochin / Kochi / Ernakulam
								   </option>
								   <option value="69">
								      Idukki
								   </option>
								   <option value="84">
								      Kannur
								   </option>
								   <option value="87">
								      Kasargod
								   </option>
								   <option value="93">
								      Kollam
								   </option>
								   <option value="95">
								      Kottayam
								   </option>
								   <option value="96">
								      Kozhikode / Calicut
								   </option>
								   <option value="103">
								      Malappuram
								   </option>
								   <option value="116">
								      Pallakad
								   </option>
								   <option value="119">
								      Pathanamthitta
								   </option>
								   <option value="147">
								      Thrissur / Trissur
								   </option>
								   <option value="148">
								      Thiruvananthapuram / Trivandrum
								   </option>
								   <option value="163">
								      Wayanad
								   </option>
								   <option value="249">
								      Palakkad
								   </option>
								   <option value="250">
								      Palghat
								   </option>
								   <option value="251">
								      Kerala - Other
								   </option>
								   <option value="35">
								      Bhopal
								   </option>
								   <option value="64">
								      Gwalior
								   </option>
								   <option value="71">
								      Indore
								   </option>
								   <option value="73">
								      Jabalpur
								   </option>
								   <option value="154">
								      Ujjain
								   </option>
								   <option value="252">
								      Madhya Pradesh - Other
								   </option>
								   <option value="13">
								      Ahmednagar
								   </option>
								   <option value="24">
								      Aurangabad
								   </option>
								   <option value="77">
								      Jalgaon
								   </option>
								   <option value="92">
								      Kolhapur
								   </option>
								   <option value="111">
								      Nagpur
								   </option>
								   <option value="112">
								      Nasik
								   </option>
								   <option value="139">
								      Sholapur
								   </option>
								   <option value="254">
								      Mumbai Suburbs
								   </option>
								   <option value="255">
								      Navi Mumbai
								   </option>
								   <option value="257">
								      Solapur
								   </option>
								   <option value="258">
								      Maharashtra - Other
								   </option>
								   <option value="70">
								      Imphal
								   </option>
								   <option value="259">
								      Manipur - Other
								   </option>
								   <option value="136">
								      Shillong
								   </option>
								   <option value="260">
								      Meghalaya - Other
								   </option>
								   <option value="14">
								      Aizawal
								   </option>
								   <option value="261">
								      Mizoram - Other
								   </option>
								   <option value="90">
								      Kohima
								   </option>
								   <option value="262">
								      Dimapur
								   </option>
								   <option value="263">
								      Nagaland - Other
								   </option>
								   <option value="36">
								      Bhubaneshwar
								   </option>
								   <option value="44">
								      Cuttack
								   </option>
								   <option value="118">
								      Paradeep
								   </option>
								   <option value="126">
								      Puri
								   </option>
								   <option value="134">
								      Rourkela
								   </option>
								   <option value="264">
								      Orissa - Other
								   </option>
								   <option value="20">
								      Amritsar
								   </option>
								   <option value="32">
								      Bhatinda
								   </option>
								   <option value="76">
								      Jalandhar
								   </option>
								   <option value="101">
								      Ludhiana
								   </option>
								   <option value="107">
								      Mohali
								   </option>
								   <option value="120">
								      Pathankot
								   </option>
								   <option value="121">
								      Patiala
								   </option>
								   <option value="265">
								      Bathinda
								   </option>
								   <option value="267">
								      Punjab - Other
								   </option>
								   <option value="15">
								      Ajmer
								   </option>
								   <option value="74">
								      Jaipur
								   </option>
								   <option value="75">
								      Jaisalmer
								   </option>
								   <option value="81">
								      Jodhpur
								   </option>
								   <option value="94">
								      Kota
								   </option>
								   <option value="153">
								      Udaipur
								   </option>
								   <option value="268">
								      Rajasthan - Other
								   </option>
								   <option value="57">
								      Gangtok
								   </option>
								   <option value="269">
								      Sikkim - Other
								   </option>
								   <option value="43">
								      Coimbatore
								   </option>
								   <option value="53">
								      Erode
								   </option>
								   <option value="67">
								      Hosur
								   </option>
								   <option value="102">
								      Madurai
								   </option>
								   <option value="110">
								      Nagercoil
								   </option>
								   <option value="115">
								      Ooty
								   </option>
								   <option value="135">
								      Salem
								   </option>
								   <option value="146">
								      Thanjavur
								   </option>
								   <option value="149">
								      Tirunalveli
								   </option>
								   <option value="151">
								      Trichy
								   </option>
								   <option value="152">
								      Tuticorin
								   </option>
								   <option value="159">
								      Vellore
								   </option>
								   <option value="271">
								      Cuddalore
								   </option>
								   <option value="272">
								      Tamil Nadu - Other
								   </option>
								   <option value="11">
								      Agartala
								   </option>
								   <option value="273">
								      Tripura - Other
								   </option>
								   <option value="46">
								      Daman
								   </option>
								   <option value="88">
								      Kavaratti
								   </option>
								   <option value="123">
								      Pondicherry
								   </option>
								   <option value="125">
								      Port Blair
								   </option>
								   <option value="142">
								      Silvassa
								   </option>
								   <option value="275">
								      Dadra &amp; Nagar Haveli
								   </option>
								   <option value="12">
								      Agra
								   </option>
								   <option value="17">
								      Aligarh
								   </option>
								   <option value="18">
								      Allahabad
								   </option>
								   <option value="27">
								      Bareilly
								   </option>
								   <option value="54">
								      Faizabad
								   </option>
								   <option value="58">
								      Ghaziabad
								   </option>
								   <option value="60">
								      Gorakhpur
								   </option>
								   <option value="85">
								      Kanpur
								   </option>
								   <option value="100">
								      Lucknow
								   </option>
								   <option value="105">
								      Mathura
								   </option>
								   <option value="106">
								      Meerut
								   </option>
								   <option value="108">
								      Moradabad
								   </option>
								   <option value="158">
								      Varanasi
								   </option>
								   <option value="278">
								      Uttar Pradesh - Other
								   </option>
								   <option value="47">
								      Dehradun
								   </option>
								   <option value="133">
								      Roorkee
								   </option>
								   <option value="279">
								      Uttaranchal - Other
								   </option>
								   <option value="23">
								      Asansol
								   </option>
								   <option value="52">
								      Durgapur
								   </option>
								   <option value="65">
								      Haldia
								   </option>
								   <option value="89">
								      Kharagpur
								   </option>
								   <option value="141">
								      Siliguri
								   </option>
								   <option value="281">
								      West Bengal - Other
								   </option>
								   <option value="165">
								      Other India
								   </option>
								   <option value="127">
								      Quilon
								   </option>
								   <option value="166">
								      Australia
								   </option>
								   <option value="167">
								      Bahrain
								   </option>
								   <option value="168">
								      Bangladesh
								   </option>
								   <option value="169">
								      Belgium
								   </option>
								   <option value="170">
								      Canada
								   </option>
								   <option value="171">
								      China
								   </option>
								   <option value="214">
								      Doha
								   </option>
								   <option value="215">
								      Dubai
								   </option>
								   <option value="172">
								      Egypt
								   </option>
								   <option value="173">
								      France
								   </option>
								   <option value="174">
								      Germany
								   </option>
								   <option value="175">
								      Gulf
								   </option>
								   <option value="176">
								      Hongkong
								   </option>
								   <option value="177">
								      Indonesia
								   </option>
								   <option value="216">
								      INDIA
								   </option>
								   <option value="178">
								      Ireland
								   </option>
								   <option value="217">
								      Italy
								   </option>
								   <option value="179">
								      Japan
								   </option>
								   <option value="180">
								      Jordan
								   </option>
								   <option value="218">
								      Kenya
								   </option>
								   <option value="181">
								      Kuwait
								   </option>
								   <option value="182">
								      Lebanon
								   </option>
								   <option value="219">
								      Libya
								   </option>
								   <option value="183">
								      Macau
								   </option>
								   <option value="184">
								      Malaysia
								   </option>
								   <option value="185">
								      Maldives
								   </option>
								   <option value="186">
								      Mauritius
								   </option>
								   <option value="187">
								      Mexico
								   </option>
								   <option value="188">
								      Nepal
								   </option>
								   <option value="189">
								      Netherlands
								   </option>
								   <option value="190">
								      New Zealand
								   </option>
								   <option value="220">
								      Norway
								   </option>
								   <option value="191">
								      Oman
								   </option>
								   <option value="192">
								      Pakistan
								   </option>
								   <option value="193">
								      Philippines
								   </option>
								   <option value="194">
								      Qatar
								   </option>
								   <option value="195">
								      Russia
								   </option>
								   <option value="196">
								      Saudi Arabia
								   </option>
								   <option value="197">
								      Singapore
								   </option>
								   <option value="198">
								      South Africa
								   </option>
								   <option value="199">
								      South Korea
								   </option>
								   <option value="200">
								      Spain
								   </option>
								   <option value="201">
								      SriLanka
								   </option>
								   <option value="202">
								      Sweden
								   </option>
								   <option value="203">
								      Switzerland
								   </option>
								   <option value="204">
								      Taiwan
								   </option>
								   <option value="205">
								      Thailand
								   </option>
								   <option value="206">
								      United Kingdom
								   </option>
								   <option value="207">
								      United Arab Emirates
								   </option>
								   <option value="208">
								      United States
								   </option>
								   <option value="209">
								      Vietnam
								   </option>
								   <option value="210">
								      Yemen
								   </option>
								   <option value="211">
								      Zimbabwe
								   </option>
								   <option value="282">
								      Luxembourg
								   </option>
								   <option value="212">
								      Other International
								   </option>
								   <option value="213">
								      Anywhere
								   </option>
							</select>
						</div>
						<div class="formgroup">
							<div class="label" for="profile-about" >About</div>
							<textarea id="profile-about"   placeholder="About"></textarea>
						</div>
						<div class="formgroup">
							<div class="save-container">
								{{> spinner}}
								<span class="button green submit ">Save</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section social-accounts hidden">
				<div class="settings-section-header">
					<h3>Social Accounts</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">

						<div class="formgroup">
							<div class="label" for="social-twitter">Twitter</div>
							<input name="Twitter" type="text" id="social-twitter" class="social-placeholder twitter"  placeholder="Twitter">
							<div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="social-facebook">Facebook</div>
							<input name="Facebook" type="text" id="social-facebook" class="social-placeholder facebook"  placeholder="Facebook">
							<div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="social-linkedin">LinkedIn</div>
							<input name="LinkedIn" type="text" id="social-linkedin" class="social-placeholder linkedin"  placeholder="LinkedIn">
							<div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="save-container">
									{{> spinner}}
									<span class="button green submit ">Save</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section change-password hidden">
				<div class="settings-section-header">
					<h3>Change Password</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">

						<div class="formgroup">
							<div class="label" for="old-password">Old Password*</div>
							<input type="password" id="old-password" name="oldPassword"  placeholder="Old Password">
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="new-password">New Password*</div>
							<input type="password" id="new-password" name="newPassword" placeholder="New Password">
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="label" for="confirm-password">Confirm Password*</div>
							<input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password">
                            <div  id="" class="error hidden"></div>
						</div>
						<div class="formgroup">
							<div class="save-container">
								{{> spinner}}
								<span class="button green submit ">Save</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section notification-settings hidden">
				<div class="settings-section-header">
					<h3>Notification Settings</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">
						<div class="radio-group-container group-container">
							<div class="radio-option">
								<div class="radio-input">
									<input type="radio" name="notification-type" id="instant-notification" value="1">
									<label for="instant-notification">Instant Notifications</label>
								</div>
								<p class="describer">Send me an email as soon as the candidate applies to my job.</p>
							</div>
							<div class="radio-option">
								<div class="radio-input">
									<input type="radio" name="notification-type" id="digest-email-notification" value="0">
									<label for="digest-email-notification">Digest Email</label>
								</div>
								<p class="describer no-border">Send me an email once a day about all the applications on my job.</p>
							</div>
						</div>
						<div class="formgroup">
							<div class="save-container">
									{{> spinner}}
									<span class="button green submit ">Save</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="settings-section plans-subscriptions hidden">
				<div class="settings-section-header">
					<h3>Plans &amp; Subscriptions</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">
						<div class="plan-container group-container">
							<div class="basic-plan plan-section">
								<h3 class="basic">
									<span class="left title">1. Basic Postings</span>
									<span class="right detail">Unlimited</span>
									<div class="clearfix"></div>
								</h3>
							</div>

							<div class="premium-plan plan-section">
								<h3>
									<span class="left title">2. Premium Postings</span>
                                    <span class="right detail" id="premiumDetail">Unlimited</span>
                                    <div class="clearfix"></div>
								</h3>
								<div class="plan-block-content">
									<p>Reach out to more candidates in less time with our Premium Post</p>
									<p>
										<a id="seeAllPremium" href="{{{{staticEndPoints.plans}}}}" class="hidden">See all Premium Posting Features
											<span class="right-arrow"><i class="icon-right_arrow"></i>
											</span>
										</a>
									</p>
									<p>
										<a id="buyMore" href="{{staticEndPoints.plans}}" class="hidden">Buy more credits
											<span class="right-arrow"><i class="icon-right_arrow"></i>
											</span>
										</a>
									</p>
								</div>
							</div>
						</div>
						<!-- <div class="formgroup">
							<span class="button green submit">Save</span>
						</div> -->
					</div>
				</div>
			</div>

            <div class="settings-section distribute-credits hidden">
				<div class="settings-section-header">
					<h3>Distribute Credits</h3>
				</div>
				<div class="settings-section-content">
					<div class="section-form">
						<div class="loader-container hidden">
								<div class="loader-content">

									<div class="loading loaderScroller" style="margin-top:20px ">
											<div class="loader loader-scroller"></div>
									</div>
								</div>
						</div>

						<div class="wrapper-container">
							<div class="credits-container group-container">
								<div class="credits-header">
									Available Credits: {{profile.availableCredits}}
									<div class="error-slot"></div>
								</div>

								<div class="credits-content">
									<div class="content-header">
										<div class="column team-mem">Team Member</div>
										<div class="column ttl-cre">Total Credits</div>
										<div class="column rem-cre">Remaining Credits</div>
										<div class="column use-cre">Used Credits</div>
										<div class="column add-cre">Add</div>
									</div>
									<div class="content-row-container">

									</div>

								</div>
							</div>
							<div class="formgroup">
								<div class="save-container">
									{{> spinner}}
									<span class="button green submit distribute-credits" id="credits-distribute">Distribute Credits</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{{>footer}}
<div class="content-row creditsContentsRow prototype hidden" id="">
	<div class="column team-mem">
		<div class="mem-img left">
			<img class="memImg" src="https://www.placehold.it/100x100/f5f5f5?text=+" alt="">
		</div>
		<div class="mem-info right">
			<div class="memName">Shreya</div>
			<div class="memDes">Manager</div>
			<div class="memOrg">IImjobs.com</div>
		</div>
	</div>
	<div class="column ttl-cre  totalCredits">5</div>
	<div class="column rem-cre remainingCredits">5</div>
	<div class="column use-cre usedCredits">5</div>
	<div class="column add-cre">
		<input type="number" class="addCredit" min="0" value="0" >
		<span class="cancelTeamMember">
			<i class="icon-cross_icon">
				
			</i>
		</span>
	</div>
</div>
