<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	{{#styles.length}}
    	{{#styles}}
    		<link rel="stylesheet" href="{{.}}">
    	{{/styles}}
	{{/styles.length}}
</head>
<body>
	<div class="logo">
		<h3>iimjobs</h3><span>.com</span>
	</div>
	<div>

		<form class="center-form">
			<div class="row">
				<div class="block-heading">Recruiter Login</div>
			</div>
			<div class="row">
				<div class="marker">Name</div>
				<input id="userName" type="text" name="username">
			</div>
			<div class="row">
				<input id="user-email" type="email" name="username" placeholder="Email" required>
			</div>
			<div class="row">
				<input id="user-password" type="password" name="username" placeholder="Password" required>
			</div>
			<div class="row">
				<button class="button js-submit" type="submit">Submit</button>
			</div>
			<div class="row">
				<div class="error-message error-red"></div>
			</div>
		</form>

	</div>
{{> footer }}
