{{>header}}

	{{>chatSticky}}
	
	<div class="page-content">
		<div class="tagged-candidates">
			<div class="page-header">
				<select class="minimal" id="filterByTagList">
					<option value="-1" class="">Tagged Candidates - All Tags</option>
				</select>
			</div>

			<!-- <div class="page-mobile-header">
				<h3 class="mobile-title">Tagged Candidates</h3>
				<div class="stats">

					<span class="total-candidates"><span class="candidates-count">272</span> candidates</span>

					<select class="minimal" id="">
						<option value="0">All Candidates</option>
					</select>
					<select class="minimal" id="">
						<option value="0">All Jobs</option>
					</select>
				</div>
			</div> -->
			<div class="tagged-candidates-listing">
				{{>candidateApplyListShell}}
				{{>candidateApplyListShell}}
				<div class="" id="candidateListing">

				</div>
			</div>


		</div>
		<div class="conversations">
			{{>chatSidebar}}
		</div>
	</div>

	<div class="candidate-item candidateItem prototype hidden">
			<div class="candidate-item-section image">
				<div class="candidate-image">
					<img class="candImage" src="http://placehold.it/60x60/f5f5f5?text=+">
					<div class="candidate-status candidateStatus online hidden"></div>
				</div>
				<div class="section">
					<span class="sticker pro-member isProMember hidden">Pro</span>
				</div>
			</div>

			<div class="candidate-item-section personal-details">
				<p class="profile-name candName">Shelly Sharma</p>
				<p class="experience-label data-label">
					<span class="bold">Experience: </span>
					<span class="experience value candExperience">2y 3m</span>
				</p>
				<p class="location-label data-label">
					<span class="bold">Location: </span>
					<span class="location value candCurrentLocation">Delhi</span>
				</p>
				<p class="applied-label data-label">
					<span class="bold">Applied: </span>
					<span class="applied value candAppliedOn">15-06-2017</span>
				</p>
				<p class="notice-period-label data-label">
					<span class="bold">Notice Period: </span>
					<span class="notice-period value candNotice">1 month</span>
				</p>
			</div>

			<div class="candidate-item-section professional-information candProfessionalList">

			</div>

			<div class="candidate-item-section educational-details candEducationList">


			</div>

			<div class="candidate-item-section profile-actions">
				<div class="resume-download-area">
					<a class="button green download-resume candDownloadResume">Download Resume</span></a>
				</div>
				<div class="skill-tag-listing candTagListing">

				</div>
			</div>

			<div class="tagged-on-label">
				<div class="jobListing">
					<p>Applied to job - <span class="jobTitle">job title</span> (<a href="" class="candidateViewProfile">View Profile</a>) </p>
				</div>
				<div class="multipleJobListingContainer hidden">
					<span class="multipleJobListingText"></span>
					<div class="multipleJobListing"></div>
				</div>
			</div>
			<div class="section sticker-container">
				<span class="sticker followed-up hidden isFollowedUp">Followed up</span>
			</div>
			<div class="separator"></div>
	</div>

	<div class="datum candProfessionalItem prototype hidden">
		<p class="data name companyName">iimjobs.com</p>
		<p class="detail designation candDesignation">Full Stack Engineer</p>
		<p class="detail tenure candTenure">2008-2012</p>
	</div>

	<div class="datum candEducationItem prototype hidden">
		<p class="data name instituteName">B.Tech</p>
		<p class="detail tenure candBatch">2008-2012</p>
		<p class="detail degree candDegree">B Tech / BE (Full Time)</p>
	</div>

	<span class="skill-tag candTagItem prototype hidden"><a href="">UI/UX</a></span>

	<option value="" class="tagOption prototype hidden">Tagged Candidates - All Tags</option>

	<div class="candAppliedJobs prototype hidden"></div>

{{>footer}}
