{{>header}}
<div class="page-content"> 
    <div class="center">
        <div class="pulse">
            <img src="/static/images/login.png">
        </div>
        <!-- <div class="pulse-2">
                <img src="/static/images/loggedin.png">
        </div> -->
        <div class="content"> 
            <h3 class="animated fadeInUp" id="login">Logging in</h3>     
            <h3 class="animated fadeInUp hidden" id="wait">Please wait</h3>        
        </div>
       
    </div>    
    
</div>    
{{>footer}}