{{> header}}

<div class="test">
    <div class="table">
            <div class="D-avail">
                <span id="two">Days Available</span>
                <span class="section">
                        <span class="check-input">
                            <input type="checkbox" id="check-button-one">
                             <label for="check-button-one">FRI</label>
                         </span>								
                </span>
            </div>

            <div class="time-section">
                    <div class="section-one">
                        	<span id="two">START TIME</span>
							
                        <select class="select-dropdown" id="select">
                            <div class="dropdown-list">
                            <option value="0"selected>Select</option>
                                
                            </div>
                        </select>
                    </div>
                   
                    <div class="section-one" >
                            <span id="three">END TIME</span>  
                        <select class="select-dropdown" id="select">
                            <div class="dropdown-list">
                                <option  value="0"	  selected>Select</option>
                            </div>
                        </select>
                    </div>
            </div>
    </div>
</div>
{{> footer}}