{{> header}}

<div class="main-container">
    <div class="heading-container">
        <div class="heading-content heading-clr font-heading">Manager Dashboard</div>
        <div class="download-excel"><button class="button">Download Excel</button></div>
    </div>
    <div class="reports-table">
        <table class="view-reports-table">
          <tr class="heading-row text-clr hidden">
            <th>Date</th>
            <th>Title</th>
            <th>Posted By</th>
            <th>Posting Views</th>
            <th>Applications</th>
            <th>Shortlist</th>
            <th>Reject</th>
            <th>Save</th>
            <th>Resume Viewed</th>
            <th>Resume Downloaded</th>
            <th>Excel Downloaded</th>
            <th>Recruiter Activity</th>
            <th>Job Status</th>
            <th>Premium Status</th>
            <th>Job Current Status</th>
          </tr>
        </table>
    </div>
</div>

{{> footer}}
