{{> header}}

<div class="main-container">
    <div class="booked-slots-container">
        <div class="animated-background-wrapper">
            <div class="booked-slots-heading animated-background"></div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-heading animated-background"></div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-heading animated-background"></div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
            <div class="booked-slots-card">
                <div class="booked-slots-card-header animated-background">
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-view">
        <div id='calendar'></div>
    </div>
</div>
<div class="booked-slots-wrapper prototype hidden">
    <div class="booked-slots-heading font-sm extra-info-color"></div>
    <div class="booked-slots-card">
        <div class="booked-slots-card-header">
        </div>
    </div>
</div>

{{> footer}}
