 {{> header}}

<div class="profile_container box_shadow">

  <div class="profile_header">
    <span class="name">Name</span>
    <span class="organization">Organization</span>
    <span class="institute">Institute</span>
    <span class="more">Exp./ Location More</span>
  </div>

<div class="profile_content">

  <span class="content name userDetail">
      <div class="info">
          <img class="user_img" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA">
      </div>
    <div class="info">
        <div class="important_info name">Nitish</div>
        <div class="extra_info email">Nitish</div>
        <div class="extra_info contact">Nitish</div>
        <div class="extra_info"><span class="sex">Male</span> , <span class="age">29</span> years</div>
        <div class="extra_info notice">Immediately Available</div>

        <!-- <div class="extra_info applyDate">Applied: 15-05-2016</div> -->
        <div class="extra_info last-login">Immediately Available</div>
    </div>

    <div class="info">
      <button id="slider" class="button small">More Info    <i class="fa fa-caret-down" aria-hidden="true"></i></button>
    </div>

  </span>

  <span class="content organization">
  </span>

  <span class="content institute">
</span>

  <span class="content more extraInfo">
    <div class="info">
        <div class="extra_info experience">Experience: 3y 6m</div>
        <div class="extra_info location">Location: Delhi</div>
        <div class="extra_info hidden">Location: Dadra &amp; Nagar Haveli</div>
        <div class="extra_info prefLocation">Preferred Location: Delhi, Gurgaon, Noida</div>
        <div class="extra_info currentCTC">Current Salary: Confidential</div>
        <div class="extra_info expectedCTC">Expected Salary: Confidential</div>

    </div>
    <div class="info">
      <a href="#">tags</a><button class="button x-small"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>
      <a href="#">tags</a><button class="button x-small"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>
      <a href="#">tags</a><button class="button x-small"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>
      <a href="#">tags</a><button class="button x-small"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>
    </div>
  </span>

  <hr class="divider">

  <div class="more_info moreInfo">
      <div class="layer">
            <div class="info marital-status-container">
              <div class="heading">Marital Status</div>
              <div class="content maritalStatus">Single</div>
            </div>
            <div class="info permit-container">
              <div class="heading">Work Permit for USA</div>
              <div class="content permit">No</div>
            </div>
            <div class="info score-container">
                <div class="score ">
                  <div class="heading">CAT Percentile</div>
                  <div class="content">-</div>
                </div>
                <div class="score ">
                  <div class="heading">IIT-JEE All India Rank (AIR)</div>
                  <div class="content">-</div>
                </div>
                <div class="score">
                  <div class="heading">GMAT Score</div>
                  <div class="content">-</div>
                </div>
            </div>
            <div class="info languages-container">
              <div class="heading">Languages</div>
              <div class="content languages">English, Hindi</div>
            </div>
        </div>

  <hr class="divider">
  <div class="layer">
    <div class="row">
      <div class="column">
        <div class="heading">Have you handled a team?</div>
        <div class="content handleTeam">yes</div>
      </div>
      <div class="column">
        <div class="heading">Are you willing to work 6 days a week?</div>
        <div class="content sixDayWorking">yes</div>
      </div>
      <div class="column">
        <div class="heading">Are you willing to relocate?</div>
        <div class="content relocate">no</div>
      </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="heading">Differently abled</div>
      <div class="content differentlyAbled">no</div>
    </div>
    <div class="column">
      <div class="heading">Are you open to joining an early stage start-up?</div>
      <div class="content earlyStartup">no</div>
    </div>
    <div class="column">
      <div class="heading">Willingness to Travel?</div>
      <div class="content travel">no</div>
    </div>
</div>

</div>
<hr class="divider">
<div class="layer heading about">
  I am a Product Analyst for an ecommerce firm with 6 months of experience.
</div>


 </div>
 <hr id="divide" class="divider" style="display:none">
 <div class="buttons">
   <a href="#" class="icon" data-attribute="1"><i class="fa fa-check-square-o" aria-hidden="true"></i> Shortlist</a>
   <a href="#" class="icon" data-attribute="2"><i class="fa fa-ban" aria-hidden="true"></i> Reject</a>
   <a href="#" class="icon" data-attribute="3"><i class="fa fa-floppy-o" aria-hidden="true"></i> Saved</a>
   <a href="#" class="icon" data-attribute="5"><i class="fa fa-download" aria-hidden="true"></i> Download Resume</a>
   <a href="#" class="icon" style="text-align:center"><i class="fa fa-whatsapp" aria-hidden="true"></i> Chat</a>
 </div>
</div>
</div>

<div class="tab_container">
  <div class="tab  box_shadow">
    <div class="tab_heading">
      <span class="">Comments</span>
    </div>
    <div class="tab_content">

      <input type="text" placeholder="Add Comments...">
      <button class="button">Update</button>
    </div>
  </div>
  <div class="tab box_shadow center">
    <div class="tab_heading">
      <span class="">Contact Information</span>
    </div>
    <div class="tab_content">
      <div class="info">
        <span class="left email text-clr font-lg">Shreya3.jain@gmail.com</span>
        <span class="right"><i class="highlighted fa fa-check" aria-hidden="true"></i><span class="font-md extra-info-color"> Verified</span></span>
    </div>

    <div class="info phone">
      <span class="left contact">9999999999</span>
      <span class="right"><i class="fa fa-check" aria-hidden="true"></i> Verified</span>
    </div>
  </div>
</div>
  <div class="tab  box_shadow">
    <div class="tab_heading">
      <span class="">Tags</span>
    </div>
    <div class="tab_content">
      <input type="text" placeholder="Add Tags...">
      <button class="button">Submit</button>
    </div>
  </div>
</div>

<div class="resume-container">
  <div class="resume box_shadow ">
    <div class="head">
      <span>Resume</span>
    </div>
    <div class="resume-embed-container">
    </div>

  </div>

  <div class="cover_letter box_shadow ">
    <div class="head">
      <span>Cover Letter</span>
    </div>
    <div class="content">
      <span class="cover_content">scsocnwodicnwdoicnoiwdncwodincwiodcn</span>
    </div>
  </div>

</div>

<div class="info prototype hidden jobCard">
    <div class="important_info name">Axis Bank</div>
    <div class="important_info designation">Software Developer</div>
    <div class="extra_info exp">Jun - 2015 to Present </div>
</div>
<div class="info prototype instituteCard hidden">
   <div class="important_info name">Birla Institute of Technology and Science (BITS), Pilani</div>
   <div class="extra_info "><span class="start_duration">2008</span> - <span class="end_duration">2012</span></div>
   <div class="extra_info degree">B Tech / BE (Full Time)</div>
</div>
{{> footer}}
