@charset "UTF-8";
.link-color {
  color: #155d9a; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
/** Mobile Menu **/
/* [Recruiter_HomePage : ] */
/* [/Recruiter_HomePage : ] */
/*[Recruiter_Homepage]*/
/*[/Recruiter_Homepage]*/
/**** Fontello Font Icons : ****/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?94606861");
  src: url("../fonts/fontello.eot?94606861#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?94606861") format("woff2"), url("../fonts/fontello.woff?94606861") format("woff"), url("../fonts/fontello.ttf?94606861") format("truetype"), url("../fonts/fontello.svg?94606861#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94606861#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-certification:before {
  content: '\e800'; }

/* '' */
.icon-cross:before {
  content: '\e801'; }

/* '' */
.icon-disabillity-symbol:before {
  content: '\e802'; }

/* '' */
.icon-chat_icon:before {
  content: '\e803'; }

/* '' */
.icon-distance_learning:before {
  content: '\e804'; }

/* '' */
.icon-down_arrow:before {
  content: '\e805'; }

/* '' */
.icon-edit:before {
  content: '\e806'; }

/* '' */
.icon-ex--alunmi:before {
  content: '\e807'; }

/* '' */
.icon-ex-defence:before {
  content: '\e808'; }

/* '' */
.icon-executive-program:before {
  content: '\e809'; }

/* '' */
.icon-facebook-logo:before {
  content: '\e80a'; }

/* '' */
.icon-full-time:before {
  content: '\e80b'; }

/* '' */
.icon-gender:before {
  content: '\e80c'; }

/* '' */
.icon-information:before {
  content: '\e80d'; }

/* '' */
.icon-linkedin-logo:before {
  content: '\e80e'; }

/* '' */
.icon-part-time:before {
  content: '\e80f'; }

/* '' */
.icon-refresh:before {
  content: '\e810'; }

/* '' */
.icon-refresh2:before {
  content: '\e811'; }

/* '' */
.icon-right_arrow:before {
  content: '\e812'; }

/* '' */
.icon-shield:before {
  content: '\e813'; }

/* '' */
.icon-star:before {
  content: '\e814'; }

/* '' */
.icon-star2:before {
  content: '\e815'; }

/* '' */
.icon-twitter:before {
  content: '\e816'; }

/* '' */
.icon-woman:before {
  content: '\e817'; }

/* '' */
.icon-candidate:before {
  content: '\e818'; }

/* '' */
.icon-checked_icon:before {
  content: '\e819'; }

/* '' */
.icon-close_icon:before {
  content: '\e81a'; }

/* '' */
.icon-group:before {
  content: '\e81b'; }

/* '' */
.icon-review:before {
  content: '\e81c'; }

/* '' */
.icon-down_arrow-1:before {
  content: '\e81d'; }

/* '' */
.icon-download_arrow:before {
  content: '\e81e'; }

/* '' */
.icon-email_envelope:before {
  content: '\e81f'; }

/* '' */
.icon-mail:before {
  content: '\e820'; }

/* '' */
.icon-info:before {
  content: '\e821'; }

/* '' */
.icon-search_icon:before {
  content: '\e822'; }

/* '' */
.icon-notification_bell_outline_interface_symbol:before {
  content: '\e823'; }

/* '' */
.icon-politics:before {
  content: '\e824'; }

/* '' */
.icon-denied:before {
  content: '\e825'; }

/* '' */
.icon-star_shaped_medal:before {
  content: '\e826'; }

/* '' */
.icon-sunrise:before {
  content: '\e827'; }

/* '' */
.icon-tick:before {
  content: '\e828'; }

/* '' */
.icon-star_later:before {
  content: '\e829'; }

/* '' */
.icon-add_icon:before {
  content: '\e82a'; }

/* '' */
.icon-back_icon:before {
  content: '\e82b'; }

/* '' */
.icon-badge:before {
  content: '\e82c'; }

/* '' */
.icon-box:before {
  content: '\e82d'; }

/* '' */
.icon-back_icon-1:before {
  content: '\e82e'; }

/* '' */
.icon-interview:before {
  content: '\e82f'; }

/* '' */
.icon-mail:before {
  content: '\e830'; }

/* '' */
.icon-user:before {
  content: '\e831'; }

.icon-location:before {
  content: '\e832'; }

.icon-clock:before {
  content: '\e83a'; }

.icon-checked_icon:before {
  content: '\e819'; }

.icon-telephone:before {
  content: '\E83C'; }

.icon-face-to-face:before {
  content: '\e83d'; }

.icon-search:before {
  content: '\e83f'; }

.icon-filter:before {
  content: '\e841'; }

.icon-up_arrow:before {
  content: '\e842'; }

.icon-star:before {
  content: '\e829'; }

.icon-review:before {
  content: '\e81c'; }

.icon-chat:before {
  content: '\e833'; }

.icon-more:before {
  content: '\e843'; }

.icon-minus_icon:before {
  content: '\e845'; }

.icon-send_button:before {
  content: '\e846'; }

.icon-cross_icon:before {
  content: '\e844'; }

.icon-information-1:before {
  content: '\e847'; }

.icon-work_from_home::before {
  content: '\e830'; }

.navigationHeader, .profileActions {
  display: none !important; }

@media all and (max-width: 600px) {
  .header .domain_logo {
    display: inline-block; } }

@media all and (max-width: 1024px) {
  .mobileHeaderNav {
    display: none !important; } }

.page-content {
  min-height: 100%;
  padding: 0;
  overflow: auto;
  position: relative;
  padding: 20px;
  width: 100%;
  background-image: url("/static/images/footer-background.png");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: 60px; }
  .page-content .main-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
    .page-content .main-wrapper h1 {
      color: #333;
      margin-top: 50px;
      line-height: 1.5; }
    .page-content .main-wrapper p {
      font-size: 14px;
      color: #5b5b5b;
      margin: 15px 0;
      line-height: 1.5; }
      .page-content .main-wrapper p a {
        color: #155d9a; }
    .page-content .main-wrapper form {
      display: inline-block;
      background-color: #FFF;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      min-width: 450px; }
      .page-content .main-wrapper form .form-group {
        margin-bottom: 15px;
        width: 80%;
        position: relative; }
        .page-content .main-wrapper form .form-group input {
          background-color: transparent;
          font-size: 14px;
          border: 0;
          border-bottom: 2px solid #e8e8e8;
          padding: 10px 10px 10px 0;
          width: 100%; }
          .page-content .main-wrapper form .form-group input:focus {
            outline: none; }
        .page-content .main-wrapper form .form-group button {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          border: 0;
          padding: 0;
          margin: 0;
          background: #0c9175;
          border-color: #8f8a8a;
          border-radius: 4px;
          padding: 5px 14px;
          font-size: 14px;
          margin: 10px 0;
          padding: 12px 20px;
          color: #FFF;
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold; }
