.link-color {
  color: #337ab7; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

.main-container {
  padding: 20px;
  min-height: calc(100% - 155px); }

.account-activation-message {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px 10px;
  text-align: center;
  width: 600px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 5px 20px #e6e6e6; }
  .account-activation-message .log-in {
    text-decoration: none;
    font-size: 14px; }
    .account-activation-message .log-in:hover {
      text-decoration: underline;
      color: #23527c; }
