.button {
  background-color: white;
  border: 1px solid #e7e7e7;
  color: black;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer; }
  .button:hover {
    background-color: #e7e7e7; }
  .button:focus {
    outline: none; }
  .button.small {
    padding: 4px 8px; }
  .button.x-small {
    padding: 0 6px; }
    .button.x-small i {
      font-size: 10px;
      position: relative;
      top: -2px; }
  .button.link {
    border: none;
    padding: 0;
    color: #888;
    font-size: x-small; }
    .button.link:hover {
      color: blue;
      background-color: #ffffff; }
    .button.link:focus {
      outline: none; }
