.link-color {
  color: #337ab7; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

.button {
  background-color: white;
  border: 1px solid #e7e7e7;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .button:hover {
    background-color: #f5f6f7; }
  .button:focus {
    outline: none; }
  .button.small {
    padding: 6px 8px; }
  .button.x-small {
    padding: 3px 5px; }
    .button.x-small i {
      font-size: 10px;
      position: relative;
      top: 0; }
  .button.link {
    border: none;
    padding: 0;
    color: #888;
    font-size: x-small; }
    .button.link:hover {
      color: blue;
      background-color: #ffffff; }
    .button.link:focus {
      outline: none; }
