input:focus, select:focus {
  outline: none; }

.font-xs {
  font-size: 10px; }

.font-sm {
  font-size: 12px; }

.font-md {
  font-size: 14px; }

.font-lg {
  font-size: 16px; }

.heading {
  margin: 20px 0 20px 20px; }

.highlight {
  background-color: #00FFC6; }

.highlighted {
  color: green !important; }

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

.hidden {
  display: none; }

.invisible {
  opacity: 0.2; }

.main-container {
  padding: 10px; }
  .main-container .filters {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
    border-right: 2px dotted #d8d8d8;
    height: auto; }
    .main-container .filters .search-by-keyword {
      width: 100%;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 5px;
      margin-bottom: 5px; }
      .main-container .filters .search-by-keyword input {
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px 8px;
        width: 80%;
        padding: 6px 12px; }
    .main-container .filters .menu {
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: 5px; }
      .main-container .filters .menu > span {
        font-size: 12px; }
      .main-container .filters .menu > button {
        float: right; }
      .main-container .filters .menu .field {
        margin: 0 auto;
        width: 100%;
        padding: 2px 0 4px 0; }
        .main-container .filters .menu .field input, .main-container .filters .menu .field select {
          padding: 4px 8px;
          margin: 1px 0 6px 0;
          border: 1px solid #d8d8d8;
          border-radius: 4px;
          width: 60%;
          background-color: inherit; }
        .main-container .filters .menu .field input[type="checkbox"] {
          display: inline-block;
          width: auto; }
          .main-container .filters .menu .field input[type="checkbox"] span {
            font-size: 12px; }
        .main-container .filters .menu .field input[type="radio"] {
          display: inline-block;
          width: auto; }
        .main-container .filters .menu .field select.half {
          width: calc(96%/2);
          padding: 4px 8px; }
          .main-container .filters .menu .field select.half option {
            font-size: 12px; }
  .main-container .jobs {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding: 10px 0 0 10px;
    position: relative; }
    .main-container .jobs .tabs {
      width: auto;
      display: inline-block;
      margin-left: 20px; }
      .main-container .jobs .tabs .menu {
        list-style: none;
        padding: 0;
        display: inline-block; }
        .main-container .jobs .tabs .menu li {
          display: inline-block;
          border: 1px solid #d8d8d8;
          padding: 2px 0; }
          .main-container .jobs .tabs .menu li a {
            text-decoration: none;
            color: #000;
            padding: 2px 0 2px 6px; }
            .main-container .jobs .tabs .menu li a .status {
              margin-left: 1em;
              background-color: #7d7d7d;
              padding: 2px 6px;
              color: #ffffff; }
    .main-container .jobs .page_number {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 25px;
      min-height: 28px;
      line-height: 28px;
      padding: 0 10px; }
    .main-container .jobs .calendar {
      min-height: 40px;
      line-height: 40px;
      padding-left: 20px; }
      .main-container .jobs .calendar select {
        padding: 4px 16px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: auto;
        background-color: inherit; }
    .main-container .jobs .jobs_panel {
      width: 100%;
      margin: 40px auto;
      min-height: 300px; }
      .main-container .jobs .jobs_panel .jobs_header {
        width: auto;
        margin: 0 auto; }
        .main-container .jobs .jobs_panel .jobs_header span {
          display: inline-block;
          padding: 3px;
          margin: 3px;
          overflow: auto;
          font-size: 16px;
          text-align: left; }
        .main-container .jobs .jobs_panel .jobs_header .header_name {
          width: 16%; }
        .main-container .jobs .jobs_panel .jobs_header .header_organization {
          width: 23%; }
        .main-container .jobs .jobs_panel .jobs_header .header_institute {
          width: 26%; }
        .main-container .jobs .jobs_panel .jobs_header .header_more {
          width: 23%; }
        .main-container .jobs .jobs_panel .jobs_header .checkbox {
          width: 3%; }
      .main-container .jobs .jobs_panel .jobs_content {
        height: 340px; }
        .main-container .jobs .jobs_panel .jobs_content .content {
          display: inline-block;
          padding: 3px;
          margin: 3px;
          overflow: hidden;
          font-size: 12px;
          vertical-align: top; }
          .main-container .jobs .jobs_panel .jobs_content .content .info {
            padding: 10px 0; }
            .main-container .jobs .jobs_panel .jobs_content .content .info .important_info {
              font-size: 12px;
              color: #000000; }
              .main-container .jobs .jobs_panel .jobs_content .content .info .important_info.name {
                font-size: 16px; }
            .main-container .jobs .jobs_panel .jobs_content .content .info .extra_info {
              color: #727272; }
            .main-container .jobs .jobs_panel .jobs_content .content .info .icon {
              display: block;
              font-size: 16px;
              color: #424242;
              padding: 2px; }
              .main-container .jobs .jobs_panel .jobs_content .content .info .icon span {
                font-size: 12px;
                padding: 2px; }
              .main-container .jobs .jobs_panel .jobs_content .content .info .icon:hover {
                color: green; }
        .main-container .jobs .jobs_panel .jobs_content .content.content_name {
          width: 16%; }
          .main-container .jobs .jobs_panel .jobs_content .content.content_name img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            max-width: 100%;
            max-height: 100%; }
        .main-container .jobs .jobs_panel .jobs_content .content.content_organization {
          width: 23%; }
        .main-container .jobs .jobs_panel .jobs_content .content.content_institute {
          width: 26%; }
        .main-container .jobs .jobs_panel .jobs_content .content.content_more {
          width: 23%; }
        .main-container .jobs .jobs_panel .jobs_content .content.checkbox {
          width: 3%;
          max-width: 30px; }
      .main-container .jobs .jobs_panel div.jobs_container > div.jobs_content:nth-of-type(even) {
        background: #fafafa; }

.vertical_outside {
  display: inline-block;
  height: 100%; }
  .vertical_outside .vertical_top {
    height: 16px; }
  .vertical_outside .vertical_middle {
    border-left: 1px solid #d8d8d8;
    height: 90%; }

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .modal .modal-content {
    position: relative;
    box-shadow: 0 0 20px 1px #d8d8d8;
    max-width: 700px;
    height: 24em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .modal .modal-content .modal-top {
      padding: 20px;
      position: relative; }
      .modal .modal-content .modal-top .search-tags {
        display: inline-block; }
        .modal .modal-content .modal-top .search-tags input {
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 4px 8px; }
      .modal .modal-content .modal-top .tags-alphabets {
        display: inline-block;
        margin: 0;
        padding: 0 15px; }
        .modal .modal-content .modal-top .tags-alphabets li {
          display: inline-block; }
          .modal .modal-content .modal-top .tags-alphabets li a {
            text-decoration: none;
            padding: 4px;
            color: #000; }
      .modal .modal-content .modal-top .close {
        display: inline-block;
        color: #aaa;
        line-height: 28px;
        font-size: 28px;
        position: absolute;
        right: 30px; }
        .modal .modal-content .modal-top .close:hover, .modal .modal-content .modal-top .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer; }
      .modal .modal-content .modal-top .submit {
        display: inline-block;
        padding: 0 15px; }
    .modal .modal-content .modal-bottom {
      overflow-x: scroll;
      padding: 10px 20px;
      margin: 0 10px; }
      .modal .modal-content .modal-bottom .row {
        overflow-x: auto;
        width: 2000px; }
        .modal .modal-content .modal-bottom .row .tags-wrapper {
          display: inline-block;
          vertical-align: top;
          width: 300px; }
          .modal .modal-content .modal-bottom .row .tags-wrapper label {
            font-size: 12px; }
