.footer {
  width: 100%; }
  .footer nav {
    background: #1c1c1c; }
    .footer nav .menu {
      padding: 0; }
      .footer nav .menu li.menu_link {
        display: inline-block;
        padding: 12px; }
        .footer nav .menu li.menu_link a {
          color: white;
          font-size: 13px;
          font-family: 'Droid Sans'; }
          .footer nav .menu li.menu_link a:hover {
            color: #56A0FF; }

@media only screen and (max-width: 768px) {
  .footer nav .menu li.menu_link {
    padding: 10px; }
    .footer nav .menu li.menu_link a {
      font-size: 12px; } }
