.link-color {
  color: #337ab7; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both;
  overflow: auto; }

a {
  text-decoration: none; }

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%; }

* {
  font-weight: normal;
  font-family: "Droid Sans", sans-serif; }

.hidden {
  display: none !important; }

.transition {
  -webkit-transition: background-color 2000ms linear, opacity 600ms, visibility 600ms;
  -ms-transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
  transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.horizontal-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  margin: 0; }

.box_shadow {
  box-shadow: 0px 0px 4px #aaa; }

.shadow-highlight {
  box-shadow: 0px 0px 10px #aaa; }

.inline-block {
  display: inline-block; }

.header {
  min-height: 75px;
  background: #2b2b2b;
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  .header .header_item {
    height: 40px;
    margin-top: 18px;
    display: inline-block;
    vertical-align: middle; }
    .header .header_item.mobile-menu {
      position: relative;
      width: 40px;
      display: none; }
      .header .header_item.mobile-menu img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto; }
  .header .domain_logo a {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-family: "Comfortaa", sans-serif; }
    .header .domain_logo a h1 {
      font-size: 30px;
      font-family: inherit;
      line-height: 20px;
      margin: 0;
      display: inline-block; }
    .header .domain_logo a span {
      font-family: inherit;
      font-size: 14px; }
    .header .domain_logo a p {
      font-family: inherit;
      line-height: 1;
      color: #7b7b7b;
      font-size: 11px;
      margin-left: 20px;
      margin-top: 5px; }
  .header .profile_actions .action-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    overflow: hidden; }
    .header .profile_actions .action-icon img {
      padding: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }
  .header .navigation {
    display: inline-block;
    vertical-align: middle;
    width: 65%; }
    .header .navigation ul {
      list-style: none;
      font-family: "Comfortaa", sans-serif;
      margin: 0; }
      .header .navigation ul .menu-list-item {
        line-height: 40px;
        font-family: inherit;
        font-size: 14px;
        display: inline-block;
        width: 20%;
        min-width: 120px;
        text-align: center; }
        .header .navigation ul .menu-list-item a {
          font-family: inherit;
          color: #FFF; }

@media all and (max-width: 992px) {
  .header .header_item.mobile-menu {
    display: inline-block; }
  .header .navigation {
    display: none; } }

@media all and (max-width: 768px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 55px; }
    .header .header_item {
      margin-top: 13px;
      height: 30px; }
      .header .header_item.domain_logo h1 {
        font-size: 21px; }
      .header .header_item.domain_logo span {
        font-size: 11px; }
      .header .header_item.domain_logo p {
        font-size: 9px;
        margin-left: 3px;
        margin-top: 2px; }
      .header .header_item.mobile-menu {
        height: 30px;
        width: 30px;
        vertical-align: top;
        cursor: pointer; }
      .header .header_item.profile_actions .action-icon {
        height: 30px;
        width: 30px; } }

.email-caret {
  margin-top: -5px;
  vertical-align: top;
  padding-left: 5px; }
