@charset "UTF-8";
.link-color {
  color: #155d9a; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
/** Mobile Menu **/
/* [Recruiter_HomePage : ] */
/* [/Recruiter_HomePage : ] */
/*[Recruiter_Homepage]*/
/*[/Recruiter_Homepage]*/
/**** Fontello Font Icons : ****/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?94606861");
  src: url("../fonts/fontello.eot?94606861#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?94606861") format("woff2"), url("../fonts/fontello.woff?94606861") format("woff"), url("../fonts/fontello.ttf?94606861") format("truetype"), url("../fonts/fontello.svg?94606861#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94606861#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-certification:before {
  content: '\e800'; }

/* '' */
.icon-cross:before {
  content: '\e801'; }

/* '' */
.icon-disabillity-symbol:before {
  content: '\e802'; }

/* '' */
.icon-chat_icon:before {
  content: '\e803'; }

/* '' */
.icon-distance_learning:before {
  content: '\e804'; }

/* '' */
.icon-down_arrow:before {
  content: '\e805'; }

/* '' */
.icon-edit:before {
  content: '\e806'; }

/* '' */
.icon-ex--alunmi:before {
  content: '\e807'; }

/* '' */
.icon-ex-defence:before {
  content: '\e808'; }

/* '' */
.icon-executive-program:before {
  content: '\e809'; }

/* '' */
.icon-facebook-logo:before {
  content: '\e80a'; }

/* '' */
.icon-full-time:before {
  content: '\e80b'; }

/* '' */
.icon-gender:before {
  content: '\e80c'; }

/* '' */
.icon-information:before {
  content: '\e80d'; }

/* '' */
.icon-linkedin-logo:before {
  content: '\e80e'; }

/* '' */
.icon-part-time:before {
  content: '\e80f'; }

/* '' */
.icon-refresh:before {
  content: '\e810'; }

/* '' */
.icon-refresh2:before {
  content: '\e811'; }

/* '' */
.icon-right_arrow:before {
  content: '\e812'; }

/* '' */
.icon-shield:before {
  content: '\e813'; }

/* '' */
.icon-star:before {
  content: '\e814'; }

/* '' */
.icon-star2:before {
  content: '\e815'; }

/* '' */
.icon-twitter:before {
  content: '\e816'; }

/* '' */
.icon-woman:before {
  content: '\e817'; }

/* '' */
.icon-candidate:before {
  content: '\e818'; }

/* '' */
.icon-checked_icon:before {
  content: '\e819'; }

/* '' */
.icon-close_icon:before {
  content: '\e81a'; }

/* '' */
.icon-group:before {
  content: '\e81b'; }

/* '' */
.icon-review:before {
  content: '\e81c'; }

/* '' */
.icon-down_arrow-1:before {
  content: '\e81d'; }

/* '' */
.icon-download_arrow:before {
  content: '\e81e'; }

/* '' */
.icon-email_envelope:before {
  content: '\e81f'; }

/* '' */
.icon-mail:before {
  content: '\e820'; }

/* '' */
.icon-info:before {
  content: '\e821'; }

/* '' */
.icon-search_icon:before {
  content: '\e822'; }

/* '' */
.icon-notification_bell_outline_interface_symbol:before {
  content: '\e823'; }

/* '' */
.icon-politics:before {
  content: '\e824'; }

/* '' */
.icon-denied:before {
  content: '\e825'; }

/* '' */
.icon-star_shaped_medal:before {
  content: '\e826'; }

/* '' */
.icon-sunrise:before {
  content: '\e827'; }

/* '' */
.icon-tick:before {
  content: '\e828'; }

/* '' */
.icon-star_later:before {
  content: '\e829'; }

/* '' */
.icon-add_icon:before {
  content: '\e82a'; }

/* '' */
.icon-back_icon:before {
  content: '\e82b'; }

/* '' */
.icon-badge:before {
  content: '\e82c'; }

/* '' */
.icon-box:before {
  content: '\e82d'; }

/* '' */
.icon-back_icon-1:before {
  content: '\e82e'; }

/* '' */
.icon-interview:before {
  content: '\e82f'; }

/* '' */
.icon-mail:before {
  content: '\e820'; }

/* '' */
.icon-user:before {
  content: '\e831'; }

.icon-location:before {
  content: '\e832'; }

.icon-clock:before {
  content: '\e83a'; }

.icon-checked_icon:before {
  content: '\e819'; }

.icon-telephone:before {
  content: '\E83C'; }

.icon-face-to-face:before {
  content: '\e83d'; }

.icon-search:before {
  content: '\e83f'; }

.icon-filter:before {
  content: '\e841'; }

.icon-up_arrow:before {
  content: '\e842'; }

.icon-star:before {
  content: '\e829'; }

.icon-review:before {
  content: '\e81c'; }

.icon-chat:before {
  content: '\e833'; }

.icon-more:before {
  content: '\e843'; }

.icon-minus_icon:before {
  content: '\e845'; }

.icon-send_button:before {
  content: '\e846'; }

.icon-cross_icon:before {
  content: '\e844'; }

.icon-information-1:before {
  content: '\e847'; }

.icon-work_from_home::before {
  content: '\e830'; }

.icon-star-2::before {
  content: '\e815'; }

.icon-tick_circle::before {
  content: '\e83b'; }

.icon-afternoon::before {
  content: '\e840'; }

.icon-sunset::before {
  content: '\e83e'; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both;
  overflow: auto; }

.page-content .main-wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.invisible {
  visibility: hidden; }

a {
  cursor: pointer; }

p {
  margin: 0; }

body.posf {
  overflow: hidden; }

@media all and (max-width: 700px) {
  .hidden-mobile {
    display: none !important; } }

.clearfix {
  display: table;
  clear: both; }

.center {
  text-align: center; }

.toast-notification-container {
  position: fixed;
  bottom: -200px;
  padding: 10px;
  background-color: #757575;
  left: 15px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1500; }
  .toast-notification-container.show {
    bottom: 15px; }
  .toast-notification-container.toasterror {
    background-color: #b66666; }
  .toast-notification-container.success {
    background-color: #149075; }
  .toast-notification-container.warning {
    background-color: #757575; }
  .toast-notification-container .notification-icon img {
    height: 20px;
    width: 20px; }
  .toast-notification-container .notification-icon, .toast-notification-container .notification-message {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }
  .toast-notification-container .notification-message p {
    color: #FFF;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px; }

.loader-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7); }

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: calc(50% - 30px); }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.no-data {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color: #2b2b2b;
  background: #fff; }

.loading {
  margin-top: 20px; }

.loading div {
  display: inline-block;
  position: relative; }

.loader.loader-scroller {
  height: 45px;
  width: 45px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db; }

a {
  text-decoration: none; }

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  background: #26252a;
  z-index: 7;
  min-height: 100%; }
  .mobile-menu-container .close-mobile-menu {
    padding: 10px;
    cursor: pointer; }
    .mobile-menu-container .close-mobile-menu span {
      color: #FFF;
      font-size: 14px; }
  .mobile-menu-container .mobile-menu-content {
    padding: 0;
    overflow-y: scroll;
    height: 100%; }
    .mobile-menu-container .mobile-menu-content .domain_logo {
      padding: 15px 25px; }
      .mobile-menu-container .mobile-menu-content .domain_logo a {
        display: inline-block;
        vertical-align: middle;
        color: #FFF;
        font-family: "Comfortaa", sans-serif; }
        .mobile-menu-container .mobile-menu-content .domain_logo a h1 {
          font-size: 30px;
          font-family: inherit;
          line-height: 20px;
          margin: 0;
          display: inline-block; }
        .mobile-menu-container .mobile-menu-content .domain_logo a span {
          font-family: inherit;
          font-size: 14px; }
        .mobile-menu-container .mobile-menu-content .domain_logo a p {
          font-family: inherit;
          line-height: 1;
          color: #7b7b7b;
          font-size: 11px;
          margin-left: 0px;
          margin-top: 5px; }
        .mobile-menu-container .mobile-menu-content .domain_logo a h1 {
          font-size: 21px; }
        .mobile-menu-container .mobile-menu-content .domain_logo a span {
          font-size: 11px; }
        .mobile-menu-container .mobile-menu-content .domain_logo a p {
          font-size: 9px;
          margin-left: 3px;
          margin-top: 2px; }
    .mobile-menu-container .mobile-menu-content .menu-link-listing ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .mobile-menu-container .mobile-menu-content .menu-link-listing ul a {
        color: #FFF;
        font-size: 14px; }
        .mobile-menu-container .mobile-menu-content .menu-link-listing ul a li {
          padding: 19px 25px;
          border-top: 1px solid #2E2E2E; }
          .mobile-menu-container .mobile-menu-content .menu-link-listing ul a li .icon-right_arrow:before {
            content: '\e812';
            font-size: 12px;
            color: #888;
            float: right;
            line-height: 19px; }
          .mobile-menu-container .mobile-menu-content .menu-link-listing ul a li .icon-back_icon:before {
            content: '\e82b';
            font-size: 12px;
            color: #888; }
      .mobile-menu-container .mobile-menu-content .menu-link-listing ul .my-jobs-menu {
        padding-left: 40px;
        padding-top: 30px; }
    .mobile-menu-container .mobile-menu-content .mobile-profile-section {
      background: #403f44;
      padding: 15px 25px;
      display: inline-block;
      font-size: 0;
      width: 100%;
      vertical-align: middle; }
      .mobile-menu-container .mobile-menu-content .mobile-profile-section .profile-image {
        display: inline-block;
        width: 20%;
        border-radius: 50px; }
        .mobile-menu-container .mobile-menu-content .mobile-profile-section .profile-image img {
          width: 37px;
          height: 37px;
          border-radius: 50px; }
      .mobile-menu-container .mobile-menu-content .mobile-profile-section .profile-info {
        display: inline-block;
        width: 80%;
        padding-left: 15px; }
        .mobile-menu-container .mobile-menu-content .mobile-profile-section .profile-info p {
          text-align: left;
          color: #FFF;
          line-height: 1.5;
          font-size: 14px; }
          .mobile-menu-container .mobile-menu-content .mobile-profile-section .profile-info p.profile-email {
            font-size: 12px; }
    .mobile-menu-container .mobile-menu-content .mobile-profile-actions {
      margin-top: 20px; }
      .mobile-menu-container .mobile-menu-content .mobile-profile-actions ul {
        list-style: none;
        padding: 0; }
        .mobile-menu-container .mobile-menu-content .mobile-profile-actions ul a {
          color: #FFF;
          font-size: 14px; }
          .mobile-menu-container .mobile-menu-content .mobile-profile-actions ul a li {
            padding: 19px 25px; }
            .mobile-menu-container .mobile-menu-content .mobile-profile-actions ul a li span {
              display: inline-block; }
              .mobile-menu-container .mobile-menu-content .mobile-profile-actions ul a li span.button {
                margin: 10px 0 0 10px;
                border-radius: 4px; }

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%; }

* {
  font-weight: normal;
  font-family: "Droid Sans", sans-serif; }

b {
  font-weight: bold; }

.hidden {
  display: none !important; }

.transition {
  -webkit-transition: background-color 2000ms linear, opacity 600ms, visibility 600ms;
  -ms-transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
  transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.horizontal-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  margin: 0; }

.box_shadow {
  box-shadow: 0px 0px 4px #aaa; }

.shadow-highlight {
  box-shadow: 0px 0px 10px #aaa; }

.inline-block {
  display: inline-block; }

.header {
  min-height: 75px;
  background: #2b2b2b;
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 3; }
  .header .header-wrapper {
    max-width: 1440px;
    margin: 0 auto; }
  .header .search-container {
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 0;
    margin: 0;
    left: 200px;
    padding: 0;
    right: 200px;
    top: 0;
    bottom: 0;
    outline: none; }
    .header .search-container form {
      height: 100%; }
      .header .search-container form .search-box {
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        background-color: #454545;
        padding: 20px;
        font-size: 18px;
        color: #FFF;
        outline: none; }
  .header .header_item {
    height: 40px;
    margin-top: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .header .header_item.mobile-menu {
      position: relative;
      width: 40px;
      display: none; }
      .header .header_item.mobile-menu img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto; }
  .header .domain_logo a {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    font-family: "Comfortaa", sans-serif; }
    .header .domain_logo a h1 {
      font-size: 30px;
      font-family: inherit;
      line-height: 30px;
      margin: 0;
      /* display: inline-block; */ }
    .header .domain_logo a span {
      font-family: inherit;
      font-size: 14px; }
    .header .domain_logo a p {
      font-family: inherit;
      line-height: 1;
      color: #7b7b7b;
      font-size: 11px;
      margin-left: 20px;
      margin-top: 5px; }
  .header .profile_actions .action-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer; }
    .header .profile_actions .action-icon.search img {
      width: 20px;
      height: 20px;
      padding: 0; }
    .header .profile_actions .action-icon img {
      padding: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }
    .header .profile_actions .action-icon .search-icon {
      text-align: center; }
      .header .profile_actions .action-icon .search-icon .icon-search:before {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 27px;
        line-height: 43px;
        color: #e8e8e8; }
    .header .profile_actions .action-icon .chat-icon {
      text-align: center; }
      .header .profile_actions .action-icon .chat-icon .icon-chat_icon::before {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 25px;
        line-height: 40px;
        color: #e8e8e8; }
  .header .profile_actions .profile img {
    padding: 0;
    height: 37px;
    width: 37px;
    border-radius: 50%; }
  .header .profile_actions .profile .profile-menu {
    position: absolute;
    width: 280px;
    top: 80%;
    right: 0;
    z-index: 10;
    background: #FFF;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .header .profile_actions .profile .profile-menu:before {
      content: '';
      border-right: 10px solid transparent;
      border-bottom: 10px solid #1f8f75;
      border-left: 10px solid transparent;
      position: absolute;
      top: -8px;
      right: 10px; }
    .header .profile_actions .profile .profile-menu .profile-header {
      padding: 15px;
      background: #1f8f75;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
      .header .profile_actions .profile .profile-menu .profile-header p {
        margin: 0;
        color: #FFF;
        font-size: 14px;
        line-height: 1.3; }
        .header .profile_actions .profile .profile-menu .profile-header p.user-name {
          font-size: 18px; }
    .header .profile_actions .profile .profile-menu .profile-body {
      background: #FFF;
      padding: 15px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
      .header .profile_actions .profile .profile-menu .profile-body ul {
        margin: 0;
        list-style: none;
        padding-left: 0; }
        .header .profile_actions .profile .profile-menu .profile-body ul li {
          margin: 10px 0;
          font-size: 14px; }
          .header .profile_actions .profile .profile-menu .profile-body ul li .button {
            position: relative;
            top: -5px;
            border-radius: 6px;
            padding: 5px 15px;
            border: 1px solid #4b4b4b; }
          .header .profile_actions .profile .profile-menu .profile-body ul li a {
            color: inherit; }
            .header .profile_actions .profile .profile-menu .profile-body ul li a:hover {
              text-decoration: underline; }
    .header .profile_actions .profile .profile-menu.active {
      opacity: 1;
      visibility: visible;
      top: 100%;
      height: auto; }
  .header .navigation {
    display: inline-block;
    vertical-align: middle;
    width: 70%; }
    .header .navigation ul {
      list-style: none;
      font-family: "Comfortaa", sans-serif;
      margin: 0;
      padding-left: 40px; }
      .header .navigation ul .menu-list-item {
        line-height: 40px;
        font-size: 14px;
        display: inline-block;
        width: 14%;
        min-width: 120px;
        text-align: center; }
        .header .navigation ul .menu-list-item .icon-down_arrow::before {
          color: #888;
          font-size: 11px;
          margin-left: 2px; }
        .header .navigation ul .menu-list-item.active .header-links {
          font-weight: 600; }
        .header .navigation ul .menu-list-item:hover {
          text-decoration: underline; }
        .header .navigation ul .menu-list-item.my-jobs {
          position: relative; }
        .header .navigation ul .menu-list-item.my-interviews {
          position: relative; }
        .header .navigation ul .menu-list-item a {
          font-family: "Droid Sans", sans-serif;
          color: #FFF; }
        .header .navigation ul .menu-list-item .profile-menu {
          position: absolute;
          width: 200px;
          top: 100%;
          left: 30%;
          z-index: 10;
          background: #FFF;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          transition: all 0.2s ease-in-out;
          height: 0;
          opacity: 0;
          visibility: hidden; }
          .header .navigation ul .menu-list-item .profile-menu:before {
            content: '';
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            position: absolute;
            top: -9px;
            left: 15px; }
          .header .navigation ul .menu-list-item .profile-menu .profile-body {
            background: #FFF;
            padding: 10px 15px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-radius: 4px; }
            .header .navigation ul .menu-list-item .profile-menu .profile-body ul {
              margin: 0;
              list-style: none;
              padding-left: 0; }
              .header .navigation ul .menu-list-item .profile-menu .profile-body ul li {
                margin: 10px 0;
                font-size: 14px;
                text-align: left;
                line-height: 1.5; }
                .header .navigation ul .menu-list-item .profile-menu .profile-body ul li a {
                  color: #155d9a; }
                  .header .navigation ul .menu-list-item .profile-menu .profile-body ul li a:hover {
                    text-decoration: underline; }
          .header .navigation ul .menu-list-item .profile-menu.active {
            opacity: 1;
            visibility: visible;
            top: 100%;
            height: auto; }
        .header .navigation ul .menu-list-item.active a {
          color: #5bb8a4; }

@media all and (max-width: 1024px) {
  .header {
    min-height: 75px;
    background: #2b2b2b;
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
    .header .search-container {
      width: 60%;
      padding-left: 10px;
      padding-top: 0px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      left: 200px; } }

@media all and (max-width: 992px) {
  .header .header_item.mobile-menu {
    display: inline-block;
    cursor: pointer; }
  .header .search-container {
    width: 50%;
    left: 230px; }
  .header .navigation {
    display: none; } }

@media all and (max-width: 768px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 55px; }
    .header .search-container {
      width: 60%;
      left: 170px; }
    .header .header_item {
      margin-top: 13px;
      height: 30px; }
      .header .header_item.domain_logo h1 {
        font-size: 21px;
        line-height: 20px;
        margin-top: 0px;
        padding-left: 12px; }
      .header .header_item.domain_logo span {
        font-size: 11px; }
      .header .header_item.domain_logo p {
        font-size: 9px;
        margin-left: 3px;
        margin-top: 2px; }
      .header .header_item.mobile-menu {
        height: 28px;
        width: 28px;
        vertical-align: top;
        cursor: pointer; }
      .header .header_item.profile_actions .search {
        margin-right: 5px; }
      .header .header_item.profile_actions .action-icon {
        height: 30px;
        width: 30px; }
        .header .header_item.profile_actions .action-icon .info-icon {
          width: 50%;
          height: 50%; }
        .header .header_item.profile_actions .action-icon .search-icon {
          text-align: center; }
          .header .header_item.profile_actions .action-icon .search-icon .icon-search:before {
            line-height: 32px; }
        .header .header_item.profile_actions .action-icon .chat-icon .icon-chat_icon::before {
          line-height: 29px; }
      .header .header_item.profile_actions .profile {
        display: none; } }

@media all and (max-width: 600px) {
  .header .mobile-menu {
    display: none; }
  .header .domain_logo {
    display: none; }
  .header .search-container {
    width: 70%;
    left: 50px; } }

.email-caret {
  margin-top: -5px;
  vertical-align: top;
  padding-left: 5px; }

.body-overlay.veiled {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5); }

@media all and (max-width: 480px) {
  .header .mobile-menu {
    display: none; }
  .header .domain_logo {
    display: none; }
  .header .search-container {
    width: 73%;
    left: 5px; }
    .header .search-container form .search-box {
      font-size: 14px; } }

@media all and (max-width: 420px) {
  .header .search-container {
    width: 63%;
    left: 5px; }
    .header .search-container form .search-box {
      font-size: 14px;
      padding: 2px; } }
