.link-color {
  color: #337ab7; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.clearfix {
  clear: both;
  display: block; }

.user_profile {
  width: 95%;
  margin: 40px auto;
  padding: 20px; }
  .user_profile .image {
    display: inline-block;
    margin-right: 10px;
    width: 18%; }
    .user_profile .image .edit_profile {
      position: relative;
      display: inline-block;
      width: 150px;
      height: 200px;
      /*&:after {
                font-family: 'FontAwesome';
                content: "\f040";
                position: absolute;
                top: 10px;
                right: 10px;
                color: white;
                font-size: 18px;
            }*/ }
      .user_profile .image .edit_profile img {
        width: 100%;
        height: 100%; }
  .user_profile .user_details {
    display: inline-block;
    width: 80%;
    min-height: 100px;
    position: relative;
    vertical-align: top; }
    .user_profile .user_details .user_information .user_name {
      display: inline-block;
      height: 25px;
      width: 150px;
      margin-bottom: 5px;
      font-size: 20px;
      color: #333;
      font-family: "Droid Sans",sans-serif; }
    .user_profile .user_details .user_information .user_designation {
      margin-bottom: 20px;
      height: 15px;
      min-width: 300px;
      max-width: 400px;
      color: #808080;
      font-size: 16px;
      font-family: "Droid Sans",sans-serif; }
      .user_profile .user_details .user_information .user_designation .organisation-url {
        text-decoration: none; }
    .user_profile .user_details .user-about {
      max-width: 350px;
      height: 15px;
      min-width: 250px;
      color: #333;
      font-size: 14px;
      font-family: "Droid Sans",sans-serif; }
    .user_profile .user_details .edit_profile {
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
      height: 25px;
      text-align: right; }
      .user_profile .user_details .edit_profile button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        outline: none; }
        .user_profile .user_details .edit_profile button:hover {
          color: blue; }
        .user_profile .user_details .edit_profile button i {
          font-size: 18px; }
    .user_profile .user_details .social-buttons-container {
      position: relative;
      margin-top: 20px;
      min-height: 40px; }
      .user_profile .user_details .social-buttons-container .social-buttons-not-connected {
        position: absolute;
        right: 0; }
        .user_profile .user_details .social-buttons-container .social-buttons-not-connected .connect-to-social {
          margin-right: 5px; }
      .user_profile .user_details .social-buttons-container .social-buttons-connected {
        position: absolute;
        left: 0; }
        .user_profile .user_details .social-buttons-container .social-buttons-connected .connected-to-social {
          margin-right: 5px; }
  .user_profile .bottom_information {
    margin: 0 auto;
    min-height: 30px;
    position: relative;
    line-height: 30px; }
    .user_profile .bottom_information .profile_link {
      position: absolute;
      top: 10px;
      left: 0px;
      min-width: 300px;
      height: 30px;
      text-decoration: none;
      font-size: 13px;
      font-family: "Droid Sans",sans-serif; }
      .user_profile .bottom_information .profile_link:hover {
        text-decoration: underline;
        color: #23527c; }
    .user_profile .bottom_information .extra_info {
      position: absolute;
      top: 10px;
      right: 10px; }
      .user_profile .bottom_information .extra_info .viewed, .user_profile .bottom_information .extra_info .last_login {
        display: inline-block;
        padding: 0 5px; }
      .user_profile .bottom_information .extra_info .viewed {
        min-width: 50px;
        height: 25px; }
      .user_profile .bottom_information .extra_info .last_login {
        min-width: 100px;
        height: 25px; }

.jobs_panel {
  width: 95%;
  margin: 40px auto;
  min-height: 300px; }
  .jobs_panel .panel_heading {
    font-size: 18px;
    color: #708732;
    font-family: "Droid Sans",sans-serif; }
    .jobs_panel .panel_heading a {
      padding: 5px;
      font-size: 13px;
      font-family: "Droid Sans",sans-serif; }
  .jobs_panel .jobs_container {
    margin-top: 10px; }
    .jobs_panel .jobs_container .jobs_header {
      width: auto;
      margin: 0 auto;
      border-radius: 1px;
      background: #ececec; }
      .jobs_panel .jobs_container .jobs_header span {
        display: inline-block;
        padding: 5px;
        margin: 5px;
        overflow: auto;
        font-size: 12px;
        text-align: left;
        font-family: "Droid Sans",sans-serif; }
    .jobs_panel .jobs_container .jobs_content {
      border-bottom: 1px solid #f5f6f7; }
      .jobs_panel .jobs_container .jobs_content span {
        display: inline-block;
        color: #242424;
        padding: 5px;
        margin: 5px;
        overflow: hidden;
        font-size: 13px;
        font-family: "Droid Sans",sans-serif; }
    .jobs_panel .jobs_container .date {
      width: 10%; }
    .jobs_panel .jobs_container .title {
      width: 40%; }
    .jobs_panel .jobs_container .status {
      width: 10%; }
    .jobs_panel .jobs_container .views {
      width: 12%;
      min-width: 40px; }

.job_posting {
  padding: 20px;
  /*.tags-container {
        margin-left: 35px;
        .suggested-tags-container {
            margin-bottom: 10px;
            .suggested-tags-heading {
                padding: 0 0 10px 15px;
                display: inline-block;
                width: 15%;
                vertical-align: top;
            }
            .suggested-tags-content {
                display: inline-block;
                width: 70%;
                margin-left: 2em;
                .js-show-suggested-tags {
                    margin-right: 10px;
                }
            }
        }
        .selected-tags-container {
            margin-bottom: 10px;
            .selected-tags-heading {
                padding: 0 0 10px 15px;
                display: inline-block;
                width: 15%;
                vertical-align: top;
            }
            .selected-tags-content {
                display: inline-block;
                width: 70%;
                margin-left: 2em;
                .js-show-selected-tags {
                    margin-right: 10px;
                }
            }
        }
        .add-tags-container {
            .add-tags-heading {
                padding: 0 0 10px 15px;
                display: inline-block;
                width: 15%;
            }
            .add-tags-content {
                display: inline-block;
                width: 70%;
                margin-left: 2em;
                input {
                    box-sizing: border-box;
                    border: 1px solid $select-border;
                    border-radius: 4px;
                    padding: 4px 8px;
                }
            }

        } */ }
  .job_posting .post_job {
    margin: 21px 0; }
    .job_posting .post_job .heading .back {
      display: block; }
    .job_posting .post_job .heading > span {
      font-size: 24px; }
    .job_posting .post_job .heading .guidelines {
      font-size: 12px; }
    .job_posting .post_job .label {
      display: inline-block;
      margin-left: 35px;
      padding: 15px;
      width: 15%;
      font-size: 12px;
      color: #808080; }
    .job_posting .post_job .label.top {
      vertical-align: top !important; }
    .job_posting .post_job .field {
      width: 60%;
      display: inline-block;
      margin-left: 60px;
      padding: 4px 0; }
      .job_posting .post_job .field .js-show-selected-tags, .job_posting .post_job .field .js-show-suggested-tags {
        margin-right: 10px; }
      .job_posting .post_job .field input, .job_posting .post_job .field select {
        padding: 4px 8px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 60%;
        background-color: inherit; }
        .job_posting .post_job .field input:focus, .job_posting .post_job .field select:focus {
          outline: none;
          border: 1px solid #00C99C; }
      .job_posting .post_job .field input[type="checkbox"] {
        display: inline-block;
        width: auto; }
      .job_posting .post_job .field select.half {
        width: 29.5%; }
      .job_posting .post_job .field textarea {
        width: 70%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: inherit;
        resize: none; }
        .job_posting .post_job .field textarea:focus {
          outline: none; }

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px; }

.modal-header {
  background-color: #e9e9e9;
  padding: 15px;
  position: relative; }
  .modal-header .modal-heading {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    font-family: "Droid Sans",sans-serif; }

.modal-center {
  padding: 0 15px; }
  .modal-center .list {
    padding: 10px 20px;
    font-size: 14px;
    font-family: "Droid Sans",sans-serif;
    color: #4b4b4b; }
    .modal-center .list .contact-person {
      font-weight: bold; }
    .modal-center .list li {
      padding: 2px; }
  .modal-center .heading {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    font-family: "Droid Sans",sans-serif; }

.modal-footer {
  background-color: #e9e9e9;
  padding: 15px;
  position: relative;
  min-height: 52px; }
  .modal-footer .close-modal.button {
    position: absolute;
    right: 20px; }

/* The Close Button */
.close {
  color: #808080;
  position: absolute;
  right: 20px;
  font-size: 22px;
  line-height: 20px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer; }

.experience-label-container div {
  display: inline-block;
  width: 29.5%; }
