html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.clearfix {
  clear: both;
  display: block; }

.hidden {
  display: none; }

header .top_banner {
  padding: 15px; }
  header .top_banner .logo {
    float: left;
    display: inline-block; }
    header .top_banner .logo h3 {
      font-size: 30px;
      line-height: 20px;
      font-family: 'Comfortaa'; }
    header .top_banner .logo span {
      font-size: 13px;
      font-family: 'Comfortaa';
      float: right; }
  header .top_banner .user_profile {
    float: right;
    position: relative; }
    header .top_banner .user_profile a.dropdow {
      text-decoration: none;
      color: black; }
      header .top_banner .user_profile a.dropdow ul.option {
        position: absolute;
        top: 0;
        background: #fff;
        width: 150px;
        left: 0;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); }

header a.dropdow:hover > ul {
  display: block; }

header ul.option li a {
  color: black;
  padding: 5px 15px;
  display: block; }

header nav {
  background: #1c1c1c; }
  header nav .menu {
    float: left; }
    header nav .menu li.menu_link {
      position: relative;
      display: inline-block;
      padding: 13px;
      border-bottom: 2px solid transparent; }
      header nav .menu li.menu_link a {
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-family: 'Droid Sans'; }
      header nav .menu li.menu_link:hover {
        background: #7c7c7c;
        border-bottom: 2px solid #fff; }
  header nav .search_container {
    float: right;
    padding: 6px; }
    header nav .search_container input {
      height: 30px;
      border: 0;
      margin: 0;
      padding: 0 12px;
      border-radius: 5px;
      width: 300px; }

.footer nav {
  background: #1c1c1c; }
  .footer nav .menu {
    float: left; }
    .footer nav .menu li.menu_link {
      position: relative;
      display: inline-block;
      padding: 13px;
      border-bottom: 2px solid transparent; }
      .footer nav .menu li.menu_link a {
        color: white;
        font-size: 13px;
        font-family: 'Droid Sans'; }

.dropdown:hover > ul {
  display: block; }

ul.options {
  position: absolute;
  top: 44px;
  background: #fff;
  width: 150px;
  left: 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); }

header nav .menu li.menu_link ul.options li a {
  color: black;
  padding: 5px 15px;
  display: block; }

ul.options li:hover {
  background: #e1e1e1; }

.main_container {
  width: 100%;
  margin: 20px auto;
  padding: 20px; }
  .main_container .job_posting {
    display: flex; }
    .main_container .job_posting .post_job {
      width: 70%; }
      .main_container .job_posting .post_job .label {
        margin-left: 2em;
        display: inline-block;
        width: 10%;
        text-align: left;
        font-size: 12px; }
      .main_container .job_posting .post_job .field {
        width: 80%;
        display: inline-block;
        margin-left: 2em; }
        .main_container .job_posting .post_job .field input, .main_container .job_posting .post_job .field select {
          padding: 8px 16px;
          margin: 8px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 70%; }
        .main_container .job_posting .post_job .field select.exp {
          width: calc(69%/2); }
    .main_container .job_posting .tags {
      flex: 1;
      box-shadow: 2px 2px 3px black;
      min-height: 200px;
      margin-left: 20px; }
  .main_container .profile {
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative; }
    .main_container .profile .user_image {
      width: auto;
      border: 1px solid black;
      position: relative;
      display: inline-block;
      left: 0; }
      .main_container .profile .user_image .edit_profile {
        position: absolute;
        color: white;
        right: 20px;
        top: 20px;
        font-size: 40px; }
    .main_container .profile .user_details {
      display: inline-block;
      position: absolute;
      left: 10em;
      width: 55em;
      margin: 0 20px;
      min-height: 100px;
      overflow: hidden; }
      .main_container .profile .user_details .user_information {
        float: left; }
      .main_container .profile .user_details .edit_profile {
        float: right; }
      .main_container .profile .user_details .social_buttons {
        position: relative;
        top: 50px;
        right: -350px;
        display: inline-block; }
        .main_container .profile .user_details .social_buttons .button {
          background-color: white;
          /* Green */
          border: 2px solid #e7e7e7;
          color: black;
          padding: 8px 40px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s;
          cursor: pointer; }
          .main_container .profile .user_details .social_buttons .button:hover {
            background-color: #e7e7e7; }
    .main_container .profile .bottom_information {
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      min-height: 40px;
      padding: 10px;
      background-color: pink; }
      .main_container .profile .bottom_information .profile_link {
        float: left; }
      .main_container .profile .bottom_information .extra_info {
        float: right; }
  .main_container .jobs_panel {
    width: 90%;
    margin: 70px auto; }
    .main_container .jobs_panel .jobs_header {
      /*width: 1170px;*/
      width: auto;
      margin: 0 auto; }
      .main_container .jobs_panel .jobs_header span {
        display: inline-block;
        width: 18%;
        padding: 5px;
        margin: 5px;
        overflow: auto;
        font-size: 16px; }
    .main_container .jobs_panel .jobs_content {
      margin: 5px;
      padding: 2px; }
      .main_container .jobs_panel .jobs_content span {
        display: inline-block;
        width: 18%;
        padding: 5px;
        margin: 5px;
        overflow: hidden;
        font-size: 10px; }
    .main_container .jobs_panel div.jobs_container > div.jobs_content:nth-of-type(even) {
      background: #f5f6f7; }

li.dropdow:hover > ul.option {
  display: block; }

li.dropdow {
  position: relative;
  list-style: none; }

ul.option {
  position: absolute;
  top: 100%;
  background: #FFF;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  width: 180px;
  left: -40px; }
