@charset "UTF-8";
.link-color {
  color: #155d9a; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
/*[Recruiter_Homepage]*/
/*[/Recruiter_Homepage]*/
/**** Fontello Font Icons : ****/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?94606861");
  src: url("../fonts/fontello.eot?94606861#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?94606861") format("woff2"), url("../fonts/fontello.woff?94606861") format("woff"), url("../fonts/fontello.ttf?94606861") format("truetype"), url("../fonts/fontello.svg?94606861#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94606861#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-certification:before {
  content: '\e800'; }

/* '' */
.icon-cross:before {
  content: '\e801'; }

/* '' */
.icon-disabillity-symbol:before {
  content: '\e802'; }

/* '' */
.icon-chat_icon:before {
  content: '\e803'; }

/* '' */
.icon-distance_learning:before {
  content: '\e804'; }

/* '' */
.icon-down_arrow:before {
  content: '\e805'; }

/* '' */
.icon-edit:before {
  content: '\e806'; }

/* '' */
.icon-ex--alunmi:before {
  content: '\e807'; }

/* '' */
.icon-ex-defence:before {
  content: '\e808'; }

/* '' */
.icon-executive-program:before {
  content: '\e809'; }

/* '' */
.icon-facebook-logo:before {
  content: '\e80a'; }

/* '' */
.icon-full-time:before {
  content: '\e80b'; }

/* '' */
.icon-gender:before {
  content: '\e80c'; }

/* '' */
.icon-information:before {
  content: '\e80d'; }

/* '' */
.icon-linkedin-logo:before {
  content: '\e80e'; }

/* '' */
.icon-part-time:before {
  content: '\e80f'; }

/* '' */
.icon-refresh:before {
  content: '\e810'; }

/* '' */
.icon-refresh2:before {
  content: '\e811'; }

/* '' */
.icon-right_arrow:before {
  content: '\e812'; }

/* '' */
.icon-shield:before {
  content: '\e813'; }

/* '' */
.icon-star:before {
  content: '\e814'; }

/* '' */
.icon-star2:before {
  content: '\e815'; }

/* '' */
.icon-twitter:before {
  content: '\e816'; }

/* '' */
.icon-woman:before {
  content: '\e817'; }

/* '' */
.icon-candidate:before {
  content: '\e818'; }

/* '' */
.icon-checked_icon:before {
  content: '\e819'; }

/* '' */
.icon-close_icon:before {
  content: '\e81a'; }

/* '' */
.icon-group:before {
  content: '\e81b'; }

/* '' */
.icon-review:before {
  content: '\e81c'; }

/* '' */
.icon-down_arrow-1:before {
  content: '\e81d'; }

/* '' */
.icon-download_arrow:before {
  content: '\e81e'; }

/* '' */
.icon-email_envelope:before {
  content: '\e81f'; }

/* '' */
.icon-mail:before {
  content: '\e820'; }

/* '' */
.icon-info:before {
  content: '\e821'; }

/* '' */
.icon-search_icon:before {
  content: '\e822'; }

/* '' */
.icon-notification_bell_outline_interface_symbol:before {
  content: '\e823'; }

/* '' */
.icon-politics:before {
  content: '\e824'; }

/* '' */
.icon-denied:before {
  content: '\e825'; }

/* '' */
.icon-star_shaped_medal:before {
  content: '\e826'; }

/* '' */
.icon-sunrise:before {
  content: '\e827'; }

/* '' */
.icon-tick:before {
  content: '\e828'; }

/* '' */
.icon-star_later:before {
  content: '\e829'; }

/* '' */
.icon-add_icon:before {
  content: '\e82a'; }

/* '' */
.icon-back_icon:before {
  content: '\e82b'; }

/* '' */
.icon-badge:before {
  content: '\e82c'; }

/* '' */
.icon-box:before {
  content: '\e82d'; }

/* '' */
.icon-back_icon-1:before {
  content: '\e82e'; }

/* '' */
.icon-interview:before {
  content: '\e82f'; }

/* '' */
.icon-mail:before {
  content: '\e820'; }

/* '' */
.icon-user:before {
  content: '\e831'; }

.icon-location:before {
  content: '\e832'; }

.icon-clock:before {
  content: '\e83a'; }

.icon-checked_icon:before {
  content: '\e819'; }

.icon-telephone:before {
  content: '\E83C'; }

.icon-face-to-face:before {
  content: '\e83d'; }

.icon-search:before {
  content: '\e83f'; }

.icon-filter:before {
  content: '\e841'; }

.icon-up_arrow:before {
  content: '\e842'; }

.icon-review:before {
  content: '\e81c'; }

.icon-chat:before {
  content: '\e833'; }

.icon-more:before {
  content: '\e843'; }

.icon-minus_icon:before {
  content: '\e845'; }

.icon-send_button:before {
  content: '\e846'; }

.icon-cross_icon:before {
  content: '\e844'; }

.icon-information-1:before {
  content: '\e847'; }

.icon-work_from_home::before {
  content: '\e830'; }

.icon-star-2::before {
  content: '\e815'; }

.icon-tick_circle::before {
  content: '\e83b'; }

.icon-afternoon::before {
  content: '\e840'; }

.icon-sunset::before {
  content: '\e83e'; }

.icon-facebook::before {
  content: '\e84a'; }

.icon-twitter::before {
  content: '\e849'; }

.icon-linkedin::before {
  content: '\e84b'; }

.icon-twitter_logo::before {
  content: '\e816'; }

/** Mobile Menu **/
/* [Recruiter_HomePage : ] */
/* [/Recruiter_HomePage : ] */
.navigationHeader, .profileActions {
  display: none !important; }

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 6; }
  .modal-overlay .modal-content {
    display: block;
    overflow-y: auto;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    background-color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .modal-overlay .modal-content .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
    .modal-overlay .modal-content.recruiter-register-modal {
      max-height: 590px; }
    .modal-overlay .modal-content.recruiter-sign-in-modal {
      max-height: 340px; }
    .modal-overlay .modal-content .modal-body h1 {
      width: 80%;
      margin: 0 auto 20px;
      margin-top: 0;
      font-size: 24px; }
    .modal-overlay .modal-content .modal-body .recruiter-form {
      width: 80%;
      margin: 0 auto; }
      .modal-overlay .modal-content .modal-body .recruiter-form p {
        margin: 15px 0 0;
        text-align: center;
        font-size: 15px; }
        .modal-overlay .modal-content .modal-body .recruiter-form p a {
          color: #155d9a;
          text-decoration: none; }
      .modal-overlay .modal-content .modal-body .recruiter-form .form-group {
        position: relative;
        margin-bottom: 15px; }
        .modal-overlay .modal-content .modal-body .recruiter-form .form-group.cnfirmPasswd {
          margin-bottom: 25px; }
        .modal-overlay .modal-content .modal-body .recruiter-form .form-group:last-child {
          margin-bottom: 0px; }
        .modal-overlay .modal-content .modal-body .recruiter-form .form-group input {
          background-color: transparent;
          font-size: 14px;
          border: 0;
          border-bottom: 2px solid #e8e8e8;
          padding: 10px 10px 7px 0;
          width: 100%; }
          .modal-overlay .modal-content .modal-body .recruiter-form .form-group input:focus {
            outline: none; }
        .modal-overlay .modal-content .modal-body .recruiter-form .form-group .button-wrapper {
          width: 340px;
          height: 45px;
          border: 0;
          background: #0c9175;
          border-color: #8f8a8a;
          border-radius: 4px;
          font-size: 14px;
          margin: 10px 0 10px 0;
          display: block;
          color: #FFF;
          display: inline-block;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          text-align: center; }
          .modal-overlay .modal-content .modal-body .recruiter-form .form-group .button-wrapper .spinner {
            padding-top: 10px;
            width: 100%;
            margin: 0 auto; }
          .modal-overlay .modal-content .modal-body .recruiter-form .form-group .button-wrapper button {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            border: 0;
            background: #0c9175;
            border-color: #8f8a8a;
            border-radius: 4px;
            padding: 5px 14px;
            font-size: 14px;
            display: block;
            width: 100%;
            padding: 12px;
            color: #FFF;
            display: inline-block;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            height: 45px; }
        .modal-overlay .modal-content .modal-body .recruiter-form .form-group select {
          padding: 12px 22px;
          background-size: 20px; }

body {
  position: relative; }
  body.fixed {
    overflow: hidden; }

.page-content {
  min-height: 100%;
  padding: 0;
  overflow: auto;
  position: relative;
  padding: 20px;
  width: 100%;
  padding: 0; }
  .page-content .main-wrapper .main-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; }
    .page-content .main-wrapper .main-container .container {
      margin: 75px auto;
      width: 90%; }
      .page-content .main-wrapper .main-container .container h1 {
        color: #333;
        font-size: 30px;
        line-height: 1.5;
        font-weight: bold; }
        .page-content .main-wrapper .main-container .container h1.center-highlight {
          position: relative;
          text-align: center;
          margin: 30px 0; }
          .page-content .main-wrapper .main-container .container h1.center-highlight span {
            z-index: 5;
            position: relative;
            background: #FFF;
            padding: 10px 30px;
            font-weight: bold; }
          .page-content .main-wrapper .main-container .container h1.center-highlight:before {
            content: '';
            width: 100%;
            display: block;
            border-bottom: 2px solid #e8e8e8;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper {
      display: inline-block;
      width: 35%; }
      .page-content .main-wrapper .main-container .intro-container .intro-wrapper h1 {
        margin: 0;
        font-size: 66px;
        line-height: 1.1;
        margin-left: -5px;
        color: #333; }
      .page-content .main-wrapper .main-container .intro-container .intro-wrapper span {
        font-size: 16px;
        color: #5b5b5b;
        margin: 25px 0;
        display: block;
        width: 100%;
        line-height: 1.4; }
      .page-content .main-wrapper .main-container .intro-container .intro-wrapper .image-container img {
        width: 90%;
        display: block;
        height: auto; }
    .page-content .main-wrapper .main-container .intro-container .login-wrapper {
      width: 45%; }
      .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container {
        padding: 40px;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        border-radius: 4px; }
        .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container h3 {
          margin: 0;
          font-size: 24px;
          font-weight: bold;
          color: #333;
          margin-bottom: 30px;
          width: 85%;
          margin-left: auto;
          margin-right: auto; }
        .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container form {
          width: 85%;
          margin: 0 auto; }
        .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container .formgroup {
          position: relative;
          width: 85%;
          margin: 0 auto;
          margin-bottom: 25px; }
          .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container .formgroup input {
            background-color: transparent;
            font-size: 16px;
            border: 0;
            border-bottom: 2px solid #e8e8e8;
            padding: 10px 10px 10px 0;
            width: 100%; }
            .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container .formgroup input:focus {
              outline: none; }
          .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container .formgroup .button-wrapper {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            border: 0;
            padding: 0;
            margin: 0;
            background: #0c9175;
            border-color: #8f8a8a;
            border-radius: 4px;
            font-size: 14px;
            margin: 10px 0;
            display: block;
            width: 100%;
            color: #FFF;
            display: inline-block;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            height: 45px;
            text-align: center; }
            .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container .formgroup .button-wrapper .spinner {
              padding-top: 10px;
              width: 100%;
              margin: 0 auto; }
            .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container .formgroup .button-wrapper button {
              border: 0;
              padding: 0;
              margin: 0;
              background: #0c9175;
              border-color: #8f8a8a;
              border-radius: 4px;
              font-size: 14px;
              display: block;
              width: 100%;
              color: #FFF;
              display: inline-block;
              cursor: pointer;
              font-size: 18px;
              font-weight: bold;
              height: 45px;
              outline: none; }
        .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container p {
          color: #5b5b5b; }
          .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container p a {
            color: #155d9a; }
          .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container p.register-link {
            text-align: center; }
    .page-content .main-wrapper .main-container .features-container .hero-container {
      padding: 50px 0;
      position: relative; }
      .page-content .main-wrapper .main-container .features-container .hero-container .hero-content {
        width: 40%;
        display: inline-block;
        vertical-align: middle; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.text-container {
          height: 120px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; }
          .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.text-container.left {
            left: 0; }
          .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.text-container.right {
            right: 0; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container {
          width: 60%;
          position: relative;
          transition: all 0.5s ease-in-out; }
          .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.left {
            right: 200px;
            opacity: 0; }
            .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.left.show {
              right: 0;
              opacity: 1; }
          .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.right {
            left: 200px;
            opacity: 0; }
            .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.right.show {
              left: 0;
              opacity: 1; }
          .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container img {
            width: 80%; }
          .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.right img {
            float: right; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content h3 {
          color: #0c9176;
          font-size: 24px;
          font-weight: bold;
          margin: 10px 0 10px; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content p {
          color: #333;
          line-height: 1.5; }
    .page-content .main-wrapper .main-container .recruit-container {
      padding-bottom: 40px;
      margin-bottom: 0; }
      .page-content .main-wrapper .main-container .recruit-container .hero-image-container {
        width: 40%;
        overflow: auto; }
        .page-content .main-wrapper .main-container .recruit-container .hero-image-container img {
          width: 100%;
          float: right; }
      .page-content .main-wrapper .main-container .recruit-container .hero-content-container {
        width: 55%; }
        .page-content .main-wrapper .main-container .recruit-container .hero-content-container h3 {
          color: #333;
          font-size: 30px;
          line-height: 1.5;
          margin-top: 10px;
          font-weight: bold; }
          .page-content .main-wrapper .main-container .recruit-container .hero-content-container h3.center-highlight {
            position: relative;
            text-align: center; }
            .page-content .main-wrapper .main-container .recruit-container .hero-content-container h3.center-highlight span {
              z-index: 5;
              position: relative;
              background: #FFF;
              padding: 10px 30px;
              font-weight: bold; }
            .page-content .main-wrapper .main-container .recruit-container .hero-content-container h3.center-highlight:before {
              content: '';
              width: 100%;
              display: block;
              border-bottom: 2px solid #e8e8e8;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 2; }
        .page-content .main-wrapper .main-container .recruit-container .hero-content-container ul.feature-listing {
          padding-left: 0;
          margin: 0 0 30px 0;
          list-style: none; }
          .page-content .main-wrapper .main-container .recruit-container .hero-content-container ul.feature-listing li.feature-item {
            padding-left: 20px;
            background-image: url("/static/images/bullet-point.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 7px;
            color: #333;
            margin-bottom: 20px; }
        .page-content .main-wrapper .main-container .recruit-container .hero-content-container .download-section p {
          margin: 20px 0; }
        .page-content .main-wrapper .main-container .recruit-container .hero-content-container .download-section span.button {
          border-radius: 50px;
          display: inline-block;
          font-size: 18px;
          padding: 10px 20px 10px 40px; }
          .page-content .main-wrapper .main-container .recruit-container .hero-content-container .download-section span.button.android {
            background-image: url("/static/images/android-logo.png");
            background-repeat: no-repeat;
            background-size: 20px 24px;
            background-position: left 10px center;
            margin-right: 15px; }
          .page-content .main-wrapper .main-container .recruit-container .hero-content-container .download-section span.button.ios {
            background-image: url("/static/images/iphone-logo.png");
            background-repeat: no-repeat;
            background-size: 20px 24px;
            background-position: left 10px center; }
  .page-content .main-wrapper.footer-bottom {
    background-image: url("/static/images/footer-background.png");
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .page-content .highlight-wrapper {
    background: #fafafa; }
    .page-content .highlight-wrapper .main-container {
      width: 90%;
      margin: 0 auto; }
      .page-content .highlight-wrapper .main-container .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px 0; }
        .page-content .highlight-wrapper .main-container .container h1 {
          color: #333;
          font-size: 30px;
          line-height: 1.5;
          margin-bottom: 50px; }
          .page-content .highlight-wrapper .main-container .container h1 span {
            font-weight: bold; }
        .page-content .highlight-wrapper .main-container .container ul.category-listing {
          padding: 0;
          list-style: none;
          margin: 20px 0;
          clear: both; }
          .page-content .highlight-wrapper .main-container .container ul.category-listing a {
            color: #333; }
          .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item {
            float: left;
            width: 25%;
            text-align: center;
            padding: 30px 0 0 0;
            transition: all 0.1s ease-in-out; }
            .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item .category-icon {
              position: relative;
              top: 0;
              transition: all 0.1s ease-in-out; }
              .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item .category-icon img {
                height: 50px;
                display: block;
                margin: 0 auto; }
            .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item .category-title {
              position: relative;
              top: 0;
              transition: all 0.1s ease-in-out; }
              .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item .category-title h4 {
                font-weight: bold; }
            .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item.border-bottom {
              border-bottom: 1px solid #e8e8e8; }
            .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item.border-right {
              border-right: 1px solid #e8e8e8; }
            .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item:hover .category-icon {
              top: -5px; }

@media all and (max-width: 1280px) {
  .mobileHeaderNav {
    display: none !important; }
  .page-content .main-wrapper .main-container .intro-container .intro-wrapper h1 {
    font-size: 50px; }
  .page-content .main-wrapper .main-container .intro-container .intro-wrapper .image-container img {
    width: 100%; } }

@media all and (max-width: 600px) {
  .header .domain_logo {
    display: inline-block; } }

@media all and (max-width: 768px) {
  .page-content .main-wrapper .main-container .intro-container .intro-wrapper {
    width: 100%; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper h1 {
      text-align: center;
      letter-spacing: 4px; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper span {
      width: 80%;
      margin: 20px auto; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper .image-container {
      margin-bottom: 20px; }
      .page-content .main-wrapper .main-container .intro-container .intro-wrapper .image-container img {
        width: 70%;
        margin: 0 auto; }
  .page-content .main-wrapper .main-container .intro-container .login-wrapper {
    width: 100%;
    margin: 30px 0; }
  .page-content .main-wrapper .main-container .features-container .hero-container .hero-content {
    width: 100%; }
    .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.text-container {
      position: initial; }
    .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container {
      opacity: 1; }
      .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container img {
        width: 100%; }
      .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.left {
        opacity: 1;
        right: 0;
        width: 100%; }
      .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.right {
        opacity: 1;
        left: 0;
        width: 100%; }
  .page-content .main-wrapper .main-container .recruit-container .hero-image-container {
    width: 100%; }
  .page-content .main-wrapper .main-container .recruit-container .hero-content-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px; }
  .page-content .main-wrapper.footer-bottom {
    background-size: auto; }
  .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item {
    width: 50%;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8; }
    .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item.no-right-border {
      border-right: 0; }
    .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item.no-bottom-border {
      border-bottom: 0; } }

@media all and (max-width: 480px) {
  .page-content .main-wrapper .main-container .intro-container .intro-wrapper {
    width: 100%; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper h1 {
      text-align: center;
      letter-spacing: 2px; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper span {
      width: 90%;
      margin: 20px auto; }
    .page-content .main-wrapper .main-container .intro-container .intro-wrapper .image-container {
      margin-bottom: 20px; }
      .page-content .main-wrapper .main-container .intro-container .intro-wrapper .image-container img {
        width: 90%;
        margin: 0 auto; }
  .page-content .main-wrapper .main-container .intro-container .login-wrapper {
    width: 100%;
    margin: 30px 0; }
    .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container {
      padding: 20px; }
      .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container h3 {
        width: 100%; }
      .page-content .main-wrapper .main-container .intro-container .login-wrapper .login-container form {
        width: 100%; }
  .page-content .main-wrapper .main-container .features-container h1.center-highlight span {
    display: block;
    padding: 0; }
  .page-content .main-wrapper .main-container .features-container h1.center-highlight:before {
    content: none; }
  .page-content .main-wrapper .main-container .features-container .hero-container {
    padding-top: 0px; }
    .page-content .main-wrapper .main-container .features-container .hero-container .hero-content {
      width: 100%; }
      .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.text-container {
        position: initial; }
      .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container {
        padding-top: 20px;
        opacity: 1; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container img {
          width: 100%; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.left {
          opacity: 1;
          right: 0;
          width: 100%; }
        .page-content .main-wrapper .main-container .features-container .hero-container .hero-content.image-container.right {
          opacity: 1;
          left: 0;
          width: 100%; }
  .page-content .main-wrapper .main-container .recruit-container .hero-image-container {
    width: 100%; }
  .page-content .main-wrapper .main-container .recruit-container .hero-content-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px; }
  .page-content .main-wrapper.footer-bottom {
    background-size: auto; }
  .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item {
    width: 50%;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8; }
    .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item.no-right-border {
      border-right: 0; }
    .page-content .highlight-wrapper .main-container .container ul.category-listing li.category-item.no-bottom-border {
      border-bottom: 0; } }

.forgot-pass {
  text-align: center;
  font-size: 14px; }
