.link-color {
  color: #155d9a; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
.main-container {
  padding: 20px;
  min-height: calc(100% - 155px); }
  .main-container .recruiter-plan-banner-container {
    margin-bottom: 30px;
    text-align: center; }
    .main-container .recruiter-plan-banner-container h3 strong {
      font-weight: bold; }
    .main-container .recruiter-plan-banner-container .recruiter-plan-banner {
      background: url(https://static.iimjobs.com/recruiter/resources/images/tag.png);
      text-align: center;
      background-repeat: no-repeat;
      width: 659px;
      height: 28px;
      line-height: 28px;
      margin: 0 auto;
      color: #FFF;
      font-size: 13px;
      font-family: "Droid Sans", sans-serif; }
    .main-container .recruiter-plan-banner-container .recruiter-plan-tagline {
      font-size: 14px;
      font-family: "Droid Sans", sans-serif;
      text-align: center;
      width: 659px;
      height: 28px;
      line-height: 28px;
      margin: 0 auto;
      color: #4b4b4b; }
  .main-container .recruiter-plans-container {
    position: relative;
    height: 600px;
    width: 90%;
    margin: 0 auto; }
    .main-container .recruiter-plans-container.mobile-swipe-container {
      display: none; }
    .main-container .recruiter-plans-container .recruiter-plan-basic {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 32.33%;
      margin-top: 40px;
      background: #FFF;
      box-sizing: border-box;
      color: #333;
      font-family: "Droid Sans", sans-serif;
      border: 1px solid #e8e8e8;
      border-top: 5px solid #e8e8e8;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
      .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-header {
        font-size: 22px;
        padding: 16px 10px 20px 10px;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        position: relative; }
        .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-header h5 {
          margin: 10px 0;
          font-style: none; }
          .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-header h5.cost {
            font-weight: bold; }
        .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-header .plan-title-separator {
          width: 100px;
          margin: 0 auto;
          border-bottom: 1px solid #e8e8e8; }
      .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-content .top-content {
        text-align: center;
        font-size: 25px;
        background: #d5d5d5;
        margin: 0 0 5px 0;
        padding: 7px 5px;
        font-weight: 500; }
      .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-content .list-container {
        margin: 0; }
        .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-content .list-container .list {
          background: url(https://static.iimjobs.com/recruiter/resources/images/greycon.png) #FFF no-repeat;
          padding: 15px 15px 15px 45px;
          margin-bottom: 1px;
          font-size: 13px;
          background-position: 15px 15px;
          background-size: 20px 20px;
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 20px; }
          .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-content .list-container .list p {
            line-height: 1.5; }
      .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-content .button-container {
        text-align: center; }
        .main-container .recruiter-plans-container .recruiter-plan-basic .recruiter-plan-basic-content .button-container button {
          margin: 15px 0;
          border: 0;
          background: #808080;
          color: #FFF;
          font-size: 20px;
          width: 50%;
          border-radius: 4px;
          padding: 8px; }
    .main-container .recruiter-plans-container .recruiter-plan-signature {
      position: absolute;
      left: 33.33%;
      display: inline-block;
      width: 32.33%;
      background: #FFF;
      box-sizing: border-box;
      font-family: "Droid Sans", sans-serif;
      border: 1px solid #e8e8e8;
      border-top: 5px solid #149075;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
      .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container {
        font-size: 22px;
        padding: 16px 10px 20px 10px;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        position: relative; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container h5 {
          margin: 10px 0; }
          .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container h5.cost {
            font-weight: bold; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container h6 {
          margin: 0 0 10px 0; }
          .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container h6 strong {
            font-weight: bold; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container .plan-title-separator {
          width: 100px;
          margin: 0 auto;
          border-bottom: 1px solid #e8e8e8; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-header-container .icon-container {
          display: inline-block;
          position: absolute;
          top: 66%;
          height: 25px;
          line-height: 23px;
          width: 25px;
          box-sizing: border-box;
          border: 1px solid;
          border-radius: 50%;
          left: 50%;
          transform: translate(-50%, 35%);
          top: 80%;
          background: #FFF; }
      .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content {
        border-top: 1px solid #fff; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .top-content {
          text-align: center;
          font-size: 25px;
          background: #FFF;
          margin: 0 0 5px 0;
          padding: 7px 5px;
          font-weight: 500; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .list-container .list {
          background: url(https://static.iimjobs.com/recruiter/resources/images/greycon.png) #FFF no-repeat;
          padding: 15px 15px 15px 45px;
          margin-bottom: 1px;
          font-size: 13px;
          background-position: 15px 15px;
          background-size: 20px 20px;
          border-bottom: 1px solid #e8e8e8;
          padding-bottom: 20px; }
          .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .list-container .list p {
            line-height: 1.5; }
        .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .button-container {
          text-align: center; }
          .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .button-container .spinner {
            padding-top: 10px; }
          .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .button-container .button-wrapper-signature {
            margin: 15px auto;
            width: 185px;
            height: 40px;
            border: 0;
            background: #149075;
            color: #FFF;
            border-radius: 4px; }
            .main-container .recruiter-plans-container .recruiter-plan-signature .recruiter-plan-signature-content .button-container .button-wrapper-signature button {
              border: 0;
              background: #149075;
              color: #FFF;
              font-size: 20px;
              width: 185px;
              height: 40px;
              border-radius: 4px;
              padding: 8px; }
    .main-container .recruiter-plans-container .recruiter-plan-platinum {
      position: absolute;
      right: 0;
      display: inline-block;
      width: 33.33%;
      margin-top: 40px;
      background: #FFF;
      color: #333;
      font-family: "Droid Sans", sans-serif;
      border: 1px solid #e8e8e8;
      border-top: 5px solid #155d9a;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
      .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container {
        padding: 16px 10px 20px 10px;
        border-bottom: 1px solid #3bb39b;
        text-align: center;
        position: relative;
        font-size: 22px;
        padding: 16px 10px 20px 10px;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        position: relative; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container h5 {
          margin: 10px 0; }
          .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container h5.cost {
            font-weight: bold; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container h6 {
          margin: 0 0 10px 0; }
          .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container h6 strong {
            font-weight: bold; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container .plan-title-separator {
          width: 100px;
          margin: 0 auto;
          border-bottom: 1px solid #e8e8e8; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-header-container .icon-container {
          display: inline-block;
          position: absolute;
          top: 66%;
          height: 25px;
          line-height: 23px;
          width: 25px;
          box-sizing: border-box;
          border: 1px solid;
          border-radius: 50%;
          left: 50%;
          transform: translate(-50%, 35%);
          top: 80%;
          background: #63cdb8; }
      .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content {
        border-top: 1px solid #e8e8e8; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .top-content {
          text-align: center;
          font-size: 25px;
          background: #FFF;
          margin: 0 0 5px 0;
          padding: 7px 5px;
          font-weight: 500; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .list-container .list {
          background: url(https://static.iimjobs.com/recruiter/resources/images/greycon.png) #FFF no-repeat;
          padding: 15px 15px 15px 45px;
          margin-bottom: 1px;
          font-size: 13px;
          background-position: 15px 15px;
          background-size: 20px 20px;
          border-bottom: 1px solid #e8e8e8; }
          .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .list-container .list p {
            line-height: 1.5; }
        .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .button-container {
          text-align: center; }
          .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .button-container .spinner {
            padding-top: 10px; }
          .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .button-container .button-wrapper-platinum {
            margin: 15px auto;
            width: 185px;
            height: 40px;
            border: 0;
            background: #155d9a;
            color: #FFF;
            border-radius: 4px; }
            .main-container .recruiter-plans-container .recruiter-plan-platinum .recruiter-plan-platinum-content .button-container .button-wrapper-platinum button {
              border: 0px solid #4c4c4c;
              background: #155d9a;
              color: #FFF;
              font-size: 20px;
              width: 185px;
              height: 40px;
              border-radius: 4px; }

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background-color: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px; }

.modal-header {
  background-color: #e9e9e9;
  padding: 15px;
  position: relative; }
  .modal-header .modal-heading {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    font-family: "Droid Sans",sans-serif; }

.modal-center {
  padding: 0 15px; }
  .modal-center .list {
    padding: 10px 20px;
    font-size: 14px;
    font-family: "Droid Sans",sans-serif;
    color: #4b4b4b; }
    .modal-center .list input {
      padding: 8px;
      border: 1px solid #ccc;
      width: 85%;
      background-color: inherit; }

.modal-footer {
  background-color: #e9e9e9;
  padding: 15px;
  position: relative;
  min-height: 52px; }
  .modal-footer .buttons-container {
    position: absolute;
    right: 20px; }

/* The Close Button */
.close {
  color: #808080;
  position: absolute;
  right: 20px;
  font-size: 22px;
  line-height: 20px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer; }

.success-job-posted {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background: #ddd;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Droid Sans", sans-serif; }

@media all and (max-width: 1024px) {
  .recruiter-plans-container {
    display: none; }
  .main-container .recruiter-plans-container.mobile-swipe-container {
    display: block;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    padding-bottom: 30px; }
    .main-container .recruiter-plans-container.mobile-swipe-container .recruiter-plans-wrapper {
      overflow: hidden;
      position: relative; }
      .main-container .recruiter-plans-container.mobile-swipe-container .recruiter-plans-wrapper > div {
        float: left;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 10px 0; }
        .main-container .recruiter-plans-container.mobile-swipe-container .recruiter-plans-wrapper > div .list {
          padding: 10px 10px 10px 45px !important;
          background-position-y: 10px !important; } }

.error-slot {
  margin: 4px 0 0 40px !important; }
