.link-color {
  color: #337ab7; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
.main-container {
  margin: 20px;
  border: 1px solid #f5f6f7;
  min-height: calc(100% - 155px);
  position: relative; }
  .main-container .reset-password-form {
    line-height: 1;
    display: inline-block;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .main-container .reset-password-form .heading {
      margin-bottom: 15px; }
    .main-container .reset-password-form .field {
      margin-bottom: 15px; }
      .main-container .reset-password-form .field input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 34px;
        color: #555;
        border: 1px solid #ccc;
        transition: border-color 0.20s ease-in-out;
        background-color: inherit;
        border-radius: 2px; }
        .main-container .reset-password-form .field input:focus {
          outline: none;
          border-color: #66afe9; }
      .main-container .reset-password-form .field input::-webkit-input-placeholder {
        height: 34px;
        line-height: 34px; }
