.link-color {
  color: #155d9a; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
.main-container {
  padding: 20px;
  min-height: calc(100% - 155px); }
  .main-container .heading-container {
    position: relative;
    height: 50px;
    line-height: 50px; }
    .main-container .heading-container .heading-content {
      position: absolute;
      left: 0; }
    .main-container .heading-container .download-excel {
      position: absolute;
      right: 0; }
  .main-container .reports-table {
    overflow-x: auto; }
    .main-container .reports-table .view-reports-table {
      border-collapse: collapse;
      width: 100%; }
      .main-container .reports-table .view-reports-table .heading-row {
        padding: 10px;
        font-size: 10px;
        background-color: #f5f6f7; }
        .main-container .reports-table .view-reports-table .heading-row th {
          padding: 6px 2px;
          text-align: left; }
      .main-container .reports-table .view-reports-table .data-row {
        border-bottom: 1px solid #ddd;
        font-size: 12px; }
        .main-container .reports-table .view-reports-table .data-row:nth-child(odd) {
          background-color: #f5f6f7; }
        .main-container .reports-table .view-reports-table .data-row td {
          padding: 8px 2px; }
          .main-container .reports-table .view-reports-table .data-row td a {
            text-decoration: none; }
            .main-container .reports-table .view-reports-table .data-row td a:hover {
              color: #23527c;
              text-decoration: underline; }
        .main-container .reports-table .view-reports-table .data-row .created-date {
          min-width: 85px; }
        .main-container .reports-table .view-reports-table .data-row .job-title {
          min-width: 285px; }
        .main-container .reports-table .view-reports-table .data-row .posted-by {
          min-width: 105px; }
