.link-color {
  color: #155d9a; }

.white-bg {
  background-color: #ffffff; }

.heading-clr {
  color: #708732; }

.light-grey-bg {
  background-color: #f5f6f7; }

.text-clr {
  color: #4b4b4b; }

.extra-info-color {
  color: #808080; }

.important-info-color {
  color: #333; }

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7); }

.animated {
  animation-duration: 500ms !important; }

/** Mobile Menu **/
.job-title {
  width: 95%;
  font-size: 18px;
  margin: 20px auto;
  color: #708732; }

.profile_container {
  width: 95%;
  margin: 40px auto; }
  .profile_container .profile_header {
    width: auto;
    margin: 0 auto;
    background-color: #efefef;
    padding: 10px 15px; }
    .profile_container .profile_header span {
      display: inline-block;
      overflow: auto;
      font-size: 13px;
      font-family: 'Noto Sans',sans-serif;
      text-align: left;
      font-weight: bold; }
    .profile_container .profile_header .name {
      width: 18%; }
    .profile_container .profile_header .organization {
      width: 26%; }
    .profile_container .profile_header .institute {
      width: 30%; }
    .profile_container .profile_header .more {
      width: 24%; }
  .profile_container .buttons.extra-height {
    height: 30px; }
  .profile_container .profile_content {
    padding: 0 15px 10px 15px; }
    .profile_container .profile_content .content {
      display: inline-block;
      padding: 1px;
      margin: 0;
      overflow: hidden;
      font-size: 12px;
      vertical-align: top; }
      .profile_container .profile_content .content .info {
        padding: 10px 0; }
        .profile_container .profile_content .content .info .important_info {
          font-size: 12px;
          color: #333;
          font-family: 'Open Sans'; }
          .profile_container .profile_content .content .info .important_info.name {
            font-size: 13px; }
        .profile_container .profile_content .content .info .extra_info {
          color: #808080;
          font-family: "Droid Sans",sans-serif;
          padding: 2px 0; }
        .profile_container .profile_content .content .info .icon {
          display: block;
          font-size: 16px;
          color: #424242;
          padding: 2px; }
          .profile_container .profile_content .content .info .icon span {
            font-size: 12px;
            padding: 2px; }
          .profile_container .profile_content .content .info .icon:hover {
            color: green; }
    .profile_container .profile_content .content.name {
      width: 18%; }
      .profile_container .profile_content .content.name img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        max-width: 100%;
        max-height: 100%; }
      .profile_container .profile_content .content.name .name.animated-background {
        width: 100px;
        min-height: 10px;
        margin-bottom: 10px; }
      .profile_container .profile_content .content.name .email {
        width: 100px;
        min-height: 10px; }
    .profile_container .profile_content .content.organization {
      width: 26%; }
      .profile_container .profile_content .content.organization .shell-loader-container {
        padding-top: 40px; }
        .profile_container .profile_content .content.organization .shell-loader-container .name.animated-background {
          width: 150px;
          min-height: 10px;
          margin-bottom: 20px; }
        .profile_container .profile_content .content.organization .shell-loader-container .designation.animated-background {
          width: 150px;
          min-height: 10px; }
    .profile_container .profile_content .content.institute {
      width: 30%; }
      .profile_container .profile_content .content.institute .shell-loader-container {
        padding-top: 40px; }
        .profile_container .profile_content .content.institute .shell-loader-container .name.animated-background {
          width: 150px;
          min-height: 10px;
          margin-bottom: 20px; }
        .profile_container .profile_content .content.institute .shell-loader-container .designation.animated-background {
          width: 150px;
          min-height: 10px; }
    .profile_container .profile_content .content.more {
      width: 24%; }
    .profile_container .profile_content .buttons a {
      font-size: 12px;
      text-decoration: none;
      display: inline-block;
      width: 19%;
      color: #808080; }
      .profile_container .profile_content .buttons a:hover {
        text-decoration: underline; }
    .profile_container .profile_content .more_info {
      width: 99%;
      margin: 0 auto;
      display: none; }
      .profile_container .profile_content .more_info .layer .marital-status-container {
        width: 18%;
        vertical-align: top; }
      .profile_container .profile_content .more_info .layer .permit-container {
        width: 26%;
        vertical-align: top; }
      .profile_container .profile_content .more_info .layer .score-container {
        width: 30%; }
      .profile_container .profile_content .more_info .layer .languages-container {
        width: 24%;
        vertical-align: top; }
      .profile_container .profile_content .more_info .layer .row .column {
        width: 33%;
        display: inline-block; }
      .profile_container .profile_content .more_info .layer .info {
        display: inline-block; }
        .profile_container .profile_content .more_info .layer .info .score {
          display: inline-block; }

.heading {
  font-size: 12px;
  color: #666;
  padding-bottom: 1px; }

.content {
  font-size: 14px; }

.vertical_outside {
  display: inline-block;
  height: 100%; }
  .vertical_outside .vertical_top {
    height: 16px; }
  .vertical_outside .vertical_middle {
    border-left: 1px solid #d8d8d8;
    height: 90%; }

.tab_container {
  width: 95%;
  margin: 40px auto; }
  .tab_container .tab {
    display: inline-block;
    width: 30%;
    min-height: 150px;
    vertical-align: top; }
    .tab_container .tab.center {
      margin: 0 4.5%; }
    .tab_container .tab .tab_heading {
      background-color: #efefef;
      padding: 10px; }
      .tab_container .tab .tab_heading span {
        color: #4b4b4b;
        font-size: 14px;
        font-family: "Droid Sans", sans-serif; }
    .tab_container .tab .tab_content {
      padding: 10px; }
      .tab_container .tab .tab_content input {
        padding: 8px 12px;
        margin: 1px 0 10px 0;
        border: 1px solid #ccc;
        border-radius: 2px;
        width: 70%; }
      .tab_container .tab .tab_content .info {
        margin-bottom: 40px;
        position: relative; }
        .tab_container .tab .tab_content .info .left {
          position: absolute;
          left: 0; }
        .tab_container .tab .tab_content .info .right {
          position: absolute;
          right: 0; }

.resume-container {
  width: 95%;
  margin: 40px auto; }
  .resume-container .resume {
    display: inline-block;
    width: 65%;
    height: 800px;
    vertical-align: top;
    margin-right: 4.5%; }
    .resume-container .resume .resume-embed-container {
      width: 100%;
      height: calc(100% - 48px); }
      .resume-container .resume .resume-embed-container .resume-embed {
        width: 100%;
        height: 100%; }
  .resume-container .cover_letter {
    display: inline-block;
    width: 30%;
    height: 800px;
    vertical-align: top; }
    .resume-container .cover_letter .content {
      padding: 20px; }
  .resume-container .head {
    background-color: #666;
    padding: 15px;
    color: #fff; }

.margin-right {
  margin-right: 0 !important; }

.posted-tags {
  margin-top: 10px;
  line-height: 3; }
  .posted-tags .tags-jobSeeker {
    display: inline-block;
    width: 85px;
    margin-right: 5px; }
    .posted-tags .tags-jobSeeker .tags-content {
      cursor: pointer; }

.js-remove-tag.job-seeker-tags {
  height: 24px;
  border: 1px solid #ececec;
  color: #4b4b4b;
  font-size: 12px;
  padding: 2px 4px;
  cursor: pointer;
  background: #f5f6f7; }
