$header-background-color : #2b2b2b;

$color-white : #FFF;
$color-darkgrey:#2b2b2b;

$link-color:#155d9a;

$logoTaglineColor:#7b7b7b;

$color-label:#2b2b2b;

$select-color:#818181;

$select-border-color:#e8e8e8;
$select-border-color-error:#eb1c2a;

$error-message-color:#ec1c2a;

$course-option-base: #818181;
$course-option-active: #4fa995;

$button-border-color:#8f8a8a;

$border-color-base:#e8e8e8;
$border-color-active:#4fa995;
$border-color-error:#ee1620;


$button-color-green:#1f8f75;
$button-color-red:#af595a;

$sticker-background-color:#26252a;

$shadow-color:rgba(0,0,0,0.2);
$shadow-color-dark:rgba(0,0,0,0.5);

$options-list-background-color:#faf9f9;

$options-list-link-color:#1a5e98;

$candidate-link-color:#155d9a;
$candidate-skill-background-color:#f1efef;
$candidate-skill-text-color:#6e6e6e;

$footer-link-color:#c1c1c1;

$page-title-color : #5d5d5d;

$page-section-title-color: #149075;

$premium-section-background:#f3fbfb;
$active-section-background:#f4fbfb;

$page-list-item-color:#5d5d5d;

$page-background-color:#F4F4F4;

$active-hover-background:#e9f5f2;

$chat-sidebar-header-background:#26252a;

$header-link-active-color:#1f8f75;

$settings-highlight-background:#F2F8F8;

$inline-link-color:#149075;

$mass-action-bar: #f7f7f7;

$body-background-color:#f7f7f7;

$user-status-offline: #b6b6b5;

$user-status-online : #6dd51e;

$resume-comment-highlight-color: #cfebeb;

$resume-profile-snapshot-background:#f9f9f9;

$resume-background-color: #C0C0C0;

/** Mobile Menu **/


$mobile-background-color:#f7f7f7;
$mobile-highlight-background-color:#f3fbfb;
$mobile-menu-background-color:#26252a;
$mobile-menu-border-color:#2E2E2E;

$mobile-profile-section-background:#403f44;

/* [Recruiter_HomePage : ] */
	$intro-subtitle-color:#5b5b5b;
	$login-container-background: #fafafa;
	$login-button-color:#0c9175;

	$landing-title-color:#0c9176;

	$landing-highlight-background: #fafafa;
/* [/Recruiter_HomePage : ] */
