$header-background-color : #2b2b2b;

$color-white : #FFF;
$color-darkgrey:#2b2b2b;

$link-color:#1a5e98;

$logoTaglineColor:#7b7b7b;

$color-label:#2b2b2b;

$select-color:#818181;

$select-border-color:#e8e8e8;
$select-border-color-error:#eb1c2a;

$error-message-color:#ec1c2a;

$course-option-base: #818181;
$course-option-active: #4fa995;

$button-border-color:#8f8a8a;

$border-color-base:#e8e8e8;
$border-color-active:#4fa995;
$border-color-error:#eb1c2a;


$button-color-green:#1f8f75;
$button-color-red:#af595a;

$sticker-background-color:#26252a;

$shadow-color:rgba(0,0,0,0.1);

$options-list-background-color:#faf9f9;

$options-list-link-color:#1a5e98;

$footer-link-color:#c1c1c1;

$page-title-color : #5d5d5d;

$page-section-title-color: #149075;

$premium-section-background:#f3fbfb;