$logoFontName : "Comfortaa";


$logoFontSize : 30px;
$logoBylineFontSize : 14px;
$logoCaptionFontSize : 11px;
$logoTaglineFontSize : 11px;

$logo-font-size-mobile:21px;
$logo-byline-font-size-mobile:11px;
$logo-tagline-font-size-mobile:9px;

$label-font-size : 14px;
$select-font-size: 14px;

$error-message-font-size:11px;

$base-font-size:14px;

$options-list-font-size:13px;

$page-title-size : 22px;

$page-section-title-size : 26px;
$page-section-font-size: 13px;