$logoFontName : "Comfortaa";
$primary-font : "Droid Sans", sans-serif;
$logoFontSize : 30px;
$logoBylineFontSize : 14px;
$logoCaptionFontSize : 11px;
$logoTaglineFontSize : 11px;

$logo-font-size-mobile:21px;
$logo-byline-font-size-mobile:11px;
$logo-tagline-font-size-mobile:9px;

$label-font-size : 14px;
$select-font-size: 14px;
$base-font-size:14px;

$error-message-font-size:11px;

$options-list-font-size:13px;

$page-title-size : 22px;

$page-section-title-size : 26px;
$page-section-font-size: 13px;

$page-subtitle-font-size:18px;

$base-subtitle-size:16px;

$candidate-skill-font-size:12px;

$mobile-page-title-size : 16px;
$mobile-page-subtitle-size : 12px;

$mobile-page-section-title-size:20px;

$mobile-base-font-size:12px;

$select-minimal-font-size:16px;

$page-table-header-font-size:15px;

$view-resume-section-title-size:16px;
$view-resume-byline-font-size:13px;
$view-resume-clear-tag-font-size: 11px;
$view-resume-listing-font-size:15px;

$resume-listing-font-size:15px;

$chat-sidebar-user-name-font-size:13px;
$chat-sidebar-user-designation-font-size:12px;
$chat-timestamp-font-size:12px;

$filter-tag-size:12px;

$modal-title-font-size:24px;

$modal_heading-font-size: 18px;
$modal-content-font-size: 14px;

/*[Recruiter_Homepage]*/

  $login-title-font-size:24px;
  $landing-title-font-size:24px;
  $login-input-font-size:16px;
  $landing-subtitle-font-size:16px;
/*[/Recruiter_Homepage]*/


/**** Fontello Font Icons : ****/

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75489480#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-certification:before { content: '\e800'; } /* '' */
.icon-cross:before { content: '\e801'; } /* '' */
.icon-disabillity-symbol:before { content: '\e802'; } /* '' */
.icon-chat_icon:before { content: '\e803'; } /* '' */
.icon-distance_learning:before { content: '\e804'; } /* '' */
.icon-down_arrow:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-ex--alunmi:before { content: '\e807'; } /* '' */
.icon-ex-defence:before { content: '\e808'; } /* '' */
.icon-executive-program:before { content: '\e809'; } /* '' */
.icon-facebook-logo:before { content: '\e80a'; } /* '' */
.icon-full-time:before { content: '\e80b'; } /* '' */
.icon-gender:before { content: '\e80c'; } /* '' */
.icon-information:before { content: '\e80d'; } /* '' */
.icon-linkedin-logo:before { content: '\e80e'; } /* '' */
.icon-part-time:before { content: '\e80f'; } /* '' */
.icon-refresh:before { content: '\e810'; } /* '' */
.icon-refresh2:before { content: '\e811'; } /* '' */
.icon-right_arrow:before { content: '\e812'; } /* '' */
.icon-shield:before { content: '\e813'; } /* '' */
// .icon-star:before { content: '\e814'; } /* '' */
.icon-star2:before { content: '\e815'; } /* '' */
.icon-twitter:before { content: '\e816';color: #1da1f2} /* '' */
.icon-woman:before { content: '\e817'; } /* '' */
.icon-candidate:before { content: '\e818'; } /* '' */
.icon-checked_icon:before { content: '\e819'; } /* '' */
.icon-close_icon:before { content: '\e81a'; } /* '' */
.icon-group:before { content: '\e81b'; } /* '' */
.icon-review:before { content: '\e81c'; } /* '' */
.icon-down_arrow-1:before { content: '\e81d'; } /* '' */
.icon-download_arrow:before { content: '\e81e'; } /* '' */
.icon-email_envelope:before { content: '\e81f'; } /* '' */
.icon-envelope:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e821'; } /* '' */
.icon-search_icon:before { content: '\e822'; } /* '' */
.icon-notification_bell_outline_interface_symbol:before { content: '\e823'; } /* '' */
.icon-politics:before { content: '\e824'; } /* '' */
.icon-denied:before { content: '\e825'; } /* '' */
.icon-star_shaped_medal:before { content: '\e826'; } /* '' */
.icon-sunrise:before { content: '\e827'; } /* '' */
.icon-tick:before { content: '\e828'; } /* '' */
.icon-add_icon:before { content: '\e82a'; } /* '' */
.icon-back_icon:before { content: '\e82b'; } /* '' */
.icon-badge:before { content: '\e82c'; } /* '' */
.icon-box:before { content: '\e82d'; } /* '' */
.icon-interview:before { content: '\e82f'; } /* '' */
.icon-mail:before { content: '\e830'; } /* '' */
.icon-user:before { content: '\e831'; } 
.icon-location:before { content: '\e832'; }
.icon-clock:before{ content: '\e83a';}
.icon-checked_icon:before { content: '\e819';}
.icon-telephone:before { content: '\E83C';}
.icon-face-to-face:before { content: '\e83d';}
.icon-search:before {content: '\e83f';}
.icon-filter:before {content: '\e841';}
.icon-up_arrow:before {content: '\e842';}
.icon-star:before {content:'\e829';}
.icon-review:before {content:'\e81c';}
.icon-chat:before {content:'\e833';}
.icon-more:before {content:'\e843';}


.icon-more:before {font-size: 20px; color: #2b2b2b ; margin-left: 0px}
.icon-chat:before {font-size: 20px}
.icon-telephone:before {font-size: 20px}
.icon-face-to-face:before { font-size: 20px}
.icon-star:before {font-size: 20px}
.icon-interview:before { font-size: 25px } /* '' */
.icon-search:before {position: relative; top: -24px;left :5px}
.icon-filter:before {position: relative; top: 6px;}
.icon-chat_icon:before { font-size: 20px}
