<div class="slot-date slotDate shell">
    <div class="date"><div class="action-date"></div><span class="interviewDate"></span></div>
    <div class="schedules-container">
        <div class="schedules">
            <div class="time"><div class="action-time">Time Slots</div><span class="interviewTime shel"></span></div>
            <div class="interview-type"><div class="action-name">Calendar Name</div><span></span></div>
            <div class="details">
                <div class="action-detail">Candidate Details</div>
                <div class="name"><span class="interviewTime shel"></span></div>
                <div class="designation candDesignation"><span class="interviewTime shel"></span></div>
                <div class="experience "><span class="interviewTime shel"></span></div>
                <div class="location"><span class="interviewTime shel"></span></div>
            </div>
            <div class="job-details">
                <div class="action-job">Applied to job</div>
                <div id="profile" ><span class=""></span></div>
                <div id="exp-details">

                    <span class="jobExp"></span>
                </div>


            </div>
            <p class="action-buttons">

            </p>

        </div>
    </div>

</div>
