<div class="candidate-item candidateItem shell">
   <div class="candidate-item-section image">
       <div class="candidate-image">
           <img class="js_img" src="http://placehold.it/60x60/f5f5f5?text=+">
           
       </div>
   </div>

   <div class="candidate-item-section personal-details">
       <p class="section"></p>
       <div class="section">
           <span class="left"></span><span class="right"></span>
           <div class="clearfix"></div>
       </div>
       <div class="section">
           <span class="left"></span><span class="right"></span>
           <div class="clearfix"></div>
       </div>
   </div>

   <div class="candidate-item-section professional-information js_prof_list">
       <div class="datum">
           <p class="section"></p>
           <div class="section">
               <span class="left"></span><span class="right"></span>
               <div class="clearfix"></div>
           </div>
       </div>

       <div class="datum">
           <p class="section"></p>
           <div class="section">
               <span class="left"></span><span class="right"></span>
               <div class="clearfix"></div>
           </div>
       </div>
   </div>

   <div class="candidate-item-section educational-details js_edu_list">
       <p class="section"></p>
       <div class="section">
           <span class="left"></span><span class="right"></span>
           <div class="clearfix"></div>
       </div>

       <p class="section"></p>
       <div class="section">
           <span class="left"></span><span class="right"></span>
           <div class="clearfix"></div>
       </div>
   </div>

   <div class="candidate-item-section profile-actions">
       <p class="section"></p>
       <div class="section">
           <span class="left"></span><span class="right"></span>
           <div class="clearfix"></div>
       </div>
       <div class="section">
           <span class="left"></span><span class="right"></span>
           <div class="clearfix"></div>
       </div>
   </div>
   <div class="separator"></div>
</div>
