<div class="feed-row jobRow shell" >
        <div class="main-content">
                <div class="action-panel multi-options button-action-list inactive">
                         <ul class="action-list-items">
                            <li><a href="" class="jobRefresh blockRequest hidden">Refresh</a></li>
                            <li><a href="" class="jobUnpublish blockRequest">Unpublish</a></li>
                            <li><a href="" class="jobFacebook socialIcons" target="_blank">Post On Facebook</a></li>
                            <li><a href="" class="jobTwitter socialIcons" target="_blank">Post On Twitter</a></li>
                            <li><a href="" class="jobLinkedin socialIcons" target="_blank">Post On Linkedin</a></li>
                        </ul>
                    </div>
            <div class="title">
                <a class="text" href="#"></a>
                 <div class="meta-content jobDetail">
                    <div class="meta-prop location">
                        <div class="icon"></div>
                        <div class="label"></div>
                    </div>
                     <div class="meta-prop experience">
                        <div class="icon"></div>
                        <div class="label"></div>
                    </div>
                     <div class="meta-prop postedOn">
                        <div class="icon"></div>
                        <div class="label"></div>
                    </div>
                </div>
            </div>
            <div class="stats">
                <div class="applications totalApplications">
                    <a href = "#" class="value applyPageLink"></a>
                    <div class="label"></div>
                </div>
                <div class="applications newApplications">
                    <a href="#" class="value applyPageNewLink"></a>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    
        <div class="horizontal-separator"></div>
    </div>