<div class="table-row job tableRow shell">
    <div class="table-cell created section">
        <p class=""></p>
    </div>

    <div class="table-cell title ">
        <div class="section">
            <p class=""></p>
        </div>
        <div class="section">
            <span class="job-location location"></span>
            <span class=""></span>
            <span class="job-experience experience"></span>
        </div>
    </div>

    <div class="table-cell status section">
        <p></p>
    </div>

    <div class="table-cell section">
        <p></p>
    </div>

    <div class="table-cell actions">
        <div class="job-actions-container jobActions section">
            <span class=""></span>
            <span class=""></span>
        </div>
        <div class="job-edit-container section">
            <span class=""></span>
        </div>
    </div>
    <div class="table-row-separator"></div>
</div>
