<tr class="report-row reportRo shell">
    <td class="report-item date"><span class="date"><span></td>
    <td class="report-item title">
        <p></p>
    </td>
    <td class="report-item"><p class="applications allCandidates" href="#">2729</p></td>
    <td class="report-item"><p class="shortlist shortlistedCandidates" href="#">527</p></td>
    <td class="report-item"><p class="reject rejectedCandidates" href="#">1917</p></td>
    <td class="report-item"><p class="save savedCandidates" href="#">3</p></td>
    <td class="report-item"><p class="resume-viewed-count resumeViewedCount" href="#">110</p></td>
    <td class="report-item"><p class="resume-downloaded-count resumeDownloadedCount" href="#">34</p></td>
    <td class="report-item"><p class="excel-downloaded-count excelDownloadedCount" href="#">N/A</p></td>
    <td class="report-item"><p class="recruiter-actions recruiterActions" href="#">2458</p></td>
    <td class="report-item"><p class="job-status jobStatus" href="#">Normal</p></td>
    <td class="report-item"><p class="premium-status isJobPremium" href="#">No</p></td>
    <td class="report-item"><p class="job-current-status jobCurrentStatus" href="#">Published</p></td>
</tr>
