h2 {
  margin: 20px 0 0 20px; }

.highlight {
  background-color: red;
  color: #ffffff !important; }

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

.hidden {
  display: none; }

.main_container {
  padding: 30px; }
  .main_container .filters {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
    border-right: 2px dotted #d8d8d8;
    height: auto; }
    .main_container .filters .search_keyword .field {
      margin: 5px 0 0 0;
      width: 100%; }
      .main_container .filters .search_keyword .field input {
        width: 80%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 16px; }
        .main_container .filters .search_keyword .field input:focus {
          outline: none; }
    .main_container .filters .menu {
      padding: 0;
      border-bottom: 1px solid #d8d8d8; }
      .main_container .filters .menu > span {
        font-size: 11px; }
      .main_container .filters .menu .field {
        margin: 0 auto;
        width: 86%;
        font-size: 0.9em;
        padding-bottom: 5px; }
        .main_container .filters .menu .field .modal {
          display: none;
          /* Hidden by default */
          position: fixed;
          /* Stay in place */
          z-index: 1;
          /* Sit on top */
          left: 0;
          top: 0;
          min-width: 100%;
          /* Full width */
          overflow: auto;
          /* Enable scroll if needed */
          /* Modal Content/Box */ }
          .main_container .filters .menu .field .modal .modal-content {
            background-color: #fefefe;
            margin: 200px auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
            height: 24em;
            overflow: auto;
            /* The Close Button */ }
            .main_container .filters .menu .field .modal .modal-content .row {
              padding: 20px;
              font-size: 11px; }
              .main_container .filters .menu .field .modal .modal-content .row .column {
                display: inline-block;
                vertical-align: top;
                width: 30%; }
                .main_container .filters .menu .field .modal .modal-content .row .column.center {
                  margin: 0 3%; }
            .main_container .filters .menu .field .modal .modal-content .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold; }
              .main_container .filters .menu .field .modal .modal-content .close:hover, .main_container .filters .menu .field .modal .modal-content .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer; }
        .main_container .filters .menu .field input, .main_container .filters .menu .field select {
          padding: 4px 8px;
          margin: 1px 0 6px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 60%; }
        .main_container .filters .menu .field input[type="checkbox"] {
          display: inline-block;
          width: auto; }
          .main_container .filters .menu .field input[type="checkbox"] span {
            font-size: 12px; }
        .main_container .filters .menu .field input[type="radio"] {
          display: inline-block;
          width: auto; }
        .main_container .filters .menu .field select.half {
          width: calc(96%/2);
          padding: 4px 8px; }
          .main_container .filters .menu .field select.half option {
            font-size: 12px; }
  .main_container .jobs {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding: 10px 0 0 10px;
    position: relative; }
    .main_container .jobs .tabs {
      width: auto;
      display: inline-block;
      margin-left: 20px; }
      .main_container .jobs .tabs .menu {
        list-style: none;
        padding: 0;
        display: inline-block; }
        .main_container .jobs .tabs .menu li {
          display: inline-block;
          border: 1px solid #d8d8d8;
          padding: 2px 0; }
          .main_container .jobs .tabs .menu li a {
            text-decoration: none;
            color: #000;
            padding: 2px 0 2px 6px; }
            .main_container .jobs .tabs .menu li a .status {
              margin-left: 1em;
              background-color: #7d7d7d;
              padding: 2px 6px;
              color: #ffffff; }
    .main_container .jobs .page_number {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 25px;
      min-height: 28px;
      line-height: 28px;
      padding: 0 10px; }
    .main_container .jobs .calendar {
      min-height: 40px;
      line-height: 40px;
      padding-left: 20px; }
      .main_container .jobs .calendar select {
        padding: 8px 16px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: auto; }
    .main_container .jobs .jobs_panel {
      width: 100%;
      margin: 40px auto;
      min-height: 300px; }
      .main_container .jobs .jobs_panel .jobs_header {
        width: auto;
        margin: 0 auto; }
        .main_container .jobs .jobs_panel .jobs_header span {
          display: inline-block;
          padding: 3px;
          margin: 3px;
          overflow: auto;
          font-size: 16px;
          text-align: left; }
        .main_container .jobs .jobs_panel .jobs_header .header_name {
          width: 16%; }
        .main_container .jobs .jobs_panel .jobs_header .header_organization {
          width: 23%; }
        .main_container .jobs .jobs_panel .jobs_header .header_institute {
          width: 26%; }
        .main_container .jobs .jobs_panel .jobs_header .header_more {
          width: 23%; }
        .main_container .jobs .jobs_panel .jobs_header .checkbox {
          width: 3%; }
      .main_container .jobs .jobs_panel .jobs_content {
        height: 340px; }
        .main_container .jobs .jobs_panel .jobs_content .content {
          display: inline-block;
          padding: 3px;
          margin: 3px;
          overflow: hidden;
          font-size: 12px;
          vertical-align: top; }
          .main_container .jobs .jobs_panel .jobs_content .content .info {
            padding: 10px 0; }
            .main_container .jobs .jobs_panel .jobs_content .content .info .important_info {
              font-size: 12px;
              color: #000000; }
              .main_container .jobs .jobs_panel .jobs_content .content .info .important_info.name {
                font-size: 16px; }
            .main_container .jobs .jobs_panel .jobs_content .content .info .extra_info {
              color: #727272; }
            .main_container .jobs .jobs_panel .jobs_content .content .info .icon {
              display: block;
              font-size: 16px;
              color: #424242;
              padding: 2px; }
              .main_container .jobs .jobs_panel .jobs_content .content .info .icon span {
                font-size: 12px;
                padding: 2px; }
              .main_container .jobs .jobs_panel .jobs_content .content .info .icon:hover {
                color: green; }
        .main_container .jobs .jobs_panel .jobs_content .content.content_name {
          width: 16%; }
          .main_container .jobs .jobs_panel .jobs_content .content.content_name img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            max-width: 100%;
            max-height: 100%; }
        .main_container .jobs .jobs_panel .jobs_content .content.content_organization {
          width: 23%; }
        .main_container .jobs .jobs_panel .jobs_content .content.content_institute {
          width: 26%; }
        .main_container .jobs .jobs_panel .jobs_content .content.content_more {
          width: 23%; }
        .main_container .jobs .jobs_panel .jobs_content .content.checkbox {
          width: 3%;
          max-width: 30px; }
      .main_container .jobs .jobs_panel div.jobs_container > div.jobs_content:nth-of-type(even) {
        background: #fafafa; }

.vertical_outside {
  display: inline-block;
  height: 100%; }
  .vertical_outside .vertical_top {
    height: 16px; }
  .vertical_outside .vertical_middle {
    border-left: 1px solid #d8d8d8;
    height: 90%; }
