@import "fonts.scss";
@import 'common/spacings';
@import 'input-elements';

.page-content {
	min-height: 600px;
	padding: 20px;
	background-color: $body-background-color;
	.main-wrapper {
		width:100%;
		max-width:1440px;
		margin:0 auto;
		.main-container{
			border-radius: 7px;
			border-style: solid;
			border-width: 1px;
			border-color: $select-border-color;
			box-sizing: border-box;
			background-color: $color-white ;
			box-shadow: 0px 2px 9px 0px rgba(214, 214, 214, 0.3);
			width: 100%;
			padding: 20px;
			background-image:url('/static/images/footer-background.png');
			background-size:100%;
			background-position:center bottom;
			background-repeat:no-repeat;
			min-height: 550px;
			.leftnav{
				.pd20{
					.mt0{
						font-size: 18px;
						font-weight: 600;
						color: $color-darkgrey;
					}
					.txt15{
						margin-top: 15px;
						margin-bottom: 15px;
						font-size: 15px;
						i{
							// font-weight: bold;
						}
					}
				}
				p{
					margin: 0 0 15px;
					font-size: 14px;	
					line-height: 20px;				
				}
				.mt20{

					margin-bottom: 20px;
					.leftnav{
						.icon-facebook::before {
							content: '\e84a';
							font-size: 50px;
							color:$icon-facebook-color;
						}
						.icon-linkedin::before {
							content: '\e84b';
							font-size: 50px;
							color:$icon-linkedin-color;
						}
						.icon-twitter::before {
							content: '\e849';
							font-size: 50px;
							color:$icon-twitter-color;
						}
					}
				}
			}
		}
    }
}