@import "fonts.scss";
@import 'input-elements';
@import 'chat-sidebar';
@import 'components/modal';

.shell {
    .section {
        margin-bottom: 10px !important;
    }
    p {
        @include title-shell;
    }
    span {
        display: inline-block;
        width: calc(50% - 10px);
        @include text-shell;

    }
}


.border-top {
    border-top: 1px solid #e8e8e8;
}
.button-action-list {
    display: inline-block;
    width: 165px;
    padding: 6px 15px;
    border: 1px solid $border-color-base;
    border-radius: 4px;
	cursor:pointer;
	position:relative;
	background:$options-list-background-color;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	label {
		cursor:pointer;
		background-image:url('/static/images/black_caret_down.svg');
	    background-position:right center;
	    background-repeat:no-repeat;
	}
    &.inactive {
    	border-bottom-left-radius: 4px;
    	border-bottom-right-radius: 4px;
		.action-list-items {
		    display: none;
		}
    }
    .action-list-items {
	    position: absolute;
	    top: 100%;
	    right: 0;
	    width: 165px;
	    left: 0;
	    margin: 0 -1px;
	    background: #FFF;
	    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	    border: 1px solid #e8e8e8;
	    list-style: none;
	    padding: 5px 0;
	    z-index:5;

	    li {
	    	padding:0 10px;
	    	margin:5px 0;
	    	a {
				font-size:$options-list-font-size;
				color:$options-list-link-color;
	    	}
	    }
    }
}

.page-content{
        min-height: 100%;
    padding: 0;
    overflow: auto;
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: #f7f7f7;
    max-width: 1500px;
    margin: 0 auto;
    a:hover{
        text-decoration: underline;
    }
    .header-slot{
        width: 100%;
        padding: 15px 0;
        .tagline{
            color: $color-label;
            font-size: $modal_heading-font-size;
            font-weight: 600;
            text-align: left;
            width: 25%;
            display: inline-block;
            margin-left: 4px;
            vertical-align: middle;
            line-height: 25px;
        }
        .right-container{
           float: right;
           .section{
               display: inline-block;
                .select-dropdown{
                    font-family: inherit;
                    font-size: 14px;
                    color:  #2b2b2b;
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #8f8a8a;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 163px;
                    height: 28px;
                    background-image: url("/static/images/down-arrow.svg");
                    background-repeat: no-repeat;
                    background-position: right 18px center;
                    outline: none;
                    margin-right: 10px;
                    padding: 0px 15px;
                    padding-right: 40px;
                    cursor: pointer;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearanance: none;
                    display: inline-block;
                }
            }
            .manage-Calendar{
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                border-color:  #8f8a8a;
                box-sizing: border-box;
                background-color:  #ffffff;
                width: 135px;
                height: 28px;
                text-align: center;
                font-size: 0.85em;
                margin-right: 10px;
                cursor: pointer;
                line-height: 28px;
                display: inline-block;
                a{
                    color: #2b2b2b;
                }
            }


        }
        .start-date{
          float: right;
          margin-left: 5px;
          img{
              height: 25px;
              cursor: pointer;
          }
        }
    }

    .empty-view{
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color: #e8e8e8;
        box-sizing: border-box;
        background-color: #FFF;
        box-shadow: 0px 2px 9px 0px rgba(214, 214, 214, 0.3);
        width: 100%;
        margin: 0 auto;
        padding: 15% 0px;
        .no-schedule-container{
           text-align: center;
        //    padding: 80px;
            img{
                width: 10%;
            }
            .heading{
                text-align: center;
                padding-top: 5px;
                color: #2b2b2b;
            }
            .subheading{
                text-align: center;
                color: #888;
                padding-top: 10px;
            }
        }
    }
        .wrapper{
            border-style: solid;
            border-width: 1px;
            border-color: #e8e8e8;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 100%;
            border-radius: 4px;
            margin: 0 auto;
        .action-wrapper{
            width: 100%;
            background-color:#F1FBFB;
            display: block;
            height: 50px;
            margin: 0 auto;
            .action{
                display: inline-block;
                width: 15%;
                color:  #2b2b2b;
                font-size: 15px;/* Approximation due to font substitution */
                font-weight: 600;
                text-align: left;
                margin-top: 17px;
                text-transform: uppercase;
            }
            .Interview-Date{
                margin-left: 30px;
            }

        }


    .booked-slots{
        .slot-date{
          width: 100%;
          display: inline-block;
          padding: 0%;
          vertical-align: top;
          padding-top: 20px;
          padding-bottom: 20px;

          .date{
                color:  #2b2b2b;
                font-size: 14px;/* Approximation due to font substitution */
                font-weight: 400;
                text-align: left;
                display: inline-block;
                width: 15%;
                margin-left: 30px;
                .action-date{
                    display: none;
                }

            }
            .schedules-container{
                display: inline-block;
                width: 80%;
                padding: 0%;
                vertical-align: top;
                .schedules{
                    .time{
                        color:  #2b2b2b;
                        font-size: 14px;/* Approximation due to font substitution */
                        font-weight: 400;
                        text-align: left;
                        display: inline-block;
                        width: 19%;
                        .action-time{
                            display: none;
                        }
                        .interviewTime{
                            width: 100%;
                            &.shel {
                                width: 100px;
                            }
                        }
                        .interviewType{
                            margin-top: 10px;
                        }
                    }
                    .interview-type{
                        color:  #149075;
                        font-size: 16px;/* Approximation due to font substitution */
                        font-weight: 600;
                        text-align: left;
                        display: inline-block;
                        width: 19%;
                        vertical-align: top;
                        .action-name{
                            display: none;
                        }
                        a{
                        color:  #149075;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        display: inline-block;

                        }
                    }
                    .details{
                        font-size: 14px;/* Approximation due to font substitution */
                        font-weight: 600;
                        line-height: 24px;/* Approximation due to font substitution */
                        text-align: left;
                        display: inline-block;
                        width: 18%;
                        padding-bottom: 10px;
                        vertical-align: top;
                        .interviewTime{
                            width: 100%;
                            &.shel {
                                width: 100px;
                            }
                        }
                        .action-detail{
                            display: none;
                        }
                        .name{
                            color:  #149075;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 700;
                            text-align: left;
                            width: 100%;
                        }
                        .designation{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 700;
                            line-height: 24px;/* Approximation due to font substitution */
                            text-align: left;
                            width: 100%;
                        }
                        .experience{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 700;
                            line-height: 24px;/* Approximation due to font substitution */
                            text-align: left;
                            line-height: 24px;
                            width: 100%;
                        span{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 24px;/* Approximation due to font substitution */
                            text-align: left;
                            width: 100%;
                            }

                        }
                        .location{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 700;
                            line-height: 24px;/* Approximation due to font substitution */
                            text-align: left;
                            line-height: 24px;
                            font-style: "bold";
                            width: 100%;
                            vertical-align: top;
                            span{

                                color:  #2b2b2b;
                                font-size: 14px;/* Approximation due to font substitution */
                                font-weight: 400;
                                line-height: 24px;/* Approximation due to font substitution */
                                text-align: left;
                            }
                        }
                    }

                    .job-details{
                        // width: 155px;
                        display: inline-block;
                        width: 20%;
                        vertical-align: top;
                        .action-job{
                            display: none;
                        }
                        #profile{
                            padding-right: 20px;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 700;
                            line-height: 18px;/* Approximation due to font substitution */
                            text-align: left;
                        }
                        #exp-details{

                                color:  #2b2b2b;
                                font-size: 14px;/* Approximation due to font substitution */
                                font-weight: 400;
                                line-height: 24px;/* Approximation due to font substitution */
                                text-align: left;

                        }
                    }
                    .action-buttons{
                        display: inline-block;
                        vertical-align: top;
                        .send-message{
                            border-radius: 4px;
                            border-style: solid;
                            border-width: 1px;
                            border-color:  #8f8a8a;
                            box-sizing: border-box;
                            background-color:  #ffffff;
                            width: 135px;
                            height: 28px;
                            text-align: center;
                            font-size: 0.85em;
                            cursor: pointer;
                            line-height: 28px;
                            margin-bottom: 10px;
                        }
                        .other-actions{
                            .section{
                                .select-dropdown{
                                font-family: inherit;
                                font-size: 14px;
                                color:  #2b2b2b;
                                border-radius: 4px;
                                border-style: solid;
                                border-width: 1px;
                                border-color:  #8f8a8a;
                                box-sizing: border-box;
                                background-color:  #ffffff;
                                width: 153px;
                                height: 30px;
                                background-image: url("/static/images/black_caret_down.svg");
                                background-repeat: no-repeat;
                                background-position: right 18px center;
                                padding-left: 20px;
                                outline: none;
                                cursor: pointer;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                -o-appearanance: none;
                                margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}


@media only screen and (max-width: 800px){
    .page-content{
        .header-slot{
            background-color:  #f3fbfb;
            display: inline-block;
            min-height: 60px;
            height: 100%;
            padding: 0%;
            margin: 0%;
            width: 100%;
            border-style: solid;
            border-width: 1px;
            border-color: #e8e8e8;
            box-sizing: border-box;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            .tagline{
                width: 30%;
                margin-top: 15px;
            }
            .start-date{
                margin-right: 40px;
            }
            .right-container{
                margin-top: 15px;
            .section{

            }


        }
    }

    .wrapper{
        border-top: none;

        .action-wrapper{
            display: none;
        }
        .booked-slots{
            display: block;
            padding: 0 15px;
            .slot-date{
                display: block;
                padding: 0%;
                border-bottom: 1px solid #e8e8e8;
                .date{
                    display: block;
                    margin: 0%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 80%;
                    .action-date{
                        display: block;
                        margin-top: 10px;
                        margin-bottom: 5px;
                        // font-family: DroidSans;
                        color:  #2b2b2b;
                        font-size: 17px;/* Approximation due to font substitution */
                        font-weight: 700;
                        text-align: left;
                        width: 100%;
                        color: #858585;
                    }
                    .interviewDate{
                        width: 100%;
                        font-size: 16px;
                        color: #2b2b2b;
                    }
                }
                .schedules-container{
                    display: block;
                    float: none;
                    width: 100%;
                    .schedules{
                        float: none;
                        display: inline-block;
                        width: 90%;
                      //  height: 600px;
                        .time{
                            float: none;
                            padding-bottom: 10px;
                            width: 80%;
                            .action-time{
                                display: block;
                                margin-top: 10px;
                                margin-bottom: 5px;
                                // font-family: DroidSans;
                                color:  #2b2b2b;
                                font-size: 17px;/* Approximation due to font substitution */
                                font-weight: 700;
                                text-align: left;
                                width: 100%;
                                color: #858585;
                            }
                            .interviewTime{
                                font-size: 16px;
                                color: #2b2b2b;
                            }
                        }
                        .interview-type{
                            display: block;
                            padding-bottom: 10px;
                            width: 80%;
                            .action-name{
                                display: block;
                                margin-top: 10px;
                                margin-bottom: 5px;
                                color:  #2b2b2b;
                                font-size: 17px;/* Approximation due to font substitution */
                                font-weight: 700;
                                text-align: left;
                                width: 100%;
                                color: #858585;
                            }
                        }
                        .details{
                            display: block;
                            padding-bottom: 10px;
                            width: 80%;
                            // .designation{
                            //     color: #858585;
                            // }
                            .experience{
                                color: #858585;
                            }
                            .location{
                                color: #858585;
                            }
                            .action-detail{
                                display: block;
                                margin-top: 10px;
                                // margin-bottom: 5px;
                                // font-family: DroidSans;
                                color:  #2b2b2b;
                                font-size: 17px;/* Approximation due to font substitution */
                                font-weight: 700;
                                text-align: left;
                                width: 100%;
                                color: #858585;

                            }
                            .name{

                            }

                        }
                        .job-details{
                            display: block;
                            padding-bottom: 10px;
                            width: 80%;
                            .action-job{
                                display: block;
                                margin-top: 10px;
                                margin-bottom: 5px;
                                // font-family: DroidSans;
                                color:  #2b2b2b;
                                font-size: 17px;/* Approximation due to font substitution */
                                font-weight: 700;
                                text-align: left;
                                width: 100%;
                                color: #858585;
                            }

                        }
                        .action-buttons{
                            width: 99%;
                            display: inline-block;
                            padding-bottom: 30px;
                            .send-message{
                                display: inline-block;
                            }
                            .other-actions{
                                display: inline-block;
                            }
                            .section{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    }
}

.loading{
	text-align: center;
	.lds-spinner div:after {
		content: " ";
		display: block;
		position: absolute;
		top: 12px;
		left: 31px;
		width: 3px;
		height: 12px;
		border-radius: 20%;
	}
}

@media only screen and (max-width:1024px){

    .page-content .booked-slots .slot-date .schedules-container .schedules .action-buttons{
        width: 128px;
    }
}
@media only screen and (max-width: 600px){
    .page-content .header-slot .right-container {
        margin-right: -30px;
    }
}

@media only screen and (max-width: 480px){
    .page-content{
            .header-slot{
                background-color:  #f3fbfb;
                display: inline-block;
                height: 116px;
                padding: 0%;
                margin: 0%;
                width: 100%;
                .tagline{
                    margin-top: 21px;
                    width: 80%;
                    padding-left: 0px;
                    margin-left: 12px;
                    float: none;
                }
                .start-date{
                    margin-top: 0px;
                    margin-right: 15%;
                    margin-left: 1px;
                }
                .right-container{
                    display: block;
                    float: none;
                    padding: 0%;
                    margin-left: 12px;
                    margin-right: 0px;
                    // padding-left: 45px;
                .section{
                   margin: 0%;
                //    padding-right: 20px;
                }


            }

        }
        .booked-slots .slot-date{
            border-bottom: 1px solid #e8e8e8;
        }
        .booked-slots .slot-date .schedules-container .schedules .action-buttons .section {
            display: inline-block;
        }
    }

    .page-wrap{
        color: #2b2b2b;
      //  min-height: 100%;
        padding: 0;
        overflow: auto;
        position: relative;
        padding: 20px;
        width: 100%;
        background-color: #F4F4F4;
        .main-wrappper{
            width: 100%;
            float: left;
            .main-conainer{
                margin: 0 auto;
                width: 100%;
                max-width: 1200px;
                .header-slot{
                //    margin-top: 20px;
                    width: 100%;
                    .tagline{
                        font-size: 14px;/* Approximation due to font substitution */
                        font-weight: 400;
                        text-align: left;
                        width: 50%;
                        display: inline-block;
                        margin-top: 5px;
                    }
                    .right-container{
                       float: right;
                        .manage-Calendar{
                            border-radius: 4px;
                            border-style: solid;
                            border-width: 1px;
                            border-color:  #8f8a8a;
                            box-sizing: border-box;
                            background-color:  #ffffff;
                            width: 105px;
                            height: 29px;
                            text-align: center;
                            line-height: 28px;
                            font-size: 0.75em;
                            cursor: pointer;
                            line-height: 28px;
                            display: inline-block;
                            // margin-top: 2px;
                        }

                    }
                }
            .no-schedule-container{
                width: 100%;
                border-radius: 6px;
                border-style: solid;
                border-width: 1px;
                border-color: #e8e8e8;
                box-sizing: border-box;
                background-color: #ffffff;
                box-shadow: 0px 2px 8px 0px rgba(214, 214, 214, 0.3);
                margin-top: 40px;
            .image-container{

               padding-top: 100px;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    width: 30%;
                }
            }
            .heading{
                color: #149075;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                padding-top: 20px;
            }
            .subheading{
                color:  #737373;
                font-size: 14px;/* Approximation due to font substitution */
                font-weight: 400;
                line-height: 19.992px;/* Approximation due to font substitution */
                text-align: center;
                padding-bottom: 130px;
                margin-left: 10px;
                margin-right: 10px;
            }
            }
            }
        }
    }

}

@media only screen and (max-width: 380px){
    .page-content{
        .header-slot{
            background-color:  #f3fbfb;
            display: inline-block;
            min-height: 100px;
            height: 100%;
            padding: 0%;
            margin: 0%;
            width: 100%;
            .tagline{
                margin-top: 15px;
                width: 80%;

            }
            .start-date{
                margin-right: 8%;
            }
            .right-container{
                display: block;
                float: none;
                padding: 0%;
            .section{
               margin: 0%;
               padding-right: 20px;
               width: 100px;
               .select-dropdown{
                   width: 120px;
               }
            }
            .manage-Calendar{
                width: 120px;
                margin: 0%;
                margin-left: 25px;
            }
        }
    }
    .action-buttons{
        .section{
            margin:0%!important;
        }
    }
}

}

@media only screen and (max-width: 320px){
.page-content .header-slot .right-container .section .select-dropdown {
    width: 112px;
    font-size: 12px;
}
.page-content .header-slot .right-container .manage-Calendar {
    width: 100px;
    margin: 0%;
    font-size: 12px;
    margin-left: 15px;
}
.page-content .header-slot .start-date {
    margin-right: 5px;
}
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #82c3b5 !important;
    background: #149075!important;
    color: #fff!important;
}