@import "fonts.scss";
@import 'chat-sidebar';

.page-content{
    min-height: 100%;
    padding: 0;
    overflow: auto;
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: #f7f7f7;
    max-width: 1500px;
    margin: 0 auto;
    .container{
        background-color: #f7f7f7;
        min-height: 100%;
        width: 100%;
        float: left;
        .header-slot{
            background-color: #f7f7f7;
            width: 100%;
            padding: 15px 0;
            .tagline{
                color:  #2b2b2b;
                font-size: 18px;/* Approximation due to font substitution */
                font-weight: 600;
                text-align: left;
                display: inline-block;
                margin-left:10px;
                margin-bottom: 10px;
                margin-top: 7px;
            }
            .manage-Calendar{
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                border-color:  #8f8a8a;
                box-sizing: border-box;
                background-color:  #ffffff;
                width: 170px;
                height: 28px;
                text-align: center;
                line-height: 28px;
                cursor: pointer;
                margin-bottom: 17px;
                font-weight: 400;
                float: right;
                a{
                    color: #2b2b2b;
                    font-size: 14px;
                }
            }
        }

        .wrapper{
            border-style: solid;
            border-width: 1px;
            border-color:  #e8e8e8;
            box-sizing: border-box;
            background-color:  #ffffff;
        //    height: 555px;
            float: left;
            width: 100%;
            border-radius: 4px;
            .action{
                width: 100%;
                background-color:#F1FBFB;
                height: 50px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                .interview-date{
                    color: #2b2b2b;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: left;
                    margin: 0;
                    width: 24%;
                    padding: 15px 0 15px 20px;
                    text-transform: uppercase;
                    display: inline-block;
                }
               
                .calendar-name{
                    color: #2b2b2b;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: left;
                    display: inline-block;
                    margin: 0;
                    width: 30%;
                    padding: 15px 0 15px 5px;
                    text-transform: uppercase;
                }
                .time-slot{
                    color: #2b2b2b;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: left;
                    display: inline-block;
                    width: 28%;
                    margin: 0;
                    padding: 15px 0 15px 20px;
                    text-transform: uppercase;
                }
                .edit-name{
                    color: #2b2b2b;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: left;
                    margin: 0;
                    width: 15%;
                    padding: 15px 0 15px 20px;
                    text-transform: uppercase;
                    display: inline-block;
                }
            }
            .schedule-container{
                width:100%;
                display: inline-block;
                padding: 0%;
                background-color: white;
                border-radius: 8px;
                .schedule{
                    display: inline-block;
                    width: 100%;
                    .date{
                        display:inline-block;
                        width:24.5%;
                        padding-left: 20px;
                        vertical-align: top;
                        padding: 30px 20px;
                        .date-created{
                            display: none!important;
                        }
                        .calendar-date{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            text-align: left;
                            display:inline-block;
                            width:100%;
                        }
                    }
                    .calendar-detail{
                        width:30%;
                        display:inline-block;
                        vertical-align: top;
                        padding: 30px 0px;
                        .calendar{
                            display: none;
                        }
                        .calendar-wrap{
                            color:  #149075;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 700;
                            text-align: left;
                            width: 100%;
                        }
                    }
                    .slots{
                        width:29%;
                        display:inline-block;
                        vertical-align: top;
                        padding: 30px 17px;
                        .remaining-slots{
                            display: none;
                        }
                        .total-slots{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            text-align: left;
                            float: left;
                            width: 100%;
                        }
                    }
                    .edit-schedule{
                        border-radius: 4px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #8f8a8a;
                        box-sizing: border-box;
                        background-color:  #ffffff;
                        height: 28px;
                        line-height: 28px;
                        font-size: 0.85em;
                        cursor: pointer;
                        text-align: center;
                        display: inline-block;
                        width: 50px;
                      //  margin-right: 84px;
                        margin-top: 25px;
                        color:  #2b2b2b;
                        a{
                            color:  #2b2b2b;
                            font-size: 15px;/* Approximation due to font substitution */
                            font-weight: 400;
                            text-align: left;
                            width: 100%;
                        }
                    }
                    .table-row-separator {
                        clear: both;
                        width: 95%;
                        margin: 0 auto;
                        border-bottom: 1px solid #e8e8e8;
                    }
                }
                .no-data{
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    
                    margin: 0 auto;
                    font-size: 20px;
                    color: #2b2b2b;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .page-content{
        min-height: 100%;
        padding: 0;
        overflow: auto;
        position: relative;
        padding: 20px;
        width: 100%;
        background-color: #f7f7f7;
        .container{
            background-color: #f7f7f7;
          //  height: 900px;
            width: 100%;
            float: left;
            .header-slot{
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                border-style: solid;
                border-width: 1px;
                border-color:  #e8e8e8;
                box-sizing: border-box;
                background-color:  #f3fbfb;
                height: 60px;
                width: 100%;
                margin-top: 5px;

                .tagline{
                    color:  #2b2b2b;
                    font-size: 16px;/* Approximation due to font substitution */
                    font-weight: 600;
                    text-align: left;
                    display: inline-block;
                    margin-left:20px;
                    margin-top: 20px;
                }
                .manage-Calendar{
                    display: inline-block;
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #8f8a8a;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 170px;
                    height: 28px;
                    text-align: center;
                    line-height: 28px;
                    cursor: pointer;
                    float: right;
                    margin-top: 17px;
                    margin-bottom: 30px;
                    margin-right: 25px;
                    a{
                        color: #2b2b2b;
                    }
                }
            }

            .wrapper{
                border-style: solid;
                border-width: 1px;
                border-color:  #e8e8e8;
                box-sizing: border-box;
                background-color:  #ffffff;
              //  height: 555px;
                width: 100%;
                margin-top: -17px;
                .action{
                 display: none;
                }
                .schedule-container{
                    width:100%;
                    display: block;
                    padding: 0%;
                  //  height: 1000px;
                    background-color: white;
                    .schedule{
                      //  height: 350px;
                       // border-bottom: 1px solid #e8e8e8;
                        display: block;
                        width: 100%;
                        .date{
                            display:block;
                            width:100%;
                            padding-left: 20px;
                            padding-top: 20px;
                            padding-bottom: 0px;
                            .date-created{
                                display: block!important;
                                width: 100%;
                                font-size: 14px;
                                color: #858585;
                                font-weight: 600;
                                line-height: 25px;
                            }
                            .calendar-date{
                                color:  #2b2b2b;
                                font-size: 14px;/* Approximation due to font substitution */
                                font-weight: 400;
                                text-align: left;
                                display:block;
                                width:100%;
                                line-height: 25px;
                            }
                        }
                        .calendar-detail{
                            width:100%;
                            display:block;
                            padding-left: 20px;
                            padding-top: 15px;
                            padding-bottom: 0px;
                            .calendar{
                                display: block;
                                width: 100%;
                                font-size: 14px;
                                color: #858585;
                                font-weight: 600;
                                line-height: 25px;
                            }
                            .calendar-wrap{
                                color:  #149075;
                                font-size: 16px;/* Approximation due to font substitution */
                                font-weight: 700;
                                text-align: left;
                                width: 100%;
                                margin-top: 10px;
                            }
                        }
                        .slots{
                            width:100%;
                            display:block;
                            padding-left: 20px;
                            padding-top: 20px;
                            padding-bottom: 0px;
                            .remaining-slots{
                                display: block;
                                width: 100%;
                                font-size: 14px;
                                color: #858585;
                                font-weight: 600;
                                line-height: 25px;
                            }
                            .total-slots{
                                color:  #2b2b2b;
                                font-size: 14px;/* Approximation due to font substitution */
                                font-weight: 400;
                                width:100%;
                                line-height: 25px;
                            }
                        }
                        .edit-schedule{
                            margin-left: 20px;
                            border-radius: 4px;
                            border-style: solid;
                            border-width: 1px;
                            border-color:  #8f8a8a;
                            box-sizing: border-box;
                            background-color:  #ffffff;
                            height: 28px;
                            line-height: 28px;
                            font-size: 0.85em;
                            cursor: pointer;
                            line-height: 28px;
                            text-align: center;
                            display: block;
                            width: 68px;
                            margin-top: 34px;
                            float: none;
                            margin-bottom: 30px;
                           // padding-top: 15px;

                        }
                    }
                }
            }
        }
        .right{
            display: none;
        }
    }

}

@media only screen and (max-width: 480px){
    .page-content{
        .container{
            width: 100%;
            .header-slot{
                height: 70px;
                width: 100%;
                .tagline{
                    margin-top: 23px;
                    margin-left:10px;
                    font-size: 17px;

                }
                .manage-Calendar{
                    display: inline-block;
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #8f8a8a;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 140px;
                    height: 28px;
                    text-align: center;
                    line-height: 28px;
                    float: right;
                    cursor: pointer;
                    margin-right: 10px;
                    margin-top: 18px;
                    margin-bottom: 30px;
                    font-size: 12px;
                }
            }
            .wrapper{
                border-style: solid;
                border-width: 1px;
                border-color:  #e8e8e8;
                box-sizing: border-box;
                background-color:  #ffffff;
                width: 100%;
                .action{
                 display: none;
                }
                .schedule-container{
                    width:100%;
                    display: block;
                    padding: 0%;
                    background-color: white;
                    .no-data{
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        min-width: 100%;
                        margin: 0 auto;
                        font-size: 18px;
                        color: #2b2b2b;
                    }
                }
            }

            .table-row-separator{
                width: 100%!important;
            }

        }
        .right{
            display: none;
        }
    }

}

@media only screen and (max-width: 320px){
    .page-content .container .header-slot .tagline {
        margin-top: 23px;
        margin-left: 10px;
        font-size: 14px;
    }   
    .page-content .container .header-slot .manage-Calendar {
        width: 125px;
        a{
            font-size: 12px;
        }
    }
}