@import 'common/spacings';
@import 'input-elements';
@import 'chat-sidebar';

.sendInvite {
    visibility: hidden;
}

.wrap-mobile {
	padding: 5px 0;
		.icon-tick_circle {
			color: #1f8f75!important;
		}
	
}

.invite-links {
    margin-left: 0 !important;
    list-style: none !important;
}

.chat-div {
    display: none;
}

.sidebar-section.contact-info {
    .wrap {
        margin: 7px 0;
        color: #2b2b2b;
        line-height: 1.2;
        font-size: 14px;
    }
}

.seeMoreRec {
    display: inline-block;

    cursor: pointer;

}

.loader-overlay {
    z-index: 99;
}

.view-resume-modal {

    background-color:$body-background-color;
    padding:30px;

    .mobCandidateAddTagButton{
		background-color: #FFF !important;
		border: 1px solid #d8d5d5 !important;
		border-radius: 4px;
		padding: 6px 25px;
		font-size: 14px !important;
		margin: 0 5px;
		color: #2b2b2b !important;
		cursor: pointer;
	}

	.mob.comments {
		display: none;
	}

	.mob.tags {
		display: none;
	}

    .main-wrapper {
    	width:80%;
    	padding-right:20px;
    	border-radius:4px;

		.main-container {
			width:100%;
			border:1px solid $border-color-base;
			background-color:$color-white;
			border-radius: 8px;

			.container {

				&.resume-header {
					background-image:url('/static/images/view-resume-banner.png');
					background-repeat:no-repeat;
					background-position:center top;
					background-size:100% 95px;
					vertical-align: top;
				    display: inline-block;
				    width: 100%;
				    border-bottom:1px solid $border-color-base;
				    position:relative;
				    padding-top:165px;

					.profile-image {
						position:absolute;
						top:35px;
						display:block;
						margin:auto;
						left:0;
						right:0;
						width:125px;
						height: 125px;
						object-fit: cover;
						img {
							width: 100%;
							height: 100%;
							border-radius:50%;
							border:5px solid $color-white;
							box-shadow:0 0 3px $shadow-color;
							background-color: #efefef;
							object-fit: cover;
						}
					}

					.profile-information {
						text-align:center;
						p {
							&.profile-name {
								font-size:$page-title-size;
								text-align: center;
								color:$button-color-green;
                                &.shell {
                                    @include text-shell;
                                    max-width: 150px;
                                    max-height: 7px;
                                    min-height: 7px;
                                    margin: 0 auto;
                                    margin-top: 5px;
                                }
							}
						}

						.social-media-accounts {
							margin:10px 0 20px;

							span {
								&.social {
									margin:0 5px;
								}
							}
						}
					}

					.profile-snapshot {
						text-align: center;
						background-color:$resume-profile-snapshot-background;
						padding:10px 0;
						position:relative;

						.snap {
							display:inline-block;
							padding:0 20px;
							text-align: left;
							border-right:1px solid $border-color-base;

							.snap-title {
								color:$extra-info-color;
								font-size:$view-resume-byline-font-size;
								line-height:1.5;
							}

							.snap-value {

								color:$color-black;
								font-size:$view-resume-byline-font-size;
                                &.shell {
                                    @include text-shell;
                                    max-width: 100px;
                                    max-height: 7px;
                                    margin: 0 auto;
                                    margin-top: 5px;
                                    min-height: 7px;
                                }
							}

							&:last-child {
								border:0;
							}
						}

						&:before {
							content:'';
							border-bottom:10px solid $resume-profile-snapshot-background;
							border-right:10px solid transparent;
							border-left:10px solid transparent;
							position:absolute;
							top:-10px;
							left:50%;
							transform:translateX(-50%);
							-webkit-transform:translateX(-50%);
							-moz-transform:translateX(-50%);

						}
					}

					.skills-area {
						text-align:center;
						margin:20px 0;

						.tag {
							display:inline-block;
							padding:8px 20px;
							border:1px solid $border-color-base;
							margin:5px;
							border-radius:50px;
						}
					}

					.last-login-container {
						margin:20px 0;

						p {
							text-align:right;
							margin-right:20px;
							font-style: italic;
							color:$extra-info-color;
                            span.shell {
                                display: inline-block;
                                @include text-shell;
                                min-width: 100px;
                                max-height: 7px;
                                margin-top: 5px;
                                min-height: 7px;
                            }
						}
					}
				}

				&.resume-body {
					padding:20px;

					#tabbed-content {
					    background: transparent;
					    border: none;
					    padding:0;
					    width:90%;
					    margin:0 auto;

					    .ui-widget-header {
						    background: transparent;
						    border: none;
						    border-bottom: 1px solid $border-color-base;
						    -moz-border-radius: 0px;
						    -webkit-border-radius: 0px;
						    border-radius: 0px;
						    padding:0;
						}

						.ui-tabs-nav {
							.ui-state-default {
							    background: transparent;
							    border: none;
								margin: 0 48px 0 0;
							    position:relative;
							    top:1px;

							    a {
							    	padding:10px 5px;
							    	text-transform:uppercase;
								    color: $extra-info-color;
								    border-bottom:3px solid transparent;

								    &:focus {
								    	outline:0;
								    }

									&.ui-tabs-anchor {
										&:focus {
											outline:0;
										}
									}
								}
							}


							.ui-state-active {
							    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
							    border: none;

							    a {
							    	text-transform:uppercase;
							    	color:$inline-link-color;
							    	border-color:$inline-link-color;

							    	&:focus {
								    	outline:0;
								    }
							    }
							}
						}

						#view-profile-info {
							padding:20px 0;
							.contact-info{
								display: none;
							}
							.content-block {
								margin:20px 0 0 0;
								border:1px solid $border-color-base;
								width:100%;
								padding:25px;
                                .content{
									.mobCommentBox{
										.comment-textarea {
										background-color: white;
										color:  #757575;
										font-size: 14px;/* Approximation due to font substitution */
										font-weight: 400;
										text-align: left;
										margin-bottom:10px;
										border:1px solid  #e4e4e4;
										border-left: 3px solid  #cfebeb;
										resize: none;
										}
									}
								}
								.cand-add-tag {
									width: 50%;
									height: 40px;
									line-height: 40px;
                                    margin-bottom: 5px;
								}
                                .cand-add-tag-action-btn {
                                    margin-top: 10px;
                                }
								&.comments {
									textarea {
										width: 50%;
										padding: 5px;
										resize: none;
    									border: 1px solid #e8e8e8;
    									margin-bottom: 20px;
										min-height: 50px;
										&:focus {
											outline: none;
											border: 1px solid $button-color-green;

										}
									}
									.action-buttons {
										margin-top: 10px;
										span.button {

											@include button($color-green);
											margin-left: 0px;
										}
									}
								}
								&.tags {
									.action-buttons {
										span.button {

											@include button($color-green);
											margin-left: 0px;
										}
									}
									.skill-tags-area {
										margin-top: 10px;
									}
                                    .skill-tag {
                    						display:inline-block;
                    						margin:5px;
                    						border:1px solid $border-color-base;
                    						padding:5px 15px;
                    						border-radius:25px;
                    						font-size:$view-resume-byline-font-size;
											background-color: #f3fbfb;
											color: #6e6e6e;
                                            padding-right: 25px;
                                            position: relative;
                    						div {
                    							display:inline-block;
                    							vertical-align: middle;
                                                max-width: 150px;
                                                word-wrap: break-word;
                    							&.remove-active-skill {
                    								cursor:pointer;
                    								vertical-align:top;
                                                    position: absolute;
                                                    top: 50%;
                                                    transform: translate(0,-50%);
                                                    right: 5px;
													span {
														font-size:$view-resume-clear-tag-font-size;
														display:inline-block;
														vertical-align: middle;
														color:$extra-info-color;
													}
												}
											}
										}
								}
								.content-heading {
									margin-top:0;
									font-weight:bold;
									font-size:$page-title-size;
									
								}

								.content {
									.datum {

										p {
											line-height:1.5;
											font-size:$resume-listing-font-size;

											&.name {
												font-weight:bold;
												color:$color-black;
												margin-left: 15px;
											}

											&.detail {
												color:$extra-info-color;
												margin-left: 15px;
											}
										}

										.separator {
											margin:20px 0;
											border-bottom:1px solid $border-color-base;
										}

									}

									ul {
										margin:0;
										padding:0;
										list-style:none;
										margin-left: 15px;

										li {
											font-size:0;
											margin:10px 0;

											span {
												display:inline-block;
												vertical-align:top;
												width:50%;
												font-size:$resume-listing-font-size;

												&.key{
													color:$extra-info-color;
												}

												&.value {
													color:$color-black;
                                                    &.shell {
                                                        @include text-shell;
                                                        max-width: 100px;
                                                        max-height: 7px;
                                                        margin-top: 5px;
                                                        min-height: 7px;
                                                    }
												}
											}
										}
									}
								}

                                &.recommendations {
                                    .recommendation-header {
                                        .user-image {
                                            display:inline-block;
                                            vertical-align: middle;
                                            margin-right:20px;
                                            img {
                                                border-radius:50%;
                                            }
                                        }
                                        .user-details {
                                            display:inline-block;
                                            vertical-align:top;
                                            padding:9px 0	;
                                            p {
                                                line-height:1.5;
                                                color:$color-black;

                                                &.user-name {
                                                    font-weight:bold;
                                                    font-size:$resume-listing-font-size;
                                                    text-transform: capitalize;
                                                }

                                                &.user-link {
                                                    a {
                                                        color:$link-color;
                                                        // &:hover {
                                                        //     text-decoration: underline;
                                                        // }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .recommendation-body {
                                        margin:0px 0 0 0;

                                        p {
                                            line-height:1.5;
                                            word-wrap: break-word;

                                        }
                                    }
                                    .separator {
                                        margin:20px 0;
                                        border-bottom:1px solid $border-color-base;
                                    }
                                    .see-more {
                                        font-size: 14px;
                                    }
                                    .icon-down_arrow, .icon-up_arrow {
                                        font-size: 11px;
                                        margin-left: 3px;
                                    }
                                    .recommendationListSecond {
                                        display: none;
                                    }
                                }
							}
						}

						#view-resume {
							margin:20px 0 0 0;
							background-color:$resume-background-color;

							canvas {
								width:100%;
								border:1px solid $border-color-base;
								margin:10px 0 0 0;
							}
						}

						#view-cover-letter {
							// padding:20px 0 0 0;
							margin-top: 10px;
							border: 1px solid #e8e8e8;
							line-height: 24px;
							font-size: 14px;
						}
					}
				}
			}

		}
    }

    .mobile-resume-sidebar {
    	display:none;
    }

    .resume-sidebar {
    	width:20%;

    	.action-buttons {
    		margin-bottom:30px;
			&.cand-add-tag-action-btn {
				margin: 15px 0;
			}
			.shortlist-wrapper{
				background-color: #1f8f75!important;
				height: 28px;
				width: 103px;
				padding: 0 !important;
				border: 0;
				padding: 0;
				margin: 0;
				background: #FFF;
				border-color: #8f8a8a;
				border-radius: 4px;
				padding: 6px 25px;
				font-size: 14px;
				margin: 0 5px;
				color: #FFF;
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
				text-align: center;
				.spinner{
					margin-top: 6px;
				}
				.spinner>div{
					width: 10px;
					height: 10px;
				}
				span {
					&.button {
						&.candidateShortlistModal {
							padding: 6px 0px;
							width: 100%;
							margin: 0 auto;
						}
					}
				}
			}
			.reject-wrapper{
				background-color: #af595a!important;
				height: 28px;
				width: 103px;
				padding: 0 !important;
				border: 0;
				padding: 0;
				margin: 0;
				background: #FFF;
				border-color: #8f8a8a;
				border-radius: 4px;
				padding: 6px 25px;
				font-size: 14px;
				margin: 0 5px;
				color: #FFF;
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
				text-align: center;
				.spinner{
					margin-top: 6px;

				}
				.spinner>div{
					width: 10px;
					height: 10px;
				}
				span {
					&.button {
						margin: 0%;
						&.candidateShortlistModal {
							// padding: 6px 6px;
							width: 100%;
						}
					}
				}
			}
    		span {
    			&.button {
					&.cand-comment-button{
						margin: 0;
						margin-top: 5px;
						margin-top: 10px;
						border-radius: 4px;
						padding: 6px 18px;
						font-size: 14px !important;
						margin: 0 0px;
						cursor: pointer;
						color: #2b2b2b;
						border: 1px solid #d8d5d5 !important;
						background-color: #fff!important;
					}
					&.cand-add-tag-button {
							margin: 0;
							margin-top: 10px;
							border-radius: 4px;
							padding: 6px 18px;
							font-size: 14px !important;
							margin: 0 0px;
							cursor: pointer;
							color: #2b2b2b;
							border: 1px solid #d8d5d5 !important;
							background-color: #fff!important;
						}
    				@include button($color-white);
    			}
    		}
    	}

    	.external-links {
			ul {
				padding:20px 0 ;
				border-top:1px solid $border-color-base;
				list-style:none;
				margin:0;
				
				li {
					font-size:$view-resume-listing-font-size;
					color:$color-black;
					line-height:1.3;
					margin:7px 0;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
					span {
						&.icon {
							width:2em;
							margin-right:10px;
						}
					}
				}

				.table-row-separator{
					border-bottom: 1px solid #e8e8e8!important;
					margin-top: 20px;
				}
				
                .invite {
                    &:hover {
                        text-decoration: none;
                    }
                }
                .invite-links {
                    margin-left: 30px;
                    list-style: initial;
                }

				&:last-child {
					border-bottom:0;
					padding-bottom:0;
				}
				
			}
    	}

    	.sidebar-section {
			border-bottom:1px solid $border-color-base;
			padding-bottom:20px;
    		h3 {
    			font-size:$view-resume-section-title-size;
    			color:$color-black;
    			margin-top:20px;
			}
			.contact {
				font-size: 14px;
			}
			.icon-tick_circle {
				color: $button-color-green;
			}
			.cand-add-tag {
				height: 40px;
			    line-height: 10px;
				padding: 10px;
				font-size: 14px;
			}

			.comment-box .comment-textarea {
				background-color: #f3fbfb;
				color: #757575;
				font-size: 14px;
				font-weight: 400;
				text-align: left;
				min-height: 40px;
				margin-bottom: 10px;
				border: 1px solid #e4e4e4;
				border-left: 3px solid #cfebeb;
				resize: none;
			}
			.action-buttons .editbutton {
				color: #155D9A !important;
				font-size: 13px !important;
				cursor: pointer;
			}

    		.comment-block {
				margin-bottom:15px;
    			.content {
    				padding:15px;
    				border:1px solid $border-color-base;
    				border-left:3px solid $resume-comment-highlight-color;
    				background-color:$color-white;
    				p {
    					font-size:$base-font-size;
    					color:$extra-info-color;
    				}
    			}

    			.comment-timestamp {
					font-size:$view-resume-byline-font-size;
					line-height:1.3;
					margin-top:10px;
					color:$extra-info-color;
    			}
    		}

			&.tags {

				border-bottom:0;
                .skill-tag {
						display:inline-block;
						margin:5px;
						border:1px solid $border-color-base;
						padding:5px 15px;
						border-radius:25px;
						font-size:$view-resume-byline-font-size;
						background-color: #f3fbfb;
						color: #6e6e6e;
                        padding-right: 25px;
                        position: relative;
						div {
							display:inline-block;
							vertical-align: middle;
                            max-width: 150px;
                            word-wrap: break-word;
							&.remove-active-skill {
								cursor:pointer;
								vertical-align:top;
                                position: absolute;
                                top: 50%;
                                transform: translate(0,-50%);
                                right: 5px;
								span {
									font-size:$view-resume-clear-tag-font-size;
									display:inline-block;
									vertical-align: middle;
									color:$extra-info-color;
								}
							}
						}
					}
			}
    	}
    }
}

@media all and (max-width:1024px) {
	.view-resume-modal {
		padding-bottom:60px;
		.mob.comments {
			display: block;
		}

		.mob.tags {
			display: block;
		}
		.resume-sidebar {
			display:none;
		}
		.main-wrapper {
			width:100%;
			padding-right:0;

		}
		.contact-info{
			display: block!important;
		}
		.mobile-resume-sidebar {
			display:block;
			border-radius: 8px;
            .contact-menu{
				.contact-info{
                    h3 {
                        margin-top: 0px;
                    }
                    .wrap {
                        margin: 7px 0;
                    }
					color: #fff;
				}
			}
		    background:$color-white;
		    box-shadow:0 0 10px rgba(0,0,0,0.2);

			.second-fold {
				bottom: 70px;
				background: #808080;
				.action{
					.link{
						width: 100%;
						color: #fff;
						margin:5px auto;
						.icon-star{
							margin-right: 6px!important;
						}
					}

				}
				.action-links{
					margin: 10px auto;
					.invite-links{
						display: block;
						width: 100%;
						color: #fff;
						margin:5px auto;
					}

				}
			}

		    .fold {
		    	position: fixed;
			    width: 100%;
			    padding:20px;

				&.top {
					box-shadow:0 0 10px rgba(0,0,0,0.2);
				}

				&.first-fold {
 					bottom: 0;
                    width: 100%;
 					background:$color-white;

				}

				.action-buttons {
					font-size:0;
					.shortlist-wrapper{
						background-color: $button-color-green;
						height: 28px;
						width: 83px;
						padding:0!important;
						.spinner{
							margin-top: 6px;
							text-align: center;
						}
						.spinner>div{
							width: 10px;
							height: 10px;
						}
						span {
							&.button {
								&.candidateShortlistModal {
									padding: 6px 0px;
									width: 100%;
									margin: 0 auto;
								}
							}
						}
					}
					.reject-wrapper{
						background-color: #af595a;
						padding: 0px;
						height: 28px;
						width: 83px;
						border-radius: 4px;
						.spinner{
							text-align: center;
							margin-top: 6px;
						}
						.spinner > div {
							width: 10px;
							height: 10px;
						}
						span {
							&.button {
								&.candidateRejectModal {
									padding: 6px 0px;
									width: 100%;
									margin: 0 auto;
								}
							}
						}
					}
					span {
						@include button($color-white);
						display:inline-block;

						&.multi-options {
							background-color:transparent;
							padding-left:0;
							padding-right:0;
						}
					}
				}
		    }
		}
	}
}

@media all and (max-width:768px) {
    .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block .content ul li span.value {
        padding-left: 25px;
    }

	.view-resume-modal {
		width:100%;
		padding:20px 10px;
		box-shadow:0;
		padding-bottom:70px;

		.main-wrapper {
			.main-container {
				.container {
					&.resume-header {
						.profile-snapshot {
							font-size:0;
							padding:10px 0;

							.snap {
								width:33.3333%;
								text-align:center;
								padding:0;
								margin:10px 0;
							}
						}
					}
				}
			}
		}

		.mobile-resume-sidebar {
			display:block;
		    background:$color-white;
		    box-shadow:0 0 10px rgba(0,0,0,0.2);


		    .fold {
		    	position: fixed;
			    width: 100%;
			    padding:20px;
				&.top {
					box-shadow:0 0 10px rgba(0,0,0,0.2);
				}
				&.first-fold {
 					bottom: 0;
 					background:$color-white;
				}

				.action-buttons {
					font-size:0;
					span {
						@include button($color-white);
						display:inline-block;

						&.multi-options {
							background-color:transparent;
							padding-left:0;
							padding-right:0;
						}
					}
				}
		    }
		}
	}
}

@media all and (max-width:479px) {
    .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block .content ul li span.value {
        padding-left: 25px;
    }
    .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block.comments textarea {
        width: 100%;
    }
    .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block .cand-add-tag {
        width: 100%;
    }
}

.sidebar-section.comments {
	textarea {
		width: 100%;
		padding: 5px;
		resize: none;
		min-height: 50px;
		margin-bottom:15px;
		overflow: hidden;
		&:focus {
			outline: none;
			border: 1px solid $button-color-green;

		}
	}
	.action-buttons {
		margin-bottom: 0;
	}
}

.view-resume-modal .mobCandidateAddCommentButton {
    background-color: #FFF !important;
    border: 1px solid #d8d5d5 !important;
    border-radius: 4px;
    padding: 6px 25px;
    font-size: 14px !important;
    margin: 0 5px;
    color: #2b2b2b !important;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 10px;
}

.view-resume-modal .mobcandidateAddEditButton {
    color: #155D9A !important;
    font-size: 13px !important;
    cursor: pointer;

}

.view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block.comments .action-buttons {
    margin-top: 0;
}



.timeline-wrapper{
	padding-top: 10px;
  .timeline-item {
	  background: #fff;
	  border: 1px solid;
	  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	  border-radius: 3px;
	  padding: 12px;
	  margin: 0 auto;
	  min-height: 150px;
  }

  @keyframes placeHolderShimmer{
	  0%{
		  background-position: -468px 0
	  }
	  100%{
		  background-position: 468px 0
	  }
  }

  .animated-background {
	  animation-duration: 1s;
	  animation-fill-mode: forwards;
	  animation-iteration-count: infinite;
	  animation-name: placeHolderShimmer;
	  animation-timing-function: linear;
	  background: #f6f7f8;
	  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	  background-size: 800px 104px;
	  height: 96px;
	  position: relative;
	  padding-bottom: 20px;	
  }

  .background-masker {
	  background: #fff;
	  position: absolute;
  }

  /* Every thing below this is just positioning */

  .background-masker.header-top,
  .background-masker.header-bottom,
  .background-masker.subheader-bottom {
	  top: 0;
	  left: 40px;
	  right: 0;
	  height: 10px;
  }

  .background-masker.header-left,
  .background-masker.subheader-left,
  .background-masker.header-right,
  .background-masker.subheader-right {
	  top: 10px;
	  left: 40px;
	  height: 8px;
	  width: 10px;
  }

  .background-masker.header-bottom {
	  top: 18px;
	  height: 6px;
  }

  .background-masker.subheader-left,
  .background-masker.subheader-right {
	  top: 24px;
	  height: 6px;
  }


  .background-masker.header-right,
  .background-masker.subheader-right {
	  width: auto;
	  left: 300px;
	  right: 0;
  }

  .background-masker.subheader-right {
	  left: 230px;
  }

  .background-masker.subheader-bottom {
	  top: 30px;
	  height: 10px;
  }

  .background-masker.content-top,
  .background-masker.content-second-line,
  .background-masker.content-third-line,
  .background-masker.content-second-end,
  .background-masker.content-third-end,
  .background-masker.content-first-end {
	  top: 40px;
	  left: 0;
	  right: 0;
	  height: 6px;
  }

  .background-masker.content-top {
	  height:20px;
  }

  .background-masker.content-first-end,
  .background-masker.content-second-end,
  .background-masker.content-third-end{
	  width: auto;
	  left: 380px;
	  right: 0;
	  top: 60px;
	  height: 8px;
  }

  .background-masker.content-second-line  {
	  top: 68px;
  }

  .background-masker.content-second-end {
	  left: 420px;
	  top: 74px;
  }

  .background-masker.content-third-line {
	  top: 82px;
  }

  .background-masker.content-third-end {
	  left: 300px;
	  top: 88px;
  }
}