@import 'common/spacings';
@import 'input-elements';
@import 'chat-sidebar';
@import 'candidateMixin';

.sendInvite {
    visibility: hidden;
}

// .wrap-mobile {
// 	padding: 5px 0;
// 		.icon-tick_circle {
// 			color: #1f8f75!important;
// 		}
	
// }

// .invite-links {
//     margin-left: 0 !important;
//     list-style: none !important;
// }

.chat-div {
	display: none;
}





//media queries

@media all and (max-width:1024px) {
	#view-profile-info{
		.contact-info{
			display: block;
		}
	}
	.view-resume-modal {
		padding-bottom:60px;

		.sidebar-section{
			border: none;
		}
		.mob.comments {
			display: block;
		}

		.mob.tags {
			display: block;
		}
		.resume-sidebar {
			display:none;
		}
		.main-wrapper {
			width:100%;
			padding-right:0;

		}
		
		.mobile-resume-sidebar {
			display:block;
			border-radius: 8px;
			//mobile invite links
			.second-fold {
				bottom: 70px;
				background: #808080;
				.action{
					.link{
						width: 100%;
						color: #fff;
						margin:15px auto;
					}

				}
				.action-links{
					margin: 10px auto;
					.invite-links{
						display: block;
						width: 100%;
						color: #fff;
						margin:5px auto;
					}

				}
			}

		    .fold {
		    	position: fixed;
			    width: 100%;
			    padding:20px;
				&.top {
					box-shadow:0 0 10px rgba(0,0,0,0.2);
				}

				&.first-fold {
 					bottom: 0;
                    width: 100%;
 					background:$color-white;

				}

				.action-buttons {
					font-size:0;
					span {
						border-radius: 4px;
						display:inline-block;
					}
				}
		    }
		}
	}
}



@media all and (max-width:768px) {
	.view-resume-modal {
		width:100%;
		padding:20px 10px;
		box-shadow:0;
		padding-bottom:70px;
		.profile-snapshot {
			font-size:0;
			padding:10px 0;
			.snap {
				width:33.3333%;
				text-align:center;
				padding:0;
				margin:10px 0;
			}
		}
	}
}
			




@media all and (max-width:480px) {
    .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block .content ul li span.value {
        padding-left: 25px;
    }
    // .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block.comments textarea {
    //     width: 100%;
    // }
    // .view-resume-modal .main-wrapper .main-container .container.resume-body #tabbed-content #view-profile-info .content-block .cand-add-tag {
    //     width: 100%;
    // }
}
