@import "colors.scss";
@import 'common/spacings';
@import 'input-elements';
@import 'chat-sidebar';



.candidate-status {
    width:12px;
    height:12px;
    display:block;
    border:2px solid $color-white;
    border-radius:50%;
    position:absolute;
    bottom:-1px;
    right:0px;
    &.offline {
        background-color:$user-status-offline;
    }
    &.online {
        background-color:$user-status-online;
    }
}

.chat-div {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 263px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
    z-index: 10;
    .chat-div-header {
        padding: 0px 12px;
        background-color: #fff;
        color: #212121;
        font-size: 15px;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e4e4e4;
        .minusIcon {
            position: relative;
            top:-5px;

            &.active {
                top: 5px;
            }
        }
        .close-icon {
            display: inline-block;
            height: 2px;
            width: 13px;
            background: url("../../static/images/info-close.png") no-repeat;
            &.show {
                margin-top: 10px;
            }
        }
    }
    .chat-div-content {
        height: 0;
        background-color: #fff;
        z-index: 2;
        transition: 0.2s height ease-in-out;
        overflow: auto;

        &.show {
            height: 315px;
        }
        .divider {
            margin: 0 auto;
            width: 100%;
        }
        .candidate-card {

            padding: 10px;
            position: relative;
            &:hover {
                background-color: #f9f9f9;
                cursor: pointer;
            }
            .candidate-image {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
                vertical-align: top;

                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid #eee;
                }
            }
            .candidate-info {
                display: inline-block;
                width: calc(100% - 40px);
                line-height: 1.5;
                .candidate-name {
                    font-size: 13px;
                    color: #2b2b2b;
                }
                .candidate-designation {
                    font-size: 11px;
                    color: #737373;
                    line-height: 1.1;
                }
            }
            .remove-candidate {
                position: absolute;
                display: inline-block;
                font-size: 13px;
                top: 20px;
                i:hover {
                    color: $error-color;
                }
            }
        }
    }
}

.chat-div-candidate {
    position: fixed;
    bottom: 0;
    width: 263px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);
    z-index: 99;
    .chat-div-header {
        padding: 5px 12px;
        height: 40px;
        background-color: #fff;
        color: #2b2b2b;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid #e4e4e4;
        .candidate-name-container {
            display: inline-block;
            .img-container {
                display: inline-block;
                width: 30px;
                height: 30px;
                img {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #eee;
                    border-radius: 50%;
                }
            }
            .cand-name-wrapper {
                display: inline-block;
                vertical-align: top;
                margin-top: 3px;
                margin-left: 5px;
                line-height: 1.3;
                a:hover{
                    text-decoration: underline;
                }
            }
            .candidate-name {
                margin-bottom: 0px;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                max-width: 115px;
                text-overflow: ellipsis;
                line-height: 18px;
                color: #2b2b2b;
                
            }
            .last-active-date {
                font-size: 9px;
            }
        }
        .info-buttons {
            display: inline-block;
            padding-top: 7px;
            font-size: 14px;
            span {
                padding: 0;
            }
            .minusIcon {
                position: relative;
                top:5px;

                &.active {
                    top: -5px;
                }
            }
            .close-icon {
                display: inline-block;
                height: 15px;
                width: 13px;
                background: url("../../static/images/info-close.png") no-repeat;
                background-size: contain;
                &.show {
                    margin-top: 10px;
                }
            }
            .info-icon {
                display: inline-block;
                height: 15px;
                width: 13px;
                background: url("../../static/images/info-sticky.png") no-repeat;
                background-size: contain;
                &.show {
                    margin-top: 10px;
                }
            }
        }

    }
    .content-footer-container {
        height: 0;
        transition: 0.2s height ease-in-out;
        .chat-div-content {
            height: 278px;
            background-color: #fff;
            z-index: 2;
            overflow: auto;
            padding: 10px 20px;
            box-sizing: border-box;
            ul {
                padding: 0;
                margin-top: 0;
                .time-separator {
                    margin:10px 0;
                    text-align: center;
                    font-size: 10px;
                    color: #9f9f9f;
                    span {
                        display:inline-block;
                        font-size:$base-font-size;
                        color:$extra-info-color;
                        text-transform:capitalize;
                        letter-spacing: 0.5px;
                    }
                }
                li {
                    &.message {
                        margin:3px 0;
                        clear:both;
                        overflow:auto;
                        &.received {
                            .user-image {
                                float:left;
                                margin:0 15px 0 0;
                                // object-fit: cover!important;
                                img {
                                    border-radius:50%;
                                    height:43px;
                                    width:43px;
                                    // object-fit: cover!important;
                                }
                            }
                            .message-area {

                                max-width:80%;
                                display:inline-block;
                                float:left;

                                p {
                                    line-height:1.5;

                                    &.message-content {
                                        background-color:$color-white;
                                        border:1px solid $border-color-base;
                                        border-radius:4px;
                                        padding: 5px 10px;
                                        font-size: 13px;
                                        font-size:$base-font-size;
                                        max-width: calc(100vw - 130px);
                                        word-break: break-word;
                                        text-align: left;
                                        line-height: 1.4;
                                        color: #2b2b2b;
                                    }

                                    &.message-timestamp {
                                        text-align:left;
                                        margin:5px 0 0 0;
                                        font-size:$chat-timestamp-font-size;
                                        color:$extra-info-color;
                                    }
                                }
                            }
                        }
                        &.sent {
                            .user-image {
                                float:right;
                                margin:0 0 0 15px;

                                img {
                                    border-radius:50%;
                                    height:43px;
                                    width:43px;
                                }
                            }
                            .message-area {
                                max-width:80%;
                                display:inline-block;
                                float:right;

                                p {
                                    line-height:1.5;
                                    text-align:right;

                                    &.message-content {
                                        background-color: #f9f9f9;
                                        border: 1px solid #e8e8e8;
                                        border-radius: 4px;
                                        padding: 5px 10px;
                                        font-size: 13px;
                                        max-width: calc(100vw - 130px);
                                        word-break: break-word;
                                        text-align: left;
                                        line-height: 1.4;
                                        color: #2b2b2b;
                                    }

                                    &.message-timestamp {
                                        text-align:right;
                                        margin:5px 0 0 0;
                                        font-size:$chat-timestamp-font-size;
                                        color:$extra-info-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }


        }
        &.show {
            height: 315px;
        }
        .footer {
            padding: 0 !important;
            position: relative;
            textarea {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 0px;
                height: 37px;
                max-height: 75px;
                line-height: 1.3;
                font-size: 14px;
                box-sizing: border-box;
                overflow-y: auto;
                resize: none;
                &:focus {
                    border: 1px solid #149075;
                    outline: none;
                }

            }
            .iconSendButton {
                position: absolute;
                right: 3px;
                top: 50%;
                transform: translateY(-50%);
                color: #1f8f75;
                font-size: 25px;
                cursor: pointer;
            }
        }
    }

}

.selected {
    background-color: #e6e6e6;
}

.selected-sticky {
    background-color: #f9f9f9;
}

.chat-collapsed-candidate-container {
    position: fixed;
    bottom: 0;
    z-index: 3;
    .chat-collapsed-candidate {
        cursor: pointer;
        padding: 6px 10px 1px;
        max-width: 50px;
        position: relative;
        background: #f1f1f1;
        border: 1px solid #CCC;
        border-bottom: 0;
        position: relative;
        z-index: 2;
        background: url(https://static.iimjobs.com/pub_chat/v4/images/collapsed_chats.png) no-repeat center center;
        min-height: 27px;
        min-width: 27px;
        background-color: #f1f1f1;
        box-sizing: content-box;
        .chat-collapsed-candidate-wrapper {
            position: absolute;
            bottom: 100%;
            min-width: 125px;
            text-align: right;
            background: #f1f1f1;
            right: -1px;

            .candidate-collapsed-block {
                padding: 10px 10px;
                font-size: 13px;
                color: #4b4b4b;
                position: relative;
                padding-right: 25px;
                text-align: left;
                min-width: 135px;
                i {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translate(0,-50%);
                }
            }
        }
    }

}

.info-container {
    padding: 10px;
    background: #f7f7f7;
    position: absolute;
    width: 100%;
    .start {
        text-align: center;
        color: #2b2b2b;
        font-size: 13px;
    }
    .img-container {
        padding: 0 5px 0 0px;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    .info-content {
        width: calc(100% - 35px);
        .primary-content {
            font-size: 13px;
            margin-bottom: 5px;
        }
        .secondary-content {
            font-size: 12px;
            color: #6b6b6b;
        }
    }
}

.newMessageHeader {
    background-color: #149075 !important;
    color: #fff !important;
    img {
            background-color: #f7f7f7 !important;
    }
    .cand-name-wrapper{
        a{
            color: #fff!important;
        }
    }
}
