@import "colors.scss";

.main-container {
    height: 683px;
    .chat-side-profile-container {
        display: inline-block;
        width: 260px;
        border: 1px solid #ccc;
        height: 100%;
        .chat-side-profile-header {
            padding: 15px;
            .profile-image {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .profile-info {
                display: inline-block;
                height: 40px;
                vertical-align: bottom;
                .profile-info-name {
                    min-width: 100px;
                    height: 10px;
                    margin-bottom: 10px;
                }
                .profile-info-isonline {
                    width: 70px;
                    height: 10px;
                    color: #83c500;
                }
            }
        }

        .chat-side-profile-search {
            padding: 12px 10px;
            width: 100%;

            text-align: center;
            background: #eee;
            input {
                box-sizing: border-box;
                border: none;
                border-radius: 2px;
                padding: 8px 8px;
                width: 85%;
                box-shadow: 0 3px 6px -6px #777;

            }
        }
        .chat-side-profile-candidates {
            overflow-y: scroll;
            height: 100%;
            .candidate-card {
                height: 59px;
                padding: 15px;
                position: relative;
                &:hover {
                    background-color: $color-light-grey;
                    cursor: pointer;
                }
                .candidate-image {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 5px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .candidate-info {
                    display: inline-block;
                    .candidate-name {
                        width: 150px;
                        height: 15px;
                        margin-bottom: 5px;
                        font-size: 13px;
                        color: #777777;
                    }
                    .candidate-designation {
                        width: 100px;
                        height: 10px;
                        font-size: 11px;
                        color: #bbbbbb;
                    }
                }
                .remove-candidate {
                    position: absolute;
                    display: inline-block;
                    font-size: 13px;
                    top: 10px;
                    right: 5px;
                    color: $select-border;
                    i:hover {
                        color: $error-color;
                    }
                }
                .last-active-date {
                    display: inline-block;
                    position: absolute;
                    font-size: 9px;
                    right: 5px;
                    top: 45px;
                    color: $extra-info-color;
                }
            }
        }
    }
    .candidate-chat-container {
        display: inline-block;

        vertical-align: top;
        position: relative;
        height: 100%;
        .welcome-message-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            .welcome-message-image {
                text-align: center;
                margin-bottom: 10px;
            }
            .welcome-message-content {
                text-align: center;
                margin-bottom: 10px;
                font-size: 26px;
                color: #86c5f8;
            }
        }
        .candidate-chat-messages-container {
            .divider.divider-full {
                width: 95%;
            }
            .candidate-chat-header {
                width: 95%;
                margin: 0 auto;
                padding: 15px;
                .profile-image {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .profile-info {
                    display: inline-block;
                    height: 40px;
                    vertical-align: bottom;
                    .profile-info-name {
                        min-width: 100px;
                        height: 10px;
                        margin-bottom: 10px;
                    }
                    .profile-info-organisation {
                        min-width: 70px;
                        height: 10px;
                    }
                }
            }
            .candidate-chat-content {
                width: 95%;
                margin: 0 auto;
                overflow: auto;
                padding: 10px 0;
                .date-block {
                    text-align: center;
                    .date {
                        background: #e1f3fb;
                        padding: 8px 20px;

                        display: inline-block;
                        font-size: 12.4px;
                        color: #777777;
                        border-radius: 3px;
                    }
                }
                .message-container {
                    margin: 10px 0;
                    .message-received {

                        display: inline-block;
                        box-shadow: 1px 1px 0px 0px #ccc;
                        padding: 5px 10px;
                        color: #1c1c1c;
                        border-radius: 4px;
                        background-color: rgba(201, 255, 95, 0.38);
                    }
                    .message-sent {

                        display: inline-block;
                        box-shadow: 1px 1px 0px 0px #ccc;
                        padding: 5px 10px;
                        color: #1c1c1c;
                        border-radius: 4px;
                        background-color: rgba(207, 244, 253, 0.28);
                    }
                    &.left {
                        text-align: left;
                    }
                    &.right {
                        text-align: right;
                    }
                }
            }
            .candidate-chat-footer {
                position: absolute;
                display: block;
                height: 40px;
                width: 95%;
                bottom: 30px;
                line-height: 40px;
                left: 50%;
                transform: translate(-50%,0);
                input {
                    box-sizing: border-box;
                    border: 1px solid $select-border;
                    border-radius: 4px;
                    padding: 12px;
                    width: 100%;
                }
            }
        }
    }
}

.divider-full {
    margin: 0 auto;
}




.current-time {
    font-size: 10px;
    vertical-align: sub;
    padding: 0 0 0px 10px;
}
