@import 'common/spacings';
@import 'common/slider';
@import "fonts.scss";
@import "colors.scss";

.page-content {
    @include page-content;
    background-color:$body-background-color;
    width: 100%;
    overflow: hidden;
    font-family: $droid-font;
        .main-wrapper{ 
            margin: 0 auto;
            width: 100%;
            max-width: 1500px;
        .container{
            margin-top: 17px;
           .dashboard{
            border-radius: 7px;
            border-style: solid;
            border-width: 1px;
            border-color: $page-content-background-color;
            box-sizing: border-box;
            background-color:$color-white;
            box-shadow: 0px 2px 9px 0px rgba(214, 214, 214, 0.3);
            width: 80%;
            margin: 0 auto;
            margin-bottom: 17px;
                .profile-content{
                    display: inline;
                    margin-left: 30px;
                    .profile-image{
                        display: inline-block;
                        img{
                            width: 47px;
                            height: 47px;
                        }
                    }
                    .profile-details{
                        display: inline-block;
                        padding-top: 20px;
                        margin-left: 20px;
                        .sub-head{
                            color: $page-section-title-color;
                            font-size: 18px;/* Approximation due to font substitution */
                            font-weight: 400;
                            text-align: left;
                            line-height: 30px;
                            //font-family: $droid-font;
                        }
                    }
                }
                .complete-profile{
                    // width: 100%;
                    // margin: 0 auto;
                    width: 100%;
                    display: inline-block;
                    padding-left: 35px;
                    padding-top: 30px;
                    padding-bottom: 20px;
                    p{
                        color:$color-darkgrey;                        
                        font-size: 18px;/* Approximation due to font substitution */
                        font-weight: 400;
                        text-align: left;
                        transform: scaleY(1.0004);
                        padding-bottom: 15px;
                    }
                    .connecter{
                        width: 100%;
                        margin: 0 auto;
                    .connect{
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  $page-content-background-color;
                        box-sizing: border-box;
                        background-color: $color-white;
                        display: inline-block;
                        width: 21%;
                        height: 102px;
                        margin-right: 3.6%;
                        vertical-align: top;
                        position: relative;
                        .connect-container{
                            text-align: center;
                            padding-top: 15px;
                            cursor: pointer;
                            .image-box{
                                display: inline-block;
                                margin-top: 5px;
                                margin-bottom: 5px;
                                img{
                                    width: 30px;
                                    height: 30px;
                                }
                                .icon-facebook::before {
                                content: '\e84a';
                                font-size: 36px;
                                color: #385899;
                                }
                                .icon-linkedin::before {
                                    content: '\e84b';
                                    font-size: 36px;
                                    color: #0677a9;   
                                }
                                .icon-twitter::before {
                                    content: '\e849';
                                    font-size: 36px;
                                    color: #54adef;    
                                }
                            } 
                            .tag-box{
                                text-align: center;
                                a{
                                    display: block;
                                    text-align: center;
                                    color:  $link-color;
                                    font-size: 18px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: center;
                                    transform: scaleY(1.0001);
                                }
                            } 
                            .tag-box{   
                                #username{
                                    display: block;
                                    color:  $header-background-color;
                                    font-size: 18px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: center;
                                    transform: scaleY(1.0001);
                                    margin-top: 5px;
                                }
                            }   
                        }
                    }
                
                    .connected{
                        background-color:  #f3fbfb ;
                    }
                    .triangle {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 0;
                        border-top: 40px solid #fff;
                        border-left: 40px solid transparent;
                        margin: 1px;
                    }
                    .icon-container{
                        position: absolute;
                        left: 88%;
                        color: #0c9176;
                    }
                }
                   
                }
                .content{
                    box-shadow: 0px 2px 8px 0px rgba(214, 214, 214, 0.3);
                    width: 100%;
                    .image-container{
                        background-color:$image-container;
                        display: inline-block;
                        border-color:$page-content-background-color;
                        min-height: 100%;
                        width: 125px;
                        border-top-left-radius: 7px;
                        border-bottom-left-radius: 7px;
                        img{
                            display:inline-block;
                            height: 90px;
                            width: 78px;
                            margin-top:25px;
                            margin-bottom:25px;
                            margin-left: 20px;
                        }
                    }
                    .content-wrapper{
                        display: inline-block;
                        vertical-align: top;
                        width: 84%;
                        margin-top: 30px;
                        margin-left: 25px;
                        .content-detail{
                            color:  #2b2b2b;
                            font-size: 18px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 18px;/* Approximation due to font substitution */
                            text-align: left;
                            transform: scaleY(1.0001);
                            width: 100%;
                        }
                        .post-button{
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            -o-appearance: none;
                            border: 0;
                            padding: 0;
                            margin: 0;
                            background: $button-background-color;
                            border-color:  $button-border-color;
                            border-radius: 4px;
                            padding: 2px 14px;
                            color:  $color-white;
                            font-size: 15.75px;/* Approximation due to font substitution */
                            font-weight: 400;
                            transform: scaleY(1.0001);
                            font-weight: bold;
                            width: 108px;
                            height: 32px;
                            vertical-align: top;
                            display: inline-block;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            text-align: center;
                        }
                    }   
                }

                .tagline{
                    color: $color-light-black;
                    font-size: 15.75px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 18px;/* Approximation due to font substitution */
                    text-align: left;
                    transform: scaleY(1.0004);
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-bottom: 20px;
                }
                .links{
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    padding-left: 20px;
                    padding-bottom: 15px;
                    .bullet{
                        padding-right: 5px;
                        padding-top: 4px;
                        vertical-align: top;
                        display: inline-block;
                    }
                    .details{
                        // float: right;
                        color: $color-light-black;
                        font-size: 15.75px;/* Approximation due to font substitution */
                        font-weight: 400;
                        line-height: 29.992px;/* Approximation due to font substitution */
                        text-align: left;
                        transform: scaleY(1.0001);
                        display: inline-block;
                        width: calc(100% - 20px);
                    }
                }
                a{
                    color:  $header-background-color;
                    font-size: 15.75px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 29.992px;/* Approximation due to font substitution */
                }

            }
            .heading{
                padding-top: 20px;
                padding-bottom: 15px;
                margin: 0 auto;
                text-align: left;
                width: 80%;
                font-size: 16px;
                font-weight: 600;
            
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .page-content{
        .main-wrapper{ 
            .container{
               .dashboard{
                    .profile-content{
                        margin-left: 30px;
                        .profile-details{
                            display: inline-block;
                            padding-top: 20px;
                            .sub-head{
                                color:  $page-section-title-color;
                                font-size: 18px;/* Approximation due to font substitution */
                                font-weight: 400;
                                text-align: left;
                            }
                        }
                    }
                    .complete-profile{
                        margin-left: 35px;
                        padding-left: 0px;
                        p{
                            margin-left: 18px;
                        }
                        .facebook{
                            margin-left: 60px;
                        }
                        .twitter{
                            margin-left: 60px;
                        }
                        .connecter{
                        .connect{
                            width: 40%;
                            vertical-align: top;
                            margin-bottom:30px;
                            margin-left: 18px;
                            .icon-container{
                                position: absolute;
                                left: 92%;
                                color: #0c9176;
                            }
                            .connect-container{
                                text-align: center;
                                padding-top: 17px;
                              
                                .img{
                                    display: block;
                                    margin-top: 15px;
                                }
                                a{
                                    display: block;
                                    text-align: center;
                                    font-size: 10px;
                                    width: 100%;
                                }
                                #username{
                                    display: block;
                                    color:  $header-background-color;
                                    font-size: 12px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: center;
                                    transform: scaleY(1.0001);
                                }
                            }
                        }   
                    }}
                    .content{
                        .content-wrapper{
                            width: 76%;
                        }
                        .image-container{
                            img{
                               
                            }
                        }
                        
                     }
                    

                    .links{
                        display: block;
                        width: 100%;
                        padding-left: 20px;
                        padding-bottom: 10px;
                    
                    }
                
                }
         
            }
        }            
    }
}
@media only screen and (max-width: 800px){
    .page-content .main-wrapper .container .dashboard .complete-profile .connect .icon-container {
        position: absolute;
        left: 90%;
        color: #0c9176;
    }
  
}

@media only screen and (max-width: 768px){
    .page-content .main-wrapper .container .dashboard .content .content-wrapper {
        width: 70%;
    }
    .page-content .main-wrapper .container .dashboard .complete-profile {
        margin-left: 20px;
        padding-left: 0px;
    }
    .page-content .main-wrapper .container .dashboard .complete-profile .connecter .connect .icon-container {
        left: 89%;
    }
    .page-content .main-wrapper .container .dashboard .content .image-container img {
        display: inline-block;
        height: 90px;
        width: 78px;
        margin-top: 42px;
        margin-bottom: 42px;
        margin-left: 20px;
    }
    .page-content .main-wrapper .container .dashboard .content .content-wrapper .content-detail {
        line-height: 25px;
    }
}

@media only screen and (max-width: 480px){
    .page-content{
        .main-wrapper{ 
        .container{
           .dashboard{
            width: 100%;
                .profile-content{
                    display: inline;
                    margin-left: 20px;
                    .profile-image{
                        display: inline-block;
                    }
                    .profile-details{
                        display: inline-block;
                        padding-top: 20px;
                        margin-left: 5px;
                    }
                }
                .complete-profile{
                    width: 100%;
                    p{
                        color:  $color-darkgrey;
                        font-size: 18px;/* Approximation due to font substitution */
                        font-weight: 400;
                        text-align: left;
                        transform: scaleY(1.0004);
                        margin-left: 10px;
                        padding-bottom: 15px;
                    }
                    .connecter{
                    .connect{
                        display: block;
                        width: 80%;
                        height: 106px;
                        margin-left: 2%;
                        .connect-container{
                             text-align: center;
                             padding-top: 25px;
                             padding-left: 20px;
                            display: inline-block;

                             .image-box{
                                display: inline-block;
                                vertical-align: top;
                            }
                            .tag-box{
                                vertical-align: top;
                                display: inline-block;
                                margin-left: 20px;
                                margin-top: 10px;
                                a{
                                    display: block;
                                    text-align: center;
                                    color:  $link-color;
                                    font-size: 18px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: center;
                                    transform: scaleY(1.0001);

                                }
                            } 
                            .tag-box{   
                                #username{
                                    display: block;
                                    color:  $header-background-color;
                                    font-size: 18px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: center;
                                    transform: scaleY(1.0001);
                                }
                            }   
                        }

                        .connected{
                            background-color:  #f3fbfb ;
                        }
                        .triangle {
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 0;
                            border-top: 40px solid #fff;
                            border-left: 40px solid transparent;
                            margin: 1px;
                        }
                    }
                  }
                }
                .content{
                    box-shadow: 0px 2px 8px 0px rgba(214, 214, 214, 0.3);
                    width: 100%;
                    .image-container{
                        background-color:$image-container;
                        display: inline-block;
                        border-color:$page-content-background-color;
                        // width: 30%;
                        // text-align: center;
                        height: 100%;
                        img{
                            display:inline-block;
                            margin-top: 60px;
                            margin-bottom: 60px;
                        }
                    }
                    .content-wrapper{
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        margin-top: 30px;
                        margin-left: 20px;
                        .content-detail{
                            color:  #2b2b2b;
                            font-size: 18px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 18px;/* Approximation due to font substitution */
                            text-align: left;
                            transform: scaleY(1.0001);
                            width: 100%;
                        }
                        .post-button{
                            width: 100%;
                            text-align: center;
                        }
                    }   
                }

            }
        }     
    }
 }
 .page-content .main-wrapper .container .dashboard .complete-profile .connecter .connect .icon-container {
    left: 92%;
    }
}
    


@media only screen and (max-width: 414px){
    .page-content{
        .main-wrapper{ 
        .container{
           .dashboard{
            width: 100%;
                .profile-content{
                    display: inline;
                    margin-left: 20px;

                    .profile-image{
                        display: inline-block;
                        vertical-align: top;
                        padding-top: 30px;
                    }
                    .profile-details{
                        display: inline-block;
                        padding-top: 20px;
                        font-size: 11px;
                        .sub-profile{
                            span{
                                font-size: 15px;
                            }
                            .sub-details{
                                font-size: 15px;
                                width: 250px;
                            }
                        }
                    }
                }
                .complete-profile{
                    width: 100%;
                    p{
                        color:  $color-darkgrey;
                        font-size: 15px;/* Approximation due to font substitution */
                        margin-left: 8px;
                        padding-bottom: 15px;
                    }
                    .connecter{
                    .connect{
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  $page-content-background-color;
                        box-sizing: border-box;
                        background-color: $color-white;
                        display: block;
                        width: 84%;
                        height: 70px;
                        margin-left: 2%;
                        margin-bottom: 20px;
                        .connect-container{
                             text-align: center;
                             display: inline-block;
                             padding-top: 10px;
                             .image-box{
                                .icon-facebook::before {
                                    margin: 0px;
                                }
                                .icon-twitter::before {
                                    margin: 0px;
                                }
                                .icon-linkedin::before {
                                    margin: 0px;
                                }
                            }
                            .tag-box{
                                // vertical-align: top;
                                display: inline-block;
                                margin-left: 0px;
                                vertical-align: middle;
                                margin-top: 8px;
                                a{
                                    display: block;
                                    text-align: center;
                                    font-size: 12px;/* Approximation due to font substitution */
                                    margin-left: 10px;
                                }
                            } 
                            .tag-box{   
                                #username{
                                    display: block;
                                    font-size: 13px;/* Approximation due to font substitution */
                                    margin-left: 10px;
                                }
                            }  
                        }
                    }
                 }
                }
                .content{
                    box-shadow: 0px 2px 8px 0px rgba(214, 214, 214, 0.3);
                    width: 100%;
                    .image-container{
                        background-color:$image-container;
                        display: inline-block;
                        border-color:$page-content-background-color;
                        img{

                        }
                    }
                    .content-wrapper{
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        margin-top: 30px;
                        margin-left: 20px;
                        .content-detail{
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 18px;/* Approximation due to font substitution */
                            text-align: left;
                            transform: scaleY(1.0001);
                            width: 100%;
                        }
                    }   
                }

                .tagline{
                    font-size: 16px;
                    padding-left: 20px;
                    padding-right: 5px;
                }
                .links{
                    padding-left: 20px;
                    padding-bottom:15px;
                    padding-right: 10px;
                    a{
              
                    }
                    .bullet{
                        // padding-top: 10px;
                    }
                  
                }

                

            }
        }     
    }
 }
 .page-content .main-wrapper .container .heading {
     margin-left: 0px;
 }
 .page-content .main-wrapper .container .dashboard .links .details {
    line-height: 16.992px;
 }
 .page-content .main-wrapper .container .dashboard .complete-profile .connecter .connect .connect-container .image-box img {
    width: 33px;
    height: 35px;
    }
}
    
@media only screen and (max-width: 375px){
.page-content .main-wrapper .container .dashboard .content .image-container img {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 74px;
}
}

@media only screen and (max-width: 320px){
.page-content .main-wrapper .container .dashboard .content .content-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    margin-top: 16px;
    margin-left: 14px;
}}