@import 'common/spacings';
@import 'common/slider';
@import 'chat-sidebar';

$light-green-bg: #f3fbfb;
$green: #149075;
$black: #2b2b2b;
$separater-grey: #e4e4e4;
$white: #ffffff;
$shadow: rgba(214, 214, 214, 0.3);
$card-border: #e8e8e8;
$meta-grey: #737373;
$horizontal-separator-color: #e9eef8;
$white-highlight-color:  #f7f8fa;
$button-border-color: #8f8a8a;

.page-content {
	.anchor-caret{
		margin-left: 5px;
	}
	color: $black;
	@include page-content;
	background-color:$page-background-color;
	.page-header {
		select {
			@include select-dropdown;
			&.minimal {
				display:inline-block;
				width:auto;
				border:0;
				padding:10px 40px 10px 10px;
				background-color:transparent;
				margin-bottom:10px;
				background-image:url("/static/images/minimal_select_dropdown.svg");
			}
		}
		.action-buttons {
			padding:5px 0 0 0;
			button {
				@include button($button-color-green)
			}
		}
	}

	// TODO
	// .card{
	// 	box-shadow: 1px 1px 1px #aaa;
	// }

	.main-wrapper{
	}
	.main-container{
	    width: 80%;
		margin: 0 auto;
		float: left;
	}
	.container{
		@include container;
	}
	.block-container{
		@include block-container;
		background-color: #f3fbfb; //light green background
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		background-color: $light-green-bg
	}
	.block{
		@include block;
		background-color: $light-green-bg;
		width: 25%;
		height: 170px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		text-align: center;
		.stats{
			margin: 0 auto;
			margin-top: 35px;
			height: 60px;
			max-width: 150px;
				 .loading {
					background: transparent;
					width: 2em;
					height: 2em;
					position: relative;
					margin: 0 auto;
				  }
				   .loading:after {
					display: block;
					content: "";
					border-radius: 50%;
					height: 2px;
					width: 2px;
					position: absolute;
					margin: auto;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					box-shadow: 10px 0 0 2px #333, 7px 7px 0 2px #999, 0 10px 0 2px #999, -7px 7px 0 2px #999, -10px 0 0 2px #999, -7px -7px 0 2px #999, 0 -10px 0 2px #333, 7px -7px 0 2px #111;
					-webkit-animation: rotate 0.7s steps(8) infinite;
					-o-animation: rotate 0.7s steps(8) infinite;
					animation: rotate 0.7s steps(8) infinite;
				  }
				  @keyframes rotate {
					from {
					  transform: rotate(0deg);
					}
					to {
					  transform: rotate(360deg);
					}
				  }
			.number{
				color: $green;
				font-size: 34px;
				font-weight: 400;
				height: 40px;
			}
			.legend{
				font-size: 13px;
				color: $black;
			}
		}
		.icon{
			margin-top: 15px;

			img{
				height: 35px;
			}
		}
	}
	.feed-column{
		width: 65%;
		display: inline-block;
		padding-right: 20px;
	}
	.feed-card{
		margin-bottom: 40px;
	}
	.notification-column{
		width: 35%;
		display: inline-block;
	}
	.notification-card{
		margin-bottom: 40px;
		.single-interview{
			.action-buttons{
				text-align: center;
				margin: 0 auto;
				padding: 0;
				.button{
					margin-right: 0;
				}
			}
		}
		.seeMoreSection{
			text-align: center;
			.see-all{
				a{
					color: #737373;
					font-size: 13px;
					line-height: 18px;
					margin-bottom: 5px;
				}
				icon-right_arrow:before {
					content: '\e812';
					font-size: 12px;
				}
			}
		}
	}
	.dashboard{
		border-radius: 6px;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e8e8e8;
	    box-sizing: border-box;
		background-color: #ffffff;
		margin-top: 17px;
	    box-shadow: 0px 2px 8px 0px rgba(214, 214, 214, 0.3);
	    .header-row{
			margin-top: 23px;
			padding: 0 18px;
			.heading{
				font-size: 20px;
				color: $green;
				font-weight:400;
				margin-left: 0px;
				.icon-sunrise:before {
					font-size: 40px;
					line-height: 20px;
					vertical-align: top;
					margin-left: 0px;
				}
				.icon-afternoon:before {
					font-size: 40px;
					line-height: 20px;
					vertical-align: top;
					margin-left: 0px;
				}
				.icon-sunset:before {
					font-size: 40px;
					line-height: 20px;
					vertical-align: top;
					margin-left: 0px;
				}
			}
			.sub-heading{
				font-size: 14px;
				margin-top: 14px;
				margin-bottom: 22px;
			}
		}
	}

	.separater {
	    height: 124px;
	    width: 1px;
	    background: $separater-grey;
	    float: right;
	    margin-top: -130px;
	}
	.positive-left{
		display: none;
	}
	.salutation-icon{
		margin-right: 18px;
	}
	.header-row{
		margin-bottom: 15px;
		a{
			color: $black;
		}
		.heading{
			width: 75%;
			display: inline-block;
			font-size: 16px;
			font-weight:600;
		}
		.heading-button{
			width: 20%;
			display: inline-block;
			text-align: right;
			font-size: 13px;
			margin-right: 5px;
			line-height: 30px;
			.icon-right_arrow:before {
				content: '\e812';
				font-size: 12px;
			}
		}
		.heading-button:hover{
			text-decoration: underline;
		}
	}
	.jobs-card{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.roles-card{
		padding-top: 20px;

	}
	.detail-card{
		box-shadow: 0px 2px 8px 0px $shadow;
		border: 1px solid $card-border;
		background-color: $white;
		border-radius: 6px;
		.graph_holder{
			svg{
				border-radius: 6px;
			}
		}
		.slider-profile{
			background-color: #f9f7f7;
			margin-bottom: 15px;
			border-radius: 6px;
			.slider-icon{
			padding-left: 0px!important;
			padding-top: 8px!important;
			border-radius: 0%!important;
			img{
					border-radius: 0%!important;
					border: none!important;
			}
			
			}
		}
		.meta-prop{
			display: inline-block;
			margin-right: 10px;
			line-height: 25px;
			.icon, .label{
				display: inline-block;
				img{
					height: 17px;
				}
			}
			.label{
				color: $meta-grey;
				font-size: 13px;
			}
		}
		.horizontal-separator{
			width: 100%;
			border-bottom: thin solid $horizontal-separator-color;
			background-color: $horizontal-separator-color;
			margin-top: 10px;
		}
		.profile{
			// background-color: #f9f7f7;
			// padding-top: 10px;
			// margin-bottom: 15px;
			.icon, .general{
				display: inline-block;
				vertical-align: top;
			}
			.icon{
			    width: 80px;
				padding-right: 0px;
				padding-top: 14px;
				padding-left: 10px;
				img{
					width: 80px;
				    height: 80px;
					object-fit: cover;
					display: table-cell;
					border-radius: 50%;
					border: 1px solid #dedcdc;
					background-color: #f7f7f7;
				}
			}
			.calculus{
				padding-top: 20px!important;
			}
			.general{
				padding: 10px;
				width: calc(100% - 90px);
				display: inline-block;
				padding-bottom: 0px;
				padding-left: 20px;
				.name{
					color: $green;
					font-size: 18px;
					font-weight: 400;
					display: block;
					margin-bottom: 5px;
					font-weight: 600;
					img{
						width: 17px;
					}
				}
				.name:hover{
					text-decoration: underline;
				}
				.meta{
					color: $black;
					font-size: 14px;/* Approximation due to font substitution */
					font-weight: 400;
					line-height: 24px;/* Approximation due to font substitution */
				}
				.highlighted-meta{
					background-color: $white-highlight-color;
					font-size: 13px;
					font-weight: 400;
					margin-bottom: 10px;
					padding: 5px 10px;
					display: inline-block;
					margin-left: -10px;
				}
			}
			.multipule-profile{
				a{
					font-weight: 400!important;
				}
			}

		}
		
		.highlighted-profile{
			position: relative;
		    top: -10px;
		    padding-top: 10px;
		    background: $white-highlight-color;
		    border-radius: 6px;
		    padding-bottom: 10px;
		}
		.notification-row.multiple{
			padding: 3px 0;
			.meta{
				color: $meta-grey;
				font-size: 13px;
				line-height: 18px;
    			margin-bottom: 5px;
			}
			.see-all{
				text-align: center;
				.icon-right_arrow:before {
					content: '\e812';
					font-size: 12px;
				}
			}
			.see-all:hover{
				text-decoration: underline;
			}
			.button{
				font-size: 13px;
			}
			.profile-detail{
				display: none;
			}
			.action-buttons{
				margin-left: 95px;
				width: calc( 100% - 90px);
				text-align: left;
				padding-left: 10px;
				padding-top: 0px;
				.button{
					margin-right: 10px;
				}
				.candidateShortlist:hover{
					background: #1f8f75;
					color: #fff;
		
				}
				.candidateReject:hover{
					background: #af595a;
					color: #fff;
				}
			}
		}
		.highlighted-banner{
			background-color: $light-green-bg;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			text-align: center;
			.number{
				color: $green
			}
		}
		.profile-detail{
			margin-left: 80px;
    		padding: 0 10px;
    		.profile-row{
    			padding: 10px 0;
    			.title, .label{
    				padding-bottom: 5px;
    			}
    		}
    		.title{
    			font-size: 14px;
				color: $black;
			
    		}
    		.label{
    			font-size: 13px;
    			color: $meta-grey;
    		}
		}
		.notificatin-buttons{
			padding-bottom: 7px !important;
			padding-top: 7px !important;
		}
		.action-buttons{
			// width: 100%;
			text-align: left;
			margin-left: 80px;
			padding-bottom: 20px;
			.button{
				 margin: 0 auto;
				 min-width: 50px;
				 display: inline-block;
				 padding: 5px 15px;
				 border: thin solid $button-border-color;
				 border-radius: 4px;
				 cursor: pointer;
				 color: $color-darkgrey;
				 margin-right: 10px;
			}
		}
		.icon{
			padding-right: 0px;
			.separater{
				height: 114px;
    			margin-top: -83px;
			}
		}
		.custom-icon{
			border: thin solid $card-border;
			border-top: 4px solid $green;
			text-align: center;
			padding: 7px 10px;
			border-radius: 6px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			margin-top: 25px;
			width: 60px;
			height: 56px;
			.number{
				color: $green;
			}
		}
	}
	.interview{
		.horizontal-separator{
			margin-top: 0px;
		}
		.row{
			margin-bottom: 20px;
		}
		.profile{
			.general{
				border-left: thin solid #e9eef8;
    			margin-left: -5px;
				.name{
					color: $black;
					font-size: 14px;
					font-weight: 700;
				}
				.meta{
					font-size: 13px;
					color: $meta-grey;
				}
			}
		}
	}
	
	.feed-row{
		padding: 10px 25px;
		
		.title{
			color: $meta-grey;
			font-size: 14px;
		}
		.list{
			.name{
				color: $black;
				font-size: 14px;
			}
			.description{
				color: $meta-grey;
				font-size: 14px;
			}
			ul{
				padding-left: 20px;
			}
			li{
				padding: 5px;
				a:hover{
					text-decoration: underline;
					text-decoration-color: #2b2b2b;
				}
			}
		}
		.main-content{
			.meta-content{
				margin-top: 10px;
			}
			.title, .stats{
				display: inline-block;
				vertical-align: top
			}
			.title{
				width: 60%;
				font-size: 14px;
				font-weight: 700;
				.text{
					max-width: 300px;
					color: $black;
				    font-weight: 600;
					line-height: 20px;
				}
			}
			.stats{
				width: 35%;
				.value, .label{
					display: inline-block;
					font-size: 14px;
				}
				.value{
					color: $green;
				}
				.value:hover{
					text-decoration: underline;
				}
				.applications{
					line-height: 20px;
					padding-left: 30px;
				}
			}
			.button-action-list{
				display: inline-block;
				cursor: pointer;
				position: relative;
			    width: 0px;
			    padding: 0;
			    border: 0;
					.action-list-items {
				    position: absolute;
				    top: 100%;
				    right: 0;
				    width: 165px;
				    left: 0;
				    left: -158px;
				    margin: 0 -1px;
				    background: #FFF;
				    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
				    border: 1px solid #e8e8e8;
				    list-style: none;
				    padding: 5px 0;
				    z-index: 5;
					li:hover{
						text-decoration: underline;

					}	
				}
			}
			.action-panel{
				float: right;
				margin-right: 10px;
			    margin-top: 5px;
			    .icon-more:before {
					content: '\e843';
					color: #737373;
				}
			}
		}
	}
}
.slider{
	width: 280px;
	margin: 0 auto;
	.slick-content{
		.slick-title{
			color: #737373;
			font-size: 14px;
			line-height: 17px;
			font-weight: 600;
		}
		.slick-detail{
			color: #737373;
			font-size: 13px;
			line-height: 17px;
		}
	}
	img{
		width:116px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.left-arrow{
		width: 20px;
	    float: left;
	    margin-top: 75px;
	    margin-left: -30px;
	    cursor: pointer;
	}
	.right-arrow{
		width: 20px;
	    float: right;
	    margin-top: -140px;
	    margin-right: -30px;
	    cursor: pointer;
	}
	.slick-slide{
		text-align: -webkit-center;
	}

}

@media all and (max-width: 992px) {
	.page-content{
		.conversations{
	    	display: none;
	    }
	    	.main-wrapper{
	    		width: 100%;
				.main-container{
					width: 100%;
				}	
			}
		
	}
}

@media all and (max-width:768px) {
    .page-content{
    	padding: 20px 10px;
    	.feed-column, .notification-column{
    		width: 100%;
    		padding-right: 0px;
    	}
    	.block{
    		width: 50%;
    		.separater{
    			// display: none;
    		}
    	}
    	$block-border: thin solid $separater-grey;
    	.border-top-mobile {
    		border-top: $block-border;
    	}
    	.border-bottom-mobile {
    		border-bottom: $block-border;
    	}
    	.border-right-mobile{
			border-right: $block-border;
    	}
    	.border-left-mobile{
			border-left: $block-border;
    	}
    	.feed-row{
			.main-content{
				.stats, .title{
					width: 90%;
					.applications{
						padding-left: 5px;
					}
				}
				.meta-content{
					margin-top: 20px;
				}
				.stats{
					margin-top: 20px;
				}
				.action-panel{
					margin-top: -68px;
				}
	    	}
    	}
    }
    .separater.positive-bottom{
    	width: 90%;
	    height: 1px;
	    margin-top: 13px;
	    float: left;
	    position: relative;
    }
    .separater.positive-top{
		margin-top: -157px;
		height: 1px;
		width: 90%;
    }
    .separater.positive-left{
		float: left;
		height: 90%;
		margin-top: -157px;
		display: block;
    }
    .separater.positive-right {
	    margin-top: -139px;
	    height: 90%;
	    margin-right: 0px;
	    position: relative;
    	left: 1px;
	}

}

.explorer{
	.action-buttons{
		text-align: center !important;
		margin:0 !important;
		// padding: 0 !important;
		.button{
			margin-right: 0px !important;
			font-size: 13px;
		}
	}
}

.error{
	position: relative !important;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    font-size: 18px;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    margin-left: -0.2em;
    margin-right: 0em;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.demo-icon.icon-group:before,.demo-icon.icon-mail:before , .demo-icon.icon-interview:before, .demo-icon.icon-politics:before {
	font-size: 47px;
	color: #919191;
}

.info-buttons {
	span:before {
		font-size: 14px;
	}
}

.iconSendButton:before {
	font-size: 25px;
}

.candidate-collapsed-block {
	.icon-cross_icon:before {
		font-size: 14px;
	}
}
