@import 'common/spacings';
@import 'common/slider';
@import 'chat-sidebar';

$light-green-bg: #f3fbfb;
$green: #149075;
$black: #2b2b2b;
$separater-grey: #e4e4e4;
$white: #ffffff;
$shadow: rgba(214, 214, 214, 0.3);
$card-border: #e8e8e8;
$meta-grey: #737373;
$horizontal-separator-color: #e9eef8;
$white-highlight-color:  #f7f8fa;
$button-border-color: #8f8a8a;

.page-content {
	.anchor-caret{
		margin-left: 5px;
	}
	color: $black;
	@include page-content;
	background-color:$page-background-color;
	.page-header {
		select {
			@include select-dropdown;
			&.minimal {
				display:inline-block;
				width:auto;
				border:0;
				padding:10px 40px 10px 10px;
				background-color:transparent;
				margin-bottom:10px;
				background-image:url("/static/images/minimal_select_dropdown.svg");		
			}
		}
		.action-buttons {
			padding:5px 0 0 0;
			button {
				@include button($button-color-green)
			}
		}
	}

	// TODO
	// .card{
	// 	box-shadow: 1px 1px 1px #aaa;
	// }

	.main-wrapper{
		@include main-wrapper;
	}
	.main-container{
		@include main-container;
	}
	.container{
		@include container;
	}
	.block-container{
		@include block-container;
		background-color: #f3fbfb; //light green background
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		background-color: $light-green-bg
	}
	.block{
		@include block;
		background-color: $light-green-bg;
		width: 25%;
		height: 170px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		text-align: center;
		.stats{
			margin: 0 auto;
			margin-top: 35px;
			height: 60px;
			max-width: 150px;
			.number{
				color: $green;
				font-size: 34px;
				font-weight: 400;
				height: 34px;
			}
			.legend{
				font-size: 13px;
				color: $black;
			}
		}
		.icon{
			margin-top: 15px;

			img{
				height: 35px;
			}
		}
	}
	.feed-column{
		width: 65%;
		display: inline-block;
		padding-right: 20px;
	}
	.feed-card{
		margin-bottom: 40px;
	}
	.notification-column{
		width: 35%;
		display: inline-block;
	}
	.notification-card{
		margin-bottom: 40px;
	}
	.dashboard{
		border-radius: 6px;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e8e8e8;
	    box-sizing: border-box;
	    background-color: #ffffff;
	    box-shadow: 0px 2px 8px 0px rgba(214, 214, 214, 0.3);
	    .header-row{
			margin-top: 23px;
			padding: 0 18px;
			.heading{
				font-size: 20px;
				color: $green;
			}
			.sub-heading{
				font-size: 14px;
				margin-top: 14px;
				margin-bottom: 22px;
			}
		}
	}
	
	.separater {
	    height: 124px;
	    width: 1px;
	    background: $separater-grey;
	    float: right;
	    margin-top: -119px;
	}
	.salutation-icon{
		margin-right: 18px;
	}
	.header-row{
		margin-bottom: 10px;
		a{
			color: $black;
		}
		.heading{
			width: 70%;
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
		}
		.heading-button{
			width: 20%;
			display: inline-block;
			text-align: right;
			font-size: 13px;
			margin-right: 5px;
			img{
				margin-left: 5px;
			}
		}
	}
	.detail-card{
		box-shadow: 0px 2px 8px 0px $shadow;
		border: 1px solid $card-border;
		background-color: $white;
		border-radius: 6px;
		padding: 10px 0;
		.meta-prop{
			display: inline-block;
			margin-right: 10px;
			.icon, .label{
				display: inline-block;
				img{
					height: 17px;
				}
			}
			.label{
				color: $meta-grey;
				font-size: 13px;
			}
		}
		.horizontal-separator{
			width: 100%;
			height: 1px;
			background-color: $horizontal-separator-color;
			margin-top: 20px;
		}
		.profile{
			.icon, .general{
				display: inline-block;
				vertical-align: top;
			}
			.icon{
			    width: 80px;
			    padding: 0 10px;
			    padding-right: 0px;
				img{
					width: 100%;
				}
			}
			.general{
				padding: 10px;
				width: calc(100% - 90px);
				display: inline-block;
				.name{
					color: $green;
					font-size: 16px;
					font-weight: 400;
					img{
						width: 17px;
					}
				}
				.meta{
					color: $black;
					font-size: 16px;

				}
				.highlighted-meta{
					background-color: $white-highlight-color;
					font-size: 13px;
					font-weight: 400;
					margin-bottom: 10px;
					padding: 5px 10px;
					display: inline-block;
					margin-left: -10px;
				}
			}

		}
		.highlighted-profile{
			position: relative;
		    top: -10px;
		    padding-top: 10px;
		    background: $white-highlight-color;
		    border-radius: 6px;
		}
		.notification-row.multiple{
			padding: 5px 0;
			.meta{
				color: $meta-grey;
				font-size: 13px;
			}
			.see-all{
				text-align: center;
			}
			.button{
				font-size: 13px;
			}
			.profile-detail{
				display: none;
			}
		}
		.highlighted-banner{
			background-color: $light-green-bg;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			text-align: center;
			.number{
				color: $green
			}
		}
		.profile-detail{
			margin-left: 80px;	
    		padding: 0 10px;
    		.profile-row{
    			padding: 10px 0;
    			.title, .label{
    				padding-bottom: 5px;
    			}
    		}
    		.title{
    			font-size: 14px;
    			color: $black;
    		}
    		.label{
    			font-size: 13px;
    			color: $meta-grey;
    		}
		}
		.action-buttons{
			width: 100%;
			text-align: center;
			.button{
				 margin: 0 auto;
				 min-width: 50px;
				 display: inline-block;
				 padding: 5px 15px;
				 border: thin solid $button-border-color;
				 border-radius: 4px;
				 cursor: pointer;
			}
		}
		.icon{
			padding-right: 0px;
			.separater{
				height: 114px;
    			margin-top: -83px;
			}
		}
		.custom-icon{
			border: thin solid $card-border;
			border-top: 4px solid $green;
			text-align: center;
			padding: 10px;
			border-radius: 6px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			margin-top: 25px;
			width: 60px;
			height: 56px;
			.number{
				color: $green;
			}
		}
	}
	.interview{
		.horizontal-separator{
			margin-top: 0px;
		}
		.row{
			margin-bottom: 20px;
		}
		.profile{
			.general{
				border-left: thin solid #e4e4e4;
    			margin-left: -5px;
				.name{
					color: $black;
					font-size: 14px;
					font-weight: 700;
				}
				.meta{
					font-size: 13px;
					color: $meta-grey;
				}
			}
		}
	}
	.feed-row{
		padding: 10px 25px;
		.title{
			color: $meta-grey;
			font-size: 14px;
		}
		.list{
			.name{
				color: $black;
				font-size: 14px;
			}
			.description{
				color: $meta-grey;
				font-size: 14px;
			}
			li{
				padding: 5px;
			}
		}
		.main-content{
			.meta-content{
				margin-top: 10px;	
			}
			.title, .stats{
				display: inline-block;
				vertical-align: top
			}
			.title{
				width: 60%;
				font-size: 14px;
				font-weight: 700;
				.text{
					max-width: 300px;
					color: $black;
				}
			}
			.stats{
				width: 35%;
				.value, .label{
					display: inline-block;
					font-size: 14px;
				}
				.value{
					color: $green;
				}
			}
			.button-action-list{
				display: inline-block;
				cursor: pointer;
				position: relative;
			    width: 0px;
			    padding: 0;
			    border: 0;
					.action-list-items {
				    position: absolute;
				    top: 100%;
				    right: 0;
				    width: 165px;
				    left: 0;
				    margin: 0 -1px;
				    background: #FFF;
				    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
				    border: 1px solid #e8e8e8;
				    list-style: none;
				    padding: 5px 0;
				    z-index: 5;
				}
			}
			.action-panel{
				float: right;
			    margin-top: 5px;
			    .img{
			    	height: 17px;
				    width: 5px;
				    margin-right: -5px;
			    }
			}
		}
	}
}
.slider{
	width: 116px;
	margin: 0 auto;
	padding: 10px 0;	
	img{
		width:116px;
	}
	.left-arrow{
		width: 20px;
	    float: left;
	    margin-top: 20px;
	    margin-left: -70px;
	    cursor: pointer;
	}
	.right-arrow{
		width: 20px;
	    float: right;
	    margin-top: -70px;
	    margin-right: -70px;
	    cursor: pointer;
	}
	

}

@media all and (max-width: 992px) {
	.page-content{
		.conversations{
	    	display: none;
	    }
	    .main-wrapper{
	    	width: 100%;
	    }
	}
}

@media all and (max-width:768px) {
    .page-content{
    	padding: 20px 10px;
    	.feed-column, .notification-column{
    		width: 100%;
    		padding-right: 0px;
    	}
    	.block{
    		width: 50%;
    		.separater{
    			// display: none;
    		}
    	}
    	$block-border: thin solid $separater-grey;
    	.border-top-mobile {
    		border-top: $block-border;
    	}
    	.border-bottom-mobile {
    		border-bottom: $block-border;
    	}
    	.border-right-mobile{
			border-right: $block-border;
    	}
    	.border-left-mobile{
			border-left: $block-border;
    	}
    	.feed-row{
			.main-content{
				.stats, .title{
					width: 90%;		
				}
				.meta-content{
					margin-top: 20px;
				}
				.stats{
					margin-top: 20px;
				}
				.action-panel{
					margin-top: -68px;
				}
	    	}
    	} 
    }
    .separater.positive-bottom{
    	width: 90%;
	    height: 1px;
	    margin-top: 18px;
	    float: left;
    }
    .separater.positive-top{
		margin-top: -152px;
		height: 1px;
		width: 90%;
    }
    .separater.positive-left{
		float: left;
		height: 90%;
		margin-top: -152px;
    }
    .separater.positive-right {
	    margin-top: -134px;
	    height: 90%;
	    margin-right: 0px;
	    position: relative;
    	left: 1px;
	}

}
.error{
	position: relative !important;
}