@import "colors.scss";

@mixin input-styling {
    box-sizing: border-box;
    border: 1px solid $select-border;
    border-radius: 4px;
    padding: 4px 8px;
}

.main-container {
    padding: 20px;
    .top-container {
        position: relative;
        margin-bottom: 40px;
        .heading {
            display: inline-block;
            position: absolute;
            left: 0;
            margin-bottom: 40px;
        }
        #download-excel {
            display: inline-block;
            position: absolute;
            right: 0;
        }
    }
    .jobs_container {
        .jobs_header {
            width: auto;
            margin: 0 20px;
            background-color: $color-light-grey;
            padding: 0 10px;
            line-height: 34px;
            .header {
                display: inline-block;
                padding: 0 2px;
                font-size: 11px;
                text-align: left;
                color: $color-black-text;

            }

            .header_name {
                width: 22%;
                .checkbox {
                    margin: 0 15px 0 0;
                }
            }

            .header_organization {
                width: 28%;

            }

            .header_institute {
                width: 28%;
            }

            .header_more {
                width: 20%;
            }
        }
        .jobs-wrapper-shell-loader {

            .shell-loaders {
                margin: 0 20px;
                padding: 0 10px;

                .content {
                    display: inline-block;
                    padding: 5px 0 0 2px;
                    overflow: hidden;
                    font-size: 11px;
                    vertical-align: top;
                    .info {
                        padding: 0 0 5px 0;
                        .user_name {
                            margin-top: 15px;
                            width: 70px;
                            height: 15px;
                        }
                        .user-experience {
                            margin-top: 10px;
                            width: 100px;
                            height: 15px;
                        }
                        .user-extra {
                            margin-top: 20px;
                            width: 50px;
                            height: 10px;
                        }
                        .important_info {
                            font-size: 11px;
                            color: $important-info-color;
                            &.name {
                                font-size: 13px;
                            }
                        }
                        .extra_info {
                            color: $extra-info-color;
                        }
                        .icon {
                            display: block;
                            color: $extra-info-color;
                            font-size: 12px;
                            padding: 1px 0;
                            text-decoration: none;
                            span {

                                padding: 0 3px;
                            }

                            &:hover {
                                color: green;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .content.content_name {
                    padding-top: 25px;
                    width: 22%;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .content.content_organization {
                    width: 28%;
                    padding-top: 35px;

                    .name {
                        width: 150px;
                        height: 20px;
                        margin-bottom: 10px;
                    }
                    .designation {
                        width: 75px;
                        height: 15px;
                        margin-bottom: 15px;
                    }
                    .experience {
                        width: 150px;
                        height: 15px;
                        margin-bottom: 10px;
                    }
                }

                .content.content_institute {
                    width: 28%;
                    padding-top: 35px;
                    .name {
                        width: 150px;
                        height: 20px;
                        margin-bottom: 10px;
                    }
                    .degree {
                        width: 75px;
                        height: 15px;
                        margin-bottom: 15px;
                    }
                }
                .content.content_more {
                    padding-top: 35px;
                    width: 20%;
                    .icon {
                        width: 125px;
                        height: 10px;
                        margin-bottom: 10px;
                    }
                }
            }


        }
        .jobs_wrapper {
            .jobs_content {
                border-bottom: thin solid #ececec;
                padding-bottom: 5px;
                margin: 0 20px;
                &:nth-child(even){
                    background-color: #fbfbfb;
                }
                .content-container {

                    cursor: pointer;
                    padding: 10px 10px 0 10px;
                }


                .content {
                    display: inline-block;
                    padding: 5px 0 0 2px;
                    overflow: hidden;
                    font-size: 11px;
                    vertical-align: top;
                    line-height: 20px;
                    .info {
                        padding: 0 0 10px 0;
                        .important_info {
                            font-size: 13px;
                            color: $important-info-color;
                            &.name {
                                font-size: 13px;
                                font-weight: bold;
                                font-family: Arial !important;
                            }
                        }
                        .extra_info {
                            color: $important-info-color;
                            font-size: 13px;
                        }
                        .icon {
                            display: block;
                            color: $extra-info-color;
                            font-size: 12px;
                            padding: 1px 0;
                            text-decoration: none;
                            span {

                                padding: 0 3px;
                            }

                            &:hover {
                                color: green;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .content.content_name {
                    .checkbox {
                        vertical-align: top;
                        margin: 0 15px 0 0;
                    }
                    width: 22%;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .content.content_organization {
                    width: 28%;
                    padding-left: 10px;
                }

                .content.content_institute {
                    width: 28%;
                }

                .content.content_more {
                    width: 20%;
                }
            }
        }
    }
}
