@import "colors.scss";
@import "fonts.scss";

@import 'components/_colors.scss';
@import 'components/_type.scss';

.footer {
    width: 100%;
    background:$header-background-color;
    padding:10px;

    .footer-column-container {
        display:block;
        width:75%;
        font-size:0;
        margin:20px auto;

        .footer-column{
            display:inline-block;
            width:25%;
            vertical-align:top;

            .footer-links-list {
                padding:0;
                list-style:none;

                .footer-link-item {
                    padding:5px 10px;
                    a {
                        font-size:$base-font-size;
                        text-decoration:none;
                        color:$footer-link-color;
                    }
                }
            }
        }
    }

    .footer-social-media {
        text-align: center;
        margin: 20px 0;
        .social-media-icon {
            display:inline-block;
            margin:0 10px;
            .icon-facebook::before {
                content: '\e84a';
                font-size: 45px;
                color: #c1c1c1;
            }
         
        }
        .twitter{
            .icon-twitter::before {
                content: '\e849';
                font-size: 45px;
                color: #c1c1c1;
            }
        }
        .linkedin{
            .icon-linkedin::before {
                content: '\e84b';
                font-size: 45px;
                color: #c1c1c1;
            }
        }
    }

    .footer-copy-text {

        p { 
            text-align:center;
            font-size:$base-font-size;
            text-decoration:none;
            color:$footer-link-color;
        }
    }

    ul.mini-footer {
        list-style:none;
        padding:0;
        margin:0;

        li {
            display:inline-block;
            margin:0 10px;

            a {
                font-size:$base-font-size;
                color:$footer-link-color;
            }
        }
    }
    p {
        margin:0;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        nav {
            .menu {
                li.menu_link {
                    padding: 10px;

                    a {
                        font-size: 12px;
                    }
                }
            }
        }

        .footer-column-container {
            width:100%;
            margin:0;

            .footer-column {
                width:100%;
                margin:15px 0;
                ul {
                    li {
                        display:inline-block;
                    }
                }

                &:last-child {
                    margin:0;
                }

                &.platforms {
                    margin:10px 0 0 0;
                    ul {
                        li {
                            width:100%;
                            margin-bottom:20px;

                            &:last-child {
                                margin:0;
                            }
                        }
                    }
                }
            }
        }

        .footer-social-media {
            text-align:left;
        }

        .footer-copy-text {
            p {
                text-align:left;
                padding:0 10px;
            }
        }
    }
}
