@import "colors.scss";
@import "fonts.scss";

@import 'components/_colors.scss';
@import 'components/_type.scss';
@import 'components/_global.scss';
@import 'components/_theme.scss';


.footer {
    width: 100%;
    background:$header-background-color;
    padding:20px;

    .footer-column-container {
        display:block;
        width:75%;
        font-size:0;
        margin:20px auto;

        .footer-column{
            display:inline-block;
            width:25%;
            vertical-align:top;

            .footer-links-list {
                padding:0;
                list-style:none;

                .footer-link-item {
                    padding:5px 10px;
                    a {
                        font-size:$base-font-size;
                        text-decoration:none;
                        color:$footer-link-color;
                    }
                }
            }
        }
    }

    .footer-social-media {
        text-align: center;
        margin: 20px 0;
        .social-media-icon {
            display:inline-block;
            margin:0 10px;
        }
    }

    .footer-copy-text {

        p { 
            text-align:center;
            font-size:$base-font-size;
            text-decoration:none;
            color:$footer-link-color;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        nav {
            .menu {
                li.menu_link {
                    padding: 10px;

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
