@import 'common/spacings';
@import 'components/_colors';
@import 'components/_type';

.navigationHeader, .profileActions {
	display: none !important;
}
.mobileHeaderNav {
	display: none !important;
}

@media all and (max-width:600px) {
    .header {

        .domain_logo {
            display:inline-block;
        }
	}
}



.page-content {
	@include page-content;
	background-image:url('/static/images/footer-background.png');
	background-size:100%;
	background-position:center bottom;
	background-repeat:no-repeat;
	.main-wrapper {
		width:100%;
		max-width:1280px;
		margin:0 auto;

		h1 {
			color:$color-black;
			margin-top:50px;
			line-height:1.5;
		}

		p {
			font-size:$base-font-size;
			color:$intro-subtitle-color;
			margin:15px 0;
			line-height:1.5;

			a {
				color:$link-color;
			}
		}

		form {
			display:inline-block;
			background-color:$color-white;
			padding:20px;
			border-radius:4px;
			box-shadow:0 0 5px rgba(0,0,0,0.2);
			min-width: 450px;
			.error {
				position: static;
			}
			.form-group {
				margin-bottom:15px;
				width:80%;
				position: relative;
				    input {
				        background-color:transparent;
						font-size:$base-font-size;
						border:0;
						border-bottom:2px solid $border-color-base;
						padding:10px 10px 10px 0;
						width:100%;

				        &:focus {
				            outline:none;
				        }
				    }

				    button {
						-webkit-appearance:none;
						-moz-appearance:none;
						-ms-appearance:none;
						-o-appearance:none;
						border:0;
						padding:0;
						margin:0;
						background:$login-button-color;
						border-color:$button-border-color;
						border-radius:4px;
						padding:5px 14px;
						font-size:$base-font-size;
						margin:10px 0;
						padding:12px 20px;
						color:$color-white;
						display:inline-block;
						vertical-align:top;
						cursor:pointer;
						font-size:$base-font-size;
						font-weight:bold;
					}
			}
		}

	}
}
