@import "colors.scss";
@import "fonts.scss";

@import 'components/_colors.scss';
@import 'components/_type.scss';
@import 'components/_global.scss';
@import 'components/_theme.scss';

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

* {
    font-weight: normal;
    font-family: $droid-font;
}
b{
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.transition {
    -webkit-transition: background-color 2000ms linear, opacity 600ms, visibility 600ms;
    -ms-transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
    transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
}


*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.horizontal-line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
}

.box_shadow {
    box-shadow: 0px 0px 4px #aaa;
}

.shadow-highlight {
    box-shadow: 0px 0px 10px #aaa;
}

.inline-block {
    display: inline-block;
}

.header {
    min-height:75px;
    background: $header-background-color;
    display:block;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    position:relative;
    z-index:3;

    .header-wrapper {
        max-width:1440px;
        margin:0 auto;
    }

    .search-container{
        transition:all 0.3s ease-in-out;
        padding-left: 10px;
        padding-top: 0px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-top: 10px;
        position: absolute;
        top: 0;
        margin: 0;
        left: 200px;
        padding: 0;
        right: 200px;
        top: 0;
        bottom: 0;
        outline: none;
        form{
            height:100%;

           .search-box{
               width: 100%;
                height: 100%;
                border: 0;
                margin: 0;
                background-color: $search-background-color;
                padding: 20px;
                font-size: 18px;
                color:$color-white;
                outline: none;
           }
        }

    }

    .header_item {
        height:40px;
        margin-top:18px;
        display:inline-block;
        vertical-align: middle;
        position:relative;

        &.mobile-menu {
            position:relative;
            width:40px;
            display:none;
            img {
                @include abolulute-center;
            }
        }
    }
    .domain_logo {
        a {
            display:inline-block;
            vertical-align:middle;
            color:$color-white;
            font-family:$logoFontName, sans-serif;

            h1 {
                font-size: $logoFontSize;
                font-family:inherit;
                line-height:20px;
                margin: 0;
                display:inline-block;
            }
            span {
                font-family:inherit;
                font-size: $logoBylineFontSize;
            }
            p {
                font-family: inherit;
                line-height: 1;
                color: #7b7b7b;
                font-size: 11px;
                margin-left: 20px;
                margin-top: 5px;
            }
        }
    }

    .profile_actions {
        .action-icon {
            height:40px;
            width:40px;
            display:inline-block;
            vertical-align: middle;
            position:relative;
            cursor:pointer;

            &.search {
                img {
                    width:20px;
                    height:20px;
                    padding:0;
                }
            }

            img {
                padding:10px;
                @include abolulute-center;

            }
        }
        .profile {
            img {
                padding:0;
                height:37px;
                width:37px;
                border-radius:50%;
            }

            .profile-menu {
                position:absolute;
                width:280px;
                top:80%;
                right:0;
                z-index: 10;
                background:#FFF;
                margin-top:15px;
                box-shadow:0 4px 8px $shadow-color;
                border-radius:4px;
                transition:all 0.2s ease-in-out;
                height:0;
                opacity:0;
                visibility: hidden;

                &:before {
                    content:'';
                    border-right:10px solid transparent;
                    border-bottom:10px solid $header-link-active-color;
                    border-left:10px solid transparent;
                    position:absolute;
                    top:-8px;
                    right:10px;
                }

                .profile-header {
                    padding:15px;
                    background:$header-link-active-color;
                    border-top-right-radius:4px;
                    border-top-left-radius:4px;
                    p {
                        margin:0;
                        color:$color-white;
                        font-size:$base-font-size;
                        line-height:1.3;

                        &.user-name {
                            font-size:$page-subtitle-font-size;
                        }
                    }
                }

                .profile-body {
                    background:$color-white;
                    padding:15px;
                    border-bottom-right-radius:4px;
                    border-bottom-left-radius:4px;
                    ul {
                        margin:0;
                        list-style:none;
                        padding-left:0;

                        li {
                            margin:10px 0;
                            font-size:$base-font-size;

                            .button {
                                position:relative;
                                top:-5px;
                                border-radius:6px;
                                padding:5px 15px;
                                border:1px solid #4b4b4b;
                            }

                            a {
                                color: inherit;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                &.active {
                    opacity:1;
                    visibility:visible;
                    top:100%;
                    height:auto;
                }
            }
        }
    }

    .navigation {
        display:inline-block;
        vertical-align: middle;
        width:65%;
        ul {
            list-style:none;
            font-family:$logoFontName, sans-serif;
            margin:0;
            .menu-list-item {
                line-height:40px;
                font-size:$logoBylineFontSize;
                display:inline-block;
                width:20%;
                min-width:120px;
                text-align: center;
                &.my-jobs {
                    position: relative;
                }
                &.my-interviews{
                    position: relative;
                }
                a {
                    font-family:$primary-font;
                    color:$color-white;
                }
                .profile-menu {
                    position:absolute;
                    width:200px;
                    top:100%;
                    left:30%;
                    z-index: 10;
                    background:#FFF;

                    box-shadow:0 4px 8px $shadow-color;
                    border-radius:4px;
                    transition:all 0.2s ease-in-out;
                    height:0;
                    opacity:0;
                    visibility: hidden;

                    &:before {
                        content:'';
                        border-right:10px solid transparent;
                        border-bottom:10px solid #fff;
                        border-left:10px solid transparent;
                        position:absolute;
                        top:-9px;
                        left:15px;
                    }

                    .profile-body {
                        background:$color-white;
                        padding:10px 15px;
                        border-bottom-right-radius:4px;
                        border-bottom-left-radius:4px;
                        border-radius: 4px;
                        ul {
                            margin:0;
                            list-style:none;
                            padding-left:0;

                            li {
                                margin: 10px 0;
                                font-size:$base-font-size;
                                text-align: left;
                                line-height: 1.5;
                                a {
                                    color:$link-color;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }

                    &.active {

                        opacity:1;
                        visibility:visible;
                        top:100%;
                        height:auto;
                    }
                }

                &.active {
                    a {
                        color:$header-link-active-color;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1024px){
    .header {
        min-height:75px;
        background: $header-background-color;
        display:block;
        width:100%;
        padding-left:20px;
        padding-right:20px;
        .search-container{
            width: 60%;
            padding-left: 10px;
            padding-top: 0px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            left:200px;

        }

    }
}

@media all and (max-width: 992px) {
    .header {
        .header_item {
            &.mobile-menu {
                display:inline-block;
                cursor: pointer;
            }
        }
        .search-container {
            width:50%;
            left:230px;
        }
        .navigation {
            display:none;
        }
    }
}



@media all and (max-width:768px) {
    .header {
        padding-left:10px;
        padding-right:10px;
        min-height:55px;

        .search-container {
            width:60%;
            left:170px;
        }


        .header_item {
            margin-top:13px;
            height:30px;
            &.domain_logo {
                h1 {
                    font-size:$logo-font-size-mobile;
                }
                span {
                    font-size:$logo-byline-font-size-mobile;
                }
                p {
                    font-size:$logo-tagline-font-size-mobile;
                    margin-left:3px;
                    margin-top:2px;
                }

            }


            &.mobile-menu {
                height:30px;
                width:30px;
                vertical-align: top;
                cursor:pointer;
            }
            &.profile_actions {
                .action-icon {
                    height:30px;
                    width:30px;
                    .info-icon{
                        width: 50%;
                        height: 50%;
                    }
                }

                .profile {
                    display:none;
                }
            }
        }


    }
}

@media all and (max-width:600px) {
    .header {

        .mobile-menu {
            display:none
        }
        .domain_logo {
            display:none;
        }

        .search-container {
            width:70%;
            left:50px;
        }

    }
}

.email-caret {
    margin-top: -5px;
    vertical-align: top;
    padding-left: 5px;

}

.body-overlay {

    &.veiled {
        position:fixed;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index:5;
        background:$shadow-color-dark;
    }
}

@media all and (max-width:480px){
    .header {

        .mobile-menu {
            display:none
        }
        .domain_logo {
            display:none;
        }

        .search-container {
            width:73%;
            left:5px;
            form{
                .search-box{
                    font-size:14px;
                }

            }
        }

    }

}

@media all and (max-width:420px){
    .header{
        .search-container {
            width:63%;
            left:5px;
            form{
                .search-box{
                    font-size:14px;
                    padding:2px;
                }

            }
        }

    }

}
