@import "colors.scss";
@import "fonts.scss";



body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    font-weight: normal;
    font-family: $droid-font;
}

.hidden {
    display: none !important;
}

.transition {
    -webkit-transition: background-color 2000ms linear, opacity 600ms, visibility 600ms;
    -ms-transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
    transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
}


*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.horizontal-line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
}

.box_shadow {
    box-shadow: 0px 0px 4px #aaa;
}
.shadow-highlight{
    box-shadow: 0px 0px 10px #aaa;
}

.inline-block {
    display: inline-block;
}

header {
    .top_banner {
        padding: 20px 10px 10px 10px;
        margin: 0 0 15px 0;
        position: relative;

        .logo {
            display: inline-block;
            position: relative;

            h3 {
                font-size: 30px;
                font-family: 'Comfortaa', cursive;
                line-height: 20px;
                margin: 0;
            }

            span {
                font-size: 13px;
                position: absolute;
                top: 110%;
                left: 70%;
                font-family: 'Droid Sans', sans-serif;
            }
        }

        .user_profile_side {
            position: absolute;
            right: 20px;
            display: inline-block;
            cursor: pointer;
            min-height: 30px;
            .dropdown {
                position: relative;
                list-style: none;

                .email {
                    display: inline-block;
                    height: 14px;
                    line-height: 0px;
                    min-width: 125px;
                    color: $hyperlink-color;
                    font-size: 12px;
                    text-decoration: none;
                    font-family: "Droid Sans",sans-serif;
                    vertical-align: top;
                    padding-left: 5px;
                    padding-top: 8px;
                    margin-top: 7px;
                }

                .image-container {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .options {
                    position: absolute;
                    top: 102%;
                    background: #fff;
                    min-width: 200px;
                    right: 0;
                    z-index: 15;
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    border-radius: 4px;

                    .seperator {
                        border: 0;
                        height: 0;
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                        width: 90%;
                        margin: 0 auto;
                    }

                    li {
                        padding:  10px;
                        text-align: left;

                        a {
                            color: $hyperlink-color;
                            font-size: 12px;
                            text-decoration: none;
                            display: block;
                            &:hover {
                                color: #56A0FF;
                            }
                        }
                    }
                }
            }
        }
    }

    nav {
        background: #1c1c1c;
        position: relative;

        .menu {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            padding: 0;

            li.menu_link:first-child {
                display: none;
            }

            li.menu_link {
                display: inline-block;
                padding: 11px;
                border-bottom: 2px solid transparent;

                > a {
                    color: white;
                    text-decoration: none;
                    font-size: 13px;
                    font-family: "Droid Sans",sans-serif;

                }

                &:hover {
                    background: #7c7c7c;
                    border-bottom: 2px solid #fff;
                }
            }

            .dropdown {
                position: relative;

                .options {
                    position: absolute;
                    top: 102%;
                    background: #fff;
                    min-width: 150px;
                    left: 0;
                    list-style: none;
                    z-index: 15;
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 2px 10px;
                        text-align: left;

                        a {
                            font-size: 12px;
                            color: black;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        &:hover {
                            background: #e1e1e1;
                        }
                    }
                }

                &:hover > ul {
                    display: block;
                }
            }
        }

        .search_container {
            display: inline-block;
            padding: 6px;
            position: absolute;
            right: 1%;

            &:after {
                font-family: 'FontAwesome';
                content: "\f002";
                color: gray;
                position: absolute;
                top: 12px;
                right: 10px;
                font-size: 16px;
            }

            input {
                height: 30px;
                border: 0;
                margin: 0;
                padding: 0 12px;
                border-radius: 5px;
                width: 250px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        nav {
            .menu {
                li.menu_link {
                    padding: 11px 8px;

                    > a {
                        font-size: 12px;
                    }
                }
            }

            .search_container {
                input {
                    width: 180px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        nav {
            .menu {
                li.menu_link:first-child {
                    display: inline-block;
                }

                li.menu_link {
                    display: none;
                    padding: 12px;
                }
            }

            .search_container {
                input {
                    width: 180px;
                }
            }

            .menu.responsive {
                li.menu_link:not(:first-child) {
                    display: block;
                    padding: 12px;
                    border-bottom: 1px solid gray;
                }
            }
        }
    }
}

.email-caret {
    margin-top: -5px;
    vertical-align: top;
    padding-left: 5px;

}

.chat-div {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 270px;
    box-shadow: 0 0 2px #CCC;
    z-index: 10;
    .chat-div-header {
        padding: 10px 12px;
        background-color: #4b4b4b;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
        .minus-icon {
            height: 12px;
            width: 12px;
            float: right;
            background: url(https://static.iimjobs.com/pub_chat/v4/images/minus.jpg) no-repeat;
            &.show {
                margin-top: 10px;
            }
        }
    }
    .chat-div-content {
        height: 0;
        background-color: #fff;
        z-index: 2;
        transition: 0.2s height ease-in-out;
        overflow: auto;

        &.show {
            height: 315px;
        }
        .divider {
            margin: 0 auto;
        }
        .candidate-card {

            padding: 4px 10px;
            position: relative;
            &:hover {
                background-color: $color-light-grey;
                cursor: pointer;
            }
            .candidate-image {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
                vertical-align: top;
                margin-top: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .candidate-info {
                display: inline-block;
                margin-top: 5px;
                .candidate-name {

                    font-size: 13px;
                    color: #676666;
                }
                .candidate-designation {
                    font-size: 11px;
                    color: #a0a0a0;
                }
            }
            .remove-candidate {
                position: absolute;
                display: inline-block;
                font-size: 13px;
                top: 20px;
                i:hover {
                    color: $error-color;
                }
            }
        }
    }
}

.chat-div-candidate {
    position: fixed;
    bottom: 0;
    width: 270px;
    box-shadow: 0 0 2px #CCC;
    z-index: 10;
    .chat-div-header {
        padding: 2.5px 12px;
        background-color: #4b4b4b;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        .candidate-name-container {
            display: inline-block;
            .candidate-name {
                margin-bottom: 3px;
            }
            .last-active-date {
                font-size: 10px;
            }
        }
        .info-buttons {
            display: inline-block;
            position: absolute;
            right: 10px;
            height: 30px;
            line-height: 30px;
            span {
                padding: 0 4px;
            }
        }

    }
    .content-footer-container {
        height: 0;
        transition: 0.2s height ease-in-out;
        .chat-div-content {
            height: 274px;
            background-color: #f6f7f8;
            z-index: 2;
            overflow: auto;
            padding: 10px 20px;
            .date-block {
                text-align: center;
                margin: 25px 0;
                .date {
                    background: #e1f3fb;
                    padding: 8px 20px;
                    display: inline-block;
                    font-size: 10.4px;
                    color: #777777;
                    border-radius: 3px;
                }
            }
            .message-container {
                margin: 10px 0;

                .message-received {
                    display: inline-block;
                    box-shadow: 1px 1px 0px 0px #ccc;
                    padding: 5px 10px;
                    color: #1c1c1c;
                    border-radius: 4px;
                    background-color: rgba(236, 236, 236, 0.38);
                    position: relative;
                    width: auto;
                    max-width: 150px;
                    font-size: 12px;
                    word-wrap: break-word;
                    overflow-wrap: break-word;

                }
                .message-sent {
                    position: relative;
                    display: inline-block;
                    box-shadow: 1px 1px 0px 0px #ccc;
                    padding: 5px 10px;
                    color: #1c1c1c;
                    border-radius: 4px;
                    background-color: rgba(207, 244, 253, 0.28);
                }
                &.left {
                    text-align: left;
                }
                &.right {
                    text-align: right;
                }
                .current-time {

                    vertical-align: sub;
                    padding: 0 0 0px 10px;
                    font-size: 9px;
                }
                .caret {
                    position: absolute;
                    background: #ccc;

                }
            }
        }
        &.show {
            height: 315px;
        }
        .footer {
            input {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 2px;
                &:focus {
                    border: 1px solid $input-focus-color;
                }

            }
        }
    }

}

.selected {
    background-color: $color-light-grey;
}

.chat-collapsed-candidate-container {
    position: fixed;
    bottom: 0;
    z-index: 3;
    .chat-collapsed-candidate {
        cursor: pointer;
        padding: 6px 10px 1px;
        max-width: 50px;
        position: relative;
        background: #f1f1f1;
        border: 1px solid #CCC;
        border-bottom: 0;
        position: relative;
        z-index: 2;
        background: url(https://static.iimjobs.com/pub_chat/v4/images/collapsed_chats.png) no-repeat center center;
        min-height: 27px;
        min-width: 27px;
        background-color: #f1f1f1;
        box-sizing: content-box;
        .chat-collapsed-candidate-wrapper {
            position: absolute;
            bottom: 100%;
            min-width: 125px;
            text-align: right;
            background: #f1f1f1;
            right: -1px;

            .candidate-collapsed-block {
                padding: 10px 15px;
                font-size: 13px;
                color: $color-black-text;
                i {
                    margin-left: 10px;

                }
            }
        }
    }

}
