@import "colors.scss";
@import "fonts.scss";

@import 'components/_colors.scss';
@import 'components/_type.scss';
@import 'components/_global.scss';
@import 'components/_theme.scss';

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

* {
    font-weight: normal;
    font-family: $droid-font;
}

.hidden {
    display: none !important;
}

.transition {
    -webkit-transition: background-color 2000ms linear, opacity 600ms, visibility 600ms;
    -ms-transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
    transition: background-color 2000ms linear,  opacity 600ms, visibility 600ms;
}


*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.horizontal-line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
}

.box_shadow {
    box-shadow: 0px 0px 4px #aaa;
}

.shadow-highlight {
    box-shadow: 0px 0px 10px #aaa;
}

.inline-block {
    display: inline-block;
}

.header {
    min-height:75px;
    background: $header-background-color;
    display:block;
    width:100%;
    padding-left:20px;
    padding-right:20px;

    .header_item {
        height:40px;
        margin-top:18px;
        display:inline-block;
        vertical-align: middle;

        &.mobile-menu {
            position:relative;
            width:40px;
            display:none;
            img {
                @include abolulute-center;
            }
        }
    }
    .domain_logo {
        a {
            display:inline-block;
            vertical-align:middle;
            color:$color-white;
            font-family:$logoFontName, sans-serif;
    
            h1 {
                font-size: $logoFontSize;
                font-family:inherit;
                line-height:20px;
                margin: 0;
                display:inline-block;
            }
            span {
                font-family:inherit;
                font-size: $logoBylineFontSize;
            }
            p {
                font-family: inherit;
                line-height: 1;
                color: #7b7b7b;
                font-size: 11px;
                margin-left: 20px;
                margin-top: 5px;
            }
        }
    }

    .profile_actions {
        .action-icon {
            height:40px;
            width:40px;
            display:inline-block;
            vertical-align: middle;
            position:relative;
            cursor:pointer;
            overflow:hidden;
            
            img {
                padding:10px;
                @include abolulute-center;
            }   
        }
    }

    .navigation {
        display:inline-block;
        vertical-align: middle;
        width:65%;
        ul {
            list-style:none;
            font-family:$logoFontName, sans-serif;
            margin:0;
            .menu-list-item {
                line-height:40px;
                font-family:inherit;
                font-size:$logoBylineFontSize;
                display:inline-block;
                width:20%;
                min-width:120px;
                text-align: center;
                a {
                    font-family:inherit;
                    color:$color-white;
                }

                &.active {
                    a {
                        color:$header-link-active-color;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 992px) {
    .header {
        .header_item {
            &.mobile-menu {
                display:inline-block;
            }   
        }
        .navigation {
            display:none;
        }
    }
}

@media all and (max-width:768px) {
    .header {
        padding-left:10px;
        padding-right:10px;
        min-height:55px;
        .header_item {
            margin-top:13px;
            height:30px;
            &.domain_logo {
                h1 {
                    font-size:$logo-font-size-mobile;
                }
                span {
                    font-size:$logo-byline-font-size-mobile;
                }
                p {
                    font-size:$logo-tagline-font-size-mobile;
                    margin-left:3px;
                    margin-top:2px;
                }
            }

            &.mobile-menu {
                height:30px;
                width:30px;
                vertical-align: top;
                cursor:pointer;
            }
            &.profile_actions {
                .action-icon {
                    height:30px;
                    width:30px;
                }   
            }
        }
    }
}

.email-caret {
    margin-top: -5px;
    vertical-align: top;
    padding-left: 5px;

}
