@import 'components/_type';
@import 'components/_colors';
@import 'components/_images';

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  line-height: 1.5;
}
::-moz-placeholder { /* Firefox 19+ */
  line-height: 1.5;
}
:-ms-input-placeholder { /* IE 10+ */
  line-height: 1.5;
}
:-moz-placeholder { /* Firefox 18- */
  line-height: 1.5;
}

.error-border {
    border-color:$border-color-error !important;
}

@mixin absolutely-centered {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

@mixin select-dropdown {
	font-family:inherit;
	display:inline-block;
	font-size:$select-font-size;
	color:$select-color;
	padding:16px 22px;
	border-radius:3px;
	background:$color-white;
	width:100%;
	border:1px solid $select-border-color;
	background-image:url($green-caret-down);
	background-repeat:no-repeat;
	background-position:right 18px center;
	cursor:pointer;
	border-color:$border-color-base;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearanance:none;
    line-height: 1.5;

	&[multiple] {
		background-image:none;
		height:120px;
	}

	&.inactive {
		.dropdown-list {
			display:none;
		}
	}

	&.minimal {
	    display: inline-block;
	    width: auto;
	    border: 0;
	    padding: 10px 40px 10px 10px;
	    background-color: transparent;
	    margin-bottom: 10px;
	    background-image: url($black-caret-down);
	}
}

select.select-dropdown {
	font-family:inherit;
	display:inline-block;
	font-size:$select-font-size;
	color:$select-color;
	padding:16px 22px;
	border-radius:3px;
	background:$color-white;
	width:100%;
	border:1px solid $select-border-color;
	background-image:url(/static/images/down-arrow.png);
	background-repeat:no-repeat;
	background-position:right 18px center;
	cursor:pointer;
	border-color:$border-color-base;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearanance:none;

	&[multiple] {
		background-image:none;
		height:120px;
	}

	&.inactive {
		.dropdown-list {
			display:none;
		}
	}
}

select.select-dropdown::-ms-expand {
    display: none;
}

@mixin formgroup-label {
	font-size:$label-font-size;
	color:$color-label;
	display:block;
	&.title {
		margin-bottom:14px;
	}
}
label {
	font-size:$label-font-size;
	color:$color-label;
	display:block;
	&.title {
		margin-bottom:14px;
	}
}

.error-field {
	margin:7px 0 0 3px;
	font-size:$error-message-font-size;
	color:$error-message-color;
}

.course-option {
	position:relative;
	width:135px;
	height:123px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:34px 37px;
	display:inline-block;
	vertical-align:top;
	margin: 0px 20px 20px 0;

	input {
		display:none;
	}

	input:checked+label {
		border-color:$course-option-active;
    	box-shadow: inset 0 0 3px $course-option-active;

    	span {
    		font-size:$label-font-size;
			color:$course-option-active;
            opacity: 1;
			&.course-icon {
				color:$course-option-active;
			}
    	}

    	img {
			opacity:1;
    	}
	}

	label {
		color:$course-option-base;
		height:100%;
		display:inline-block;
		vertical-align: middle;
		width:100%;
		cursor:pointer;
		border:1px solid $border-color-base;
		border-radius:3px;

	}

	.course-selected {
		opacity:0;
		visibility: none;
		position:absolute;
		right:-4px;
		top:-3px;
	}

	.course-content {
		width:100%;
		text-align: center;
		position:relative;
		top:50%;
		transform:translateY(-50%);

		span {
			display:block;
			cursor:pointer;
			padding:0 10px;
			white-space:normal;

			&.course-icon {
				font-size:40px;
				color:$course-option-base;
			}
		}
	}

	&.active {

		.course-selected {
			display:block;
		}
		label {
			font-size:$label-font-size;
			color:$course-option-active;
		}
	}
}

@mixin input-field {
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearanance:none;
	border-radius:3px;
	background:$color-white;
	width:100%;
	border:1px solid $select-border-color;
	cursor:pointer;
	padding:16px 22px;
	font-size:$label-font-size;
	line-height: 1.5;
	&:focus {
		border-color:$border-color-active;
	}

	&.error-border {
		border-color:$border-color-error;
	}
}
.input-field {
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearanance:none;
	border-radius:3px;
	background:$color-white;
	width:100%;
	border:1px solid $select-border-color;
	cursor:pointer;
	padding:16px 22px;
	font-size:$label-font-size;
	line-height: 1.5;
	&:focus {
		border-color:$border-color-active;
	}

	&.error-border {
		border-color:$border-color-error;
	}
}

.radio-input {
	input {
		display:none;
	}
	label {
		display:inline-block;
		cursor:pointer;
	}
	input+label {
		padding:4px 0 4px 35px;
		background-image:url('/static/images/unchecked_radio.svg');
		background-repeat:no-repeat;
		background-size:20px;
		background-position:left center;
	}
	input:checked+label {
		background-image:url('/static/images/checked_radio.svg');
	}
}

.check-input {
	input {
		display: none;
	}
	label {
		display:inline-block;
		cursor:pointer;
	}
	input+label {
		padding:4px 0 4px 35px;
		background-image:url('/static/images/unchecked_checkbox.svg');
		background-repeat:no-repeat;
		background-size:20px;
		background-position:left 2px center;
	}
	input:checked+label {
		background-image:url('/static/images/checkbox.png');
	}
}

@mixin check-input {
	input {
		display:none;
	}
	label {
		display:inline-block;
		cursor:pointer;
	}
	input+label {
		padding:4px 0 4px 35px;
		background-image:url('/static/images/unchecked_checkbox.svg');
		background-repeat:no-repeat;
		background-size:20px;
		background-position:left 2px center;
	}
	input:checked+label {
		background-image:url('/static/images/checkbox.png');
	}
}
@mixin button($background) {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	border:0;
	padding:0;
	margin:0;
	background:$background;
	border-color:$button-border-color;
	border-radius:4px;
	padding:6px 25px;
	font-size:$base-font-size;
	margin:0 5px;
	color:$color-white;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;

	&.green {
		background-color:$button-color-green;
	}

	&.red {
		background-color:$button-color-red;
	}

	&.white {
		border:1px solid $button-border-color;
		color:$color-darkgrey;
	}

	&.edit {
		padding:3px 9px;
		img {
			width:17px;
			height:17px;

		}
	}
}

//candidate profile mixins...................


@mixin candidateEditComment{
	color: $link-color ;
	font-size: 13px;
	cursor: pointer;
}

@mixin skillTag{
	display:inline-block;
	margin:5px;
	margin-left: 0px;
	border:1px solid $border-color-base;
	padding:5px 15px;
	border-radius:25px;
	font-size:$view-resume-byline-font-size;
	background-color: #f3fbfb;
	color: #6e6e6e;
	padding-right: 25px;
	position: relative;
}

@mixin candidateTagInput{
	height: 40px;
    padding: 5px;
    font-size: 13px;
}

@mixin candidateCommentTextarea{
		width: 100%;
		padding: 5px;
		resize: none;
		// min-height: 50px;
		font-size: 13px;
		margin-bottom:15px;
		overflow: hidden;
		border: 1px solid #e8e8e8;
		padding-top: 15px;
		&:focus {
			outline: none;
			border: 1px solid $button-color-green;
		}
}

@mixin candidateCommentInput{
	background-color: #f3fbfb;
	color: #757575;
	font-size: 14px;
	text-align: left;
	// min-height: 40px;
	margin-bottom: 10px;
	border-left: 3px solid #cfebeb;
	line-height: 20px;
    padding: 10px;
	resize: none;
	padding-top:5px; 
}

@mixin candidateCommentButton{
	border-radius: 4px;
	padding: 6px 18px;
	font-size: 14px ;
	cursor: pointer;
	color: #2b2b2b;
	border: 1px solid #d8d5d5;
	background-color: #fff;
	margin: 7px 0px;
}


@mixin candidateTagButton{
	border-radius: 4px;
	padding: 6px 18px;
	font-size: 14px;
	cursor: pointer;
	color: #2b2b2b;
	border: 1px solid #d8d5d5;
	background-color: #fff;
	margin: 0px;
}


@mixin shortlist-wrapper{
	height: 30px;
	width: 100px;
	padding: 0%;
	border: 0;
	background: #149075;
	border-radius: 4px;
	font-size: 14px;
	margin: 0 5px;
	color: #FFF;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
}

@mixin reject-wrapper{
	height: 30px;
	width: 100px;
	padding: 0%;
	border: 0;
	padding: 0;
	margin: 0;
	background: #af595a;
	border-radius: 4px;
	font-size: 14px;
	margin: 0 5px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
}

@mixin shortlistActionButton{
	border: 1px solid $button-color-green !important;
	background-color: $color-white !important;
	color: $button-color-green !important;
	margin: 0%!important;
	padding: 7px 0px!important;
	width: 100%;
	height: 31px;
	&:hover{
		background:  $button-color-green !important;
		color:  $color-white !important;
	}
}
@mixin rejectActionButton{
	border: 1px solid $button-color-red !important;
	background-color: $color-white !important;
	color: $button-color-red !important;
	margin: 0%!important;
	padding: 7px 0px!important;
	width: 100%;
	height: 31px;
	&:hover{
		background:  $button-color-red !important;
		color:  $color-white !important;
	}
}

@mixin shortlistState{
	background-color: #1f8f75 !important;
    color: #fff !important;
    &:before {
        content: '\e828';
        font-family: 'fontello';
        font-size: 13px;
        padding-right: 3px;
    }	
}

@mixin rejectState{
	background-color: #af595a !important;
    color: #fff !important;
    &:before {
        content: '\e801';
        font-family: 'fontello';
        font-size: 11px;
        padding-right: 5px;
    }
}

//candidate profile mixin ends..........................

span {
	&.sticker {
		display:inline-block;
		background:$sticker-background-color;
		color:$color-white;
		font-size:12px;
		font-family:inherit;
		text-transform:uppercase;
		padding:6px 10px;
		margin:0 5px;
		display:inline-block;
		vertical-align:middle;
		&.followed-up {
			padding:6px 10px 6px 25px;
			background-image:url('/static/images/white-tick.svg');
			background-repeat:no-repeat;
			background-size:12px 9px;
			background-position:left 6px center;
		}
		&.pro-member {
			padding:3px;
			border-radius:4px;
			font-size:10px;
		}
	}
}

.button-action-list {
    display: inline-block;
    width: 165px;
    padding: 6px 15px;
    border: 1px solid $border-color-base;
    border-radius: 4px;
	cursor:pointer;
	position:relative;
	background:$options-list-background-color;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	label {
		cursor:pointer;
		background-image:url('/static/images/black_caret_down.svg');
	    background-position:right center;
	    background-repeat:no-repeat;
	}
    &.inactive {
    	border-bottom-left-radius: 4px;
    	border-bottom-right-radius: 4px;
		.action-list-items {
		    display: none;
		}
    }

    .action-list-items {
	    position: absolute;
	    top: 100%;
	    right: 0;
	    width: 165px;
	    left: 0;
	    margin: 0 -1px;
	    background: #FFF;
	    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	    border: 1px solid #e8e8e8;
	    list-style: none;
	    padding: 5px 0;
	    z-index:5;

	    li {
	    	padding:0 10px;
	    	margin:13px 0;
	    	a {
				font-size:$options-list-font-size;
				color:$options-list-link-color;
	    	}
	    }
    }
}

@mixin tag-container {
	border:1px solid $border-color-base;
	display:block;
	padding:7px 20px;
	position:relative;

	font-size:0;
	.input-tag {
		display:inline-block;
		background:$border-color-active;
		margin:3px;
		padding:0px 10px;
		border-radius:20px;

		.tag-icons {
			display:inline-block;
			font-size:$base-font-size;
			cursor:pointer;
		}

		.tag-name {
			display:inline-block;
		}
		span {
			color:$color-white;
			font-size:$base-font-size;
			padding:8px 5px;
			display:inline-block;
		}
	}
	.pill-button {
		position:relative;
		display:inline-block;
		input[type=text] {
			padding:7px 10px;
			margin:3px;
			border-radius:50px;
			border:1px solid $border-color-base;
			color:$color-label;
			font-size:$base-font-size;
			border:1px solid transparent;
			background:$color-white;
			z-index:10;
			width:200px;
			cursor:pointer;
			transition:all 0.2s ease-in-out;
			line-height: 20px;

			&:focus {
				border-color:$border-color-active;
			}
		}

		.pill-listing {
			display:inline-block;
			width:100%;
			position:absolute;
			top:0;
			transform:translateY(38px);
			opacity:1;
			left:0;
			z-index:3;
			transition:opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

			ul {
				margin:0;
				list-style:none;
				padding:0;
				max-height:150px;
				position:relative;
				overflow:auto;
				box-shadow:0 1px 2px $shadow-color;
				border:1px solid $border-color-base;
				-webkit-overflow-scrolling:touch;

				li {
					padding:5px 20px;
					display:block;
					width:100%;
					font-size:$base-font-size;
					background:$color-white;
					border-bottom:1px solid $border-color-base;
					cursor:pointer;
					word-wrap: break-word;



					&.selected {
						background-color:$active-hover-background;
					}

					&.tag-added {
						display:none !important;
					}

					&:last-child {
						border:0;
					}
				}
			}
		}

		&.inactive {

			.pill-listing {
				transform:translateY(25px);
				opacity:1;

				ul {
					height:0;
					overflow:auto;
					box-shadow:none;
					border:0;
				}
			}
		}
	}
}

#locationTags {
    .pill-listing {
        li:first-child {
            padding: 0;
            border: 0;
        }
    }
}

@media all and (max-width:768px) {

	.tag-container {
		.pill-button {
			.pill-listing {
				ul {
					max-height:300px;
				}
			}
		}
	}
}
