@import "fonts.scss";
@import 'common/spacings';
@import 'input-elements';
.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1500px; 
        .headings{
            font-family:$droid-font;
            color:  #5d5d5d;
            font-size: 22px;/* Approximation due to font substitution */
            font-weight: 400;
            text-align: left;
            margin-top: 33px;
            margin-left: 27px;
            padding-bottom: 35px;
        }

    .container{
        .form{
            .details{
                    font-family: $droid-font;
                    color:  #149075;
                    font-size: 26px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    height: 20px;
                    margin-left: 27px;
                }
                .row-separator{
                    clear: both;
                    width: 55%;
                    margin-top: 10px;
                    margin-left: 30px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #e8e8e8;
                }
            .input-name{
                margin-top: 10px;
                margin-left: 27px;
                margin-bottom: 20px;
                .tag{
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    margin-bottom: 14px;
                    }
                #name{
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 591px;
                    height: 48px;
                    resize: none;
                    outline: none;
                    padding: 16px 22px;
                    overflow: hidden;
                    font-size: 14px;
                }
                .error{
                    font-family:  $droid-font;
                    position: absolute;
                    font-size: 11px;
                    color: #ec1c2a;
                }
            }
            .message{
                margin-top: 10px;
                margin-left: 27px;
                margin-bottom: 20px;
                .tag{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    margin-bottom: 14px;
                    }
                .field{    
                    textarea,.medium-editor-element {
                        width:100%;
                        max-width:590px;
                        min-height: 98px;
                        height: auto;
                        padding: 12px 22px;
                        border-radius: 3px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        font-size: 14px;
                        border-radius: 2px;
                        background-color: inherit;
                        line-height:1.5;
                        overflow-y:hidden;
                        // box-sizing:content-box;
                        &:focus {
                            outline: none;
                          //  border-color: $border-color-active;;
                        }
                    }
                }   
                // #message{
                //     border-radius: 3px;
                //     border-style: solid;
                //     border-width: 1px;
                //     border-color:  #e4e4e4;
                //     box-sizing: border-box;
                //     background-color:  #ffffff;
                //     width: 591px;
                //     min-height: 98px;
                //     max-height: 100%;
                //     outline: none;
                //     padding: 16px 22px;
                //     overflow-y: hidden;
                //     font-size: 14px;
                // }
                .error-border{
                    border-color: #ee1620;
                }
                .error{
                    font-family:  $droid-font;
                    position: absolute;
                    font-size: 11px;
                    color: #ec1c2a;
                }
            }

            .telephonic{
                margin-top: 10px;
                margin-left: 27px;
                margin-bottom: 20px;
                .tag{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    margin-bottom: 14px;
                }
                .field{    
                    textarea,.medium-editor-element {
                        width:100%;
                        max-width:590px;
                        min-height: 98px;
                        height: auto;
                        padding: 12px 22px;
                        border-radius: 3px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        font-size: 14px;
                        border-radius: 2px;
                        background-color: inherit;
                        line-height:1.5;
                        overflow-y:hidden;
                        // box-sizing:content-box;
                        &:focus {
                            outline: none;
                          //  border-color: $border-color-active;;
                        }
                    }
                }
                .error{
                    font-family:  $droid-font;
                    position: absolute;
                    font-size: 11px;
                    color: #ec1c2a;
                }

               
            }
        }

        .Availability{
            margin-left: 27px;
            margin-top: 76px;
            margin-bottom: 40px;
            .heading{
                font-family:  $droid-font;
                color:  #149075;
                font-size: 26px;/* Approximation due to font substitution */
                font-weight: 400;
                text-align: left;
                padding-bottom: 10px;
               
            }

            .sub_heading{
                span{
                font-family:  $droid-font;
                color:  #2b2b2b;
                font-size: 14px;/* Approximation due to font substitution */
                font-weight: 500;
                text-align: left;
                font-weight: bold;
                
                }
                p{
                    /* Inline Style */
                font-family:  $droid-font;
                color:  #2b2b2b;
                font-size: 14px;/* Approximation due to font substitution */
                font-weight: 400;
                line-height: 23px;/* Approximation due to font substitution */
                text-align: left;
                margin-top: 5px;

                }
            }

            .connect{
                border-style: solid;
                border-width: 1px;
                border-color:  #d5d5d5;
                box-sizing: border-box;
                background-color:  #ffffff;
                width: 213px;
                height: 40px;
                border-radius: 100px;
                margin-top: 10px;
                margin-bottom: 10px;
                img{
                    float: left;
                    margin-left: 13px;
                    margin-top: 8px;
                }

                .connecting{
                    position: absolute;
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    margin-left: 47px;
                    margin-top: 10px;
                    z-index: 1;

                }
            }
        }

    }

    .second-container{
        width: 100%;
     //   height: 1261px;
        background-color:  #fcfbfb;
        display: inline-block;    
        .available-hours{
            margin-top: 37px;
            margin-left: 35px;
            .Days-available{
                float:left;
                margin-right: 5%;
                #available-span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .table{
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #fcfbfb;
                    border-style: solid;
                    width: 531px;
                    display: inline-block;
                    position: relative;
                    border-bottom: none;
                    margin-top: 15px;
                    .error{
                        font-family:  $droid-font;
                        position: absolute;
                        font-size: 14px;
                        color: #ec1c2a;
                        margin-top: -17px;
                    }
                    .D-avail{
                        background-color:  #f5f5f5;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        width: 530px;
                        height: 55px;
                        height: 40px;
                        display: inline-block;
                        border-top: none;
                        border-left: none;
                        #one{ 
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;
                            text-align: left;
                            width: 137px;
                            display: inline-block;
                            padding-left: 15px;
                            padding-bottom: 10px;
                            border-right: 1px solid #e4e4e4;
                            padding-top: 9px;
                          }

                        #two{
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;
                            text-align: left;
                            margin-left: 12px;
                            display: inline-block;

                        }
                        #three{
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;
                            text-align: left;
                            margin-left: 75px;
                            display: inline-block;
                        }
                    }
                    
                        .dayId{  
                            opacity: 0.5;  
                          .section{
                            background-color:  #f3fbfb;
                                width: 136px;
                                height: 70px;
                                float: left;
                                border-bottom: 1px solid #e4e4e4;
                                .check-input {

                                        margin-left: 15px;
                                        margin-top: 20px;
                                        input {
                                            display: none;
                                        }
                                        label {
                                            display:inline-block;
                                            cursor:pointer;
                                        }
                                        input+label {
                                            padding:4px 0 4px 35px;
                                            background-image:url('/static/images/unchecked_checkbox.svg');
                                            background-repeat:no-repeat;
                                            background-size:20px;
                                            background-position:left 2px center;
                                            color:#2b2b2b;
                                            font-size: 19px;/* Approximation due to font substitution */
                                            font-weight: 400;
                                            text-align: left;
                                        }
                                        input:checked+label {
                                             background-image:url('/static/images/checked_checkbox.svg');
                                            // font-family: "fontello";
                                            // font-size: 16px;
                                            // content: "\e81d";
                                        }  

                                        #Check-span{
                                            display: none;
                                            border-width: 1px;
                                            border-color: #e4e4e4;
                                          //  padding-bottom: 40px;
                                            padding-top: 5px;
                                        } 
                                }
                            }
                        }   
                        .time-section{
                            width: 74.2%;
                            height: 70px;
                            display: inline-block;
                            border-style: solid;
                            border-width: 1px;
                            border-color:  #e4e4e4;
                            box-sizing: border-box;
                            border-top: none;
                            border-right: none;
                                .timer{
                                    color:  #2b2b2b;
                                    font-size: 14px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: left;
                                }
                                .section-one{
                                   margin-left: 15px;
                                   margin-right: 15px;
                                    span{
                                        display: none!important;
                                    }       
                                   .select-dropdown ,.select-dropdown-2{
                                    margin-top: 15px;
                                    font-family: inherit;
                                    display: inline-block;
                                    font-size: 12px;
                                    color: #2b2b2b;
                                    padding: 10px 14px;
                                    border-radius: 3px;
                                    background: #FFF;
                                    width: 100px;
                                    border: 1px solid #e8e8e8;
                                    background-image: url("/static/images/black_caret_down.svg");
                                    background-repeat: no-repeat;
                                    background-position: right 18px center;
                                    cursor: pointer;
                                    border-color: #e8e8e8;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    -o-appearanance: none;
                                    outline: none; 
                                    }
                                   
                                }
                                .button-container{
                                   display: inline-block;
                                button{
                                    border: none;
                                    background-color: inherit;
                                    font-family: $droid-font;
                                    color:  #155d9a;
                                    font-size: 14px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: left;
                                    display: none;
                                    outline: none;
                                    }
                                }
                                .error-slot{
                                    font-family:  $droid-font;
                                    position: absolute;
                                    font-size: 12px;
                                    color: #ec1c2a;
                                    margin-left: 15px;
                                    margin-top: 5px;
                                }
                           }
                }


            }

            .Breaks-available{
                display: block;;
                margin-top: 50px;
                margin-bottom:100px;
                .timer{
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                }
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }
                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }
                .D-table{
                    margin-top: 20px;
                    box-sizing: border-box;
                    width: 286px;
                    .D-avail{
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        background-color:  #f5f5f5;
                        box-sizing: border-box;
                        margin-top: 0px;
                        width: 285px;
                        #two{
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;/* Approximation due to font substitution */
                            text-align: left;
                            margin-left: 18px;
                        }
                        #three{
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 33px;/* Approximation due to font substitution */
                            text-align: left;
                             margin-left: 73px;
                        }
                    }

                    .time-section{      
                        height: 80px;
                        width: 285px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        display: block;
                        box-sizing: border-box;
                        border-top:none;
                            .section-one{
                               margin-left: 15px;
                               margin-right: 15px;
                                .select-dropdown{
                                        margin-top: 20px;
                                        font-family: inherit;
                                        display: inline-block;
                                        font-size: 12px;
                                        color: #2b2b2b;
                                        padding: 10px 16px;
                                        border-radius: 3px;
                                        background: #FFF;
                                        width: 100px;
                                        border: 1px solid #e8e8e8;
                                        background-image: url("/static/images/black_caret_down.svg");
                                        background-repeat: no-repeat;
                                        background-position: right 18px center;
                                        cursor: pointer;
                                        border-color: #e8e8e8;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        -o-appearanance: none; 
                                        outline: none;
                                    }
                    
                            }
                    }
                }


            }

            .preview{
              //  width: 616px;
                //height: 682px;
                display: inline-block;
                margin-top: 0px;
                margin-right: 35px;
                .heading{
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    width: 25%;
                    position: absolute;
                    margin-top: 25px;
                }
                .button-prev{
                    position: absolute;
                    display: inline-block; 
                    margin-left: 562px;
                    margin-top: 20px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #c4c4c4;
                    box-sizing: border-box;
                    background-color:  #f5f5f5;
                    width: 23px;
                    height: 22px;
                    text-align: center;
                    img{
                        vertical-align: middle;
                    }
                }
                .button-next{
                    position: absolute;
                    display: inline-block;
                    margin-left: 592px;
                    margin-top: 20px;
                    border-width: 1px;
                    border-style: solid;
                    border-color:  #c4c4c4;
                    box-sizing: border-box;
                    background-color:  #f5f5f5;
                    width: 23px;
                    height: 22px;
                    text-align: center;

                    img{
                           vertical-align: middle;
                    }
                }
            }


            .start-date{
                clear: both;
                float: left;
               // margin-top: 56px;
                margin-left: 10px;
                width: 90%;
                margin-top: -50px;
               
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .section{
                    .radio-input {
                        input {
                            display:none;
                        }
                        label {
                            display:inline-block;
                            cursor:pointer;
                        }
                        input+label {
                            padding:4px 0 4px 35px;
                            background-image:url('/static/images/unchecked_radio.svg');
                            background-repeat:no-repeat;
                            background-size:20px;
                            background-position:left center;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 31px;/* Approximation due to font substitution */
                            text-align: left;
                        }
                        input:checked+label {
                            background-image:url('/static/images/checked_radio.svg');
                        }
                    }
                    #startdatepicker{
                        border-radius: 3px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #e4e4e4;
                        box-sizing: border-box;
                        background-color: #ffffff;
                        width: 283px;
                        height: 48px;
                        outline: none;
                        padding-top: 12px;
                        margin-top: 20px;
                    }
                    img{
                        margin-left: 20px;
                    }
                }

            }

            .end-date{
                clear: both;
                float: left;
                margin-top: 46px;
                margin-left: 10px;
                margin-bottom: 30px;
                width: 90%;
               
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .section{
                    .radio-input {
                        input {
                            display:none;
                        }
                        label {
                            display:inline-block;
                            cursor:pointer;
                        }
                        input+label {
                            padding:4px 0 4px 35px;
                            background-image:url('/static/images/unchecked_radio.svg');
                            background-repeat:no-repeat;
                            background-size:20px;
                            background-position:left center;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 31px;/* Approximation due to font substitution */
                            text-align: left;
                        }
                        input:checked+label {
                            background-image:url('/static/images/checked_radio.svg');
                        }
                    }

                    #enddatepicker{
                        border-radius: 3px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #e4e4e4;
                        box-sizing: border-box;
                        background-color: #ffffff;
                        width: 283px;
                        height: 48px;
                        outline: none;
                        padding-top: 12px;
                        margin-top: 20px;
                    }
                    img{
                        margin-left: 20px;
                    }

                }

            }
        
        }
    }

    .bottom-container{
        width: 100%;
        height: 135px;
             .formgroup button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    border: 0;
                    padding: 0;
                    margin: 0;  
                    background: #0c9175;
                    border-radius: 4px;
                    padding: 1px 4px;
                    font-size: 14px;
                    margin-top: 15px;
                    display: block;
                    width: 162px;
                    height: 41px;
                    padding: 12px;
                    color: #FFF;
                    display: inline-block;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 400;
                    margin-left: 45px;
                    margin-top: 2%;
        }

     
    }
}

//media queries

@media only screen and (max-width: 1260px){
    .wrap{
        .second-container{
            .available-hours{
                .preview{
                    float: none;
                    margin-bottom: 100px;
                }
                .Breaks-available{
                    float: none;
                    display: block;
                    margin-top: 50px;
                }

            }
        }    
    }
}




@media only screen and (max-width: 768px){
 .wrap{   
       .container{
                .form{ 
                    .input-name{
                        #name{
                            width: 90%;
                            height: 48px;
                        }
                    }
                  
                    .message{
                        #message{
                             width: 90%;
                            height: 98px;
                        }
                    }

                    .telephonic{
                        #telephonic{
                            width: 90%;

                        }
                    }
                    
                }    
        }
    }

}

@media only screen and (max-width: 600px){
    .wrap{
        .second-container{
            .available-hours{   
                .Days-available{
                    width: 100%!important;
                    .table{
                     width: 90%;
                     border-style: none;
                     .D-avail{
                        display: none;
                        }
                   
                    .day{
                        width: 100%;
                        margin-top: 50px;
                        .section{
                            width: 100%!important;
                            .check-input{
                                 width: 100%!important;
                                 margin-left: 0px!important;
                                 margin-top: 0px!important;
                                #Check-span{
                                    display: inline-block!important;
                                    color:  #2b2b2b;
                                    font-size: 14px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    line-height: 23px;/* Approximation due to font substitution */
                                    text-align: left;
                                    transform: scaleX(1.0011);/* width and height properties ommitted due to transform */  
                                    width: 40%;
                                    padding-top: 20px!important;
                                    padding-bottom: 25px;
                                    background-color: #f5f5f5;
                                    padding-left: 14px;
                                    border-right: 1px solid #e8e8e8;
                                }
                                input +label{
                                    margin-left: 52px;
                                }
                            }
                        }
                    }
                    .time-section{
                        width: 100%!important;
                        min-height: 130px;
                        margin-bottom: 30px;
                        border-bottom: none;
                        span{
                            display: none;
                        }
                        .button-container{
                            text-align: center;
                            border: 1px solid #e4e4e4;
                            border-top: 0;
                            border-color: #e4e4e4;
                            box-sizing: border-box;
                            clear: both;
                            padding-left: 32%;
                            padding-right: 67.6%;
                            margin-left: -1px;
                            margin-right: -1px;
                            display: block;
                            button{
                                width: 100px;
                                padding-top: 15px;
                                padding-bottom: 15px;
                            }
                        }   
                        .section-one{
                            display: block!important;
                            margin: 0%!important;
                            padding-left: 0px;
                            border-bottom: 1px solid #e8e8e8;
                            .Start-time{
                               margin: 0%;
                               margin-left: 52px;
                            }
                            .End-time{
                               margin: 0%;
                               margin-left: 52px;
                            }
                            #Checkin{
                                display: inline-block !important;
                                width: 40%;
                                padding: 19px 16px;
                                padding-top: 21px;
                                color:  #2b2b2b;
                                font-size: 14px;/* Approximation due to font substitution */
                                font-weight: 400;
                                line-height: 23px;/* Approximation due to font substitution */
                                text-align: left;
                                border-right: 1px solid #e8e8e8;
                            }
                        }
                    }
                }
            }
                .Breaks-available{
                    top: 10px;
                    margin-bottom: 100px;
                }
                .preview{
                 display: none!important;
                }

                .start-date{
                    .section{
                        .input-field{
                         width: 70%;
                        }
                        #startdatepicker{
                            border-radius: 3px;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #e4e4e4;
                            box-sizing: border-box;
                            background-color: #ffffff;
                            width: 203px;
                            height: 40px;
                            outline: none;
                        }
                    }
                }    
                .end-date{
                    .section{
                        .input-field{
                         width: 70%;
                        }
                        #enddatepicker{
                            border-radius: 3px;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #e4e4e4;
                            box-sizing: border-box;
                            background-color: #ffffff;
                            width: 203px;
                            height: 40px;
                            outline: none;
                        }
                
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 375px){
    .wrap{
        .second-container{
            .available-hours{   
                .Days-available{
                    width: 100%!important;
                    .table{
                     width: 90%;
                     border-style: none;
                     .D-avail{
                        display: none;
                        }
                   
                    .day{
                        width: 100%;
                        margin-top: 20px;
                        .section{
                            width: 100%!important;
                            .check-input{
                                 width: 100%!important;
                                 margin-left: 0px!important;
                                 margin-top: 0px!important;
                                #Check-span{
                                    display: inline-block!important;
                                    color:  #2b2b2b;
                                    font-size: 10px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    line-height: 23px;/* Approximation due to font substitution */
                                    text-align: left;
                                    transform: scaleX(1.0011);/* width and height properties ommitted due to transform */  
                                    width: 40%;
                                    padding-top: 20px!important;
                                    padding-bottom: 25px;
                                    background-color: #f5f5f5;
                                    padding-left: 14px;
                                    border-right: 1px solid #e8e8e8;
                                }
                                input +label{
                                    margin-left: 30px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    .time-section{
                        width: 100%!important;
                        min-height: 130px;
                        margin-bottom: 30px;
                        span{
                            display: none;
                        }
                        button{
                            clear: both;
                            margin-left: 30%;
                          //  padding-top:10px; 
                        }
                        .section-one{
                            display: block!important;
                            margin: 0%!important;
                            padding-left: 0px;
                            border-bottom: 1px solid #e8e8e8;
                            .Start-time{
                               margin: 0%;
                               margin-left: 30px;
                            }
                            .End-time{
                               margin: 0%;
                               margin-left: 30px;
                            }
                            #Checkin{
                                display: inline-block !important;
                                width: 40%;
                                color:  #2b2b2b;
                                font-size: 10px;/* Approximation due to font substitution */
                                font-weight: 400;
                                line-height: 23px;/* Approximation due to font substitution */
                                text-align: left;
                                border-right: 1px solid #e8e8e8;
                            }
                        }
                    }
                }
            }
                .Breaks-available{
                    .D-table{
                        width:90%;
                            .D-avail{
                                width: 100%;
                                #two{
                                    margin-left: 8px;
                                }
                                #three{
                                    margin-left: 65px;
                                }
                            }
                        .time-section{
                            width: 100%;
                            .section-one{
                                .select-dropdown{
                                    width: 38%;
                                    margin-left:-7px;
                                }
                            }
                        }
                    }
                }
                .preview{
                 display: none!important;
                }
                .start-date{
                    .section{
                       
                        .input-field{
                         width: 60%;
                        }
                        .radio-input {
                            input + label {
                                line-height: 20px;
                            }
                        }
                        #startdatepicker{
                            border-radius: 3px;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #e4e4e4;
                            box-sizing: border-box;
                            background-color: #ffffff;
                            width: 183px;
                            height: 40px;
                            outline: none;
                        }   
                    }
                }    
                .end-date{
                    .section{
                        .input-field{
                         width: 55%;
                        }
                        img{
                           // padding-right:52px;
                           padding-top: 10px;
                        }
                        .radio-input {
                            input + label {
                                line-height: 20px;
                            }
                        } 
                        #enddatepicker{
                            border-radius: 3px;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #e4e4e4;
                            box-sizing: border-box;
                            background-color: #ffffff;
                            width: 183px;
                            height: 40px;
                            outline: none;
                        }
                
                    }
                }
            }
        }
    }

}


