.wrap .second-container .available-hours .Days-available .table .dayId .section .check-input input {
    display: block;
}

.wrap .second-container .available-hours .start-date .section .radio-input input {
    display: block;
}

.wrap .second-container .available-hours .end-date .section .radio-input input {
    display: block;
}
