@import "fonts.scss";
@import 'common/spacings';

.wrap{
    margin: 0;
    padding: 0;
    //height: 2050px;
    font-family:  $droid-font;
    display: inline-block;  
    width: 100%;  
        .headings{
            font-family:$droid-font;
            color:  #5d5d5d;
            font-size: 22px;/* Approximation due to font substitution */
            font-weight: 400;
            text-align: left;
            margin-top: 33px;
            margin-left: 27px;
            padding-bottom: 35px;
        }

    .container{
        .form{
            .details{
             
                    font-family: $droid-font;
                    color:  #149075;
                    font-size: 26px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    height: 20px;
                
               
                    margin-left: 27px;
            }
            .input-name{
                margin-top: 10px;
                margin-left: 27px;
                span{
                   
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    }

                #name{
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 591px;
                    height: 48px;
                    resize: none;
                    outline: none;
                }
            }

            .message{
                margin-top: 10px;
                margin-left: 27px;
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    }

                #message{
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 591px;
                    height: 98px;
                    resize: none;
                    outline: none;
                }
            }

            .telephonic{
                margin-top: 10px;
                margin-left: 27px;
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    }

                #telephonic{
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #ffffff;
                    width: 591px;
                    height: 111px;
                    resize: none;
                    outline: none;
                }
            }

   

        }

        .Availability{
            margin-left: 27px;
            margin-top: 76px;
            .heading{
                font-family:  $droid-font;
                color:  #149075;
                font-size: 26px;/* Approximation due to font substitution */
                font-weight: 400;
                text-align: left;
                padding-bottom: 10px;
               
            }

            .sub_heading{
                span{
                font-family:  $droid-font;
                color:  #2b2b2b;
                font-size: 14px;/* Approximation due to font substitution */
                font-weight: 500;
                text-align: left;
                font-weight: bold;
                
                }
                p{
                    /* Inline Style */
                font-family:  $droid-font;
                color:  #2b2b2b;
                font-size: 14px;/* Approximation due to font substitution */
                font-weight: 400;
                line-height: 23px;/* Approximation due to font substitution */
                text-align: left;
                margin-top: 5px;

                }
            }

            .connect{
                border-style: solid;
                border-width: 1px;
                border-color:  #d5d5d5;
                box-sizing: border-box;
                background-color:  #ffffff;
                width: 213px;
                height: 40px;
                border-radius: 100px;
                margin-top: 10px;
                margin-bottom: 10px;
                img{
                    float: left;
                    margin-left: 10px;
                    margin-top: 10px;
                   
                }

                .connecting{
                    position: absolute;
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    margin-left: 40px;
                    margin-top: 13px;
                    z-index: 1;

                }
            }
        }

    }



    .second-container{

        width: 100%;
     //   height: 1261px;
        background-color:  #fcfbfb;
        display: inline-block;    
        .available-hours{
            margin-top: 37px;
            margin-left: 35px;
            .Days-available{
                display: inline-block;
                float:left;
                margin-right: 10px;
                #available-span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .table{
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #fcfbfb;
                    width: 531px;
                    //height: 462px;
                    display: inline-block;
                    position: relative;
                     
                    .D-avail{
                        background-color:  #f5f5f5;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        width: 529px;
                        height: 41px;
                        
                        #one{
                            
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;/* Approximation due to font substitution */
                            text-align: left;
                            margin-left: 15px;
                        }

                        #two{
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;/* Approximation due to font substitution */
                            text-align: left;
                            margin-top: 20px;
                            margin-left: 46px;

                        }
                        #three{

                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;/* Approximation due to font substitution */
                            text-align: left;
                            margin-top: 20px;
                            margin-left: 66px;
                        }
                    }

                    
                        .day{
                          .section{
                                background-color:  #f3fbfb;
                                width: 136px;
                                height: 70px;
                                float: left;
                                border-style: solid;
                                border-width: 1px;
                                border-color:  #e4e4e4;
                                .check-input {

                                        margin-left: 15px;
                                        margin-top: 20px;
                                        input {
                                            display: none;
                                        }
                                        label {
                                            display:inline-block;
                                            cursor:pointer;
                                        }
                                        input+label {
                                            padding:4px 0 4px 35px;
                                            background-image:url('/static/images/unchecked_checkbox.svg');
                                            background-repeat:no-repeat;
                                            background-size:20px;
                                            background-position:left 2px center;
                                        }
                                        input:checked+label {
                                            background-image:url('/static/images/checked_checkbox.svg');
                                        }  

                                        #Check-span{
                                            display: none;
                                            border-width: 1px;
                                            border-color: #e4e4e4;
                                            padding-bottom: 40px;
                                            padding-top: 5px;
                                        }
                                       
                                }
                                    
                            }
                        }   
                        .time-section{
                            width: 74.2%;
                            height: 70px;
                            display: inline-block;
                            border-style: solid;
                            border-width: 1px;
                            border-color:  #e4e4e4;
                            box-sizing: border-box;
                                .section-one{
                                   margin-left: 15px;
                                   margin-right: 15px;
                                    span{
                                        display: none!important;
                                    }
                                   
                                   .select-dropdown ,.select-dropdown-2{
                                    margin-top: 10px;
                                    font-family: inherit;
                                    display: inline-block;
                                    font-size: 12px;
                                    color: #818181;
                                    padding: 10px 22px;
                                    border-radius: 3px;
                                    background: #FFF;
                                    width: 100px;
                                    border: 1px solid #e8e8e8;
                                    background-image: url("/static/images/black_caret_down.svg");
                                    background-repeat: no-repeat;
                                    background-position: right 18px center;
                                    cursor: pointer;
                                    border-color: #e8e8e8;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    -o-appearanance: none; 
                                    }
                                   
                                }
                               
                                button{
                                    border: none;
                                    background-color: inherit;
                                    font-family: $droid-font;
                                    color:  #155d9a;
                                    font-size: 14px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    text-align: left;
                                    display: none;
                                    outline: none;
                                   
                                }
                            

                        }
                    
                    

                    
                }


            }

            .preview{
               
                float: right;
                border-style: solid;
                border-width: 1px;
                border-color:  #e4e4e4;
                box-sizing: border-box;
                background-color:  #ffffff;
                width: 616px;
                //height: 682px;
                display: inline-block;
                margin-top: 37px;
                margin-right: 35px;
            }

            .Breaks-available{
                float: none;
                margin-top: 50px; 
                vertical-align: top;
                display: inline-block;
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .table{
                    border-style: solid;
                    border-width: 1px;
                    border-color:  #e4e4e4;
                    box-sizing: border-box;
                    background-color:  #fcfbfb;
                    width: 286px;
                    height: 120px;

                    .D-avail{
                        background-color:  #f5f5f5;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        width: 100%;
                        height: 41px;
                      

                        #two{
                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 23px;/* Approximation due to font substitution */
                            text-align: left;
                            margin-left: 46px;

                        }
                        #three{

                            font-family: $droid-font;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 33px;/* Approximation due to font substitution */
                            text-align: left;
                             margin-left: 46px;
                        }
                    }

                    .time-section{
                           
                        height: 77px;
                        float: left;
                        display: inline-block;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                            .section-one{
                               margin-left: 15px;
                               margin-right: 15px;
                               
                              
                               
                                .select-dropdown{
                                        margin-top: 10px;
                                        font-family: inherit;
                                        display: inline-block;
                                        font-size: 12px;
                                        color: #818181;
                                        padding: 10px 22px;
                                        border-radius: 3px;
                                        background: #FFF;
                                        width: 100px;
                                        border: 1px solid #e8e8e8;
                                        background-image: url("/static/images/black_caret_down.svg");
                                        background-repeat: no-repeat;
                                        background-position: right 18px center;
                                        cursor: pointer;
                                        border-color: #e8e8e8;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        -o-appearanance: none; 
                                    }
                    
                            }

                    }
                }


            }


            .start-date{
                clear: both;
                float: left;
                margin-top: 56px;
                margin-left: 10px;
                width: 90%;
               
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .section{
                    .radio-input {
                        input {
                            display:none;
                        }
                        label {
                            display:inline-block;
                            cursor:pointer;
                        }
                        input+label {
                            padding:4px 0 4px 35px;
                            background-image:url('/static/images/unchecked_radio.svg');
                            background-repeat:no-repeat;
                            background-size:20px;
                            background-position:left center;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 31px;/* Approximation due to font substitution */
                            text-align: left;
                        }
                        input:checked+label {
                            background-image:url('/static/images/checked_radio.svg');
                        }
                    }


                    img{
                        float: none;
                        display: inline-block;
                        margin-top: 21px;
                        vertical-align: top;
                        clear: both;
                        margin-left: 20px;
                    }

                    .input-field{
                        border-radius: 3px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        background-color:  #ffffff;
                        width: 283px;
                        height: 48px;
                        margin-top: 21px;
                        resize:none;
                        outline: none;
                    }
                }

            }

            .end-date{
                clear: both;
                float: left;
                margin-top: 56px;
                margin-left: 10px;
                margin-bottom: 30px;
                width: 90%;
               
                span{
                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    text-align: left;
                    font-weight: bold;
                }

                p{

                    font-family:  $droid-font;
                    color:  #2b2b2b;
                    font-size: 14px;/* Approximation due to font substitution */
                    font-weight: 400;
                    line-height: 23px;/* Approximation due to font substitution */
                    text-align: left;
                }

                .section{
                    .radio-input {
                        input {
                            display:none;
                        }
                        label {
                            display:inline-block;
                            cursor:pointer;
                        }
                        input+label {
                            padding:4px 0 4px 35px;
                            background-image:url('/static/images/unchecked_radio.svg');
                            background-repeat:no-repeat;
                            background-size:20px;
                            background-position:left center;
                            color:  #2b2b2b;
                            font-size: 14px;/* Approximation due to font substitution */
                            font-weight: 400;
                            line-height: 31px;/* Approximation due to font substitution */
                            text-align: left;
                        }
                        input:checked+label {
                            background-image:url('/static/images/checked_radio.svg');
                        }
                    }

                    img{
                        float: none;
                        display: inline-block;
                        margin-top: 21px;
                        vertical-align: top;
                        clear: both;
                        margin-left: 20px;
                       // padding-right: 15%;
                    }
                    .input-field{
                        border-radius: 3px;
                        border-style: solid;
                        border-width: 1px;
                        border-color:  #e4e4e4;
                        box-sizing: border-box;
                        background-color:  #ffffff;
                        width: 283px;
                        height: 48px;
                        margin-top: 21px;
                        resize:none;
                        outline: none;
                    }

                }

            }
        
        }

       


    }

    .bottom-container{
       
        width: 100%;
        height: 100px;
             .formgroup button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    border: 0;
                    padding: 0;
                    margin: 0;  
                    background: #0c9175;
                    border-radius: 4px;
                    padding: 1px 4px;
                    font-size: 14px;
                    margin-top: 15px;
                    display: block;
                    width: 162px;
                    height: 41px;
                    padding: 12px;
                    color: #FFF;
                    display: inline-block;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 400;
                    margin-left: 2%;
                    margin-top: 2%;
        }

     
    }
}


//media queries

@media only screen and (max-width: 1260px){

    .wrap{   
       // height: 2750px;
        .second-container{
            // height: 1961px;
         
            .available-hours{
                .preview{
                    float: none;
                }
                .Breaks-available{
                  
                    float: none;
                    display: block;
                    margin-top: 80px;
                }

            }
        }    
    }
}




@media only screen and (max-width: 768px){
 .wrap{   
       .container{
                .form{ 
                    .input-name{
                        #name{
                            width: 90%;
                            height: 48px;
                        }
                    }
                  
                    .message{
                        #message{
                             width: 90%;
                            height: 98px;
                        }
                    }

                    .telephonic{
                        #telephonic{
                            width: 90%;

                        }
                    }
                    

                }   
                
                
        }

        // .second-container{
        //     .available-hours{
        //         .Days-available{
        //             width: 100%;
        //             .table{
        //                 width: 80%;
        //                 .D-avail{
        //                     width: 100%;
        //                 }
        //                 .day{
        //                     width: 100%;
        //                 .section{
        //                     width: 20%;
        //                 }
        //                 .time-section{
        //                     width: 90%!important;
        //                     margin: 0%;
        //                     padding: 0%;
        //                 }
        //                 }
                     
        //             }
                    
        //         }
        //         .preview{
        //             width: 90%;

        //         }
        //     }
        // }
    }

}

@media only screen and (max-width: 600px){
  
    .wrap{
     //   height: 2850px;
        .second-container{
       //     height: 2050px;
            .available-hours{   
              
                .Days-available{
                    width: 100%;
                    margin-top: -100px;
                    .table{
                     width: 90%;
                     border-style: none;
                    }
                    .D-avail{
                        display: none;
                    }
                    .day{
                        .section{
                            width: 100%!important;
                            .check-input{
                                width: 100%;
                                margin-top: 20px!important;
                                margin-left: 15px!important;
                                #Check-span{
                                    display: inline-block!important;
                                    color:  #2b2b2b;
                                    font-size: 14px;/* Approximation due to font substitution */
                                    font-weight: 400;
                                    line-height: 23px;/* Approximation due to font substitution */
                                    text-align: left;
                                    transform: scaleX(1.0011);/* width and height properties ommitted due to transform */  
                                    width: 50%;
                                }
                                input+label{
                                   // margin-left: 30%;
                                }
                            }
                        }
                    }

                    .time-section{
                        width: 100%!important;
                        height: 120px!important;
                        margin-bottom: 20px;
                        label{
                            display: none;
                        }
                        button{
                            clear: both;
                            margin-left: 30%;
                        }
                        .section-one{
                            display: block!important;
                            margin: 0%!important;
                            padding-left: 15px;
                            .Start-time{
                               margin: 0%;
                            }
                            .End-time{
                               margin: 0%;
                            }
                            #Checkin{
                                display: inline-block!important;
                                width: 50%;
                                
                            }
                        }
                    }
                }
                .Breaks-available{
                    margin-top: 140px;
                }
                .preview{
                 display: none!important;
                }

                .start-date{
                    .section{
                        .input-field{
                         width: 70%;
                        }
                
                    }
                }    
                .end-date{
                    .section{
                        .input-field{
                         width: 70%;
                        }
                
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 350px){
    .wrap{
       // height: 3100px;
        .second-container{
          //  height: 2250px;
            .available-hours{   
                .Days-available{
                    width: 100%;
                    .table{
                     width: 90%;
                     border-style: none;
                    }
                    .D-avail{
                        display: none;
                    }

                   
                }
                .Breaks-available{
                  //  margin-top: 140px;
                    //margin-left: -5px;

                    .table{
                        width:90%;
                            .D-avail{
                                #two{
                                    margin-left: 30px;
                                }
                            }
                        .time-section{
                            width: 100%;
                            .section-one{
                                .select-dropdown{
                                    width: 38%;
                                    margin-left:-7px;
                                }
                            }
                        }
                    }
                }
                .preview{
                 display: none!important;
                }

                .start-date{
                    .section{
                       
                        .input-field{
                         width: 60%;
                        }
                
                    }
                }    
                .end-date{
                    .section{
                        .input-field{
                         width: 60%;
                        }
                        img{
                            padding-right:52px;
                        }
                
                    }
                }
            }
        }
    }
 



}
