@import "colors.scss";
@import "fonts.scss";

.logo-container {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    font-family: $droid-font;
    .logo-main {
        font-size: 64px;
        display: inline-block;
    }
    .logo-extra {
        font-size: 30px;
        text-align: right;
        margin-right: 10px;
    }
}

.login-container {
    width: 60%;
    margin: 20px auto;
    .login-tab-container {
        text-align: center;
        margin-bottom: 50px;
        .login-tab {
            display: inline-block;
            padding: 0 32px;
            line-height: 49px;
            font-size: 24px;
            &.recruiter {
                background-color: #996;
                color: #fff;
                border: 1px solid #996;
                border-radius: 0 4px 4px 0;

            }
            &.jobseeker {
                background-color: #fff;
                color: #4b4b4b;
                border: 1px solid #996;
                border-radius: 4px 0 0 4px;
                cursor: pointer;
                margin-right: -10px;
            }
        }
    }

    .form {
        display: inline-block;
        width: 38%;
        padding: 0 20px;

        .form_heading {
            display: inline-block;
            font-size: 20px;
            color: $color-black-text;
            margin-bottom: 10px;
        }

        .field {
            padding: 10px 0 5px 0;
            position: relative;
            &.links {
                height: 20px;
                line-height: 20px;
            }
            .button.log-in {
                position: absolute;
                left: 0;
            }
            .lost-paswd-link {
                position: absolute;
                right: 0;

            }
            input, select {
                padding: 8px 16px;
                border: 1px solid $select-border;
                width: 100%;
                box-sizing: border-box;
                background-color: inherit;
            }
        }
    }

    .login-form {
        vertical-align: top;
        padding-right: 40px;
        .forgot-password-form {
            margin-top: 20px;
        }
    }

    .register-form {
        border-left: 1px solid #d8d8d8;
        height: 100%;
        padding-left: 40px;
    }
}
