@import "fonts.scss";
@import 'input-elements';
@import 'chat-sidebar';
@import 'components/modal';

.page-content{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    .main-container {
        padding: 20px;
        min-height: calc(100% - 155px);
        margin:0 auto;
        max-width: 1440px;
        .page-heading {
            margin: 0;
            color: $color-label;
            font-size: $modal_heading-font-size;
            font-weight: 600;
            text-align: left;
            display: inline-block;
            margin-bottom: 20px;
        }
        .mass-resume-table {
            width: 100%;
            .mass-resume-header {
                margin: 0;
                padding: 10px;
                width: 100%;
                border: 1px solid #e2e2e2;
                border-radius: 1px;
                background-color: #F1FBFB;
                font-size: 12px;
                display: table;
                font-weight: bold;

                .column{
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                }
            }
            .row {
                display: table;
                padding: 10px;
                font-size: 13px;
                border-bottom: 1px solid #ebebeb;
            }
            .column {
                display: table-cell;
                color: #2b2b2b;
                font-size: 15px;
                font-weight: 400;
                &.date {
                    width: 12%;
                    font-size: 15px;
                    color: #2b2b2b;
                }
                &.request-id {
                    width: 13%;
                    color: #2b2b2b;
                    font-size: 14px;
                }
                &.status {
                    width: 20%;
                    min-width: 300px;
                    color: #2b2b2b;
                }
                &.downloaded {
                    width: 15%;
                    color: #2b2b2b;
                    font-size: 14px;
                }
                &.resumes {
                    width: 13%;
                    color: #2b2b2b;
                    font-size: 14px;
                    text-align: center;
                }
                &.download-link {
                    width: 22%;
                    .download-link {
                        margin-top: 5px;
                        a {
                            text-decoration: none;
                            &:hover {
                                color: $link-hover-color;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}