@import "fonts.scss";
@import 'input-elements';
@import 'chat-sidebar';
@import 'components/modal';

.shell {
    &.row {
        width: 100%;
    }
    .section {
        margin-bottom: 10px !important;
    }
    p {
        @include title-shell;
        width: 100%;
        height: 10px;
    }
    span {
        display: block !important;
        width: calc(50% - 10px);
        @include text-shell;
        height: 10px;
        &.date {
            width: 100px !important;
        }
        &.status {
            width: 100px !important;
        }
        &.downloaded {
            width: 100px !important;
        }
    }
}

.page-content{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px;
    .main-container {
        .mass-resume-wrapper {
            overflow-x: auto;
        }
        .page-heading {
            margin: 0;
            color: $color-label;
            font-size: $modal_heading-font-size;
            font-weight: 600;
            text-align: left;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 25px;
        }
        .mass-resume-table {
            width: 1200px;
            margin: 0px auto;
            .mass-resume-header {
                margin: 0;
                padding: 10px;
                width: 100%;
                border: 1px solid #e2e2e2;
                border-radius: 1px;
                background-color: #F1FBFB;
                font-size: 12px;
                display: table;
                font-weight: bold;

                .column{
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                }
            }
            .mass-resume-content {
                background-color: #fff;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;

                .empty-view{
					.image-container{
                        padding-top: 20px;
						text-align: center;
						img{
							width: 15%;
						}
					}
					.heading{
                        text-align: center;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: 16px;
					}
					.subheading{
						text-align: center;
						color: #888;
                        padding-bottom: 20px;
                        font-size: 16px;
					}
				}
            }
            .row {
                display: table;
                padding: 10px;
                font-size: 13px;
                border-bottom: 1px solid #ebebeb;

            }
            .column {
                display: table-cell;
                color: #2b2b2b;
                font-size: 15px;
                font-weight: 400;
                &.date {
                    width: 12%;
                    font-size: 15px;
                    color: #2b2b2b;
                }
                &.request-id {
                    width: 13%;
                    color: #2b2b2b;
                    font-size: 14px;
                }
                &.status {
                    width: 20%;
                    min-width: 300px;
                    color: #2b2b2b;
                }
                &.downloaded {
                    width: 15%;
                    color: #2b2b2b;
                    font-size: 14px;
                }
                &.resumes {
                    width: 13%;
                    color: #2b2b2b;
                    font-size: 14px;
                    
                }
                &.download-link {
                    width: 22%;
                    .download-link {
                        margin-top: 5px;
                        a {
                            text-decoration: none;
                            &:hover {
                                color: $link-hover-color;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
