@import 'common/spacings';
@import 'input-elements';
@import 'chat-sidebar';

.not-active {
	    background: rgba(255, 0, 0, 0.74) !important;
}

.conversation-item-active {
	background-color: $resume-profile-snapshot-background;
}

.back-button {
	display: inline-block;
    margin-top: 4px;
    margin-right: 5px;
    cursor: pointer;
    color: #737373;
    font-size: 17px;

}

.page-content {
	@include page-content;
	height: calc(100% - 75px);
	min-height: calc(100% - 75px);
	background-color: $body-background-color;
	.main-wrapper {
		height: 100%;
		position: relative;
	}
	.main-wrapper-chat {
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;

		.main-container {
			height:100%;

			.container {
				height:100%;
			}
		}
	}
	.chat-container {
		display:block;
		width:100%;
		height:100%;
		border:1px solid $border-color-base;
		background-color:$color-white;
		border-radius:4px;

		.chat-header {
			padding:20px;
			border-bottom:1px solid $border-color-base;
			h3 {
				margin:0;
				display:inline-block;
				font-size:$page-subtitle-font-size;
				color: $inline-link-color;
			}

			span {
				&.user-status-indicator {
					display:inline-block;
					width:10px;
					height:10px;
					border-radius:50%;
					font-size:$base-font-size;
					margin:0 2px 0 15px;
					&.online {
						background:$user-status-online;
					}

					&.offline {
						background:$user-status-offline;
					}
				}

				&.user-status {
					color:$extra-info-color;
					font-size: 14px;
				}
			}
		}

		.mobile-user-profile {
			background-color:$color-white;
			padding:10px;
			font-size:$base-font-size;
			height:50px;
			overflow:hidden;
			display:none;
			border-bottom: 1px solid #e8e8e8;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			.user-details {

				.user-item {
					display:inline-block;
					vertical-align:top;

					&.user-image {
						padding-right:10px;
						img {
							height:30px;
							width:30px;
							border-radius:50%;
							border: 1px solid #eee;
						}
					}

					&.user-info {
						p {
							line-height:1.5;
							font-size:13px;

							&.user-name {
								font-size:14px;
								color:$inline-link-color;
								line-height:1.5;
								margin-top: 5px;
							}

							&.user-designation {
								font-size:12px;
								color:$extra-info-color;
							}
						}
					}
				}
			}

			.user-tags {
				margin-top: 10px;
                display: block;
                    white-space: nowrap;
    			overflow: auto;

                span.skill-tag {
                	padding:5px 15px;
                	font-size:13px;
                	color:#2b2b2b;
                	display:inline-block;
                	background-color:$color-white;
                	border:1px solid $border-color-base;
                	border-radius:50px;
                	margin:0 5px 0 0;
                }
			}
		}

		.chat-body {
			height:calc(100% - 62px);
			.loading {
				width: 75%;
				height: 100%;
				margin-top: 0;
			}
			.conversation-item-list {
				height: calc(100% - 37px);
				overflow: auto;
				-webkit-overflow-scrolling: touch
			}
			.sidebar {
				width:20%;
				height:100%;
				display:inline-block;
				vertical-align:top;
				&.conversations-list {
					border-right:1px solid $border-color-base;
					.search {
						position: relative;
						input {
							width:100%;
							display:block;
							padding:10px 10px 10px 45px;
							font-size:$base-font-size;
							border:0;
							border-bottom:1px solid $border-color-base;
						}
						i.icon-search {
							position: absolute;
						    top: 50%;
						    transform: translate(0,-51%);
						    left: 16px;
						}
					}

					.conversation-item {
					    display: inline-block;
					    vertical-align: middle;
					    width: 100%;
					    padding: 10px 0;
					    font-size: 0;
						cursor: pointer;
						position: relative;
						.user-item {
						    display: inline-block;
						    vertical-align: middle;
						    padding:10px 15px;
							&.user-info {
								width: calc(100% - 80px)
							}
							&.user-image {
								display:inline-block;
								vertical-align:middle;
								position:relative;
								img {
								    border-radius: 50%;
								    margin-right: 0px;
								    width: 50px;
								    height: 50px;
									border: 1px solid #eee;
								}

								.candidate-status {
									width:12px;
									height:12px;
									display:block;
									border:2px solid $color-white;
									border-radius:50%;
									position:absolute;
									bottom:8px;
									right:9px;
									&.offline {
										background-color:$user-status-offline;
									}
									&.online {
										background-color:$user-status-online;
									}
								}
							}

							&.user-info {
								display:inline-block;
								vertical-align:middle;
								padding:0;

								p {
									margin: 0;

									&.user-name {
									    font-size: $chat-sidebar-user-name-font-size;
									    line-height: 1.5;
									    display: inline-block;
									}

									&.user-designation {
									    font-size: $chat-sidebar-user-designation-font-size;
									    line-height: 1.5;
									    color: #888;
									}

								}
							}
						}

						.newMsgNotify {
							position: absolute;
						    top: 50%;
						    right: 5px;
						    width: 22px;
						    height: 22px;
						    transform: translate(0,-50%);
						    background-color: $newMsgNotifyColor;
						    border-radius: 50%;
							color: #fff;
							font-size: 16px;
						    font-weight: bold;
						    text-align: center;
						    padding-top: 2px;
						}



						&:last-child {

							.user-item {
								&.user-info {
									p {
										&.user-designation {
											border-color:transparent;
										}
									}
								}
							}
						}
					}
				}
			}

			.chat-window {
				width:60%;
				height:100%;
				background:$color-white;
				display:inline-block;
				vertical-align:top;
				position:relative;

				.current-chat {
					max-height:calc(100% - 150px);
					overflow:auto;
					height: 100%;
				}

				#mssgContainer {
					margin:0;
					padding:15px;

					li {
						margin:0 0 15px;
					}
				}

				ul {
					padding:20px;
					.time-separator {
						margin:15px 0;
						text-align: center;
						font-size: 14px;
						color: #9f9f9f;
						span {
							display:inline-block;
							font-size:$base-font-size;
							color:$extra-info-color;
							text-transform:capitalize;
							letter-spacing: 0.5px;
						}
					}

					li {
						&.message {
							margin:15px 0;
							clear:both;
							overflow:auto;
							&.received {
								.user-image {
									float:left;
									margin:0 15px 0 0;

									img {
										border-radius:50%;
										height:43px;
										width:43px;
									}
								}
								.message-area {

									max-width:80%;
									display:inline-block;
									float:left;

									p {
										line-height:1.5;

										&.message-content {
											background-color:$color-white;
											border:1px solid $border-color-base;
											border-radius:4px;
											padding:10px;
											font-size:$base-font-size;
											max-width: calc(100vw - 130px);
										    word-break: break-all;
										}

										&.message-timestamp {
											text-align:left;
											margin:5px 0 0 0;
											font-size:$chat-timestamp-font-size;
											color:$extra-info-color;
										}
									}
								}
							}
							&.sent {
								.user-image {
									float:right;
									margin:0 0 0 15px;

									img {
										border-radius:50%;
										height:43px;
										width:43px;
									}
								}
								.message-area {
									max-width:80%;
									display:inline-block;
									float:right;

									p {
										line-height:1.5;
										text-align:right;

										&.message-content {
											background-color:$resume-profile-snapshot-background;
											border:1px solid $border-color-base;
											border-radius:4px;
											padding:10px;
											font-size:$base-font-size;
											max-width: calc(100vw - 130px);
										    word-break: break-all;
										}

										&.message-timestamp {
											text-align:right;
											margin:5px 0 0 0;
											font-size:$chat-timestamp-font-size;
											color:$extra-info-color;
										}
									}
								}
							}
						}
					}
				}

				.new-message {
					border-top:1px solid $border-color-base;
					position:absolute;
					height:150px;
					left:0;
					right:0;
					bottom:0;
					background:$body-background-color;
					padding:20px;

					textarea {
						width:100%;
						display:block;
						min-height:110px;
						border:1px solid $border-color-base;
						resize:none;

						@include input-field;
						line-height:1.4;
						overflow: hidden;
						&:focus {
							outline:none;
						}
					}

					.send-message {
						@include button($button-color-green);
						margin:0;
						position:absolute;
						bottom:30px;
						right:30px;
					}
				}
			}

			.user-profile {
				width:20%;
				height:100%;
				display:inline-block;
				padding:20px 0 0 0;
				border-left:1px solid $border-color-base;
				vertical-align:top;

				.user-item {
					text-align:center;
					margin:20px;

					&.user-image {
						margin:20px auto;
						margin-top: 0;
						img {
							width:110px;
							height:110px;
							object-fit:cover;
							border-radius:50%;
							border:4px solid $color-white;
							box-shadow:0 0 3px rgba(0,0,0,0.3);
							background-color: #f7f7f7;
						}
					}

					&.user-info {
						p {
							color:$extra-info-color;
							line-height:1.5;
							font-size:$base-font-size;
							&.user-name {
								font-size:$base-subtitle-size;
								color:$inline-link-color;
							}

							&.user-organization {
								color:$color-black;
							}
						}

						.user-detail {
							margin:10px 0 0 0;

							p {
								color:$color-black;
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	display:none;
}

.welcome-container {
	width: 80%;
	height: 100%;
	position: relative;
	.empty-screen{
		position: absolute;
    	top: 50%;
    	left: 50%;
		transform: translate(-50%, -50%);
		.user-name{
			text-align: center;
			color: #2b2b2b;
		}
		.user-text{
			color: #888;
		}
	}
}

@media all and (max-width:1280px) {
	.welcome-container {
		width: 75%;
	}
	.page-content {
		.main-wrapper-chat {
			.main-container {
				.container {
					.chat-container {
						.chat-header {

						}
						.chat-body {

							.sidebar {
								width:25%;
								.conversation-item {
									.user-image {
										padding:0 10px;
										vertical-align: top;
									}
								}
							}

							.chat-window {
								width:50%;
							}
							.user-profile {
								width:25%;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:1024px) {
	.welcome-container {
		width: 70%;
	}
	.page-content {
		.main-wrapper-chat {
			.main-container {
				.container {
					.chat-container {
						.chat-header {
							display:none;
						}
						.mobile-user-profile {
							display:block;
						}
						.chat-body {
							height:calc(100% - 52px);

							.sidebar {
								width:30%;
								.conversation-item {
									.user-image {
										img {
											height:35px;
											width:35px;
										}
									}
								}
							}

							.chat-window {
								width:70%;
								padding-bottom:90px;
								.current-chat {
									max-height:calc(100%);

								}

								.new-message {
									height:90px;
									padding:15px;

									textarea {
										padding:10px;
										min-height:initial;
									}
								}
							}
							.user-profile {
								display:none;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:768px) {
	.welcome-container {
        display: none;
    }
	.page-content {
		height:calc(100% - 55px);
		min-height: calc(100% - 55px);
		.main-wrapper {
			overflow: hidden;
		}
		.main-wrapper-chat {
			.main-container {
				.container {
					.chat-container {
						.chat-header {
							display:none;
						}
						.mobile-user-profile {
							display:block;
						}
						.chat-body {
							height: calc(100% - 50px);

							.sidebar {
								display:block;
								width: 100%;
								.conversations-list {
									.conversation-item {
										.user-item.user-image {
											.candidate-status {
												bottom: 8px;
												right: 8px;
											}
										}
									}
								}
							}

							.chat-window {
								width:100%;
							}
							.user-profile {
								display:none;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:480px) {
	.page-content .chat-container .chat-body .sidebar.conversations-list .conversation-item .user-item.user-info p.user-name {
		font-size: 16px;
	}
	.page-content .chat-container .chat-body .sidebar.conversations-list .conversation-item .user-item.user-info p.user-designation {
		font-size: 14px;
	}
	.page-content .chat-container .chat-body .sidebar.conversations-list .search  {
		input {
			font-size: 16px;
			padding-left: 35px;
		}

		i.icon-search {
			left: 5px;
		}
	}
	.page-content .chat-container .mobile-user-profile .user-details .user-item.user-info p.user-name {
		font-size: 16px;
	}
	.page-content .chat-container .chat-body .sidebar.conversations-list .conversation-item .user-item.user-info {
		padding-right: 0;
	}

	.page-content {


		.main-wrapper-chat {
			.main-container {
				.container {
					.chat-container {
						.chat-header {
						}
						.mobile-user-profile {
						}
						.chat-body {
							.sidebar {

							}

							.chat-window {

								.new-message {
									height:120px;
									padding:10px;

									textarea {
										margin-bottom:10px;
									}
									.send-message {
										position:initial;
										float:right;
									}
								}
							}
							.user-profile {
							}
						}
					}
				}
			}
		}
	}
}

.conversation-item-separator {

	border-bottom:1px solid $border-color-base;
}

.empty-screen.no-list {
	text-align: center;
    color: #2b2b2b;
    line-height: 1.5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	.image-container {
		width: 52%;
		height: 100%;
		margin: 0 auto;
	}
	.empty-text {
		color: #888;
	}
}

.loading.loaderScroller.first {
	width: 100% !important;
	.loader-scroller {
		width: 60px;
		height: 60px;
	}
}

@media (min-width: 769px) and (max-width:1024px) {
	.page-content .chat-container .chat-body .loading {
		width: 70%;
	}
}
