@import 'common/spacings';

@import 'chat-sidebar';

.premium_highlight {
	background-color:  #e97e00;
	color:  #fff !important;
}

#jobFilters {

	color: #2b2b2b !important;
}

.shell {
    .section {
        margin-bottom: 10px !important;
    }
    p {
        @include title-shell;
		width: 75%;
    }
    span {
        display: inline-block;
        width: 50%;
        @include text-shell;
    }
}

.page-content {
	@include page-content;
	background-color:$page-background-color;

	.main-wrapper {
		max-width:1440px;
		margin:0 auto;
	}

	.page-header {
		select {
			@include select-dropdown;
			&.minimal {
				display:inline-block;
				width:auto;
				border:0;
				padding:10px 40px 10px 10px;
				background-color:transparent;
				margin-bottom:10px;
				background-image:url("/static/images/minimal_select_dropdown.svg");
				font-size: 16px;
				font-weight: 600;
				color: #5d5d5d!important;
			}
		}
		select::-ms-expand {
			display: none!important;
		}

		.action-buttons {
			padding:5px 0 0 0;

			button {
				padding: 6px 18px!important;
				@include button($button-color-green)
				
			}
		}
		.heading{
			display: inline-block;
			color: #2b2b2b;
			padding-left: 10px;
			padding-bottom: 10px;
			margin-top: 10px;
			font-size: 16px;
			font-weight: 600;
		}
	}

	.my-jobs {
		width:80%;
		.my-jobs-listing {
			.table-container {
			    display: inline-block;
			    width: 100%;
			    background: $color-white;
			    border-radius: 4px;
			    border: 1px solid #e8e8e8;
				padding:0;
				.empty-screen{
					.image-container{
						text-align: center;
						img{
							width: 25%;
						}
					}
					.user-text{
						text-align: center;
						padding-bottom: 20px;
					}
					.empty-text{
						text-align: center;
						color: #888;
						padding-bottom: 20px;
					}
				}

			    .table-row {
			    	display:inline-block;
			    	width:100%;
			    	vertical-align: middle;
			    	font-size:0;
			    	.table-cell {
						display:inline-block;
						font-size:14px;
						vertical-align: top;
						width:13%;
						.mobile-view-heading{
							display: none;
						}
						&.heading {
							border-bottom:1px solid $border-color-base;
							padding:28px 10px 10px;

							span {
								font-family:$primary-font;
								font-size:15px;
								color:$color-label;
								text-transform:uppercase;
								font-weight: 600;
								color: #212121;
							}

							&.job-title {
								width:32%;
							}
							&.actions {
								width: 29%;
								padding-right: 25px;
							}
							&.created {
								width: 13%;
								padding-left: 25px;
							}
						}
			    	}

			    	&.job {
						.table-cell {
							vertical-align:top;
							padding:15px 10px;
							&.actions {
								width: 29%;
								padding-right: 25px;
							}
							&.created {
								width: 13%;
								padding-left: 25px;
							}
							span {
								line-height:1.5;
							}

							&.title {
								width:32%;

								span {
									&.job-title {
										display:block;
										font-weight: bold;

									}
								}
								.job-title{
									font-weight: 600;
								}

							}
							.job-edit-container{
								// display: block;
							}

							.mobile-engagement {
								display:none;
							}

							.engagement {
								span {
									display:block;
								}
							}

							&.status {
								position:relative;
								text-transform:capitalize;

								.mobile-status {
									display:none;
								}
								i {
									cursor:pointer;
									 color: #757575;
									span.tooltip-message {
									    position: absolute;
									    background: $color-white;
									    padding: 10px;
									    top: 0;
									    right: -30px;
									    border: 1px solid $border-color-base;;
									    border-radius: 4px;
									    display:none;
									}

									&:hover {
										span.tooltip-message {
											display:block;
										}
									}
								}
							}
							&.actions {
								.job-actions-container {
									min-height: 33px;
								}
								.action-icon {
									display:inline-block;
									margin:2px;
									vertical-align: middle;
									cursor:pointer;
									&.job-cancel {
										margin-left: 0;
									}
									&.job-linkedin {
										margin-right: 0;
									}
									&.job-edit {
										margin-left: 0;
										i {
											padding-left: 0;
										}
									}
									i {
									    // border: 1px solid #e8e8e8;
									    display: inline-block;
									    padding: 2px;
									    border-radius: 4px;
									    text-align: center;
									    color: #757575;
										font-size: 16px;
										&.icon-edit {
											border: 0;
											border-radius: 0;
											font-size: 18px;
										}
										&.icon-twitter {
											border-color: #1da1f2;
										}
									}
									span {
										display:none;
									}
								}
							}
						}
			    	}
			    	.table-row-separator {
					    clear: both;
					    width: 95%;
					    margin:0 auto;
					    border-bottom: 1px solid #e8e8e8;
					}

					&:last-child {
						.table-row-separator {
							border:0;
						}
					}
			    }
			}
		}
	}
}

@media all and (max-width:1024px) {
	.page-content .my-jobs .my-jobs-listing .table-container .table-row.job .table-cell.actions .action-icon.job-twitter {
		margin-left: 0;
	}

	.page-content {
		.conversations {
			display:none;
		}
	}

	.page-content .my-jobs {
    	width: 100%;
	}


}

@media all and (max-width:768px) {

	.page-content {
		@include page-content;
		//background-color: $myJobsBackgroundColor;
		// padding: 10px 0;
		.my-jobs {
		 	width:100%;
			padding: 20px 15px 20px;
			background-color: #FFF;
			border-radius: 5px;
			.page-header {
			//	padding:10px 20px;
				border-bottom: thin solid #e8e8e8;
				select {
					margin-bottom:0;
					padding-left: 0;
					font-size: 16px;
					color: #2b2b2b;
				}
				button {
					margin-right: 0;
					font-size: 16px;
				}
				
			}

			.my-jobs-listing {
				// padding: 10px 20px;
				padding-top: 10px;
				
				.table-container {
					background-color:transparent;
					border-radius:0;
					box-shadow:none;
					border: 0;
					.table-row {

						&.table-headings {
							display:none;
						}

						&.job {
							// padding:10px 5px;
							// padding: 10px 0;
							padding-top: 5px;
							padding-bottom: 10px;
							.table-cell {
								display:block;
								width:100%;
								padding:0px 10px;
								padding: 0;
								font-size: 16px;
								margin-bottom: 10px;
								.mobile-view-heading{
									display: block;
									font-size: 14px;
									color: #858585;
									font-weight: 600;
									line-height: 25px;
								}
								.job-created-on{
									font-size: 16px;
									color: #2b2b2b;
									line-height: 25px;
								}
								.job-applied-count{
									// margin-left: -18px;
								}
								.job-meta-seperator{
									color: red;
								}
								.job-title{
									font-size: 16px;
									color: #2b2b2b;
									font-weight: 600;
									line-height: 20px;

								}
								.job-actions-container{
									margin-right: 20px;
								}
								// .job-edit-container{
								// 	margin-left: 20px;
								// }
								span {
									line-height:1;
								}
								&.created {
									width: 100%;
									padding-left: 0;
								}
								&.title {
									width:100%;
									margin:15px 0 15px;

									span {
										&.job-title {
											font-weight:bold;
											line-height:1.5;
											font-size:16px;
										}

										&.job-location {
											margin-top:5px;
											display:inline-block;
										}
									}
								}
								&.actions {
									width: 100%;
								}

								&.status {
									margin:10px 0;
									.job-status {
										display: none;
									}
									.mobile-status {
										display:inline-block;
									}
								}

								.engagement {

									display:none;
								}

								.mobile-engagement {

									display:inline-block;
									// margin-bottom: 10px;
									span {
										&.view-count{
											display:inline-block;
											margin-right:10px;
										}

										&.applied-link {
											display:inline-block;
										}
									}
								}



								&.actions {
									padding-right: 0px;
									.action-icon {
										margin-right:3%;

										i {
											border:0;
											font-size:18px;
											position:relative;
											left:-5px;
										}
										span {
											display:inline-block;
											margin-left:-5px;
										}
									}
								}
							}
						}
						.table-row-separator {
						    clear: both;
						    width: 100%;
						    // margin:10px auto;
						    border-bottom: 1px solid #e8e8e8;
						}
					}
				}
			}
		}
	}



}
.error{
	position: relative !important;
}
