@import 'common/spacings';
@import 'input-elements';
@import "fonts.scss";

#title {
    cursor: text;
}

#courseType, #preferences {
    margin-bottom: 10px !important;
}



.course-selected {
    font-size: 20px !important;
    color: #4fa995;
    font-size: 20px;
    right: -9px !important;
    top: -7px !important;

}

// a:hover{
//     text-decoration: underline;
// }

.area-heading {
    margin-bottom:20px;
    h3 {
        margin:0;
        font-size:$page-section-title-size;
        color:$page-section-title-color;
        padding-bottom:10px;
        border-bottom:1px solid $border-color-base;
    }
}

.job_posting {
    padding: 0px;
    font-size:0;
    background: #fff;
    .job-form-content {
        padding:30px 30px 10px 30px;
        max-width:1440px;
        margin:0 auto;
        // background: #fff;
    }

    .post_job {
        display:inline-block;
        width:70%;
        padding-right:30px;

        .post-job-heading {
            margin:10px 0 0 0;
            color: $color-label;
            font-size: $modal_heading-font-size;
            font-weight: 600;
            line-height:1;

            .title-subtext {
                display:none;
                cursor:pointer;
            }
        }

        .section-heading {
            @extend .area-heading;
        }
        .form-heading {
            margin-bottom: 35px;

            .guidelines {
                font-size: 18px;
                text-decoration: none;
            }
        }
        .post_job_form {
            .field-container {
                padding: 0px;
                margin-bottom:30px;
                position:relative;
                overflow:visible;
                width:70%;
                .check-input{
                    margin-top: -20px;
                }
                .check-input input + label {
                    padding: 4px 0 4px 30px;
                    background-repeat: no-repeat;
                    background-size: 17px;
                    background-position: left 2px center;
                }
                &.tile-section {
                    width:100%;
                }
                .label {
                    display: block;
                    font-size: $base-font-size;;
                    color: $color-black-text;
                    cursor: pointer;
                    margin-bottom:10px;
                }


                .formgroup {
                    &.half {
                        width:49%;
                        display:inline-block;
                        position:relative;
                    }
                }

                .field {
                    display: block;
                    font-size:0;

                    .add-tags-content {
                        width: 70%;
                        border: 1px solid $select-border;
                        padding: 12px;
                        .selected-tags-content {
                            display: inline-block;
                        }
                        .tag-input {
                            color: #676666;
                            font-size: 13.33px;
                            outline: none;
                            cursor: text;
                            &:focus {
                                color: #000000;

                            }
                        }
                    }
                    .js-show-selected-tags, .js-show-suggested-tags {
                        margin-right: 10px;
                    }

                    .salary-info {
                        margin: 10px 0;
                    }

                    input[type=text] {
                        @include input-field;
                        border-radius: 0px;
                        padding: 16px 15px;
                    }

                    select {
                        @include select-dropdown;
                        padding-right: 38px;
                        border-radius: 0px;
                        // color: #2b2b2b;
                        padding: 16px 15px;
                    }
                    select::-ms-expand {
                        display: none!important;
                    }

                    select:focus{
                        border: 1px solid #149075;;
                    }

                    input[type="checkbox"] {
                        @include check-input;
                       
                    }

                    select.half {
                        width: 49%;
                        display: inline-block;
                    }

                    textarea,.medium-editor-element {
                        width:100%;
                        max-width:100%;
                        min-height: 150px;
                        height: auto;
                        padding: 12px 15px;
                        box-sizing: border-box;
                        border: 1px solid $border-color-base;;
                        border-radius: 0px;
                        background-color: inherit;
                        font-size:$base-font-size;
                        line-height:1.5;
                        overflow-y:hidden;
                        // box-sizing:content-box;
                        &:focus {
                            outline: none;
                            border-color: $border-color-active;
                        }
                    }
                }

                .industry-tags, .location-tags, .skill-tags {
                    @include tag-container;
                    padding-left: 0px;
                }
            }
        }
    }
}

.premium_job_section {
    clear:both;
    margin:0;
    padding:30px;
    padding-left: 3%;
    width:100%;
    background:$premium-section-background;

    .premium-section-content {
        max-width:1400px;
        margin:0 auto;
    }

    .contents {
        @include check-input;
    }

    .section-head {
        @extend .area-heading;
    }
    label {
        span {
            font-size:$base-font-size;
        }
    }
    p {
        margin-top:5px;
        font-size:$page-section-font-size;
        margin-left: 36px;
    }
}

.submit-action-buttons {
    padding:0 30px;
    max-width:1440px;
    margin:30px auto;
    .button-wrapper{
        display: inline-block;
        @include button($button-color-green);
        padding:0;
        width: 95px;
        height: 30px;
        margin-top: 2px;
        text-align: center;
        outline: none;
        .spinner{
            width: 100px;
            margin-top: 6px;
        }
    button {
        &.submit-form {
            margin:0;
            padding:10px 32px;
            // background-color:$button-color-green;
            padding: 0%;
            display: inline-block;
            width: 95px;
            height: 30px;
            outline: none;
        }
    } 
    }   
        .button{
            @include button($button-color-green);
            &.cancel-form {
                color:$link-color;
                box-shadow:none;
                border:0;
                background:none;
                border:0;
                padding:10px 32px;
            }
        }    
    
}

.guidelines-container {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    background-color:$premium-section-background;
    padding:20px;
    margin-top:50px;

    h4 {
        font-size:$page-subtitle-font-size;
        color:$page-section-title-color;
        margin-top:0;
        padding-top: 10px;
    }

    ul {
        padding-left:20px;

        li {
            font-size:$base-font-size;
            margin-bottom:20px;
            color:$page-list-item-color;
            line-height: 1.5;
            &:last-child {
                margin-bottom: 0px;
                padding-bottom: 10px;
            }
        }
    }
}


.loading{
	text-align: center;
	.lds-spinner div:after {
		content: " ";
		display: block;
		position: absolute;
		top: 12px;
		left: 31px;
		width: 3px;
		height: 12px;
		border-radius: 20%;
	}
}

@media all and (max-width:768px) {
    #courseType {
        margin-bottom: 10px !important;
    }
    .guidelines-container {
        display:none;
    }
    .job_posting {

        .job-form-content {
            padding:10px 20px;
        }
        .post_job {
            width:100%;
            padding:0;
            .form-heading {
                margin-bottom:25px;
            }

            .post-job-heading {
                font-size:$mobile-page-title-size;

                .title-subtext {
                    display:block;
                    font-size:$mobile-page-subtitle-size;
                    color:$link-color;
                }
            }

            .section-heading {
                h3 {
                    font-size:$mobile-page-section-title-size;
                }
            }

            .post_job_form {

                .field-container {
                    width:100%;

                    .field {
                        overflow: auto;
                        input[type=text], select, textarea {
                            padding:12px 20px;
                            padding-right: 38px;
                            font-size:$mobile-base-font-size;

                            option {
                                padding:5px;
                            }
                        }

                        select {

                            &.half {
                                width:48%;
                            }
                            
                        }
                        select:focus{
                            outline: none;
                            border: 1px solid;
                            border-color: $border-color-active;    
                        }
                    }

                    &.tile-section {
                        white-space:nowrap;
                        // overflow:auto;
                    }
                }
            }
        }
    }
    .premium_job_section {

        font-size:$mobile-base-font-size;

        .premium-section-content {
            padding: 0 30px;
        }
        .section-head {
            h3 {
                font-size:$mobile-page-section-title-size;
            }
        }

        label {
            span {
                font-size:$mobile-base-font-size;
            }
        }

        p {
            font-size:$mobile-base-font-size;
        }
    }

    .modal-close {
        span {
            color:$page-section-title-color;
        }
    }

    .guidelines-section {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        background-color:$premium-section-background;
        padding:20px;

        h4 {
            margin-top:5px;
            font-size:$page-subtitle-font-size;
            color:$page-section-title-color;
        }

        ul {
            padding-left:20px;

            li {
                font-size:$base-font-size;
                margin-bottom:20px;
                color:$page-list-item-color;
            }
        }
    }
}
.medium-editor-placeholder-relative:after, .medium-editor-placeholder:after{
    color:$select-color;
    font-style: normal;
    white-space: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 120% !important;
}

.job_posting .post_job .post_job_form .field-container .location-tags .pill-button .pill-listing ul li.disabled {
    font-weight: bold;
    padding: 5px 10px;
}
