@import 'common/spacings';
@import 'input-elements';

.page-content {
	@include page-content;
	background-color:$body-background-color;

	.main-wrapper {
		.main-container {
			.heading {
				margin:0 0 30px 0;
				h1 {
					margin:10px 0 0 0;
		            font-size:$page-title-size;
		            color:$page-title-color;
		            line-height:1;
		            font-weight:bold;
				}

				.action-buttons {
					span {
						@include button($color-white);
					}
				}
			}

			.reports-wrapper {
				@include card-container;
				padding:0;
				margin:0;

				.reports-header {
					padding:20px;

					.keyword-search {
						display:inline-block;
						width:50%;
						position:relative;
						vertical-align:top;
						input {
							@include input-field;
							border-radius:0;
							padding:8px 35px 8px;
							background-image:url("/static/images/search-icon.svg");
							background-repeat:no-repeat;
							background-position:left 10px center;
							background-size:14px;
							font-size:$base-font-size;

							&:focus {
								border-color:$border-color-base;
							}
						}
						button {
							position:absolute;
							top:0;
							bottom:0;
							right:0;
							width:80px;
							text-transform:uppercase;
							background-color:$color-white;
							border:1px solid $border-color-base;
							cursor:pointer;
							font-size:$base-font-size;

							&:focus {
								outline:none;
							}
						}

						&:after {
							content: '';
						    border-right: 7px solid transparent;
						    border-left: 7px solid transparent;
						    border-top: 7px solid $extra-info-color;
						    position: absolute;
						    top: 50%;
						    right: 85px;
						    transform: translate(-50%,-50%);
						}
					}
				}

				.reports-body {
					overflow-x: auto;
					font-size:0;
					table {
						min-width: 1200px;
					}
					.report-row {
						// display:inline-block;
						width:100%;

						&.head {
							background:$premium-section-background;

							.report-item {
								padding:15px 10px;
								border-top:1px solid $border-color-base;
								border-bottom:1px solid $border-color-base;
								font-size:$base-font-size;
								text-align:left;
							}
						}

						.report-item {
							// display:inline-block;
							font-size:initial;
							font-size:$base-font-size;
							padding:10px;

							a {
								color:$link-color;
							}
							&.title {
								width: 100%;
								span {
									color:$extra-info-color;

									&.report-views-count {
										color:$color-black;
									}
								}

								.job-title {
									display:block;
									margin-bottom:10px;
								}

								.report-author-link {
									margin-right:20px;
								}

							}
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:768px) {
	.page-content {
		.main-wrapper {
			.main-container {


				.reports-wrapper {


					.reports-header {


						.keyword-search {
							width: 70%;
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:480px) {
	.page-content {
		.main-wrapper {
			.main-container {


				.reports-wrapper {


					.reports-header {


						.keyword-search {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
