@import 'common/spacings';
@import 'input-elements';

@import 'chat-sidebar';

@import 'components/modal';

.shell {
    .section {
        margin-bottom: 10px !important;
    }
    p {
        @include title-shell;
        width: 100%;
    }
    span {
        display: inline-block;
        width: calc(50% - 10px);
        @include text-shell;
        &.date {
            width: 100%;
        }
    }
}

.page-content {
	@include page-content;
	background-color:$body-background-color;

	.main-wrapper {
		.main-container {
			.heading {
				padding: 15px 0;
				h1 {
					margin:0;
					color: #2b2b2b;
					font-size: 18px;
					font-weight: 600;
					text-align: left;
		            line-height:1;
		            font-weight:bold;
                    height: 34px;
					line-height: 34px;
					margin-left: 10px;
				}

				.action-buttons {
					span {
						@include button($color-white);
                        margin-right: 0;
					}
				}
			}

			.reports-wrapper {
				@include card-container;
				padding:0;
				margin:0;
				.empty-screen{
					.image-container{
						text-align: center;
						img{
							width: 200px;
							height: 200px;
						}
					}
					.user-text{
						text-align: center;
						padding-bottom: 20px;
					}
					.empty-text{
						text-align: center;
						color: #888;
						padding-bottom: 20px;
					}
				}
				.reports-header {
					padding:20px;

					.keyword-search {
						display:inline-block;
						width:50%;
						position:relative;
						vertical-align:top;
						input {
							@include input-field;
							border-radius:0;
							padding:8px 35px 8px;
							background-image:url("/static/images/search-icon.svg");
							background-repeat:no-repeat;
							background-position:left 10px center;
							background-size:14px;
							font-size:$base-font-size;

							&:focus {
								border-color:$border-color-base;
							}
						}
						button {
							position:absolute;
							top:0;
							bottom:0;
							right:0;
							width:80px;
							text-transform:uppercase;
							background-color:$color-white;
							border:1px solid $border-color-base;
							cursor:pointer;
							font-size:$base-font-size;

							&:focus {
								outline:none;
							}
						}

						&:after {
							content: '';
						    border-right: 7px solid transparent;
						    border-left: 7px solid transparent;
						    border-top: 7px solid $extra-info-color;
						    position: absolute;
						    top: 50%;
						    right: 85px;
						    transform: translate(-50%,-50%);
						}
					}
				}

				.reports-body {
					overflow-x: auto;
					font-size:0;
					border-radius: 4px;
					table {
                        border-collapse: collapse;
						min-width: 1215px;
					}
					.report-row {
						// display:inline-block;
						width:100%;

                        &.shell {
                            &:not(:last-child) {
                                border-bottom: 1px solid #e8e8e8 ;
                            }
                        }
                        &:not(:last-child) {
                            border-bottom: 1px solid #e8e8e8;
                        }
						&.head {
							background:$premium-section-background;

							.report-item {
								padding:10px;
								border-bottom:1px solid $border-color-base;
								text-align:left;
								font-size: 14px;
								font-weight: 600;
								text-transform: uppercase;
								line-height: 20px;
                                &.job-current-status {
                                    min-width: 100px;
                                    text-transform: capitalize;
                                }
                                &.date {
                                    min-width: 75px;
                                }
                                &.title {
                                    min-width: 275px;
                                }
							}
						}

						.report-item {
							// display:inline-block;
							font-size:initial;
							font-size:$base-font-size;
							padding:10px ;
                            .job-current-status {

                                text-transform: capitalize;
                            }
							a {
								color:$link-color;
							}
							&.date {
								width: 15%;
							}
							&.title {
								width: 100%;
								span {
									color:$extra-info-color;

									&.report-views-count {
										color:$color-black;
									}
								}

								.job-title {
									display:block;
									margin-bottom:10px;
								}

								.report-author-link {
									margin-right:20px;
								}

							}

                            // .jobCurrentStatus,.jobStatus {
                            // }
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:768px) {
	.page-content {
		.main-wrapper {
			.main-container {


				.reports-wrapper {


					.reports-header {


						.keyword-search {
							width: 70%;
						}
					}
				}
			}
		}
	}
}

@media all and (max-width:480px) {
	.page-content {
		.main-wrapper {
			.main-container {


				.reports-wrapper {


					.reports-header {


						.keyword-search {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
