@import 'common/spacings';
@import 'input-elements';

.formgroup .error {
    position: static !important;
}

.medium-editor-placeholder-relative:after, .medium-editor-placeholder:after{
    color:$select-color;
    font-style: normal;
    white-space: normal;
}

.page-content {
    @include page-content;
    .settings-page {
        font-size: 0;
        max-width: 1280px;
        margin: 45px auto;
        display: block;
        width: 80%;

        .settings-mobile-header {
            display:none;
        }
        .settings-sidebar {
            width: 25%;
            display: inline-block;
            padding-right: 30px;
            vertical-align: top;

            ul {
                border: 1px solid $border-color-base;
                padding-left: 0;
                border-radius: 4px;
                li {
                    cursor: pointer;
                    border-bottom: 1px solid $border-color-base;
                    &:last-child {
                        border-bottom: 0;
                    }

                    p {
                        font-size: $base-font-size;
                        margin: 0;
                        padding: 15px 0 15px 15px;
                        border-left: 3px solid transparent;
                        font-size: $base-subtitle-size;
                        font-weight: 400;

                        span.arrow {
                            font-size: $base-font-size;
                            margin-right: 15px;
                            opacity: 0;
                        }
                    }

                    &.active {
                        background-color: $active-section-background;
                        p {
                            border-color: $border-color-active;
                            color: $header-link-active-color;
                            span.arrow {
                                opacity: 1;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }

        .settings-body {
            font-size: initial;
            width: 75%;
            padding-left: 40px;
            display: inline-block;
            vertical-align: top;
            .settings-section {

                .settings-section-header {

                    h3 {
                        font-size: $page-title-size;
                        margin: 0 0 20px 0;
                        padding-bottom: 20px;
                        border-bottom: 1px solid $border-color-base;
                    }

                    &.profile {
                        h3 {
                        	padding-bottom:0;
                            border: 0;
                        }
                    }
                }

                .settings-section-content {

                    .profile-image-editor {
                        background: $active-section-background;
                        padding: 20px;
                        border: 1px solid $border-color-base;
                        font-size: 0;
                        margin-bottom: 25px;
                        .profile-image-preview {
                            display: inline-block;
                            vertical-align: top;
                            width: 20%;
                            text-align:center;
                            width: 100px;
                            height: 100px;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius:50%;
                                object-fit:cover;
                            }
                        }

                        .profile-image-info {
                            width: calc(100% - 120px);
                            display: inline-block;
                            vertical-align: middle;
                            font-size: initial;

                            span {
                                font-size: $base-font-size;
                                &.choose-file {
                                    padding: 10px 24px;
                                    display: inline-block;
                                    background: #FFF;
                                    border: 1px solid $border-color-base;
                                    cursor: pointer;
                                    margin-right: 10px;
                                }
                                &.upload-rules {
                                    display: inline-block;
                                    margin: 10px 0 20px;
                                    color: $logoTaglineColor;
                                }
                            }

                            .submit {
                                .upload-container{
                                    @include button($button-color-green);
                                        color: white;
                                        border: 0;
                                        padding: 0px 0px;
                                        margin: 0;
                                        width: 127px;
                                        height: 40px;
                                        text-align: center;
                                        outline: none;
                                    .spinner{
                                        margin-top: 10px;
                                    }
                                    button {
                                        @include button($button-color-green);
                                        width: 127px;
                                        height: 40px;
                                        color: white;
                                        border: 0;
                                        padding: 0;
                                        margin: 0 auto;
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }

                    .section-form {

                        .formgroup {
                            margin-bottom: 15px;
                            .label {
                                @include formgroup-label;
                                margin-bottom: 10px;
                            }
                            input {
                                @include input-field;

                                &.social-placeholder {

                                    padding-left: 40px;
                                    background-color: $color-white;
                                    background-repeat: no-repeat;
                                    background-position: left 10px center;

                                    &.twitter {
                                        background-image: url('/static/images/twitter-colored.png');
                                    }

                                    &.facebook {
                                        background-image: url('/static/images/facebook-colored.png');
                                        background-position: left 15px center;
                                    }

                                    &.linkedin {
                                        background-image: url('/static/images/linkedin-colored.png');
                                    }
                                }
                            }
                            .connectLinkedIn{
                                margin-top: 10px;
                                padding: 8px;
                                width: 170px;
                                background-color: #FFF;
                                color: #0677a9;
                                border:1px solid #0677a9;
                                border-radius: 4px;
                                text-align: center;
                                cursor: pointer;
                            }
                            .connectTwitter{
                                margin-top: 10px;
                                padding: 8px;
                                width: 170px;
                                background-color: #FFF;
                                color: #54adef;
                                border:1px solid  #54adef;;
                                border-radius: 4px;
                                text-align: center;
                                cursor: pointer;
                            }
                            select {
                                @include select-dropdown;
                            }
                            textarea,.medium-editor-element {
                                width:100%;
                                max-width:100%;
                                min-height: 150px;
                                height: auto;
                                padding: 12px 22px;
                                box-sizing: border-box;
                                border: 1px solid $border-color-base;;
                                border-radius: 2px;
                                background-color: #fff;
                                font-size:$base-font-size;
                                line-height:1.5;
                                overflow-y:hidden;
                                &:focus {
                                    outline: none;
                                    border-color: $border-color-active;;
                                }
                            }
                            .save-container{
                                    @include button($button-background-color);
                                    padding: 0;
                                    margin: 0;
                                    border-radius:3px;
                                    width: 175px;
                                    height: 40px;
                                    text-align: center;
                                    .spinner{
                                        margin-top: 10px;
                                    }
                                .button {
                                    @include button($link-color);
                                    padding: 12px 30px;
                                    margin: 0;
                                    border-radius:3px;
                                }
                            }
                        }
                    }

                    .group-container {
                        background: red;
                        padding: 15px 60px 30px 60px;
                        background-color: $premium-section-background;
                        border: 1px solid $border-color-base;
                        margin-bottom: 35px;

                        .radio-option {
                            padding: 0;
                            margin: 25px 0 10px;

                            label {
                                font-size: $base-subtitle-size;
                            }

                            p.describer {
                                margin-top: 15px;
                                margin-left: 35px;
                                color: $extra-info-color;
                                font-size: $base-font-size;
                                border-bottom: 1px solid $border-color-base;
                                padding-bottom: 30px;
                                display: inline-block;
                                vertical-align: middle;
                                &.no-border {
                                    border: 0;
                                    // padding-bottom: 5px;
                                }
                            }
                        }

                        &.plan-container {

                        	.plan-section {
                        		h3 {
                        			clear:both;
                        			font-size:$base-subtitle-size;
                        			padding:25px 0;
                        			line-height:1;
                                    margin:0;

                        			&.basic {
                        				border-bottom:1px solid $border-color-base;
                        			}
                        		}

                        		.plan-block-content {
                                    p {
                                        color:$color-black-text;
                                        font-size:$base-font-size;
                                        line-height:1.5;
                                        margin-bottom:10px;
                                        a {
                                            color:$inline-link-color;

                                            span.right-arrow {
                                                i {
                                                    font-size:12px;
                                                }
                                            }
                                        }
                                    }
                        		}
                        	}
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:768px) {
    .page-content {
        padding:10px;
        background:$mobile-background-color;
        .settings-page {
            margin:0;
            width:100%;
            background:$color-white;
            border:1px solid $border-color-base;
            border-radius:4px;

            .settings-mobile-header {
                display:block;
            }

            .settings-sidebar {
                display:none;
            }

            .settings-mobile-header {
                font-size:$base-font-size;

                .mobile-title {
                    margin:0;
                    padding:15px 20px;
                    background:$mobile-highlight-background-color;
                    border-top-right-radius:4px;
                    border-top-left-radius:4px;
                }

                .settings-mobile-nav {
                    ul {
                        margin:0;
                        padding:0;
                        list-style:none;
                        font-size:0;
                        white-space: nowrap;
                        overflow: scroll;
                        border-bottom:1px solid $border-color-base;
                        margin-bottom:20px;
                        width: 100% !important;
                        overflow-y: hidden;
                        li {
                            display:inline-block;
                            border-bottom:3px solid transparent;
                            cursor:pointer;
                            span {
                                font-size:$base-font-size;
                                padding:10px 15px;
                                display:inline-block;
                            }

                            &.active {
                                border-color:$border-color-active;
                                span {
                                    color:$inline-link-color;
                                }
                            }
                        }
                    }
                }
            }

            .settings-body {
                padding:0;
                width:100%;
                padding:5px 20px;

                .settings-section {
                   .settings-section-header {
                        display:none;
                    }

                    .settings-section-content {
                        .profile-image-editor {
                            padding:20px 20px 15px;
                            .profile-image-preview {
                                width:100%;
                                text-align:center;
                                margin-bottom:20px;
                                img {
                                    margin: 0 auto;
                                    width: 100px;
                                    border-radius:50%;
                                }
                            }
                            .profile-image-info {
                                width:100%;
                                padding-left:0px;

                                span {
                                    display:block;
                                    text-align:center;
                                    margin:10px 0;
                                    &.choose-file {
                                        display:block;
                                        margin-right:0;
                                    }

                                    &.upload-rules {
                                        display:block;
                                    }
                                }
                                .submit {
                                    display:block;
                                    text-align: center;
                                    margin:10px auto;
                                }
                            }
                        }

                        .group-container {
                            &.radio-group-container {
                                    padding:15px;

                                    .radio-option {
                                        margin-top:5px;
                                        padding-top:10px;
                                    }
                            }

                            &.plan-container {
                                padding:15px;
                            }
                        }
                    }
                }

            }
        }
    }
}



.credits-container {
    padding: 0 !important;
    width: 100%;
    background: #FFF!important;
    .credits-header {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px;
        background: #f3fbfb;
    }
    .credits-content {
        padding: 20px;
        font-size: 0;
    }
    .content-header {
        min-height: 30px;
    }
    .columnmob{
        display: none;
    }
    .content-row {
        // border-bottom: 1px solid #e8e8e8;
        margin-bottom: 20px;
    }
    .column {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        &.team-mem {
            width: 26%;
        }
        &.ttl-cre {
            width: 17%;
        }
        &.rem-cre {
            width: 22%;
        }
        &.use-cre {
            width: 17%;
        }
        &.add-cre {
            width: 18%;
            input {
                @include input-field;
                width: 40%;
                padding: 2px 6px;
                cursor: initial;
            }
        }
    }
    .mem-img {
        width: 25px;
        height: 25px;
        vertical-align: top;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .mem-info {
        width: calc(100% - 35px);
        vertical-align: top;
        .memDes{
            color: #808080;
        }
        .memOrg{
            color: #808080;
        }
    }

}
.distribute-credits.button {
    width: 175px;
}
.first-fold{
    display: none;
    position: fixed;
    right: 0;
    width: 100%;
    padding: 20px;
    bottom: 0;
    background: #FFF;
    .distribute-credits.button{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        border: 0;
        padding: 0;
        margin: 0;
        background-color: #1f8f75;
        border-color: #8f8a8a;
        border-radius: 4px;
        padding: 6px 25px;
        font-size: 14px;
        margin: 0 5px;
        color: #FFF;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        padding: 12px 30px;
        margin: 0;
        border-radius: 3px;
        margin-left: 10px;
    }
}
.error-slot {
    position: relative;
    /* left: 0; */
    margin: 3px 0 0 0px;
    font-size: 11px;
    color: #ad3030;
}



@media all and (max-width:768px){
    .credits-container {
        padding: 0px !important;
        .credits-header {
            border-bottom: 1px solid #e8e8e8;
            padding: 20px;
        }
        .credits-content {
            padding: 20px;
            font-size: 0;
        }
        .content-header {
            min-height: 30px;
            display: none;
        }
        .columnmob{
            display: block!important;
            font-size: 14px;
            padding: 10px 0px;
            color: #858585;
            font-weight: 600;
            line-height: 25px;
        }
        .content-row {
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 20px;
        }
        .column {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            &.team-mem {
                width: 100%;
                color: #2b2b2b;
            }
            &.ttl-cre {
                width: 100%;
                color: #2b2b2b;
            }
            &.rem-cre {
                width: 100%;
                color: #2b2b2b;
            }
            &.use-cre {
                width: 100%;
                color: #2b2b2b;
            }
            &.add-cre {
                width: 100%;
                color: #2b2b2b;
                margin-bottom: 20px;
                input {
                    @include input-field;
                    width: 40%;
                    padding: 2px 6px;
                    cursor: initial;
                }
            }
        }
        .mem-img {
            width: 25px;
            height: 25px;
            vertical-align: top;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .mem-info {
            width: calc(100% - 35px);
            vertical-align: top;
            
        }
        
    }
    .credits-container-distribute{
        display: none!important;
    }
    .first-fold{
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    }
}