@import 'colors';
@import 'components/_type';

.page-content {
	min-height:100%;
	padding:0;
	overflow:auto;
	position:relative;
	padding:20px;

	.sidebar {
		width:15%;
		padding:20px;
		background:#1f8f75;
		height:100%;
		position:absolute;
		top:0;
		bottom:43px;
		h3 {
			font-size:$logoFontSize;
			text-transform:uppercase;
			color:$color-white;
		}
	}
	.content-block {
		width:85%;
		padding:40px 70px;
		.section {
			margin-bottom:60px;
		}
	}
}