@import "colors.scss";
@import "fonts.scss";

.job-title {
    width: 95%;
    font-size: 18px;
    margin: 20px auto;
    color: $color-green;
}

.profile_container {
   width: 95%;
   margin: 40px auto;

  .profile_header {
      width: auto;
      margin: 0 auto;
      background-color: $tab-background-color;
      padding: 10px 15px;
      span {
          display: inline-block;
          overflow: auto;
          font-size: 13px;
          font-family: 'Noto Sans',sans-serif;
          text-align: left;
          font-weight: bold;
        }
        .name {
            width: 18%;
        }
        .organization {
            width: 26%;
        }
        .institute {
            width: 30%;
        }
        .more {
            width: 24%;
        }
   }

   .buttons.extra-height {
       height: 30px;
   }

  .profile_content {
    padding: 0 15px 10px 15px;

    .content {
      display: inline-block;
      padding: 1px;
      margin: 0;
      overflow: hidden;
      font-size: 12px;
      vertical-align: top;

            .info {
                padding: 10px 0;
                .important_info {
                    font-size: 12px;
                    color: $important-info-color;
                    font-family: 'Open Sans';
                    &.name {
                        font-size: 13px;
                    }

                }
                .extra_info {
                    color: $extra-info-color;
                    font-family: "Droid Sans",sans-serif;
                    padding: 2px 0;
                }

                .icon {
                    display: block;
                    font-size: 16px;
                    color: #424242;
                    padding: 2px;
                    span{
                        font-size: 12px;
                        padding: 2px;
                    }
                    &:hover {
                        color: green;
                    }
                }
            }

    }
      .content.name {
          width: 18%;
          img{
              width: 50px;
              height: 50px;
              border-radius: 25px;
              max-width: 100%;
              max-height: 100%;
          }
      }
      .content.organization {
          width: 26%;
      }
      .content.institute {
          width: 30%;
      }
      .content.more {
          width: 24%;
      }
      .buttons {
        a {
          font-size: 12px;
          text-decoration: none;
          display: inline-block;
          width: 19%;
          color: $extra-info-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .more_info {
         width: 99%;
         margin: 0 auto;
         display: none;
         .layer {
             .marital-status-container {
                 width: 18%;
                 vertical-align: top;
             }
             .permit-container {
                 width: 26%;
                 vertical-align: top;
             }
             .score-container {
                 width: 30%;
             }
             .languages-container {
                 width: 24%;
                 vertical-align: top;
             }

         .row {
           .column {
             width: 33%;
             display: inline-block;

           }
         }
        .info {
          display: inline-block;
          .score {
            display: inline-block;
          }

        }
      }
      }
  }


}
.heading {
  font-size: 12px;
  color: #666;
  padding-bottom: 1px;
}
.content {
  font-size: 14px;
}
.vertical_outside {
    display: inline-block;
    height: 100%;
    .vertical_top {
        height: 16px;
    }
    .vertical_middle {
        border-left: 1px solid #d8d8d8;
        height: 90%;
    }
}



.tab_container {
  width: 95%;
  margin: 40px auto;


  .tab {
    display: inline-block;
    width: 30%;
    min-height: 150px;
    vertical-align: top;
    &.center {
      margin: 0 4.5%;

    }
    .tab_heading {
      background-color: $tab-background-color;
      padding: 10px;
      span{
        color: $color-black-text;
        font-size: 14px;
        font-family: $droid-font;
      }

    }
    .tab_content {
      padding: 10px;
      input {
              padding: 8px 12px;
              margin: 1px 0 10px 0;
              border: 1px solid #ccc;
              border-radius: 4px;
              width: 80%;
      }
      .info {
        margin-bottom: 40px;
        position: relative;
        .left {
            position: absolute;
            left: 0;

        }
        .right {
            position: absolute;
            right: 0;
        }
      }
    }
  }
}

.resume-container {
  width: 95%;
  margin: 40px auto;


  .resume {
      display: inline-block;
    width: 65%;
    height: 800px;
    vertical-align: top;
    margin-right: 4.5%;
    .resume-embed-container{
      width: 100%;
      height: calc(100% - 48px );
      .resume-embed{
        width: 100%;
        height: 100%;
      }
    }
  }
  .cover_letter {
      display: inline-block;
    width: 30%;
    height: 800px;
    vertical-align: top;
    .content {
      padding: 20px;
    }
  }
  .head {
    background-color: #666;
    padding: 15px;
    color: #fff;
  }
}
